.images-before-after
  padding-left 17.5%
  padding-bottom 8%
  position relative
  img
    display block
  &__before
    position absolute
    bottom 0
    left 0
    width 33.3333%
    padding-top 30%
    img
      position absolute
      bottom 0
      left 0
      width 100%
      box-shadow 0 0 23px rgba(0,0,0,0.23)
  &__after
    padding basePadding
    border basePadding solid #ffffff
  &--no-border
    & ^[-1]__after
      padding 0
      border none
