mixin discountsSlide(slide)
  .discounts-slide&attributes(attributes).container: .content.discounts-slide__inner
    .discounts-slide__info
      .discounts-slide__title !{slide.title}
      .discounts-slide__description
        block
      if slide.countDate
        .discounts-slide__promo
          .discounts-slide__counter
            .countdown(data-date= slide.countDate)
          p !{slide.clarification}
      else
        p.discounts-slide__clarification !{slide.clarification}
    .discounts-slide__image
      +img({
        name: slide.image,
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [1, 2] }
        ]
      })(alt= slide.title title= slide.title decoding="async" loading="lazy")
