.discounts-slide
  box-sizing border-box
  height auto
  &__inner
    @media (min-width point-m)
      display flex
      justify-content center
      background-image radial-gradient(circle at 50% 50%, #E3D4B7 96%, transparent 96%)
    @media (max-width point-m - 1)
      flex-wrap wrap
  &__info
    position relative
    display flex
    flex-direction column
    justify-content center
    width 100%
    @media (min-width point-m)
      max-width 26.75rem
      height 100%
      padding-y 2rem
    @media (max-width point-m - 1)
      padding-top 3.75rem
      padding-bottom 1.25rem
    &::before
      @media (max-width point-m - 1)
        content ''
        position absolute
        inset 0 (-(basePadding)) -5.625rem
        z-index -1
        background-color #E3D4B7
    mark
      font-weight inherit
      color #A11C40
    del
      text-decoration none
      color #8C8C8C
  &__title
    font-size 1.625rem
    font-weight bold
    line-height 1
    small
      display block
      margin-top 1rem
      font-size 1.125rem
      font-weight bold
      line-height 1.625rem
      color #A11C40
  &__description
    margin-top 1.5rem
    font-size 1.125rem
    p
      font-size inherit
      line-height 1.5
  &__promo
    display flex
    flex-direction column
    row-gap 1rem
  &__counter
    z-index 2
    margin-top 20px
    color #4e4e4e
    .countdownHolder
      display flex
      margin-top 0.75rem
      .position
        position relative
        display inline-block
        width line-xxl*(3/4)
        height line-xxl
        overflow hidden
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width line-xxl*(3/4)
        line-height line-xxl
        font-size font-xxl
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        @media screen and (max-width point-s)
          line-height line-xl
          font-size font-xl

      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
        font-size 12px
        content 'дней'
        display block
        text-align center
      .countHours::after
        font-size 12px
        content 'часов'
        display block
        text-align center
      .countMinutes::after
        font-size 12px
        content 'минут'
        display block
        text-align center
      .countSeconds::after
        font-size 12px
        content 'секунд'
        display block
        text-align center
      .countDiv
        display flex
        align-items center
        &::after
          margin-x .25rem
          line-height line-xxl
          font-size font-xxl
          content ':'
  &__clarification
    align-self flex-end
    max-width 15.125rem
    margin-top 1rem
    // @media (min-width point-m)
    //   margin-top auto
    // @media (max-width point-m - 1)
    //   margin-top 1rem
  &__image
    @media (min-width point-m)
      margin-top -3rem
      padding-bottom 1rem
