mixin articlesList(list)
  .articles-list
    each item in list
      .articles-list__item
        .articles-list__item-title: a(href!= `${item.href ? item.href : 'article.html'}`) !{item.title}
        if item.date
          .articles-list__item-date !{item.date}
        if item.image
          .articles-list__item-body
            +grid({paddingy:true,justify:'center',parLike:true})
              +grid__item({m:3,s:6,xs:8})
                img(src!=item.image).articles-list__item-image
              +grid__item({m:9,xs:12})
                +createElement(item.body)
                if item.readmore
                  a(href!= `${item.href ? item.href : 'article.html'}`).btn-arrow.articles-list__item-readmore Читать далее
        else 
          .articles-list__item-body
            +createElement(item.body)
          if item.readmore
            a(href!= `${item.href ? item.href : 'article.html'}`).btn-arrow.articles-list__item-readmore Читать далее
