.articles-list
  &__item
    & + &
      margin-top (basePadding*2)
  &__item-title
    font-size font-l
    font-weight 500
  &__item-date
    margin-top 0.5rem
  &__item-body
    margin-top 0.75rem
  &__item-readmore
    margin-top 1rem
  &__item-image
    display block
    margin-top ((line-m - font-m)/2)
