.link-social
  display inline-block
  height 2rem
  width 2rem
  margin-left .25rem
  background-size 2rem
  &--viber
    background-image var(--viber)
  &--whatsapp
    background-image var(--whatsapp)
  &--telegram
    background-image var(--telegram)
