mixin linkSocial(settings = {})
  if settings.type
    -
      const classList = [
        'link-social',
        `link-social--${settings.type}`,
      ]
    a(href != settings.href class != classList)&attributes(attributes)
