mixin consultationAnswer(item)
  .consultation-answer
    .consultation-answer__header
      img.consultation-answer__photo(src!= item.photo alt!= item.author.name+', '+item.author.occupation title!= item.author.name+', '+item.author.occupation )
      .consultation-answer__author Отвечает:
        br
        a(href='#author-details' data-fancybox) !{item.author.name}, !{item.author.occupation}
    .consultation-answer__body
      - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
      +createElement(item.body)
    .consultation-answer__category Категория: 
      a(href='konsultatsiya.html') !{item.category}
    .consultation-answer__author-details#author-details
      -
        let author = {
          name: item.author.name,
          occupation: item.author.occupation,
          details: item.author.details,
          photo: item.photo,
        }
      +consultationAuthorDetails(author)
          
