.how-to-take-measurments
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/1.svg
    .how-to-take-measurments__name Окружность
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/2.svg
    .how-to-take-measurments__name С крайней передней точки до основания черепа
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/3.svg
    .how-to-take-measurments__name От уха до уха через верхнюю точку на лбу
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/4.svg
    .how-to-take-measurments__name От уха до уха через макушку
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/5.svg
    .how-to-take-measurments__name От виска до виска через затылок
  .how-to-take-measurments__item
    .how-to-take-measurments__image
      include svg/6.svg
    .how-to-take-measurments__name Ширина основания черепа
  
