.banner-credit
  background-image linear-gradient(to bottom, #DFD8C6, #EFECE4, #E2DDCB)
  &__image
    aspect-ratio 559/343
    background-image url(../images/banner-credit__image.webp)
    background-repeat no-repeat
    background-position center bottom
  &__info
    display flex
    flex-direction column
    align-items center
    padding-y 3.5rem
    text-align center
  &__title
    font-size 3rem
    line-height 1.125
    text-transform uppercase
    letter-spacing .125rem
  &__months
    position relative
    display flex
    justify-content center
    gap 5rem
    margin-top 1.5rem
    padding-x 2.5rem
  &__month
    position relative
    font-size 5.5rem
    font-weight bold
    line-height 5.5rem
    color #710F2C
    &:first-of-type::after
    &:nth-of-type(2)::after
      content ''
      position absolute
      top 50%
      right -2.5rem
      width .125rem
      height 4.5rem
      background-color #1F1E1D
      transform translateY(-50%)
  &__months-title
    position absolute
    right 0
    top 50%
    transform translateY(-50%) translateX(1.5rem) rotate(90deg)
  &__description
    margin-top 2rem
    font-size 1.625rem
    line-height 1.375
