.products-list
  &__item
    display flex
    flex-direction column
    align-items center
    height 100%
    padding basePadding
    transition box-shadow 0.4s
    &:hover
      box-shadow 0 0 3px #ccc
      transition none
  &__image
    padding-bottom 0.5rem
