mixin productsList(list)
  +grid({paddingy:true,parLike:true}).products-list
    each item in list
      +grid__item({s:4,xs:12})
        .products-list__item
          a(href!= item.href).products-list__image
            img(src!=item.src alt!= `${item.name}, ${item.price} руб.`)
          a(href!= item.href).products-list__name !{item.name}
          .products-list__price !{item.price} руб.
          
        
