.aside-price
  .aside-title + &
    margin-top 1rem
  & + &
    margin-top 0.75rem
  &__main
    font-size font-xxxl
  &__description
    margin-top 0.25rem
    font-size font-m
    line-height line-m
