.header-sites
  background-color #efefef
  .header-navigation > &
    & ^[-1]__item
      &:hover
        background-color transparent
        a
        .a-repl
          background-color #fff
  &__item
    a
    .a-repl
      text-decoration none
      color #5d5d5d
      background-color #fcfcfc
      &::after
        background-image var(--item-background-image)
        background-repeat no-repeat
        background-position center
        background-size cover
    &--hairdesign
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-hairdesign')
    &--salonvolos
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-salon')
    &--vsepariki
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-vsepariki')
    &--triholog
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-triholog')
    &--zagustitel
      --item-background-image url('../images/svg-sprites/core.svg#top-menu-zagustitel')
    &--active
      background-color #fff
      a
      .a-repl
      span
        background-color transparent
    &:hover
      background-color #fff
      a
      .a-repl
        background-color transparent
