.header-top
  .header-top__item.header-top__item--logo
    include ../../logo/logo
  .header-top__item.header-top__item--info
    .header-top__name Центр&nbsp;замещения утраченных&nbsp;волос
    .header-top__city Санкт-Петербург
  .header-top__item.hidden-s.hidden-xs(style='align-self: center; margin-left: auto'): a(href='/zakaz-sistemy-volos-udalenno/') Заказать систему удаленно
  .header-top__item.header-top__item--contacts.hidden-s.hidden-xs(style='margin-left: 0.9375rem')
    .header-top__phone +7 (812) 245-37-38
    .header-top__time пн-вс: с 10:00 до 21:00
    .header-top__calloffer
      a(href='#' onclick='Comagic.openSitePhonePanel()') Заказать звонок
