.image-float
  &--xs
    @media screen and (max-width (point-s - 1))
      float right
      max-width calc(100% / 3)
      max-height 27rem
      margin 0 0 basePadding basePadding
  &--s
    @media screen and (min-width point-s) and (max-width (point-m - 1))
      float right
      max-width calc(100% / 3)
      max-height 27rem
      margin 0 0 basePadding basePadding
  &--m
    @media screen and (min-width point-m) and (max-width (point-l - 1))
      float right
      max-width calc(100% / 3)
      max-height 27rem
      margin 0 0 basePadding basePadding
  &--l
    @media screen and (min-width point-l) and (max-width (point-xl - 1))
      float right
      max-width calc(100% / 3)
      max-height 27rem
      margin 0 0 basePadding basePadding
  &--xl
    @media screen and (min-width point-xl)
      float right
      max-width calc(100% / 3)
      max-height 27rem
      margin 0 0 basePadding basePadding
