.home-subtitle
  font-size 2.125rem
  line-height 3.375rem
  font-weight 500
  text-align center
  color #3d3d3d
  margin-bottom 2.5rem
  @media screen and (max-width 768px)
    font-size 1.75rem
    line-height 3rem
  &::after
    display block
    margin-top 1rem
    content ''
    width 3.75rem
    height 0.3333rem
    background-color #3d3d3d
    margin-x auto
