.consultation-list
  &__item
    & + &
      margin-top (basePadding*2)
  &__title
    @extend h3
    margin-bottom 0.625rem
  &__footer
    line-height line-m
    margin-top (font-m/4)
    a
      font-weight 500
      color #4e4e4e
      text-decoration none
  &__info
    line-height line-m
    &:only-child
      display flex
      margin-x -(basePadding)
      & *
        padding-x basePadding
  &__date
    color #7c776c
    font-size font-s
