+pageSection.container.home-header
  .content.home-header__content
    h1.home-header__title Безоперационное замещение волос
    .home-header__subtitle Решаем проблему облысения с помощью системы замещения волос
    .home-header__before-after
      +grid({justify:'center'})
        +grid__item({s:6,xs:12})
            +imagesBeforeAfter({
              before: {
                src:'/images/replacement-1-1.jpg',
                alt: 'Замещение волос: до',
              },
              after: {
                src:'/images/replacement-1-2.jpg',
                alt: 'Замещение волос: после',
              }
            })
        +grid__item({s:6,xs:12})
            +imagesBeforeAfter({
              before: {
                src:'/images/replacement-2-1.jpg',
                alt: 'Замещение волос: до',
              },
              after: {
                src:'/images/replacement-2-2.jpg',
                alt: 'Замещение волос: после',
              }
            })
