.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  text-decoration none
  color #fff
  background-color #a11c40
  transition background-color .2s
  border none
  font-size font-m
  &:hover
  &:focus
  &:active
    color #fff
    background-color #ba2049
    transition none
  a&
    border-bottom none
    text-decoration none
