.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  border none
  font-size font-m
