html
  --price-for-men-top svgImport('svg/price-for-men-top.svg')
  --price-for-men-three-fourties svgImport('svg/price-for-men-three-fourties.svg')
  --price-for-men-full svgImport('svg/price-for-men-full.svg')
  --price-for-women-top svgImport('svg/price-for-women-top.svg')
  --price-for-women-three-fourties svgImport('svg/price-for-women-three-fourties.svg')
  --price-for-women-full svgImport('svg/price-for-women-full.svg')
  --before-after-arrow svgImport('svg/before-after-arrow.svg')
  --advantages-everyday svgImport('svg/advantages-everyday.svg')
  --advantages-safety svgImport('svg/advantages-safety.svg')
  --advantages-contradictions svgImport('svg/advantages-contradictions.svg')
  --advantages-hairstyle svgImport('svg/advantages-hairstyle.svg')
  --possibilities-sleep svgImport('svg/possibilities-sleep.svg')
  --possibilities-wash svgImport('svg/possibilities-wash.svg')
  --possibilities-swim svgImport('svg/possibilities-swim.svg')
  --possibilities-sport svgImport('svg/possibilities-sport.svg')
  --possibilities-no-sleep svgImport('svg/possibilities-no-sleep.svg')
  --possibilities-no-wash svgImport('svg/possibilities-no-wash.svg')
  --possibilities-no-swim svgImport('svg/possibilities-no-swim.svg')
  --possibilities-no-sport svgImport('svg/possibilities-no-sport.svg')
  --products-delivery svgImport('svg/products-delivery.svg')
  --products-payment svgImport('svg/products-payment.svg')
  --viber svgImport('svg/viber.svg')
  --skype svgImport('svg/skype.svg')
  --instagram svgImport('svg/instagram.svg')
  --whatsapp svgImport('svg/whatsapp.svg')
  --telegram svgImport('svg/telegram.svg')
