html
  --price-for-men-top url('../images/svg-sprites/price.svg#price-for-men-top')
  --price-for-men-three-fourties url('../images/svg-sprites/price.svg#price-for-men-three-fourties')
  --price-for-men-full url('../images/svg-sprites/price.svg#price-for-men-full')
  --price-for-women-top url('../images/svg-sprites/price.svg#price-for-women-top')
  --price-for-women-three-fourties url('../images/svg-sprites/price.svg#price-for-women-three-fourties')
  --price-for-women-full url('../images/svg-sprites/price.svg#price-for-women-full')
  --before-after-arrow url('../images/svg-sprites/rest.svg#before-after-arrow')
  --advantages-everyday url('../images/svg-sprites/advantages.svg#advantages-everyday')
  --advantages-safety url('../images/svg-sprites/advantages.svg#advantages-safety')
  --advantages-contradictions url('../images/svg-sprites/advantages.svg#advantages-contradictions')
  --advantages-hairstyle url('../images/svg-sprites/advantages.svg#advantages-hairstyle')
  --possibilities-sleep url('../images/svg-sprites/advantages.svg#possibilities-sleep')
  --possibilities-wash url('../images/svg-sprites/advantages.svg#possibilities-wash')
  --possibilities-swim url('../images/svg-sprites/advantages.svg#possibilities-swim')
  --possibilities-sport url('../images/svg-sprites/advantages.svg#possibilities-sport')
  --products-delivery url('../images/svg-sprites/inner.svg#products-delivery')
  --products-payment url('../images/svg-sprites/inner.svg#products-payment')
  --viber url('../images/svg-sprites/contacts.svg#viber')
  --skype url('../images/svg-sprites/contacts.svg#skype')
  --instagram url('../images/svg-sprites/contacts.svg#instagram')
  --whatsapp url('../images/svg-sprites/contacts.svg#whatsapp')
  --telegram url('../images/svg-sprites/contacts.svg#telegram')
  --zen url('../images/svg-sprites/contacts.svg#zen')
