.form-input
  &--checkbox
    display flex
  &__field
    line-height 1.5
    padding (basePadding/3*2) (basePadding/3*4)
    width 100%
    display block
    border: 1px solid #e7e7e8;
    textarea&
      resize none
      height calc(6.75rem + 2px)
  &__label
    margin-bottom (basePadding/3)
    display inline-block
  &__checkbox
    flex-shrink 0
    margin-right (basePadding/2)
