mixin formInput(item)
  -
    let inputClass = []
    inputClass.push( item.type == 'checkbox' ? 'form-input--checkbox' : '' )
  .form-input(class != inputClass.join(' '))
    if item.type != 'textarea' && item.type != 'checkbox'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      input(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        placeholder= item.placeholder
        ).form-input__field
    else if item.type == 'textarea'
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      textarea(
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        placeholder= item.placeholder
        ).form-input__field
    else if item.type == 'checkbox'
      input(
        type= item.type
        name= item.name
        id= attributes.id
        class != attributes.class
        required= item.required
        checked= item.checked
        placeholder= item.placeholder
        ).form-input__checkbox
      if item.label
        label(for= attributes.id class= requiredClass).form-input__label !{item.label}
      
    
