header.header
  .container
    .content
      include header-top/header-top
  .container.header__navigation
    .content
      include ../header/header-mobile-switcher/header-mobile-switcher
      include ../header/header-navigation/header-navigation
      include /data/main-menu-info
      +headerNavigation(mainMenuInfo).top-menu
