.before-after-item
  &__photos
    position relative
    &::before
      position absolute
      top (basePadding/3*2)
      left 50%
      transform translateX(-50%)
      background-image var(--before-after-arrow)
      background-repeat no-repeat
      background-position center
      background-size cover
      width 3rem
      height 1.5rem
      content ''
  &__photo
    img
      border (basePadding/3*2) solid #f1ede4
      display block
      width 100%
  &__name
    margin-top basePadding
    text-align center
    font-weight 500
    font-size font-s
  &__description
    text-align center
    font-size font-s
