include ../style/style

head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  +style('core')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
