.table-comparison
  background-color #d1c4a5
  margin-left -(basePadding*1.875)
  margin-right -(basePadding*1.75)
  padding-left (basePadding*1.875)
  padding-right (basePadding*1.75)
  padding-y 1rem
  border-top 1.75rem solid #ffffff
  parMargin()
  @media screen and (max-width (containerWidth))
    margin-x (-(basePadding))
    padding-x (basePadding)
  &__inner 
    transform translateY(-2.75rem)
  &__item-content
    padding basePadding
    background-color #fffdf8
    height 100%
    &--header
      background-color #fffdf8
      font-size font-xxl
      font-weight 700
      line-height line-l
      text-align center
      @media screen and (max-width (point-m - 1))
        display none
    &--footer
      text-align center
      &:not(:empty)
        border-top 5px solid #f1e8d7
      p
        font-size font-s
  &__row-header
    background unquote('linear-gradient(to right, transparent ' + basePadding + ', #daccae ' + basePadding + ', #daccae calc(100% - ' + basePadding + '), transparent calc(100% - ' + basePadding + '))')
    & ^[-1]__item-content
      font-size font-xl
      font-weight 500
      color #a11c40
      background-color #f2e9d9
      &:empty
        @media screen and (max-width (point-m - 1))
          display none
    & ^[-1]__item
      &:last-child
        & ^[-3]__item-content
          background-color #f2e9d9
  &__row-body
    & ^[-1]__item-content
      padding-bottom (basePadding*2)
    & ^[-1]__item-title
      @media screen and (min-width point-m)
        display none
    & ^[-1]__item
      &:last-child
        & ^[-3]__item-content
          @media screen and (max-width (point-m - 1))
            border 5px solid #94816c
      
  &__item
    &:last-child
      & ^[-2]__item-content
        background-color #ffffff
        @media screen and (min-width point-m)
          border-left 5px solid #94816c
          border-right 5px solid #94816c
          &--header
            border-top 5px solid #94816c
          &--footer
            border-bottom 5px solid #94816c
  
