mixin tableComparison(table)
  -
    let rows = table.header.length
    let rowWidth = 12/rows
  .table-comparison
    .table-comparison__inner
      if table.header
        +grid().table-comparison__row.table-comparison__row--header
          each item in table.header
            +grid__item({m:rowWidth,xs:12}).table-comparison__item
              .table-comparison__item-content.table-comparison__item-content--header !{item}
      each row in table.rows
        .table-comparison__row
          +grid().table-comparison__row-header
            +grid__item({m:rowWidth,xs:12}).table-comparison__item
              .table-comparison__item-content !{row.header}
            - let i = 1
            while i < rows
              +grid__item({m:rowWidth,xs:12}).table-comparison__item
                .table-comparison__item-content
              - i++
          +grid().table-comparison__row-body
            each item in row.items
              +grid__item({m:rowWidth,xs:12}).table-comparison__item
                .table-comparison__item-content
                  if item.title
                    p.table-comparison__item-title: strong !{item.title}
                  +createElement(item.content)
      if table.footer
        +grid().table-comparison__row
          each item in table.footer
            +grid__item({m:rowWidth,xs:12}).table-comparison__item
              if item !== ''
                .table-comparison__item-content.table-comparison__item-content--footer: +createElement(item)
              else
                .table-comparison__item-content.table-comparison__item-content--footer
