@import 'includes/mixins'
@import 'includes/reset'
@import 'includes/variables'
@import 'includes/fonts'

html
  overflow-x hidden
  color #4e4e4e
  font-size 16px
  font-family 'Fira Sans', sans-serif
  scroll-behavior smooth
  &.no-scroll
    overflow hidden
p
  font-size font-m
  line-height line-m
  parMargin()

h1
  font-size 2.125rem
  line-height 2.75rem
  position relative
  font-weight 500
h2
  font-size 1.625rem
  line-height 2.25rem
  position relative
  font-weight 500
  for item in parLike
    {item} + &
      margin-top 3.375rem
h3
  font-size  1.25rem
  position relative
  line-height 1.875rem
  font-weight 500
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h2 + &
    margin-top 0.25rem
h4
  font-size  1.125rem
  line-height 1.6875rem
  font-weight 500
  position relative
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h3 + &
    margin-top 0.25rem
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width containerWidth
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap
.text-align
  &--center
    text-align center

@import '../blocks/img'
@import '../blocks/btn/btn.core'
@import '../blocks/grid'
@import '../blocks/header/header.core'
@import '../blocks/header-navigation/header-navigation.desktop.core'
@import '../blocks/header-navigation/header-navigation.mobile.core'
@import '../blocks/header-mobile-switcher/header-mobile-switcher.core'
@import '../blocks/header-sites/header-sites.core'
@import '../blocks/header-top/header-top'
@import '../blocks/logo/logo.core'
@import '../blocks/block-marked/block-marked.core'
@import '../blocks/home-header/home-header.core'
@import '../blocks/images-before-after/images-before-after.core'
@import '../blocks/banner-love/banner-love.core'
