import('sprites/*')
import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@fancyapps/fancybox/src/css/core.css'
@import '../../node_modules/fotorama/fotorama.css';

html
  color #4e4e4e
  font-size 16px
  font-family 'Fira Sans', sans-serif
  scroll-behavior smooth
  &.no-scroll
    overflow hidden
p
  font-size font-m
  line-height line-m 
  parMargin()
    
h1
  font-size 2.125rem
  line-height 2.75rem
  position relative
  font-weight 500
  // &::after
  //   content 'test test test'
  //   position absolute
  //   color alpha(red, 0.5)
  //   left 0
  //   top 2.75rem
h2
  font-size 1.625rem
  line-height 2.25rem
  position relative
  font-weight 500
  // &::after
  //   content 'test test test'
  //   position absolute
  //   color alpha(red, 0.5)
  //   left 0
  //   bottom -2.25rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
h3
  font-size  1.25rem
  position relative
  line-height 1.875rem
  font-weight 500
  // &::after
  //   content 'test test test'
  //   position absolute
  //   color alpha(red, 0.5)
  //   left 0
  //   bottom -1.875rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h2 + &
    margin-top 0.25rem
h4
  font-size  1.125rem
  line-height 1.6875rem
  font-weight 500
  position relative
  // &::after
  //   content 'test test test'
  //   position absolute
  //   color alpha(red, 0.5)
  //   left 0
  //   bottom -1.6875rem
  for item in parLike
    {item} + &
      margin-top 3.375rem
  h3 + &
    margin-top 0.25rem
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
a
  color #a11c40
  text-decoration underline
  transition color .2s
  &:hover
  &:focus
  &:active
    color #c31843
    transition none
  &.link-secondary
    color #7c776c
    &:hover
    &:focus
    &:active
      color #3d3d3d
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
.btn
  display inline-block
  padding-top basePadding
  padding-right (basePadding*2)
  padding-bottom basePadding
  padding-left (basePadding*2)
  font-weight 700
  line-height font-m
  text-decoration none
  color #fff
  background-color #a11c40
  transition background-color .2s
  border none
  font-size font-m
  &:hover
  &:focus
  &:active
    color #fff
    background-color #ba2049
    transition none
  a&
    border-bottom none
    text-decoration none
.btn-arrow
  display inline-block
  padding-left (basePadding*2.4)
  padding-right (basePadding/3*2)
  padding-y (basePadding*0.4)
  background-color #f1ede4
  text-decoration none
  color #4e4e4e
  font-size font-s
  line-height 1rem
  background-image linear-gradient(to right, #a11c40 1.625rem, #f1ede4 1.625rem)
  position relative
  transition color timing-s
  cursor pointer
  &::before
    content ''
    position absolute
    left ((1.625rem - 0.375rem)/2)
    top 50%
    transform translateY(-50%)
    display block
    width 0.75rem
    height 0.75rem
    background-repeat no-repeat
    background-image svgImport('svg/btn-arrow.svg')
  &:hover
    color #c31843
    transition none
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width containerWidth  
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap
.text-align
  &--center
    text-align center
import('../blocks/**/*')
