.consultation-author-details
  max-width 40rem
  width 100%
  &__info
    margin-bottom 0.935rem
  &__name
    font-size font-xl
    line-height line-xl
  &__occupation
    font-size font-s
    line-height line-s
  &__body
    font-size font-s
    line-height line-s
    margin-bottom 0.935rem
    p
      font-size font-s
      line-height line-s
  &__links
    font-size font-s
    line-height line-s
    display flex
    margin -(basePadding/2)
    a
      margin (basePadding/2)
