mixin consultationAuthorDetails(item)
  +grid({paddingy: true}).consultation-author-details
    +grid__item({m:5,s:4,xs:12}).consultation-author-details__photo
      img(src!= item.photo)
    +grid__item({m:7,s:8,xs:12})
      .consultation-author-details__info
        .consultation-author-details__name !{item.name}
        .consultation-author-details__occupation !{item.occupation}
      .consultation-author-details__body
        - item.details = typeof item.details == 'object' ? item.details : {tag:'p', content:item.details}
        +createElement(item.details)
      if infoSection
        .consultation-author-details__links
          a(href='/konsultatsiya-ask.html').btn Задать вопрос
      else
        .consultation-author-details__links
          a(href='/personal-item.html') Подробнее
          | 
          a(href='/konsultatsiya-ask.html') Задать вопрос
        
      
    
