-
  let compareMethodsTable = {
    header:[
      '',
      'Безоперационное замещение волос',
      'Трансплантация',
      'Парики, накидки',
      'Медикаменты',
      'Косметика и «камуфляж»',
    ],
    rows: [
      ['Использование натуральных волос', {content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},'редко','-','-'],
      ['Отсутствие хирургического вмешательства',{content:{tag:'strong', content:'✓'}},'-',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}}],
      ['Сервис (консультации, помощь в уходе)',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},'-','-','-'],
      ['Нежелательные побочные действия на организм','нет','возможно','нет','возможно','нет'],
      ['Компенсация малой потери волос',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},'-',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}}],
      ['Компенсация средней потери волос',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},'-','-','-'],
      ['Компенсация большой и полной потери волос',{content:{tag:'strong', content:'✓'}},'-',{content:{tag:'strong', content:'✓'}},'-','-'],
      ['«эффект постепенного роста волос»',{content:{tag:'strong', content:'✓'}},'-','-','-','-'],
      ['Отторжение волос или повторное облысение','нет','возможно','нет','возможно','возможно'],
      ['Возможность менять причёску, стиль',{content:{tag:'strong', content:'✓'}},'-',{content:{tag:'strong', content:'✓'}},'-','-'],
      ['Надёжность фиксации',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},'-','-','-'],
      ['Отличие от собственных волос','нет','нет',{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}},{content:{tag:'strong', content:'✓'}}],
      ['Необходимость «периода реабилитации»','нет',{content:{tag:'strong', content:'✓'}},'нет',{content:{tag:'strong', content:'✓'}},'нет'],
      ['Гарантия хорошего результата','всегда','не всегда','нет','редко','нет'],
    ]
  }
+table(compareMethodsTable).table-compare-methods
