extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция парик'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция парик'})
      h1 Алопеция парик
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p
              strong Алопеция
              | &nbsp;&mdash; патологическое облысение кожного покрова головы. Ученые выделяют андрогенную (андрогенетическую), рубцовую, очаговую, диффузную и&nbsp;себорейную. Причинами такого заболевания могут быть гормональные и&nbsp;аутоиммунные нарушения, пищевая недостаточность, заболевания желудочно-кишечного тракта, инфекции, эмоциональные и&nbsp;физические перегрузки, а&nbsp;также генетическая предрасположенность, а&nbsp;также травмы.
            p
              strong Алопеция (или облысение, от&nbsp;латинского alopecia)
              | , представляет собой процесс полного выпадения волос или значительного поредения волосяного покрова на&nbsp;голове. Например, андрогенная алопеция или так называемая &laquo;мужская&raquo; алопеция является наиболее распостраненной формой алопеции. Исследования показывают, что 30-35&nbsp;% мужского населения мира в&nbsp;возрасте от&nbsp;25&nbsp;до&nbsp;55&nbsp;лет подвержены андрогенной алопеции. Не&nbsp;обходит эта проблема стороной и&nbsp;женщин, хотя встречается намного реже.
            p Система волос (метод безоперационного замещения волос) можно применять при любом типе облысения. Такой широкий спектр применения безоперационного замещения связан с&nbsp;тем, что он&nbsp;обеспечивает лишь косметический (визуальный) эффект наличия волос. Никакого вмешательства в&nbsp;организм человека не&nbsp;происходит, поэтому его можно применять в&nbsp;любом возрасте. Система волос является единственной существующей альтернативой пересадке собственных волос, с&nbsp;одной стороны, и&nbsp;парикам и&nbsp;накладкам, с&nbsp;другой. Но&nbsp;не&nbsp;всем доступна такая процедура, поэтому при алопеции парик будет для таких людей замечательным решением проблемы.
            p В&nbsp;случае равномерного поредения волосяного покрова головы говорят о&nbsp;диффузной алопеции. Как правило, ей&nbsp;предшествуют тяжелая операция, отмена пероральных контрацептивов, беременность и&nbsp;послеродовой период, соблюдение жестких диет. В&nbsp;активной стадии развития болезни резко увеличивается число волос переходящих из&nbsp;стадии роста (анагена) в&nbsp;состояние покоя (телоген) с&nbsp;последующим их&nbsp;выпадением.
            p Рубцовая алопеция характеризуется полным разрушением волосяных фолликулов и&nbsp;образованием рубцов на&nbsp;коже. На&nbsp;участках, подверженных деструкции, волосяной покров не&nbsp;подлежит восстановлению. Повышенное салоотделение или физиологическая себорея, например, в&nbsp;пубертатный период, оказывает разрушающее воздействие на&nbsp;волос ввиду изменения состава жирных кислот. Если физиологические изменения не&nbsp;исчезают и&nbsp;принимают тяжелую форму, то&nbsp;через некоторое время проявляется себорейная алопеция.
            p Наиболее распространенная форма заболевания&nbsp;&mdash; 
              strong андрогенная (андрогенетическая) или мужская
              | . Фактором ее&nbsp;возникновения является деструктивное воздействие мужских гормонов (андрогенов) на&nbsp;волосяные фолликулы теменной и&nbsp;лобной областей. Гнездная форма характеризуется покраснением локальных очагов облысения, жжением и&nbsp;зудом. Часто сопровождается аутоиммунными нарушениями, такими как болезнь щитовидной железы и&nbsp;витилиго.
            p
              strong Причиной выпадения волос
              |  является симбиотическое воздействие двух факторов: наследственности и&nbsp;гормональной активности. В&nbsp;то&nbsp;же время при андрогенной алопеции на&nbsp;голове всегда остается венчик волос&nbsp;&mdash; в&nbsp;затылочной и&nbsp;височных областях. Суть феномена состоит в&nbsp;том, что волосяные фолликулы в&nbsp;этих зонах не&nbsp;имеют рецепторов, способных воспринимать действие андрогенов. Поэтому, исключается одна из&nbsp;обязательных причин андрогенной алопеции&nbsp;&mdash; гормональная активность,- и&nbsp;волосы в&nbsp;этих областях генетически &laquo;застрахованы&raquo; от&nbsp;выпадения.
            p Грамотным решением проблемы может быть не&nbsp;столько в&nbsp;области борьбы с&nbsp;самим процессом облысения, сколько в&nbsp;области преодоления его последствий. Поскольку во&nbsp;многих случаях облысение является необратимым. Поэтому сегодняшние достижения ученых связаны с&nbsp;тем, что на&nbsp;участках оголенной кожи необходимо воссоздать волосяной покров. Откуда взять волосы? Одним из&nbsp;таких решений может быть хирургическая пересадка волос. Но&nbsp;это решение может быть небезопасным для здоровья, да&nbsp;и&nbsp;волосы могут не&nbsp;прижиться? Например, в&nbsp;США эта процедура запрещена, а&nbsp;в&nbsp;Европе ее&nbsp;выполняют главным образом врачи-дилетанты, не&nbsp;особо задумывающиеся о&nbsp;здоровье пациента.
            p При 
              strong алопеции парик
              |  будет замечательным и&nbsp;доступным решением для многих людей. Для тех, кто не&nbsp;может себе позволить систему волос.
            h2 Рассмотрим подробнее методы коррекции облысения (алопеции)
            p Распространенным методом коррекции алопеции являются парики, они известны еще с&nbsp;давних времен. Но&nbsp;раньше это было частью моды и&nbsp;красоты. Сегодня при помощи париков можно не&nbsp;только быстро и&nbsp;легко поменять имидж, при этом, не&nbsp;перекрашивая свои собственные волос, но&nbsp;и&nbsp;справляться с&nbsp;проблемой алопеции.
            p С&nbsp;проблемой алопеции сегодня сталкиваются многие, в&nbsp;связи с&nbsp;этим человек пребывает в&nbsp;стрессе. Вследствие чего, настроение ухудшается, уверенность в&nbsp;себе исчезает, и&nbsp;лишь немногие чувствуют себя уверенно с&nbsp;новой внешностью. Поэтому все люди, страдающие алопецией, стремятся скрыть эту проблему визуально, чтобы не&nbsp;выделяться из&nbsp;толпы и&nbsp;быть &laquo;как все&raquo;. Самым распространенным решением проблемы с&nbsp;алопецией являются парики.
            p Также парики носят пациенты с&nbsp;алопецией, которая является временной, в&nbsp;результате химиотерапии, т.е. при временной потере волос. Так как парик-система является наиболее удачным решением при данной проблеме.
            p Если&nbsp;же 
              strong облысение
              |  в&nbsp;той стадии, когда ее&nbsp;неизлечить, тогда некоторые останавливаются на&nbsp;париках при алопеции, другие (немногие) решаются на&nbsp;операцию по&nbsp;пересадке волос, и&nbsp;не&nbsp;всегда успешной. Более новым и&nbsp;еще многим неизвестным в&nbsp;России является метод безоперационного замещения волос. За&nbsp;границей этот метод давно и&nbsp;очень успешно применяется.
            p Центр дизайна волос предлагает уникальные услуги по&nbsp;безоперационному замещению волос, при котором пациенту при помощи специального клея (безопасного для здоровья) крепят ее&nbsp;прочно к&nbsp;голове пациента. Данная система абсолютно незаметна и&nbsp;незаменима при алопеции, нежели парик, который может в&nbsp;самый неподходящий момент &laquo;дать о&nbsp;себе знать&raquo;, и&nbsp;человек может попасть в&nbsp;некомфортную для него ситуацию. Но, несмотря на&nbsp;то, что система может быть доступна немногим, при алопеции парик может быть успешным решением проблемы для многих. Система волос может быть дешевле, если клиент ее&nbsp;арендует.
            p Центр дизайна волос предлагает такую услугу для тех, кто сомневается в&nbsp;принятии решения в&nbsp;пользу безоперационного замещения волос. В&nbsp;течение одного или двух месяцев&nbsp;Вы можете пользоваться системой волос, которая является альтернативой парика при алопеции. За&nbsp;это время можно понять, удобен&nbsp;ли Вам этот метод, как воспринимают Ваш новый имидж окружающие, и&nbsp;т.д. В&nbsp;течение этого периода клиенты обычно принимают решение о&nbsp;том, будут&nbsp;ли они пользоваться методом безоперационного замещения дальше (и&nbsp;соответственно делают свой индивидуальный заказ), или нет.
            p Ждем Вашего звонка, и&nbsp;мы&nbsp;обязательно поможем принять истинно верное для Вас решение!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
