extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция парик'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция парик'})
      h1 Алопеция парик
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p
              strong Алопеция
              |  — патологическое облысение кожного покрова головы. Ученые выделяют андрогенную (андрогенетическую), рубцовую, очаговую, диффузную и себорейную. Причинами заболевания могут быть гормональные и аутоиммунные нарушения, пищевая недостаточность, болезни желудочно-кишечного тракта, инфекции, эмоциональные и физические перегрузки, генетическая предрасположенность, травмы.
            p: img(src='/images/info/zametki/pariki-i-nakladki/alopetsiya-parik/alopetsiya-parik.jpg' alt='Алопеция парик')
            p
              strong Алопеция (или облысение, от латинского alopecia)
              |  — процесс полного выпадения волос или поредения волосяного покрова на голове. Например, андрогенная, «мужская» алопеция, — распостраненная форма облысения. Исследования показывают, что 30-35 % мужского населения мира, в возрасте от 25 до 55 лет, подвержены андрогенной алопеции. Не обходит эта проблема стороной и женщин, хотя встречается намного реже.
            h2 Актуальность безоперационного замещения волос при алопециях
            p Система волос (метод безоперационного замещения волос) можно применять при любом типе облысения: обеспечивает косметический (визуальный) эффект наличия волос. Никакого вмешательства в организм человека не происходит, поэтому можно применять в любом возрасте.
            +blockMarked({ 'padding': 'small'}): p Система волос — единственная альтернатива пересадке собственных волос, с одной стороны, и парикам и накладкам, с другой. Но такая процедура доступна не всем, поэтому решением проблемы станет парик.
            h2 Виды алопеции
            ul.list-marked
              li Диффузная алопеция — равномерное поредение волосяного покрова головы. Как правило, ей предшествуют тяжелая операция, отмена пероральных контрацептивов, беременность и послеродовой период, соблюдение жестких диет. В активной стадии болезни число волос, переходящих из стадии роста (анагена) в состояние покоя (телоген), резко увеличивается, после чего они выпадают.
              li Рубцовая алопеция — полное разрушение волосяных фолликулов и образование рубцов на коже. На участках, подверженных деструкции, волосяной покров не восстановить. Повышенное салоотделение или физиологическая себорея, например, в пубертатный период, разрушает волос из-за изменения состава жирных кислот. Если физиологические изменения не исчезают, переходят в тяжелую форму, то со временем появляется себорейная алопеция.
              li Распространенная форма заболевания — андрогенная (андрогенетическая) или мужская. Возникает из-за деструктивного воздействия мужских гормонов (андрогенов) на волосяные фолликулы теменной и лобной областей. Гнездная форма характеризуется покраснением локальных очагов облысения, жжением и зудом. Часто сопровождается аутоиммунными нарушениями, такими как болезнь щитовидной железы и витилиго.
            h2 Причины и варианты решения
            p
              strong Причина выпадения волос
              |  — симбиотическое воздействие двух факторов: наследственности и гормонального фона. Но при андрогенной алопеции на голове остается венчик волос — в затылочной и височных областях: волосяные фолликулы в этих зонах без рецепторов, способных воспринимать действие андрогенов. Поэтому, в качестве причины андрогенной алопеции, исключается гормональная активность: волосы в этих областях генетически «застрахованы» от выпадения.
            p Поскольку облысение необратимо, сегодняшние достижения ученых связаны с тем, чтобы на участках оголенной кожи воссоздать волосяной покров. Откуда взять волосы?
            p Решение — хирургическая пересадка волос. Но может быть небезопасным для здоровья, да и волосы могут не прижиться. Например, в США эта процедура запрещена, а в Европе ее выполняют врачи-дилетанты, не задумывающиеся о здоровье пациента.
            p При 
              strong алопеции парик
              |  будет доступным решением для многих людей, тех, кто не может позволить себе систему волос.
            h2 Методы коррекции облысения (алопеции)
            +grid({'par-like': true, justify: 'center'}): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/pariki-i-nakladki/alopetsiya-parik/metody.jpg' alt='Методы коррекции облысения')
            ul.list-marked
              li Распространенный метод коррекции алопеции — парики, известные с давних времен. Если раньше были частью моды и красоты, то сегодня позволяют быстро и легко поменять имидж, не перекрашивая собственные волосы, и справляться с проблемой алопеции.
              li С проблемой алопеции сталкиваются многие: пребывают в стрессе, ухудшается настроение, исчезает уверенность в себе, и немногие чувствуют себя комфортно с новой внешностью. Поэтому страдающие алопецией люди стремятся скрыть проблему визуально, чтобы не выделяться из толпы и быть «как все». Самым распространенным решением проблемы с алопецией становятся парики.
              li Также парики носят пациенты с временной алопецией, после химиотерапии, т.е. при временной потере волос. Так как парик-система — удачное решение проблемы.
            h2 Преимущества системы волос перед париками
            p Если же 
              strong облысение
              | в той стадии, когда его не излечить, некоторые останавливаются на париках, другие (немногие) решаются на операцию по пересадке волос, и не всегда успешной. Новым и еще малоизвестный в России — метод безоперационного замещения волос.
            p Центр дизайна волос предлагает услуги по безоперационному замещению волос, при котором пациенту, при помощи специального клея (безопасного для здоровья), к голове прочно крепят систему волос.
            p Она незаметна и незаменима при алопеции, нежели парик, который может «дать о себе знать» в неподходящий момент, когда человек попадет в некомфортную для себя ситуацию. Но, несмотря на то, что система может быть доступна немногим, при алопеции решением проблемы может быть и парик. Система же волос может быть дешевле, если клиент ее арендует.
            h2 Закажите систему волос в ЦДВ на выгодных условиях!
            p Центр дизайна волос предлагает такую услугу для тех, кто сомневается в принятии решения в пользу безоперационного замещения волос. В течение одного или двух месяцев вы можете пользоваться системой волос — альтернативой парика при алопеции.
            p За это время можно понять, удобен ли этот метод, как воспринимают новый имидж окружающие и т.д. В течение этого периода клиенты принимают решение о том, будут ли пользоваться методом безоперационного замещения дальше (и соответственно делают индивидуальный заказ), или нет.
            p Ждем вашего звонка, и мы поможем принять верное для вас решение!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
