extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция: виды, симптомы, лечение'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция: виды, симптомы, лечение'})
      h1 Алопеция: виды, симптомы, лечение
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Алопецией (происходит от&nbsp;латинского alopecia) называют процесс полного или частичного выпадения волос. Выделяют различные виды алопеции, среди которых:
            ul.list-marked.list-marked--w-prev-par
              li очаговая (выпадение волос отдельными участками),
              li диффузная,
              li андрогенная,
              li себорейная,
              li рубцовая.
            p Если возникла алопеция причины этому могу самыми разными и&nbsp;варьируются они в&nbsp;зависимости от&nbsp;того, какой ид&nbsp;заболевания возник. Кроме физиологических сбоев в&nbsp;работе человеческого организма, облысению вполне может способствовать и&nbsp;плохая экология, нервные стрессы. Болезнь алопеция может возникнуть в&nbsp;результате плохого ухода за&nbsp;волосами, к&nbsp;примеру, частая сушка феном с&nbsp;теплым воздухом, регулярное окрашивание волос, неудачная химическая завивка, некачественная косметика для волос. Именно поэтому, к&nbsp;сожалению, различные типы алопеции сейчас возникают все у&nbsp;большего количества людей, причем средний возраст страдающих этим недугом критически уменьшается.
            p На&nbsp;данный момент специалисты находятся в&nbsp;поиске наиболее рационального выхода из&nbsp;сложившейся ситуации, однако однозначного решения проблемы нет. Данным недугом встречаются и&nbsp;мужчины, и&nbsp;женщины и&nbsp;все чаще встречается врожденнаяалопеция у&nbsp;детей. В&nbsp;качестве решения проблемы специалисты, не&nbsp;считающие хирургическое вмешательство панацеей, видят систему волос (метод максимально эффективного безоперационного замещения волос). Это наиболее удачное решение проблем облысения. Если у&nbsp;Вас диагностировали такое заболевание, как алопеция фото всегда можно посмотреть в&nbsp;интернете, чтобы убедиться, что система волос&nbsp;&mdash; это отличный выход. Некоторые люди, страдающие от&nbsp;данного заболевания предпочитают носить парики. Стоит отметить, что идеальным вариантом можно считать парики при полной алопеции.
            p Что касается системы волос, то&nbsp;она может применяться как инструмент маскировки, независимо от&nbsp;типа облысения, будь&nbsp;то андрогенетическая, рубцовая, диффузная, тотальная, субтотальная алопеция или алопеция ареата. Однако стоит упомянуть и&nbsp;о&nbsp;единственном противопоказании для применения данного метода&nbsp;&mdash; это серьезные заболевания кожи волосистой части головы. Причины безопасности применения системы замещения для абсолютного большинства случаев заболеваний заключаются в&nbsp;том. Что данный метод является безоперационным, он&nbsp;обеспечивает косметический (визуальный) эффект присутствия волос. При этом совершенно никакого вмешательства в&nbsp;человеческий организм не&nbsp;происходит. Вот почему его можно безопасно использовать в&nbsp;любом возрасте. При абсолютной безопасности данного метода, важно отметить и&nbsp;его положительный психологический эффект, который достигается благодаря косметическому эффекту наличия волос. Воспользовавшись данным методом, человек, которого недавно только волновал ужасный вопрос, как вылечить алопецию, получает возможность ощущать себя здоровым даже, несмотря на&nbsp;то, что диагностика алопеции подтвердила наличие заболевания, он&nbsp;обретает спокойствие, чувствует себя уверенным в&nbsp;любой ситуации.
            p Рассмотрим более подробно разновидности этого недуга, которые встречаются чаще всего и&nbsp;признаки алопеции каждого из&nbsp;видов.
            h2 Тотальная алопеция
            p Она представляет собой генерализированную форму гнездной алопеции, приводящей к&nbsp;выпадению волос полностью на&nbsp;всей голове, иногда даже на&nbsp;других участках тела. При протекании данного заболевания наблюдается поражение всего скальпа; при универсальной&nbsp;&mdash; выпадение всех волос на&nbsp;теле.
            p Тотальная алопеция форум, посвященный которой, позволит узнать о&nbsp;заболевании более подробно, может наблюдаться и&nbsp;у&nbsp;детей, и&nbsp;у&nbsp;взрослых. Первый признак злокачественного течения болезни&nbsp;&mdash; это резкое выпадение волос на&nbsp;голове и&nbsp;лице (волосы бровей и&nbsp;бороды, ресницы). В&nbsp;течение пары месяцев волосы на&nbsp;волосистой части головы полностью выпадают.
            h2 Гнездная алопеция (очаговая)
            p Выше уже было указано, что при этом виде заболевания волосы выпадают на&nbsp;определенных участках головы. При этом на&nbsp;облысевших частях головы кожа выглядит очень гладкой и&nbsp;невоспаленной, полностью лишенной волосяного покрова, либо&nbsp;же редкими волосами, покрытой пушком, который часто бывает другого цвета. Наблюдается данная алопеция у&nbsp;подростков, женщин, мужчин и&nbsp;детей (она не&nbsp;зависит от&nbsp;возраста).
            p Специалисты утверждают, что главные причины этого вида заболевания кроются в&nbsp;заболеваниях нервной системы, иммунных нарушениях, инфекциях и&nbsp;наследственности.
            h2 Диффузная или телогеновая алопеция
            p Если возникла данная алопеция симптомы будут следующими: поредение волос на&nbsp;волосистой части головы. За&nbsp;последние годы число людей, у&nbsp;которых проявляется данная болезнь становиться все больше. Это не&nbsp;чисто мужская алопеция, все чаще всего она наблюдается у&nbsp;женщин в&nbsp;период беременности (в&nbsp;силу того, что идут гормональные изменения организма). Зачастую она сопровождает отказ женщины от&nbsp;применения гормональных контрацептивов, может возникнуть и&nbsp;в&nbsp;случае придерживания строгих диет, которые оказывают достаточно вредное влияние для здоровья. При этом в&nbsp;большинстве случаев волосы вырастают у&nbsp;женщин самостоятельно после того, как гормональный фон нормализуется, а&nbsp;также после возвращения к&nbsp;здоровому, сбалансированному питанию, что чрезвычайно важно для здоровья. Поэтому вопрос, можно&nbsp;ли вылечить алопецию в&nbsp;данном случае отпадает сам собой! Для того чтобы в&nbsp;подобных случаях поддержать ослабленный организм, специалисты рекомендуют пить витамины с&nbsp;макро- и&nbsp;микроэлементами.
            h2 Андрогенная алопеция
            p Данный вид заболевания чаще встречается у&nbsp;мужчин. Его причины могут быть разнообразными, однако главной принято считать гормональные нарушения в&nbsp;организме. Свое название этот вид получил именно из-за его происхождения. Итак, за&nbsp;рост волос у&nbsp;человека на&nbsp;голове отвечают женские гормоны, называемые эстрогенами, мужские&nbsp;же гормоны&nbsp;&mdash; андрогены&nbsp;&mdash; обеспечивают стимуляцию роста волос на&nbsp;лице (усы, борода) и&nbsp;на&nbsp;теле. Из-за воздействием андрогенов, начинающих сильно воздействовать на&nbsp;теменную и&nbsp;лобную области, воздействие эстрогенов уменьшается, поэтому луковицы (корень волоса) начинают постепенно &laquo;отмирать&raquo;, переставая при этом выращивать здоровые волосы. Если возникла данная алопеция методы лечения могут быть неоднозначными. Подобное гормональное нарушение может быть у&nbsp;мужчин наследственным. Кроме того, причинами его проявления может быть и&nbsp;инфекция, и&nbsp;стресс, и&nbsp;травма. У&nbsp;женщин данный заболевания также возможен, как и&nbsp;мужчин, его причиной может стать гормональный сбой, например, это часто происходит в&nbsp;период менопаузы, тогда, когда идет глобальная гормональная перестройка организма. Если возникла данная алопеция у&nbsp;мужчин, лечение может быть назначено лишь после выявления причин заболевания.
            h2 Рубцовая алопеция
            p Этот вид заболевания возникает в&nbsp;случае вторичного разрушения волосяных фолликулов по&nbsp;различным причинам (среди которых: рубцевание кожи, воспаление и&nbsp;т.д.). Первопричины: дефекты развития, наследственные расстройства (например, недержание пигмента, аплазия кожи и&nbsp;т.д.), травмирующие воздействия, нарушающие кожу (лучевые дерматиты, ожоги), разрушение фолликулов вследствие инфекционных заболеваний (сифилис, туберкулез). Если возникла данная алопеция способы лечения предусматривают обязательный прием витаминов, способствующих повышению тонуса организма, а&nbsp;также аутогемотерапию. К&nbsp;сожалению для пациентов, доказано, что рубцовая алопеция является необратимой, однако остановить развитие данного заболевания можно, главное при этом быть к&nbsp;себе внимательным, чтобы при проявлении первых признаках обратиться к&nbsp;специалистам за&nbsp;помощью!
            h2 Себорейная алопеция
            p Этот вид заболевания является следствием осложнения себореи и&nbsp;носит диффузный характер. При этом отмечается поредение волос по&nbsp;всей поверхности головы, причина этому заключается в&nbsp;нарушении салоотделения, шелушении кожи, повышенной сальности волос и&nbsp;других симптомах себореи. При этом главное&nbsp;&mdash; предостеречь себя, ведь возникновение себорейной алопеции в&nbsp;полной мере зависит от&nbsp;успешности борьбы с&nbsp;себореей.
            p В&nbsp;случае, если&nbsp;Вы обеспокоены имеющейся алопецией, обязательно обратитесь к&nbsp;трихологу либо другому специалисту, занимающемуся данным кругом вопросов, чтобы выяснить какой вид алопеции наблюдается у&nbsp;Вас, и&nbsp;какие меры нужно предпринять. Не&nbsp;стоит забрасывать данную проблему в&nbsp;дальний ящик.
            p Для того чтобы при возникновении любого из&nbsp;перечисленных видов облысения чувствовать себя здоровым и&nbsp;уверенным в&nbsp;себе, не&nbsp;испытывать психологического неудобства, мы&nbsp;предлагаем Вам воспользоваться уникальным методом маскировки облысения&nbsp;&mdash; системой волос, которая прикрепляется и&nbsp;подбирается к&nbsp;тому участку волосистой части головы, который был подвержен облысению. Ваши волосы будут выглядеть естественно и&nbsp;незаметно, а&nbsp;Вы сможете навсегда забыть об&nbsp;имеющейся проблеме!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
