extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция – насущная женская проблема'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция – насущная женская проблема'})
      h1 Алопеция – насущная женская проблема
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/oblysenie-jenshina/alopetsiya-nasushchnaya-zhenskaya-problema/alopetsiya-nasushchnaya-zhenskaya-problema.jpg' alt='Алопеция – насущная женская проблема')
            p В последние годы большее количество женщин обращаются к врачам-трихологам и причина этому — увеличение процента алопеции, протекающей по мужскому типу (андрогенетическая либо андрогенная алопеция). Причины алопеции у женщин и такой тенденции пока не установлены, но ученые в поиске ответа.
            p Механизм появления женской алопеции современные врачи связывают с гормональными нарушениями из-за дисфункции работы яичников и/или надпочечников. Исходный момент — снижение эстрогенной деятельности яичников.
            ul.list-marked
              li При диагностическом обследовании, на предмет потери волос у женщин, учитывают наследственный фактор.
              li Врач изучает семейный медицинский анамнез, и тщательно обследуют пациента: использует такие виды обследования как биопсия либо лабораторные тесты.
            p Исследования показывают, что возникновение заболевания у женщин возможно на любых частях тела. Но только облысение волосистой части головы может стать причиной стресса.
            p Алопеция может проявляться и в виде маленьких облысевших участков, и комплексной потерей волос, проявляющейся по всей поверхности головы, что хуже. Ведь если небольшие залысины можно прикрыть при помощи укладки волос, скрыть полную потерю волос так не удастся.
            h2 Эффективный способ коррекции женской алопеции
            p В результате алопеции женщины часто страдают от психических нарушений и расстройств, которые способны не только усугубить потерю волос, но и оказать пагубное влияние на здоровье женского организма.
            +blockMarked({ 'padding': 'small'}): p Вариантом решения проблемы станет система волос. Этот метод, появившийся несколько лет назад, сегодня необычайно популярен. Система — безоперационное замещение волос, которое применяется при всех типах облысения.
            p Безвредная для организма человека, имеет только одно противопоказание — болезни кожи головы. Во всех остальных случаях система волос поможет пациенту любого возраста избавиться от психологического дискомфорта, вновь обрести прежнюю уверенность в себе.
            h2 Особенности проявления заболевания
            ul.list-marked
              li Симптомы женской алопеции: болезни предшествует истончение и поредение волос в теменной и лобной областях, волоски становятся реже и тоньше, рост замедляется, они светлеют и укорачиваются.
              li Облысение у женщин до 40 лет называют резко выраженной андрогенизацией, которая сопровождается угрями, жирной себореей, изменениями менструального цикла, усиленным ростом волос на теле
              li В тяжелых случаях выпадения, кожа просвечивает через волосы, сопровождается жирной или сухой себореей. Прогнозы врачей неблагоприятны, и восстановить волосы не удастся.
            p С помощью лечения можно только остановить дальнейшее выпадение волос, но не возобновить рост отсутствующих. Поэтому, чем раньше женщина обнаружит проблему и начнет лечение, тем меньше волос потеряет.
            ul.list-marked
              li Фактор, свидетельствующий о появлении заболевания — длительность выпадения волос (волосинки ломаются и выпадают у самого корня) и увеличение выпадения либо уменьшение объёма волос.
              li Дополнительные факторы: тяжелые заболевания, серьезные диеты, применение лекарственных препаратов.
            p: img(src='/images/info/zametki/oblysenie-jenshina/alopetsiya-nasushchnaya-zhenskaya-problema/priyom-u-vracha-trihologa.jpg' alt='Прием у врача-трихолога')
            p На приеме врач-трихолог непременно обследует кожу головы человека, и проверяет на наличие форм воспалений. После этого оценивает распределение и густоту волос. А также осматривает волосяной ствол по диаметру, длине и форме, определяет, насколько волосы пациента ломкие.
            h2 Лечение женской алопеции
            p Прежде чем лечить заболевание, женщина должна пройти обследование у эндокринолога и гинеколога.
            +blockMarked({ 'padding': 'small'}): p Если возникло такое заболевание как алопеция у женщин, лечение должно быть комплексным, с применением медицинских препаратов внутрь и наружно.
            ul.list-marked
              li Внутренне рекомендуют принимать средства на растительной основе. Корневую систему волос стимулируют с помощью специальных препаратов, питающих и стимулирующих рост.
              li Массаж головы — неотъемлемый аспект при лечении, способствует улучшению микроциркуляции крови, что позволяет волосяным луковицам лучше «питаться».
              li В качестве местного лечения применяют спиртовые растворы, к примеру, настойку лука либо перца, создают такой же эффект, что и массаж: улучшают кровообращение кожи головы.
            p Эти процедуры необходимо проделывать длительно — не менее полугода, чтоб получить эффект.
            p Еще один местный метод лечения очаговой алопеции — физиотерапи, к примеру, ультрафиолетовое облучение очагов, разрушающее лимфоцитарные инфильтраты.
            h2 Безоперационное замещение волос — рекомендация экспертов
            p Чтобы скрыть заболевание, трихологи рекомендуют использовать систему волос, которая вернет волосам былую привлекательность, поможет обрести уверенность и чувство комфорта.
            ul.list-marked
              li Ношение системы волос позволяет заниматься спортом, плавать в бассейне и купаться в душе, не лишая себя привычного образа жизни.
              li Современная система волос прочно крепится к коже головы, ее не надо снимать по вечерам и надевать по утрам снова.
              li Главное преимущество безоперационного метода в том, что система волос незаметна для окружающих людей: фронтальная (передняя) линия волос выглядит естественно и привлекательно.
            p Системы волос изготавливают на заказ, при их создании учитывают особенности кожи головы человека. Система волос позволит создать поразительный визуальный эффект и вернуть радость жизни!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
