extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция: виды, симптомы, лечение'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция: виды, симптомы, лечение'})
      h1 Алопеция: виды, симптомы, лечение
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Алопеция (от латинского alopecia) — процесс полного или частичного выпадения волос. 
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/alopetsiya-vidy-simptomy-lechenie.jpg' alt='Алопеция: виды, симптомы, лечение')
            p Выделяют виды алопеции, среди которых:
            ul.list-marked
              li очаговая (выпадение волос отдельными участками),
              li диффузная,
              li андрогенная,
              li себорейная,
              li рубцовая.
            p Причины алопеции могут варьироваться от вида заболевания. Кроме физиологических сбоев в работе человеческого организма, облысению может способствовать загрязненная экология, нервные стрессы. 
            p Алопеция может возникнуть в результате воздействий на волосы: из-за частой сушки феном, регулярного окрашивания волос, неудачной химической завивки, некачественной косметики для волос. Потому типы алопеции возникают у большего количества людей, причем средний возраст страдающих заболеванием критически уменьшается. 
            p Безоперационное замещение волос — выбор экспертов
            p Они ищут наиболее рациональный выход из сложившейся ситуации, но однозначного решения проблемы нет. Заболевание возникает у мужчин, женщин, встречается врожденная алопеция у детей. В качестве решения проблемы эксперты, не считающие хирургическое вмешательство панацеей, рассматривают систему волос (метод безоперационного замещения волос). 
            +grid({ 'justify': 'center', 'parLike': true }): +grid__item({ l: 6, m: 8, xs: 12 }): +beforeAfterItem({
              images: {
                before: 'http://www.hairdesign.ru/upload/iblock/1dc/1dcba1621dda4a3b28b9b53f2ee435dd.jpg',
                after: 'http://www.hairdesign.ru/upload/iblock/ad4/ad46c4b1b4f773f636a396d6dd7e2484.jpg'
              },
              name: 'Всеволод',
              desc: 'андрогенная алопеция'
            })
            p Рекомендуем посмотреть фото алопеции, чтобы убедиться, что система волос — это рациональный выход. Некоторые люди, страдающие от заболевания, предпочитают парики: эти изделия можно считать подходящим вариантом при полной алопеции.
            p А систему волос можно применять для маскировки, независимо от типа облысения, будь то андрогенетическая, рубцовая, диффузная, тотальная, субтотальная алопеция или алопеция ареата. Единственное противопоказание для применения метода — серьезные заболевания кожи волосистой части головы.
            ul.list-marked
              li Применение системы замещения безопасно потому, что метод безоперационный, обеспечивает косметический (визуальный) эффект присутствия волос. 
              li При его использовании никакого вмешательства в человеческий организм не происходит, потому метод подходит для любого возраста. 
              li Безоперационное замещение дает положительный психологический эффект, который достигается благодаря косметическому эффекту наличия волос. 
              li Человек возвращает ощущение здоровья, спокойствия, чувствует себя уверенным в любой ситуации.
            p Рассмотрим подробно часто встречающиеся разновидности болезни, признаки алопеции каждого из видов.
            h2 Тотальная алопеция
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/totalnaya.jpg' alt='Тотальная алопеция')
            p Представляет собой генерализированную форму гнездной алопеции, приводящей к выпадению волос на всей голове, иногда на других участках тела. При тотальном облысении поражается весь скальп; при универсальном — выпадают все волосы на теле. 
            p Тотальная алопеция может наблюдаться и у детей, и у взрослых. Первый признак злокачественного течения болезни — это резкое выпадение волос на голове и лице (исчезают волосы бровей и бороды, ресницы). В течение пары месяцев волосы на волосистой части головы выпадают полностью.
            h2 Гнездная алопеция (очаговая)
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/ochagovaya.jpg' alt='Гнездная алопеция')
            p При этом заболевании волосы выпадают на определенных участках головы. При этом на облысевших частях головы кожа выглядит гладкой и невоспаленной, лишенной волосяного покрова, либо же волосы сильно поредевшие, в виде пушка, который изменяет цвет. Алопеция этого вида встречается у подростков, женщин, мужчин и детей (не зависит от возраста).
            p Трихологи утверждают, что главные причины этого вида облысения — заболевания нервной системы, иммунные нарушения, инфекции и наследственность.
            h2 Диффузная или телогеновая алопеция
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/diffuznaya.jpg' alt='Диффузная или телогеновая алопеция')
            p Первый симптом этой алопеции — поредение волос на волосистой части головы. За последние годы число людей, у которых проявляется болезнь, становиться больше. Это не только мужская алопеция, чаще она наступает у женщин в период беременности (из-за гормональных изменений организма). Может возникать после применения гормональных контрацептивов, строгих диет, которые вредно влияют на здоровье. 
            p Но волосы восстанавливаются самостоятельно, когда нормализуется гормональный фон, здоровое, сбалансированное питание. Поэтому вопрос, можно ли вылечить алопецию в этом случае, отпадает сам собой! А чтобы поддержать ослабленный организм, врачи рекомендуют пить витамины с макро- и микроэлементами. 
            h2 Андрогенная алопеция
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/androgennaya.jpg' alt='Андрогенная алопеция')
            p Этот вид заболевания чаще встречается у мужчин. Причин множество, но главная — гормональные нарушения в организме. Название этот вид получил из-за происхождения. За рост волос на голове отвечают женские гормоны, называемые эстрогенами, мужские же гормоны — андрогены — стимулируют рост волос на лице (усы, борода) и на теле. 
            p Андрогены, сильно воздействующие на теменную и лобную области, уменьшают действие эстрогенов, поэтому луковицы (корень волоса) начинают постепенно «отмирать», рост здоровых волос прекращается. 
            p Гормональное нарушение может быть у мужчин наследственным. Другими причинами может быть инфекция, стресс, травма. У женщин, как и у мужчин, причиной может стать гормональный сбой: в период менопаузы, когда идет глобальная гормональная перестройка организма. Лечение алопеции может быть назначено только после установления причин заболевания.
            h2 Рубцовая алопеция
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/rubtsovaya.jpg' alt='Рубцовая алопеция')
            p Возникает при вторичном разрушении волосяных фолликулов по причинам: рубцевание кожи, воспаление и т.д. Первопричины:
            ul.list-marked.list-marked--w-prev-par
              li дефекты развития, 
              li наследственные расстройства (например, недержание пигмента, аплазия кожи и т.д.), 
              li травмирующие воздействия, нарушающие кожу (лучевые дерматиты, ожоги), 
              li разрушение фолликулов из-за инфекционных заболеваний (сифилис, туберкулез). 
            p Способы лечения предусматривают обязательный прием витаминов, способствующих повышению тонуса организма, а также аутогемотерапию. Доказано, что рубцовая алопеция необратима, но остановить развитие заболевания можно, главное быть внимательным, чтобы сразу обратиться за помощью, при проявлении первых признаков!
            h2 Себорейная алопеция
            p: img(src='/images/info/zametki/alopetsiya/alopetsiya-vidy-simptomy-lechenie/seboreynaya.jpg' alt='Себорейная алопеция')
            p Заболевание возникает как осложнение себореи, носит диффузный характер. Поредение волос происходит по всей поверхности головы. Первоочередные причины: нарушение салоотделения, шелушении кожи, повышенная сальность волос и другие симптомы себореи. При этом главное — вовремя принятые меры, ведь возникновение себорейной алопеции зависит от успешности борьбы с себореей.
            +blockMarked: p Если вы обеспокоены облысением, обратитесь к трихологу или другому специалисту в этой области, чтобы установить вид алопеции, и подобрать подходящее лечение. Не стоит забрасывать данную проблему в дальний ящик!
            p Чтобы, при возникновении облысения, чувствовать себя здоровым и уверенным, не испытывать психологического неудобства, мы предлагаем метод маскировки облысения — систему волос, которая подбирается и прикрепляется к облысевшему участку волосистой части головы. Ваши волосы будут выглядеть естественно и незаметно, и вы сможете навсегда забыть о проблеме!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
