extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Алопеция – насущная женская проблема'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Алопеция – насущная женская проблема'})
      h1 Алопеция – насущная женская проблема
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p В&nbsp;последние годы все большее количество женщин обращаются к&nbsp;врачам-трихологам и&nbsp;причина этому&nbsp;&mdash; увеличение у&nbsp;женщин процента алопеции, протекающей по&nbsp;мужскому типу (андрогенетическая либо андрогенная алопеция). Каковы причины алопеции у&nbsp;женщин и&nbsp;почему возникла данная тенденция точно пока неизвестно. Однако ученые занимаются этим вопросом, осознавая, насколько он&nbsp;сейчас актуален.
            p Механизмы появления такого заболевания как женская алопеция современные специалисты связывают прежде всего с&nbsp;гормональными нарушениями, которые вызвает дисфункция работы яичников и/или надпочечников. Исходным моментом в&nbsp;данном случае является снижение эстрогенной активности яичников.
            p Как правило, при диагностическом обследовании на&nbsp;предмет потери волос у&nbsp;женщин, обязательно учитывают наследственный фактор. Врач изучает семейную медицинскую историю и&nbsp;тщательно обследуют пациента. Нередко используются такие виды обследования как биопсия либо лабораторные тесты.
            p Исследования показывают, что возникновении данного заболевания у&nbsp;женщин возможно на&nbsp;любых частях тела. Однако только облысение волосистой части головы может стать причиной большого стресса у&nbsp;женщин. Потеря волос может проявляться и&nbsp;в&nbsp;виде маленьких облысевших участков, и&nbsp;комплексной потерей волос, проявляющейся по&nbsp;всей поверхности головы, что хуже всего. Ведь если небольшие залысины можно прикрыть при помощи определенной укладки волос, скрыть полную потерю волос так просто не&nbsp;удастся. В&nbsp;результате алопеции женщины часто страдают от&nbsp;психических нарушений и&nbsp;расстройств, которые способны не&nbsp;только усугубить потерю волос, но&nbsp;и&nbsp;оказать пагубное влияние на&nbsp;здоровье женского организма в&nbsp;целом.
            p Идеальным вариантом в&nbsp;этом случае станет система волос. Этот появившийся всего несколько лет назад метод, сегодня приобрел широкую популярность. Система волос представляет собой безоперационное замещение волос, которое широко применяется при всех типах облысения. Совершенно безвредный для организма человека, он&nbsp;имеет одно единственное противопоказание&nbsp;&mdash; болезни кожи головы. Во&nbsp;всех остальных случаях система волос поможет пациенту любого возраста избавиться от&nbsp;психологического дискомфорта, поможет вновь обрести прежнюю уверенность в&nbsp;себе.
            p Женская алопеция имеет, как правило, определенные симптомы&nbsp;&mdash; чаще всего болезни предшествует истончение и&nbsp;поредение волос в&nbsp;теменной и&nbsp;лобной областях, в&nbsp;которых с&nbsp;течением времени волоски постепенно становятся реже и&nbsp;тоньше, их&nbsp;рост существенно замедляется, они значительно светлеют и&nbsp;укорачиваются.
            p Облысение у&nbsp;женщин, развившееся до&nbsp;40&nbsp;лет, специалисты называют резко выраженной андрогенизацией, которая сопровождается угрями, жирной себореей, изменениями менструального цикла, усиленным ростом волос по&nbsp;всему телу.
            p В&nbsp;более тяжелых случаях выпадения волос, кожа просвечивает через волосы. Облысение может сопровождаться жирной или реже сухой себореей. При это прогнозы врачей неблагоприятны и&nbsp;восстановить волосы, скорее всего не&nbsp;удастся. Если&nbsp;же серьезно заниматься лечением, то&nbsp;можно только остановить дальнейшее выпадение волос, однако не&nbsp;возобновить рост выпавших. Именно поэтому чем раньше женщина обратит внимание на&nbsp;возникшую проблему и&nbsp;начнет свое лечение, тем меньше волос она потеряет.
            p Важными факторами, свидетельствующими о&nbsp;появлении данного заболевания, является длительность выпадения волос (волосинки ломаются и&nbsp;выпадают у&nbsp;самого корня) и&nbsp;увеличение выпадения либо общее уменьшение объёма волос. Дополнительными факторами могут стать перенесенные тяжелые заболевания, серьезные диеты, применение различных лекарственных препаратов. На&nbsp;приеме врач-трихолог непременно обследует кожу головы человека и&nbsp;проверяет ее&nbsp;на&nbsp;наличие разных форм воспалений. После этого он&nbsp;оценивает распределение и&nbsp;густоту волос. А&nbsp;также осматривает волосяной ствол по&nbsp;диаметру, длине и&nbsp;форме, определяет, насколько ломкими являются волосы пациента.
            h2 Лечение женской алопеции
            p Прежде чем начать лечить данное заболевание, женщина обязательно должна пройти обследование у&nbsp;эндокринолога и&nbsp;гинеколога. Если возникло такое заболевание как алопеция у&nbsp;женщин лечение должно осуществляться комплексно, с&nbsp;применением внутренних препаратов и&nbsp;местных (наружных) медицинских средств. Чаще всего внутренне рекомендуется принимать препараты на&nbsp;растительной основе. Корневую систему волос стимулируют с&nbsp;помощью специальных препаратов, питающих их&nbsp;и&nbsp;заставляющих расти. Массаж головы считается неотъемлемым аспектом при лечении, так он&nbsp;способствует улучшению микроциркуляции крови, что позволяет волосяным луковицам лучше &laquo;питаться&raquo;.
            p В&nbsp;качестве местного лечения применяют спиртовые растворы, к&nbsp;примеру, настойку лука либо перца, они создают точно такой&nbsp;же эффект, что и&nbsp;массаж, значительно улучшают кровообращение кожи головы. Эти процедуры необходимо проделывать довольно долго&nbsp;&mdash; не&nbsp;менее полугода, чтоб получить какой-то эффект.
            p Еще один местный метод лечения очаговой алопеции&nbsp;&mdash; это различного рода физиотерапии, к&nbsp;примеру, ультрафиолетовое облучение очагов, которое дает возможность разрушить лимфоцитарные инфильтраты.
            p Для того чтобы скрыть данное заболевание у&nbsp;женщин, специалисты рекомендуют использовать систему волос, которая даст возможность вернуть волосам былую привлекательность, а&nbsp;значит и&nbsp;обрести уверенность и&nbsp;чувство комфорта. Ношение системы волос позволяет заниматься спортом, даже плавать в&nbsp;бассейне и&nbsp;купаться в&nbsp;душе, не&nbsp;лишая себя привычного активного образа жизни. Современная система волос прочно крепится к&nbsp;коже головы и&nbsp;ее&nbsp;не&nbsp;надо снимать по&nbsp;вечерам и&nbsp;одевать по&nbsp;утрам снова.
            p Главное преимущество данного безоперационного метода в&nbsp;том, что система волос совершенно незаметна для окружающих людей, фронтальная (передняя) линия волос выглядит естественно привлекательно. Системы волос изготавливаются на&nbsp;заказ, а&nbsp;при их&nbsp;создании учитываются особенности кожи головы человека. Система волос дает возможность создать поразительный визуальный эффект и&nbsp;вернуть радость жизни!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
