extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Андрогенная алопеция: особенности развития и методы лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Андрогенная алопеция: особенности развития и методы лечения'})
      h1 Андрогенная алопеция: особенности развития и методы лечения
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Андрогенетическая алопеция (или андрогензависимая алопеция) — заболевание, в результате которого происходит преждевременное облысение. Проблема носит генетический характер, передается по наследству, проявляется у тех, у кого в роду заболевание уже встречалось. 
            p: img(src='/images/info/zametki/alopetsiya/androgennaya-alopetsiya-osobennosti-razvitiya-i-metody-lecheniya/androgennaya-alopetsiya-osobennosti-razvitiya-i-metody-lecheniya.jpg' alt='Андрогенная алопеция: особенности развития и методы лечения')
            h2 История заболевания
            p У заболевания длинная история, известны случаи тысячелетней давности. На Ближнем Востоке потеря волос в результате болезни — признак потери мужской силы. Истории известны примеры, как люди искали средства и снадобья, которые могли бы прекратить развитие заболевания и остановить потерю волос, возобновить их рост снова. 
            p По легенде, у римского императора Юлия Цезаря появилась лысина, в результате чего он и начал носить венок, который вошел в историю, как неотъемлемый атрибут древнего правителя. 
            +blockMarked({ 'padding': 'small' }): p Парики, при помощи которых скрывали облысение, впервые появились в средние века. Уже тогда лечение андрогенной алопеции было насущным вопросом, но найти панацею так и не удалось.
            p Может появиться вопрос: почему при андрогенной алопеции волосы выпадают только в лобной части головы, а на висках и затылке остаются? В 50-е годы прошлого века появилась теория о том, что волосы на затылке и висках программируются у человека на генетическом уровне, поэтому, еще до рождения, способны сопротивляться губительному влиянию мужских гормонов (андрогенов), вызывающих облысение. 
            h2 Сопутствующие факторы заболевания
            p Эксперты отмечают, что при андрогенной алопеции у женщин и мужчин, сопутствующие факторы: жирная себорея и угри, ускоренный рост волос на теле и лице. 
            p Часто симптомы встречаются у подростков в период полового созревания, когда мужские половые гормоны (андрогены) выделяются усиленно, а уровень женских половых гормонов (эстрогенов) снижен. 
            +blockMarked({ 'padding': 'small' }): p В 18-25 лет молодой организм вырабатывает больше кожного сала, негативно влияющего на рост волос. Потому в этот период и повышается вероятность заболевания.
            p Главную роль в развитии андрогенной алопеции играют половые гормоны и генетическая предрасположенность. Ученым удалось выяснить, что ген облысения передается по женской (материнской) линии через поколение, проявляется у сыновей. 
            h2 Особенности проявления заболевания
            ul.list-marked
              li У мужчин облысение этого вида начинается с фронтальной части волос, постепенно переходит на макушку головы. Развиваться начинает к 20 годам.
              li Выпадение волос происходит с периодичностью: то приостанавливается, то опять резко обостряется. Может быть связано с деятельностью сальных желез, с периодами их активности. В результате волосы быстрее грязнятся, и человек начинает их чаще мыть, что только усиливает выпадение! 
              li В участках с активным выпадением волос рост не нарушен, но волосинки становятся намного тоньше и бесцветны. 
              li При диагностике заболевания, у мужчин наблюдается типичная клиническая картина, которая указывает на наличие андрогенетической алопеции. Но необходимо проводить дополнительные анализы, чтобы выявить предшествующие моменты (например, состояние предстательной железы и функции печени). 
            p Если концентрация андрогенов в крови нормальная, происходит облысение по женскому типу, а если уровень гормонов повышен, то по мужскому типу. 
            p Причины болезни: патологические изменения яичников, надпочечников, изменение числа эстрогенов после родов. Также прием контрацептивных препаратов, компоненты которых влияют на повышение количества андрогенов в крови. 
            p У женщин алопеция проявляется в период с 20 по 30 лет. Истончение волос сильно прогрессирует, потом они выпадают по всей поверхности головы, сильнее по пробору и в зоне макушки. 
            h2 Лечение заболевания
            p Лечение андрогенной алопеции у женщин и у мужчин начинается с консультации врача. Врач назначает цинк и витамины группы В. Витамины этой группы блокируют действие андрогенов, а цинк снижает активность сальных желез. 
            p Лечение продолжительное, сопровождается использованием косметических составов, которые улучшают структуру и внешнее состояние волос.
            p Лечение на ранних стадиях консервативное, включает:
            ul.list-marked
              li Применение косметических шампуней, лосьонов, масок и масел, которые оказывают местное воздействие на кожу головы, замедляют процесса облысения.
              li Физиотерапию — процедуры, улучшающие микроциркуляцию крови в коже головы, что усиливает рост волос.
              li Микроинъекции, снижающие уровень андрогенов в коже головы.
              li Точечный массаж головы, улучшающий микроциркуляю крови.
              li Препараты для внутреннего применения, на растительной основе, с компонентами, снижающими количество андрогенов.
            p Заболевание легче предупредить, чем вылечить. Чтобы избежать облысения, нужно знать, страдали ли выпадением волос родственники по материнской линии. Если заболевание было в роду, нужно проверить, не повышен ли в фолликулах уровень тестостерона (полового гормона). Гормон негативно влияет на волосяные луковицы, из-за чего волосы прекращают расти.
            p Если лечение не дает результат, врачи рекомендуют трансплантацию волос (хирургическую коррекцию облысения), но положительный результат она дает редко, может привести к потерям уже пересаженных волос.
            h2 Безоперационное замещение волос — альтернатива операции
            p Популярны методы коррекции, маскирующие облысение. Прогрессивный — безоперационное замещение волос — система волос. Метод безопасен для здоровья, а результаты применения незаметны для окружающих. 
            p Безоперационного замещения волос — система волос — популярный метод борьбы с заболеванием. Подходит при всех типах облысения, независимо от возраста и причин возникновения. Создает косметический (визуальный) эффект. 
            p Человек выглядит здоровым, может ходить в спортзал, мыться в душе, плавать в бассейне, система волос останется незамеченной окружающим. Чтобы использовать ее, человеку не придется делать операцию, и ждать месяцы, пока волосы восстановятся.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
