extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Андрогенная алопеция: особенности развития и методы лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Андрогенная алопеция: особенности развития и методы лечения'})
      h1 Андрогенная алопеция: особенности развития и методы лечения
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Андрогенетическая алопеция (или андрогензависимая алопеция)&nbsp;&mdash; это заболевание, в&nbsp;результате которого происходит преждевременное облысение. Чаще всего данное заболевание носит генетический характер, то&nbsp;есть передает по&nbsp;наследству, проявляется у&nbsp;тех, у&nbsp;кого в&nbsp;роду данное заболевание уже встречалось. Это значит, что у&nbsp;такого заболевания, как андрогенная алопеция причины нужно искать на&nbsp;генетическом уровне.
            p Данное заболевание имеет длинную историю, известны случаи тысячелетней давности. Известно, что андрогенная алопеция у&nbsp;мужчин была одной из&nbsp;наиболее актуальных проблем во&nbsp;все времена. К&nbsp;примеру, на&nbsp;Ближнем Востоке потеря волос в&nbsp;результате данного недуга&nbsp;&mdash; это признак потери мужской силы. Истории известно множество примеров того, как люди вели поиски различны средств и&nbsp;снадобий, которые могли&nbsp;бы прекратить развитие страшного заболевания и&nbsp;остановить потерю волос, возобновить их&nbsp;рост снова. Существует легенда о&nbsp;том, что у&nbsp;римского императора Юлия Цезаря появилась лысина, в&nbsp;результате чего он&nbsp;и&nbsp;начал носить венок, который вошел в&nbsp;историю, как неотъемлемый атрибут древнего правителя. Немногим позднее, в&nbsp;средние века впервые появились парики, при помощи которых скрывали облысение. Уже тогда лечение андрогенной алопеции было весьма важным вопросом, однако в&nbsp;древние времена найти панацею так и&nbsp;не&nbsp;удалось.
            p У&nbsp;многих может появиться вполне логичный вопрос, почему при возникновении такого ужасного заболевания, как андрогенная алопеция симптомы главные&nbsp;&mdash; это выпадение волос именно в&nbsp;лобной части головы, и&nbsp;почему на&nbsp;висках и&nbsp;затылке волосы остаются? Данное заболевание изучается учеными уже долгие годы. В&nbsp;50-е годы прошлого века появилась теория, согласно которой волосы на&nbsp;затылке и&nbsp;висках программируются у&nbsp;человека еще до&nbsp;его рождения на&nbsp;генетическом уровне, поэтому еще до&nbsp;рождения волосы в&nbsp;этих частях головы способны сопротивляться губительным воздействиям мужских гормонов (андрогенов), вызывающих облысение.
            p Безоперационного замещения волос&nbsp;&mdash; система волос&nbsp;&mdash; это один из&nbsp;самых популярных сегодня методов борьбы с&nbsp;данным заболеванием. Его можно использовать при любых типах облысения, независимо от&nbsp;возраста и&nbsp;причин его возникновения. Благодаря ему наблюдается весьма хороший косметический (визуальный) эффект. Человек выглядит совершенно здоровым, он&nbsp;может ходить в&nbsp;спортзал, мыться в&nbsp;душе, плавать в&nbsp;бассейне и&nbsp;система волос не&nbsp;выдаст своего присутствия. При этом человеку не&nbsp;придется подвергаться хирургическому вмешательству и&nbsp;ждать месяцы, пока волосы восстановятся.
            p Специалисты отмечают, что зачастую при таком заболевании как андрогенная алопеция у&nbsp;женщин и&nbsp;у&nbsp;мужчин, сопутствующими факторами являются жирная себорея и&nbsp;угри, возможет также ускоренный рост волос на&nbsp;теле и&nbsp;на&nbsp;лице. Особенно часто данные симптомы могут наблюдаться у&nbsp;подростков в&nbsp;период полового созревания, когда наблюдается увеличение выработки организмом мужских половых гормонов (андрогенов). Кроме того, при этом наблюдается и&nbsp;снижение выделения женских половых гормонов (эстрогенов). 18-25 лет&nbsp;&mdash; возраст, с&nbsp;наступлением которого молодой организм вырабатывает большое количество кожного сала, негативно влияющего на&nbsp;рост волос. Именно поэтому в&nbsp;это время и&nbsp;повышается вероятность возникновения недуга.
            p Главную роль в&nbsp;случае с&nbsp;андрогенной алопецией играют половые гормоны и&nbsp;генетическая предрасположенность. Ученым удалось выяснить, что ген облысения передается по&nbsp;женской (материнской) линии через поколение, проявляется&nbsp;же он&nbsp;у&nbsp;сыновей (то&nbsp;есть у&nbsp;мужчин). Рассмотрим, каким&nbsp;же образом проявляется данное заболевание у&nbsp;женщин и&nbsp;мужчин, каковы различия протекания болезни. У&nbsp;мужчин облысение данного вида, как правило начинается с&nbsp;фронтальной части волос, постепенно переходя на&nbsp;макушку головы. Оно начинает развиваться в&nbsp;основном к&nbsp;20&nbsp;годам. При этом выпадение волос происходит с&nbsp;определенной периодичностью, то&nbsp;приостанавливается, то&nbsp;опять резко обостряется. Возможно, это связано с&nbsp;деятельностью сальных желез, с&nbsp;периодами их&nbsp;активности. В&nbsp;результате волосы быстрее грязнятся, и&nbsp;человек начинает их&nbsp;мыть чаще, это усиливает выпадение волос все больше! В&nbsp;участках с&nbsp;активным выпадением волос, новые волосинки вырастают, однако они становятся намного тоньше и&nbsp;практически бесцветны. В&nbsp;большинстве своем при диагностике данного заболевания у&nbsp;мужчин наблюдается типичная клиническая картина, которая точно указывает на&nbsp;наличие у&nbsp;пациента андрогенетической алопеции. Однако, как при любых обследованиях, необходимо проводить некоторые дополнительные анализы, чтобы выявить определенные важные моменты (например, исследование состояния предстательной железы и&nbsp;функции печени).
            p У&nbsp;женщин данное заболевание проявляется несколько иначе. Если в&nbsp;женском организме в&nbsp;крови имеется нормальная концентрация андрогенов, то&nbsp;отмечается облысение по&nbsp;женскому типу, а&nbsp;если существует значительное повышение, то&nbsp;по&nbsp;мужскому типу. Причины возникновения болезни могут заключаться в&nbsp;патологическом изменении яичников, надпочечников, заметном изменении числа эстрогенов после родов. Также причиной проявления недуга может стать прием отдельных контрацептивных препаратов, в&nbsp;составе которых есть вещества, влияющие на&nbsp;повышение в&nbsp;крови количества андрогенов. У&nbsp;женщин алопеция проявляется в&nbsp;период с&nbsp;20&nbsp;по&nbsp;30&nbsp;лет, как сильно прогрессирующее истончение волос с&nbsp;последующим их&nbsp;выпадением по&nbsp;всей поверхности волосистой части головы, а&nbsp;в&nbsp;особенности по&nbsp;пробору и&nbsp;в&nbsp;области макушки.
            h2 Лечение заболевания
            p Лечение андрогенной алопеции у&nbsp;женщин и&nbsp;у&nbsp;мужчин подразумевает консультацию с&nbsp;врачом. Как правило, при этом типе заболевания рекомендуется пить цинк и&nbsp;витамины группы В.&nbsp;Это связано с&nbsp;тем, что витамины В-группы блокируют действие андрогенов, цинк&nbsp;же способствует снижению активности сальных желез. Лечение недуга является длительным, при нем часто используют различные косметические составы, которые улучшают структуру и&nbsp;внешнее состояние волос.
            p Если возникло такое заболевание, как андрогенетическая алопеция лечение на&nbsp;ранних стадиях подразумевает применение консервативного метода:
            ul.list-marked.list-marked--w-prev-par
              li Применение косметических шампуней, специальных лосьонов, масок и&nbsp;масел, которые оказывают местное воздействие на&nbsp;кожу головы, способствуя замедлению процесса облысения.
              li Физиотерапия&nbsp;&mdash; это процедуры, улучшающие микроциркуляцию крови на&nbsp;коже головы, что неизменно способствует усиленному росту волос.
              li Микроинъекции, предназначенные для снижения уровня концентрации андрогенов в&nbsp;коже головы.
              li Массаж головы в&nbsp;отдельных точках (точечный массаж), также улучшающий микроциркуляю крови на&nbsp;коже головы.
              li Препараты для внутреннего применения, чаще всего они изготавливаются на&nbsp;растительной основе, у&nbsp;них в&nbsp;составе находятся компоненты, снижающие количество андрогенов.
            p Любое заболевание гораздо легче предупредить, чем впоследствии вылечить, поэтому для того, чтоб избежать облысения, необходимо знать, страдали&nbsp;ли выпадением волос родственники по&nbsp;материнской линии. И&nbsp;если облысением страдали, тогда у&nbsp;больного, скорее всего, в&nbsp;фолликулах имеется повышенное содержание тестостерона (полового гормона). Данный гормон оказывает негативное воздействие на&nbsp;волосяные луковицы, вследствие чего волосы прекращают рост.
            p При неудачном лечении данного заболевания врачи рекомендуют пациенту осуществить трансплантацию волос (то&nbsp;есть воспользоваться хирургическим методом коррекции облысения), но, к&nbsp;сожалению, он&nbsp;не&nbsp;всегда дает желанный положительный результат и&nbsp;может привести к&nbsp;новым потерям уже пересаженных волос.
            p Есть также хорошие методы коррекции облысения, с&nbsp;помощью которых становится возможным скрыть облысение. И&nbsp;одним из&nbsp;подобных методов является безоперационное замещение волос&nbsp;&mdash; система волос. Этот метод хорош тем, что он&nbsp;совершенно безопасен для здоровья, а&nbsp;результаты его применения абсолютно незаметны для окружающих.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
