extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Диффузная алопеция: симптомы, лечение'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Диффузная алопеция: симптомы, лечение'})
      h1 Диффузная алопеция: симптомы, лечение
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Диффузная алопеция (или телогеновая) является проявлением внутреннего дисбаланса в&nbsp;человеческом организме и&nbsp;возникает вторично. Она обусловлена рядом определенных заболеваний и&nbsp;состояний. Учеными установлено, что диффузная алопеция у&nbsp;женщин встречается чаще (примерно&nbsp;40%), чем и&nbsp;у&nbsp;мужчин (примерно 20%). Как правило она возникает после 20&nbsp;лет. Для данного заболевания характерно обильное выпадение волос, которое периодически может серьезно усиливаться и&nbsp;вовсе затихать, в&nbsp;дальнейшем наблюдается ослабление роста волос.
            p Врачи утверждают, что при определении данного заболевания могут возникнуть проблемы, поскольку его легко перепутать с&nbsp;андрогенетической алопецией. Доказано, что диффузная алопеция может проявиться у&nbsp;женщин и&nbsp;у&nbsp;мужчин в&nbsp;любом возрасте. К&nbsp;первым признакам заболевания относится усиленное выпадение волос, а&nbsp;также появление заметного поредения волос через некоторое время.
            p Система волос&nbsp;&mdash; современный метод замещения волос без хирургического вмешательства&nbsp;&mdash; можно использовать при любых видах облысения. Он&nbsp;совершенно безвреден, к&nbsp;тому&nbsp;же он&nbsp;является безболезненным и&nbsp;дает стопроцентную гарантию положительного визуального эффекта.
            p Обильное выпадение волос при данном заболевании заключается прежде всего в&nbsp;том, что фолликул слишком быстро сменяет стадию роста стадией покоя. Именно это приводит к&nbsp;значительной потере волос. Причинами возникновения данного заболевания могут выступать не&nbsp;только физические, но&nbsp;и&nbsp;психологические факторы, среди которых:
            ul.list-marked.list-marked--w-prev-par
              li инфекционные заболевания различного типа;
              li психологические расстройства (стрессы или нервное истощение);
              li эндокринные расстройства и&nbsp;болезни поджелудочной железы;
              li нарушение обмена веществ;
              li неправильное питание, строгой диеты или голодания;
              li беременность, а&nbsp;также период лактации;
              li частая химическая завивка и&nbsp;окраска волос.
            p Если человек был подвержен стрессу либо другому психологическому расстройству, у&nbsp;него может начаться интенсивное выпадение волос, при котором теряется до&nbsp;50% волос. Однако это происходит не&nbsp;сразу, а&nbsp;лишь через несколько дней или даже недель после того, что оказало воздействие на&nbsp;состояние пациента.
            p Согласно имеющимся данным статистики на&nbsp;нерубцующееся выпадение волос приходится более&nbsp;80%, оно является самой частой причиной облысения, поражающей от&nbsp;30&nbsp;до&nbsp;40% людей на&nbsp;планете в&nbsp;возрасте до&nbsp;40-50&nbsp;лет. Данная проблема вызывает серьезные стрессы у&nbsp;людей, которые страдают этим заболеванием. Безусловно, это приводит к&nbsp;неуверенности в&nbsp;себе, постоянному дискомфорту, вызывая социальные проблемы различных видов.
            p Диффузная алопеция известна человечеству уже много лет, однако ее&nbsp;диагностика и&nbsp;лечени до&nbsp;сих пор являются недостаточно изученными. Между тем современные публикации свидетельствуют о&nbsp;том, что в&nbsp;последние годы наблюдается тенденция к&nbsp;увеличению числа пациентов, страдающих диффузной потерей волос. На&nbsp;выпадение волос в&nbsp;основном жалуются женщины среднего возраста, однако четкого уровня заболеваемости зафиксировано еще не&nbsp;было.
            h2 Лечение диффузной алопеции
            p Если возникло такое заболевание, как диффузная алопеция лечение должно быть комплексным. Специалисты рекомендуют общеукрепляющую терапию, высококалорийное питание и&nbsp;прием витаминов. Местное лечение болезни заключается в&nbsp;использовании препаратов, раздражающих кожу головы (к&nbsp;примеру, спиртовых, с&nbsp;применением перца) и&nbsp;стимулирующих микроциркуляцию крови, которая обеспечивает рост волос.
            p Как было сказано выше, данная проблема потери волос может вызывать сильные психологические стрессы, вызываемые чувством дискомфорта, неуверенностью в&nbsp;себе, что становится причиной сильных социальных проблем. Поэтому для того чтобы избежать негативных последствие следует прибегать к&nbsp;современным методам маскировки облысения. Наиболее эффективным из&nbsp;них является система волос&nbsp;&mdash; метод нехирургического вмешательства. При помощи системы можно тщательно скрыть имеющееся зоны облысения, сделав их&nbsp;незаметными для окружающих. Это поможет обрести чувство уверенности и&nbsp;комфорта в&nbsp;обществе.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
