extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Вопрос отправлен'
    var pageDescription = ''
    var pageKeywords = ''
    var noFullFooter = true
    var infoSection = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Консультация'],current:'Вопрос отправлен'})
      +pageSection
        +grid({parLike:true,paddingy: true, justify: 'center'})
          +grid__item({m:6,s:10,xs:12})
            include /blocks/consultation/consultation-sent/consultation-sent.pug
