extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Облысение: виды, симптомы и способы борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Облысение: виды, симптомы и способы борьбы'})
      h1 Облысение: виды, симптомы и способы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Облысение головы (или алопеция) — это преждевременное нежелательное выпадение волос, которое превращается для человека любого пола и возраста в серьезную психологическую проблему. Волосы символизировали энергию и жизненную силу, а в древности их связывали с мужским здоровьем. Поэтому мужчины серьезно относятся к вопросам потери волос.
            p Если у мужчины рано выпали волосы, облысение раннее — болезнь наследственная. Раннее облысение (в 20 лет) встречалось во все времена, но для современного мужчины проблема не теряет актуальности: с каждым годом увеличивается процент людей, страдающих алопецией.
            +blockMarked({ 'padding': 'small' }): p Глобальный характер носит облысение у детей: редкое явление сегодня превращается в норму. И если у ребенка восстановление волосяного покрова происходит без стороннего вмешательства, у взрослых таких чудес не случается.
            h2 Виды облысения
            p Выделяют виды алопеции, каждый из которых изучен не в полной мере. Главная классификация болезни — деление на частичное и полное облысение. Первое характеризуется потерей волос на отдельном или нескольких участках кожи головы. Сопровождается изменениями кожи головы и характерными симптомами (нарушение обмена веществ или проблемы с иммунитетом). 
            p Становится степенью облысения или промежуточным этапом на пути к полной потере волос, либо конечной стадией отдельного вида алопеции. Полная потеря волос — отсутствие волосяного покрова на коже головы (тотальная алопеция) или на теле (универсальная алопеция).
            p Трихологи выделяют такие типы облысения:
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/totalnaya-alopeciya.jpg' alt='тотальная алопеция')
              br
              i тотальная алопеция (полная потеря волос на голове);
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/androgennoe-oblysenie.jpg' alt='андрогенное облысение')
              br
              i андрогенное (мужской вид облысения или гормональное). Появляется, если в фолликулах повышен тестостерон, относится к наследственному типу облысения. Проявляется истончением волос до бесцветного состояния, в т. ч. и у женщин;
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/diffuznoe-oblysenie.jpg' alt='диффузное облысение')
              br
              i диффузное (прогрессирующее поредение волос);
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/vysokaya-perednyaya-liniya-volos.jpg' alt='высокая передняя линия волос')
              br
              i высокая передняя линия волос;
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/ochagovoe-ili-gnezdnoe-oblysenie.jpg' alt='очаговое или гнездное облысение')
              br
              i очаговое или гнездное (потеря волос на отдельных участках);
            p
              img(src='/images/info/zametki/alopetsiya/oblysenie-vidy-simptomy-i-sposoby-borby/rubcovaya-alopeciya.jpg' alt='рубцовая алопеция')
              br
              i рубцовая алопеция (на местах выпадения волос остаются рубцы).
            p Выделяют также временную алопецию, которая длится краткосрочно, а впоследствии волосы восстанавливаются в полном объеме (свойственно химиотерапии). 
            p Стадии варьируются: от начальной, когда постепенно увеличивается количество выпадающих волос за день, до промежуточной, когда через волосы просвечивается кожа головы, и конечной, когда волос на голове не остается вовсе. 
            p Победить облысение данного вида проще, чем другие, если провоцирующий фактор исчезнет (например, прекратятся сеансы химиотерапии). 
          
            h2 Методы решения проблемы
            p У человека волосы выпадают в течение жизни, затем вырастают снова, потому что это норма. Ежедневно выпадает 50-80 волосинок, и организм восполняет данную потерю с легкостью, если нет никаких нарушений. Говорить же о том, что возникло облысение можно тогда, когда организм восполнять потерю этого количества волос не успевает. Проблема носит медицинский характер и требует врачебного вмешательства.
            p Избавиться от облысения можно вариативными способами: чаще пациенту предлагают дорогостоящую и опасную для организма операцию по трансплантации луковиц или участков кожи. Однако метод подходит редко. 
            h2 Альтернатива операции — система волос 
            p Гораздо проще, менее затратно и безболезненно использовать методы безоперационного замещения волос, например систему волос. 
            ul.list-marked
              li При применении метода, человеку не нужно ложиться в больницу надолго, делать операцию и проходить затяжной этап восстановления после хирургического вмешательства. 
              li В то время как эффективность системы волос и косметический эффект впечатляют. 
              li При этом, в отличие от парика, система волос не лишает человека таких радостей, как плавание в бассейне.
            p Метод производит позитивный психологический эффект, ведь человек обретает новую жизнь. Он снова ощущает себя здоровым, не боится выходить в люди, в полной мере радуется жизни, ведь визуально болезнь не определить.
            h2 Причины облысения
            p Нередки случаи, когда вдруг, без видимых на то причин, человек начинает обильно терять волосы: происходит облысение затылка, висков, лобной части головы и т.д. Этому есть две причины. Внезапная потеря волос развивается под влиянием внешних и внутренних факторов. 
            ul.list-marked
              li К внутренним причинам относятся: гормональные колебания, нарушения обмена веществ, генетическая предрасположенность и аутоиммунные процессы.
              li Внешние причины — инфекции и физические травмы (с нарушением целостности кожи), психические нарушения (стрессы) и воздействие ядовитых веществ. 
            p Часто факторы сочетаются, вызывая потерю волос. Чтобы убедиться в серьезности проблемы, предлагаем посмотреть фото последствий выпадения волос.
            p Причинами резкого выпадения волос, кроме болезней, становятся повседневные процедуры, например, частая сушка волос с помощью горячего фена, неудачно сделанная химическая завивка, а также злоупотребление табаком, строгими диетами и алкоголем. Ухаживать за волосами важно тщательно, правильно подбирая косметику для волос, препараты и средства, предназначенные для типа волос. 
            ul.list-marked
              li Врожденного облысение вызвано генетическими дефектами, проявляется обильным поредением либо полным отсутствием волос, часто в сочетании с иными эктодермальными дисплазиями. Прогноз неутешительный.
              li Симптоматическое облысение — осложнение тяжелых болезней (острых инфекций, эндокринопатии, диффузных болезней соединительной ткани). Носит очаговый, диффузный либо тотальный характер, возникает из-за токсического или аутоиммунного влияния на волосяные сосочки. Прогноз зависит от исхода главного заболевания. Помощь при облысении данного вида начинается с лечения основной проблемы.
              li Преждевременное облысение чаще наблюдается у мужчин среднего и молодого возраста. Носит диффузно-очаговый характер, сопровождается образованием залысин и плеши. Играет роль генетическая предрасположенность, а волосы не восстановимы.
              li Круговидное облысение — приобретенное выпадение волос в виде отдельных округлых очагов вариативной величины. Возможные причины болезни: местные нервно-трофические расстройства, иногда с аутоиммунным компонентом. 
            p При отсутствии лечения, очаги растут и сливаются, приводя к тотальному облысению. Возможно и спонтанное выздоровление, однако нередки рецидивы. На тотальной стадии волосы восстановить невозможно.
            h2 Как лечить облысение
            p Когда появляется облысение, что делать — это первое, о чем задумывается человек. И вместо того, чтобы отправиться на прием к трихологу, начинает искать в интернете что-то вроде: «лечение облысения отзывы» или «как вылечить облысение». Тратит драгоценное время, ведь чем раньше обратиться к врачу, тем больше вероятность действенного лечения. 
            ul.list-marked
              li Лечение алопеции комплексне в силу того, что, как и другие проблемы, связанные с волосами, вызвана рядом причин. Среди них: нарушения эндокринной, иммунной, пищеварительной, нервной или других систем организма.
              li Прежде чем назначить методы лечения облысения, определяют первопричину возникновения. 
              li Для этого врачи-трихологи проводят тщательное обследование: иммунного и гормонального статуса пациента, биохимический анализ крови, при этом учитываются условия работы и отдыха пациента, а также режим питания. 
              li Проводят спектральный анализ волос, компьютерную диагностику кожи головы и волос, при этом волосы фотографируют с разных позиций, определяя качество, текстуру и количество. 
              li С этого и начинается борьба с облысением. После обследования, учета причин потери волос, назначают лечение.
            p Методы помощи при облысении зависят от степени тяжести болезни. Назначают лечебные препараты или общеукрепляющие, подбирается специальная диета, лечебные маски или лечебная косметика.
            h2 Безоперационное замещение волос — метод, рекомендованный экспертами!
            p Поскольку при алопеции восстановление волосяного покрова — сложный, трудоемкий, длительный процесс, люди испытывают глубочайший психологический дискомфорт (в особенности это касается женщин). Возникает необходимость тщательной «маскировки облысения», применения специальных средств, чтобы скрыть проблему от окружающих.
            p Вариант маскировки облысения — система волос, которая скрывает лысину, сздает видимость наличия собственных волос. Используя систему волос, человек не будет ограничен ни в чем, сможет вести привычный для него образ жизни, будучи уверенным, что прическа в норме!
            p Если данный способ замещения волос вам интересен, обращайтесь к нам, и мы поможем вам снова чувствовать себя превосходно! Мы готовы ответить на все вопросы, и поможем решить вашу проблему!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
