extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Облысение: виды, симптомы и способы борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Облысение: виды, симптомы и способы борьбы'})
      h1 Облысение: виды, симптомы и способы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Облысение головы (или алопеция)&nbsp;&mdash; это преждевременное нежелательное выпадение волос, которое превращается для человека любого пола и&nbsp;возраста в&nbsp;серьезную психологическую проблему. Во&nbsp;все века волосы считались символом энергии и&nbsp;жизненной силы, а&nbsp;в&nbsp;древности их&nbsp;связывали с&nbsp;мужским здоровьем. Именно поэтому мужчины всех времен очень серьезно относятся к&nbsp;вопросам потери волос.
            p Если у&nbsp;мужчины рано выпали волосы облысение раннее, это, скорее всего, указывает на&nbsp;то, что данное заболевание носит наследственный характер. Довольно часто во&nbsp;все времена мужчины сталкивались с&nbsp;такой проблемой, как раннее облысение (облысение в&nbsp;20&nbsp;лет), однако в&nbsp;наши дни эта проблема стала особенно актуальной, ведь с&nbsp;каждым годом процент людей, страдающих от&nbsp;данного недуга, увеличивается. Глобальный характер носит облысение у&nbsp;детей, ведь если в&nbsp;прежние времена оно выступало скорее как исключение из&nbsp;правил, то&nbsp;сегодня детское облысение постепенно превращается в&nbsp;норму. Конечно, если говорить о&nbsp;данной проблеме у&nbsp;ребенка, то&nbsp;чаще всего наблюдается восстановление волосяного покрова без какого-либо стороннего вмешательства, чего не&nbsp;скажешь о&nbsp;решении данного вопроса у&nbsp;взрослых.
            p Итак, существует множество видов алопеции, каждый из&nbsp;которых изучен не&nbsp;в&nbsp;полной мере. Однако главной классификацией данного заболевания является его деление на&nbsp;частичное облысение и&nbsp;полное облысение. Первое характеризуется потерей волос на&nbsp;отдельном участке или нескольких участках кожи головы. Оно при этом может сопровождаться некоторыми изменениями кожи головы, указывая всеми признаками на&nbsp;кожные заболевания головы и&nbsp;отдельными признаками, говоря о&nbsp;заболевании организма (к&nbsp;примеру, нарушение обмена веществ или проблемы с&nbsp;иммунной системой). Оно может относиться к&nbsp;степени облысения и&nbsp;выступать в&nbsp;качестве промежуточного этапа на&nbsp;пути к&nbsp;полной потере волос или быть конечной стадией отдельного вида алопеции. Полная потеря волос характеризуется полным отсутствием волосяного покрова на&nbsp;коже головы (тотальная алопеция) или по&nbsp;всему телу (универсальная алопеция).
            p На&nbsp;данный момент специалисты выделить такие типы облысения, как:
            ul.list-marked.list-marked--w-prev-par
              li тотальная алопеция (полное потеря волос на&nbsp;голове);
              li андрогенное облысение (часто именуется, как мужской вид облысения или гормональное облысение. Появляется, если в&nbsp;фолликулах повышенный половой гормон тестостерон и&nbsp;в&nbsp;данном случае это явно наследственное облысение. Проявляется оно в&nbsp;истончении волос прктически до&nbsp;прозрачного состояния и&nbsp;как у&nbsp;женщин, так и&nbsp;у&nbsp;мужчин.);
              li диффузное облысение (быстрое поредение волос);
              li высокая передняя линия волос;
              li очаговое или гнездное облысение (потеря волос на&nbsp;отдельных, ограниченных участках);
              li рубцовая алопеция (при этом остаются рубцы на&nbsp;местах выпадения волос).
            p Существует также такое понятие, как временная алопеция, которая проявляется в&nbsp;течение определенного промежутка времени, а&nbsp;в&nbsp;последствии волосы восстанавливаются в&nbsp;полном объеме до&nbsp;здорового состояния. Подобного рода облысение при химиотерапии наблюдается. Стадии облысения этого вида могут быть различными от&nbsp;начальной, когда постепенно увеличивается количество выпадающих волос за&nbsp;день, до&nbsp;промежуточной, когда через волосы просвечивается кожа головы, и&nbsp;конечной, когда волос на&nbsp;голове не&nbsp;остается вовсе. Победить облысение данного вида проще, чем любое другое, если вызывавшие его факторы не&nbsp;возникнут снова (например, прекратятся сеансы химиотерапии). Со&nbsp;временем волосы восстановятся амии по&nbsp;себе.
            p У&nbsp;человека в&nbsp;течение всей жизни выпадают волосы, затем они снова вырастают, но&nbsp;мы&nbsp;не&nbsp;замечаем этого, потому что это&nbsp;&mdash; норма. Ежедневно может выпадать 50&nbsp;&mdash; 80&nbsp;волосинок, и&nbsp;организм восполняет данную потерю с&nbsp;легкостью, если нет никаких нарушений. Говорить&nbsp;же о&nbsp;том, что возникло облысение болезнь можно лишь тогда, когда организм восполнять потерю этого количества волос не&nbsp;успевает. В&nbsp;таком случае наблюдается такой феномен, как проблема облысения, которая носит медицинский характер и&nbsp;требует врачебного вмешательства.
            p На&nbsp;данный момент избавиться от&nbsp;облысения можно различными способами, чаще всего пациенту предлагают дорогостоящую и&nbsp;опасную для организма операцию по&nbsp;трансплантации луковиц или целых участков кожи. Однако для немногих данный метод является оптимальным. Гораздо проще, менее затратно и&nbsp;совершенно безболезненно использовать методы безоперационного замещения волос, например систему волос. При применении данного метода, человеку не&nbsp;нужно ложиться в&nbsp;больницу на&nbsp;долгий период времени, делать операцию и&nbsp;проходить долгий этап восстановления после хирургического вмешательства. Но&nbsp;при этом эффективность системы волос является очень высокой, а&nbsp;косметический эффект просто потрясающий, без каких-либо воздействий на&nbsp;организм. При этом в&nbsp;отличие от&nbsp;парика, система волос не&nbsp;лишает человека таких обычных радостей, как плавание в&nbsp;бассейне.
            p Стоит отметить огромный позитивный психологический эффект данного метода, ведь человек, который выбрал для себя этот метод борьбы против облысения, обретает новую жизнь. Он&nbsp;снова ощущает себя здоровым, не&nbsp;боится выходить в&nbsp;люди, радуется жизни в&nbsp;полной мере, ведь визуально его недуг совершенно незаметен.
            h2 Причины облысения
            p Нередки случаи, когда вдруг, без видимых на&nbsp;то&nbsp;причин человек начинает обильно терять волосы. При этом может наблюдаться облысение затылка, висков, лобной части головы и&nbsp;т.д. Этому есть две причины. Любая внезапная потеря волос развивается под влиянием внешних и&nbsp;внутренних факторов. Так, к&nbsp;внутренним причинам относятся гормональные колебания, а&nbsp;также нарушения обмена веществ, генетическая предрасположенность и&nbsp;аутоиммунные процессы.
            p Внешние причины относят&nbsp;&mdash; это, как правило, различного рода инфекции и&nbsp;физические травмы (по&nbsp;причине которых происходит нарушение кожных покровов), психические нарушения (стрессы) и&nbsp;воздействие вредоносных ядовитых веществ. Нередко на&nbsp;практике наблюдается сочетание нескольких указанных факторов, которыми и&nbsp;вызывается в&nbsp;дальнейшем потеря волос. Для того чтобы убедиться насколько серьезной является такая проблема как облысение фото можно посмотреть в&nbsp;интернете.
            p Важно понимать, что причинами резкого выпадения волос и&nbsp;у&nbsp;мужчин, и&nbsp;у&nbsp;женщин, кроме заболеваний, могут выступать и&nbsp;совершенно обыденные процедуры, например, частая сушка волос с&nbsp;помощью горячего фена, сделанная не&nbsp;очень удачно химическая завивка, а&nbsp;также злоупотребление табаком, строгими диетами и&nbsp;алкоголем. Необходимо ухаживать за&nbsp;своими волосами очень тщательно, подбирая высококачественную косметику для волос. Выбираемые для ухода за&nbsp;волосами препараты и&nbsp;средства должны подходить к&nbsp;типу волос и&nbsp;отличаться высоким качеством.
            p Что касается врожденного облысение, то&nbsp;оно обуславливается генетическими дефектами и&nbsp;проявляется значительным поредением либо полным отсутствием волос часто в&nbsp;сочетании с&nbsp;иными эктодермальными дисплазиями. При этом прогноз неутешительный. Симптоматическое облысение выступает осложнением тяжелых заболеваний (острых инфекций, эндокринопатии, диффузных болезней соединительной ткани, и&nbsp;т.д.). Оно носит очаговый, диффузный либо тотальный характер, являясь следствием токсического либо аутоиммунного влияния на&nbsp;волосяные сосочки. При этом прогноз в&nbsp;полной мере зависит от&nbsp;исхода главного заболевания. Помощь при облысении данного вида должна начинаться именно с&nbsp;лечения основной проблемы.
            p Преждевременное облысение все чаще наблюдается у&nbsp;мужчин среднего и&nbsp;молодого возраста. Как правило, оно носит диффузно-очаговый характер, сопровождается образованием залысин и&nbsp;плеши. В&nbsp;этом случае основное значение имеет генетическая предрасположенность, а&nbsp;волосы восстановлению не&nbsp;подлежат.
            p Круговидное облысение является приобретенным выпадением волос в&nbsp;виде отдельных округлых очагов разной величины. Возможные причины данного недуга: местные нервно-трофические расстройства, иногда с&nbsp;аутоиммунным компонентом. При отсутствии лечения очаги могут расти и&nbsp;сливаться, приводя к&nbsp;тотальному облысению. В&nbsp;данном случае возможно спонтанное выздоровление, однако нередки рецидивы. На&nbsp;тотальной стадии волосы восстановить практически невозможно.
            h2 Как лечить облысение
            p Когда появляется облысение что делать&nbsp;&mdash; это первое, о&nbsp;чем задумывается человек, будь&nbsp;то женщина или мужчина. И&nbsp;вместо того, чтобы отправиться на&nbsp;прием к&nbsp;специалисту, они начинают искать в&nbsp;интернете что-то вроде &laquo;лечение облысения отзывы&raquo; или &laquo;как вылечить облысение&raquo;. Однако при этом человек тратит свое драгоценное время, ведь чем раньше он&nbsp;обратится к&nbsp;врачу, тем большей является вероятность эффективного лечения.
            p Лечение алопеции должно быть комплексным в&nbsp;силу того, что как и&nbsp;любая другая проблема, связанная с&nbsp;волосами, она может быть вызвана целым рядом причин. Среди причин могут быть различные нарушения деятельности эндокринной, иммунной, пищеварительной, нервной или других систем организма.
            p Прежде чем назначить методы лечения облысения, необходимо определить первопричину его возникновения. Чтобы это сделать врачи-трихологи проводят очень тщательное обследование (исследования иммунного и&nbsp;гормонального статуса пациента, биохимический анализ крови, при этом учитываются условия работы и&nbsp;отдыха пациента, а&nbsp;также режим его питания). Может проводиться также спектральный анализ волос. Кроме того, нередко проводится компьютерная диагностика кожи головы и&nbsp;волос, при этом волос фотографируют с&nbsp;разных позиций, определяя качество волос, их&nbsp;текстуру и&nbsp;количество. С&nbsp;этого и&nbsp;начинается борьба с&nbsp;облысением.
            p После того, как было проведено обследование, учитывая все выявленные причины потери волос, назначается определенное лечение. При этом лечение и&nbsp;способы от&nbsp;облысения зависят от&nbsp;степени тяжести заболевания. Могут назначаться лечебные препараты или общеукрепляющие, для пациента подбирается специальная диета, могут назначаться лечебные маски или лечебная косметика и&nbsp;многое другое.
            p В&nbsp;силу того что при алопеции восстановление волосяного покрова является довольно сложным и&nbsp;трудоемким, длительным процессом, страдающие облысением люди, зачастую испытывают глубочайший психологический дискомфорт (в&nbsp;особенности это касается женщин). Поэтому возникает необходимость тщательной &laquo;маскировки облысения&raquo;, применение каких-то специальных средств, которые дают возможность скрыть эту проблему от&nbsp;окружающих.
            p Один из&nbsp;таких способов маскировки облысения&nbsp;&mdash; это система волос, которая позволяет скрывать лысину, обеспечивая видимость наличия собственных волос. Используя систему волос, человек не&nbsp;будете ограничен ни&nbsp;в&nbsp;чем, он&nbsp;сможет вести привычный для него активный образ жизни, будучи уверенным, что прическа в&nbsp;норме!
            p Если данный способ замещения волос Вам интересен, обращайтесь к&nbsp;нам, и&nbsp;мы&nbsp;поможем Вам снова чувствовать себя превосходно! Мы&nbsp;готовы ответить на&nbsp;все вопросы, которые Вас интересуют и&nbsp;поможем решить Вашу проблему!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
