extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Очаговое облысение: причины возникновения и методы лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Очаговое облысение: причины возникновения и методы лечения'})
      h1 Облысение: виды, симптомы и способы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Очаговое облысение (или алопеция от&nbsp;лат. Alopecia areata)&nbsp;&mdash; это заболевание, которое является достаточно редким, но&nbsp;заслуживает особого внимания в&nbsp;силу того, что начинается неожиданно и&nbsp;так&nbsp;же неожиданно может исчезнуть. Весьма интересен тот факт, что при возникновении данного заболевания не&nbsp;наблюдаются какие-то определенные симптомы, которые смогли&nbsp;бы предупредить пациента о&nbsp;его наступлении. Гнездное облысение, именно так еще называют данное заболевание,сопровождается потерей волос на&nbsp;отдельных очагах головы, в&nbsp;дальнейшем эти участки могут сливаться между собой, увеличивая область выпадения волос.
            p Несмотря на&nbsp;тот факт, что потеря волос происходит внезапно, специалисты отмечают, что стрессовая ситуация&nbsp;&mdash; может стать &laquo;толчком&raquo;, который способен вызывать данное заболевание. Помимо психологических травм, причиной такого заболевания, как очаговое облысение могут быть и&nbsp;травмы, а&nbsp;также иммунные нарушения и&nbsp;острые инфекционные болезни. Важнейшим фактором развития гнездной алопеции выступает и&nbsp;генетическая предрасположенность. Все перечисленные выше причины могут являться факторами, вызывающими данный тип заболевания. Однако до&nbsp;конца причины появления данного заболевания остаются невыясненными.
            h2 Возникновение и&nbsp;развитие гнездной алопеции
            p Как было сказано выше, возникает очаговое облысение у&nbsp;женщин и&nbsp;у&nbsp;мужчин внезапно, выражается оно в&nbsp;появлении пятен залысин диаметром от&nbsp;нескольких миллиметров до&nbsp;нескольких сантиметров. Через некоторое время пятно расширяется, превращаясь в&nbsp;полноправный зародыш гнездного облысения. Данный очажок облысения в&nbsp;большинстве случаев образуется на&nbsp;волосяной части головы, однако бывают и&nbsp;случаи, когда очаговое облысение начинается на&nbsp;бороде или бровях, в&nbsp;подмышечных впадинах или паховой области, а&nbsp;также в&nbsp;других частях тела.
            p На&nbsp;начальной стадии своего развития данного заболевания на&nbsp;маленьких участках кожи часто возникает простое покраснение, которое может сопровождаться зудом или жжением, вызванные тем, что после выпадения длинной волосинки фолликулярные ямки остаются незатянутыми.
            p Через некоторое время зоны облысения принимают хорошо выраженные круглоовальные формы диаметром в&nbsp;2-5&nbsp;см. Данные участки кожи головы абсолютно лишена волос и&nbsp;характеризуются заметно более бледным цветом, относительно кожи тела. С&nbsp;течением времени фолликулярные отверстия, в&nbsp;которых ранее находились волосы, затягиваются в&nbsp;результате чего, кожа в&nbsp;очагах алопеции становится гладкой и&nbsp;отличается характерным блеском. Постепенно количество очагов возрастает и&nbsp;может достигнуть 3&nbsp;&mdash; 5&nbsp;и&nbsp;более. Они укрупняются и&nbsp;в&nbsp;результате часто сливаются между собой.
            p Стоит помнить о&nbsp;том, что при длительном заболевании при наступлении крайней стадии, гнездовое облысение способно обрести злокачественную форму. И&nbsp;в&nbsp;данном случае на&nbsp;голове все волосы выпадают, более того, человек может лишиться даже телесной растительности.
            p Однако далеко не&nbsp;всегда происходит стремительное развитие заболевания, гнездовое облысение может развиваться очень долго и&nbsp;неактивно. Такая форма течения болезни называется краевой. Она характеризуется 2&nbsp;симметричными участками облысения на&nbsp;краях головы (довольно часто, на&nbsp;затылке). Разрастание этих участков происходит весьма медленно, они даже могут периодически уменьшаться. Однако в&nbsp;течении нескольких лет (как правило, 3-5) происходит медленный переход к&nbsp;более тяжелой форме очаговой алопеции. Хотя этого может не&nbsp;произойти вовсе, такая форма облысения в&nbsp;большинстве случаев лечится.
            h2 Лечение очаговой алопеции
            p Если возникло очаговое облысение лечение стоит начать как можно раньше, причем при непосредственном участии специалиста. При лечении данного заболевания учитывается огромное количество факторов, среди которых следующие особенности: имеются&nbsp;ли волосы либо фолликулярный рисунок на&nbsp;участках очагового облысения, каково количество очагов, насколько ярко они себя проявляют и&nbsp;как долго существуют и&nbsp;т.д.
            p Как любое другое заболевание, гнездное облысение должно лечиться комплексно. Эффект принесет работа в&nbsp;нескольких направлениях, при одновременном проведении внутреннего и&nbsp;местного лечения. Врачи-трихологи рекомендуют для внутреннего приема препараты на&nbsp;растительной основе, кроме того, необходимо использовать специальные препараты, предназначенные для питания корней волос и&nbsp;стимуляции роста волос. Весьма важным моментом в&nbsp;процессе лечения данного заболевания считается массаж головы, который способен улучшить микроциркуляцию крови, дать волосяным луковицам возможность усиленного &laquo;питания&raquo;.
            p В&nbsp;качестве средств для местного лечения можно применять различные спиртовые растворы, среди которых особенно хорошо проявляют себя настойки лука или перца, создающие эффект, которым славится и&nbsp;массаж, стимулируют кровообращение кожи головы. Процедуры подобного рода нужно проделывать достаточно длительное время&nbsp;&mdash; не&nbsp;менее полугода&nbsp;&mdash; для того, чтобы получить максимальный эффект.
            p Кроме того при лечении данного заболевания специалисты могут предлагать обкалывание участков гидрокортизоном с&nbsp;лидокаином, данные инъекции направлены на&nbsp;разрушение лимфоцитарных инфильтратов в&nbsp;дерме, мешающих погружению и&nbsp;пролиферации луковицы. Кроме этого, нередко применяются и&nbsp;инъекциями кеналога (стероидного препарата, разрушающего лимфоцитарные инфильтраты и&nbsp;активизирующего пролактин), это делают не&nbsp;чаще одного раза в&nbsp;три месяца (3&nbsp;инъекции за&nbsp;курс). При данном заболевании показаны также втирания в&nbsp;кожу головы и&nbsp;корни волос стероидных, а&nbsp;также раздражающих мазей и&nbsp;плаценты в&nbsp;ампулах.
            p Кроме того, эффективным местным методом лечения гнездной алопеции специалисты считают разного рода физиотерапии, к&nbsp;примеру, ультрафиолетовое облучение участков облысения, позволяющее разрушать либо рассасывать лимфоцитарные инфильтраты. Используют также ПУВа-терапию, микродермабразию кожи головы, как правило, средней степени интенсивности, лазерную терапию очагов алопеции. При этом обработка пораженной зоны кожи головы осуществляется лазерным лучом красного спектра: взрослым назначают 30&nbsp;сеансов (каждый по&nbsp;10&nbsp;минут), а&nbsp;детям&nbsp;&mdash; 20&nbsp;сеансов (каждый по&nbsp;8&nbsp;минут).
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
