extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Очаговая алопеция: симптомы, признаки, методы борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Очаговая алопеция: симптомы, признаки, методы борьбы'})
      h1 Очаговая алопеция: симптомы, признаки, методы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Очаговая алопеция или гнездная алопеция (от&nbsp;лат. alopecia areata)&nbsp;&mdash; это заболевание, в&nbsp;процессе протекания которого у&nbsp;больного наблюдается выпадение волос на&nbsp;отдельных участках, очагами. Под очагом понимаются облысевшие участки как головы, так и&nbsp;тела. Количество подобного рода &laquo;очагов&raquo; может быть разнообразным, варьироваться могут также их&nbsp;размеры, однако чаще всего пораженные болезнью участки не&nbsp;превышают в&nbsp;диаметре нескольких сантиметров.
            p Ученые доказали, что данное заболевание носит аутоиммунный характер, это связано прежде всего с&nbsp;тем, что во&nbsp;время пребывания в&nbsp;фазе анагена наблюдается &laquo;атака&raquo; волосяных луковиц их&nbsp;собственными Т-лимфоцитами. В&nbsp;результате очаговая гнездная алопеция приводит к&nbsp;дистрофии фолликул, разрушению волосяного стержня.
            p Система волос (метод безоперационного замещения волос) можно применять при любом типе облысения. Такой широкий спектр применения безоперационного замещения связан с&nbsp;тем, что он&nbsp;обеспечивает лишь косметический (визуальный) эффект наличия волос. Никакого вмешательства в&nbsp;организм человека не&nbsp;происходит, поэтому его можно применять в&nbsp;любом возрасте.
            p Если подтвердилась гнездная алопеция лечение должен назначать специалист. Стоит отметить, что при данном заболевании чаще всего предлагают оперативное вмешательство. Однако в&nbsp;силу его дороговизны, мало кому из&nbsp;пациентов оно доступно. Однако важно понимать, что при таком заболевании как очаговая женская алопеция, лечение вовсе необязательно должно носить столь радикальный характер. Вполне возможно обойтись более простыми и&nbsp;дешевыми методами. Одним из&nbsp;них является система волос, которая зарекомендовала себя, как наиболее эффективный метод безоперационного замещения волос. Его можно применять в&nbsp;случае любых типов облысения. Главная особенность данного метода&nbsp;&mdash; его безопасность, ведь он&nbsp;не&nbsp;предусматривает даже минимального вмешательства в&nbsp;организм человека. Но&nbsp;при этом он&nbsp;создает превосходный визуальный эффект, даря пациенту возможность почувствовать себя здоровым снова, подарив ему радость ощущать себя уверенным в&nbsp;себе.
            p Если при таком заболевании, как гнездная алопеция лечение будет правильным и&nbsp;своевременным, велика вероятность, что волосы снова начнут расти. Более того, их&nbsp;рост может начаться через несколько лет даже при отсутствии лечения. Объясняется это тем, что стволовые клетки, отвечающие за&nbsp;рост волос, при заболевании не&nbsp;теряют возможности функционировать, кроме того, при облысении не&nbsp;происходит рубцевания, это и&nbsp;дает возможность волосам снова начать расти в&nbsp;будущем.
            p В&nbsp;случае появлении небольшой залысины следует насторожиться, возможно это алопеция гнездовая лечение которой необходимо обсудить со&nbsp;специалистом. Важно помнить о&nbsp;том, что небольшой очаг может разрастись и&nbsp;даже постепенно привести к&nbsp;полной потере волос на&nbsp;голове. Данное заболевание не&nbsp;имеет возрастных ограничений. Нередко встречается гнездная алопеция у&nbsp;детей, кроме того бывает очаговая алопеция у&nbsp;женщин, но&nbsp;чаще всего страдают данным заболеванием именно мужчины.
            p Врачи-трихологи выделяют 3&nbsp;основных типа данного заболевания:
            ol.list-numbered.list-numbered--w-prev-par
              li Выпадение волос на&nbsp;маленьких участках волосистой части головы. Данный вид заболевания является самым распространенным, отчего оно в&nbsp;целом и&nbsp;получил свое название очаговая или гнездовая алопеция.
              li Вторая степень является более серьезной стадией заболевания, на&nbsp;которой у&nbsp;больного наблюдается соединение &laquo;очагов&raquo;, они начинают постепенно сливаться и&nbsp;в&nbsp;итоге может наблюдаться почти полное выпадение волос
              li Следующая, последняя степень облысения характеризуется полной потерей волос не&nbsp;только на&nbsp;волосистой части головы, но&nbsp;и&nbsp;на&nbsp;теле в&nbsp;общем.
            p При возникновении такого заболевания как очаговая алопеция причины могут быть различными. К&nbsp;наиболее распространенным из&nbsp;них относятся психологические нарушения, которые также могут приводить и&nbsp;к&nbsp;другим заболеваниям, не&nbsp;только к&nbsp;выпадению волос. Вот почему стоит более внимательно относиться к&nbsp;собственному здоровью и&nbsp;стараться меньше переживать, не&nbsp;попадать в&nbsp;разного рода стрессовые ситуации. Среди других причин облысения вследствие алопеции данного вида стоит отметить травмы, нарушения в&nbsp;иммунной системе и&nbsp;многие другие.
            p Все чаще в&nbsp;последнее время наблюдается очаговая алопеция у&nbsp;детей, именно поэтому к&nbsp;ее&nbsp;лечению подходят особенно серьезно. При лечении данного заболевания применяют подход, который подразумевает действия в&nbsp;3&nbsp;направлениях, среди которых: лечение через прием медицинских препаратов, способствующих росту волос, внутрь (лучше всего выбирать препараты, которые изготовлены на&nbsp;растительной основе); наружно применяются разного рода препараты (к&nbsp;примеру, масла), воздействующие на&nbsp;корни волос, улучшающие микроциркуляцию крови (это обеспечивает укрепление корневой системы). Кроме того, весьма важным моментом при лечении данного недуга является массаж головы, с&nbsp;помощью которого улучшается кровообращение кожи на&nbsp;голове, при этом осуществляется питание волосяных фолликул.
            p В&nbsp;большинстве случаев появление очаговой алопеции приводит больного к&nbsp;стрессовому состоянию, в&nbsp;результате чего он&nbsp;начинает стесняться собственного внешнего вида, старается как можно реже появляться в&nbsp;окружении людей. Отличным решением данной проблемы будет система волос, способная скрыть &laquo;очаг&raquo;, сделает столь серьезную проблему незаметной для окружающих. Данную систему можно использовать, не&nbsp;только во&nbsp;время лечения, но&nbsp;и&nbsp;после его завершения. Система волос позволяет человеку обрести уверенность, забыть об&nbsp;облысении. Вот почему система волос признана незаменимым решением в&nbsp;данной ситуации и&nbsp;является наиболее успешным методом для маскировки облысения.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
