extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Очаговое облысение: причины возникновения и методы лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Очаговое облысение: причины возникновения и методы лечения'})
      h1 Облысение: виды, симптомы и способы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Очаговое облысение (или алопеция от лат. alopecia areata) — это редкое заболевание, которое заслуживает внимания, потому что начинается внезапно, и так же неожиданно исчезает. При возникновении болезни отсутствуют и симптомы, которые смогли бы предупредить пациента о его наступлении. 
            p: img(src='/images/info/zametki/alopetsiya/ochagovoe-oblysenie-prichiny-vozniknoveniya-i-metody-lecheniya/ochagovoe-oblysenie-prichiny-vozniknoveniya-i-metody-lecheniya.jpg' alt='Очаговая алопеция: симптомы, признаки, методы борьбы')
            p Гнездное облысение, так еще называют заболевание, сопровождается потерей волос на отдельных очагах головы, в дальнейшем эти участки сливаются между собой, увеличивая область выпадения волос. 
            p Факторами риска заболеть очаговым облысением считают:
            ul.list-marked.list-marked--w-prev-par
              li болезни желудочно-кишечного тракта: гастрит, проблемы со всасывающей функцией кишечника;
              li постоянный дефицит микроэлементов, витаминов;
              li прием противовирусных средств, антибиотиков, противовоспалительных средств;
              li аутоиммунные заболевания невыясненной причины;
              li гинекологические болезни, изменяющие гормональный объем;
              li патологии в хронической форме (кариес, гайморит, синусит).
            p Несмотря на то, что потеря волос происходит внезапно, врачи предупреждают, что стимулом к началу заболевания становится стрессовая ситуация. Помимо психологических травм, причины: травмы, иммунные нарушения и острые инфекционные болезни. Фактором развития гнездной алопеции выступает и генетическая предрасположенность. 
            h2 Возникновение и развитие гнездной алопеции
            ul.list-marked
              li Как было сказано выше, возникает очаговое облысение у женщин и у мужчин внезапно, начинается с появления залысин диаметром от нескольких миллиметров до нескольких сантиметров. 
              li Через время пятно расширяется, превращаясь в зародыш гнездного облысения. Очажок облысения образуется на волосяной части головы, но развивается и на бороде, бровях, в подмышечных впадинах или паховой области, на других частях тела.
              li На начальной стадии на маленьких участках кожи возникает покраснение, зуд, жжение, потому что фолликулярные ямки остаются незатянутыми.
              li Затем зоны облысения принимают выраженные круглоовальные формы диаметром в 2-5 см. Участки кожи головы лишены волос, бледного цвета, относительно кожи тела. 
              li Со временем фолликулярные отверстия затягиваются, кожа в очагах алопеции становится гладкой, приобретает характерный блеск. 
              li Позже количество очагов увеличивается, достигает 3-5. Они укрупняются, сливаются между собой.
            p: img(src='/images/info/zametki/alopetsiya/ochagovoe-oblysenie-prichiny-vozniknoveniya-i-metody-lecheniya/vozniknovenie-i-razvitie-gnezdnoy-alopecii.jpg' alt='Возникновение и развитие гнездной алопеции')
            p При продолжительной болезни, с наступлением крайней стадии, гнездовое облысение переходит в злокачественную форму: волосы выпадают на голове и на теле.
            p Но стремительное прогрессирование заболевания происходит редко: гнездовое облысение может развиваться и неактивно. Такая форма течения болезни называется краевой: на краях головы появляются симметричные участки облысения (преимущественно на затылке). 
            p Разрастание участков медленное, они могут периодически уменьшаться. Но за 3-5 лет происходит переход к тяжелой форме очаговой алопеции. Хотя этого может не произойти вовсе, такая форма облысения поддается лечению.
            h2 Лечение очаговой алопеции
            p Лечение стоит начать как можно раньше, при непосредственном участии трихолога. Врач учитывает факторы, особенности: наличие волос или фолликулярного рисунка на участках очагового облысения, количество очагов, насколько ярко выражены, какой их срок и т.д.
            p Как всякую болезнь, гнездное облысение лечат комплексно. Результат приносит работа в нескольких направлениях, одновременно внутреннее и местное лечение. 
            ul.list-marked
              li Врачи-трихологи для внутреннего приема назначают лекарства на растительной основе, специальные препараты, предназначенные для питания корней волос и стимуляции роста волос. 
              li Для лечения болезни важен массаж головы, способный улучшить микроциркуляцию крови, трофику («питание») волосяных луковиц.
              li Для местного лечения применяют спиртовые растворы: действенны настойки лука или перца, создающие эффект, которым славится и массаж: стимулируют кровообращение кожи головы. 
            +blockMarked({ padding: 'small' }): p Процедуры проделывают курсом — не менее полугода — для того, чтобы получить ощутимый эффект.
            p Для лечения болезни врачи предлагают обкалывание участков гидрокортизоном с лидокаином: инъекции разрушают лимфоцитарные инфильтраты в дерме, мешающие погружению и пролиферации луковицы. 
            p: img(src='/images/info/zametki/alopetsiya/ochagovoe-oblysenie-prichiny-vozniknoveniya-i-metody-lecheniya/lechenie-ochagovoy-alopecii.jpg' alt='Лечение очаговой алопеции')
            p Часто применяют инъекции кеналога (стероидного препарата, разрушающего лимфоцитарные инфильтраты и активизирующего пролактин), это делают не чаще одного раза в три месяца (3 инъекции за курс). 
            p При заболевании показаны втирания в кожу головы и корни волос стероидных, раздражающих мазей, и плаценты в ампулах.
            ul.list-marked
              li Действенным местным методом лечения гнездной алопеции эксперты называют физиотерапию: ультрафиолетовое облучение участков облысения, разрушающее либо рассасывающее лимфоцитарные инфильтраты.
              li Используют также ПУВа-терапию, микродермабразию кожи головы (средней степени интенсивности), лазерную терапию очагов. 
              li Пораженную зону головы обрабатывают лазерным лучом красного спектра: взрослым назначают 30 сеансов (каждый по 10 минут), а детям — 20 сеансов (каждый по 8 минут).
            p Для маскировки же последствий неприятного заболевания важно выбрать надежный метод — безоперационное замещение волос: используют систему волос, состоящую из натуральных волос, подобранной по структуре и оттенку, и основы, в точности имитирующей кожу головы. Прочная фиксация изделия создаст впечатление, что это ваши собственные волосы! Изготовить систему волос можно в нашем Центре дизайна волос, обращайтесь за решением, которое изменит вашу жизнь к лучшему!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
