extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Очаговая алопеция: симптомы, признаки, методы борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Очаговая алопеция: симптомы, признаки, методы борьбы'})
      h1 Очаговая алопеция: симптомы, признаки, методы борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            +grid({ parLike: true, justify: 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/alopetsiya/ochagovaya-alopetsiya-simptomy-priznaki-metody-borby/ochagovaya-alopetsiya-simptomy-priznaki-metody-borby.jpg' alt='Очаговая алопеция: симптомы, признаки, методы борьбы')
            p Очаговая алопеция или гнездная алопеция (от лат. alopecia areata) — это заболевание, при котором у больного наблюдается выпадение волос на отдельных участках, очагами. Очаг — облысевшие участки головы и тела. Количество «очагов» и их размер может отличаться, но чаще диаметр пораженных участков не превышает нескольких сантиметров.
            p Ученые доказали, что заболевание аутоиммунное: во время фазы анагена происходит «атака» волосяных луковиц их собственными Т-лимфоцитами. В результате очаговая гнездная алопеция приводит к дистрофии фолликул, разрушению волосяного стержня.
            h2 Варианты помощи
            p Система волос (метод безоперационного замещения волос) подходит при любом типе облысения. Такой широкий спектр применения безоперационного замещения связан с обеспечением косметического (визуального) эффекта наличия волос. Вмешательства в организм человека не происходит, поэтому он подходит для любого возраста.
            p При этом заболевании чаще предлагают оперативное вмешательство, но, из-за дороговизны, оно мало кому доступно из пациентов. Но, например, очаговая женская алопеция не лечится оперативно. Можно обойтись простыми и дешевыми методами. 
            p Система волос — эффективный метод безоперационного замещения волос.
            ul.list-marked
              li Подходит для любых типов облысения. 
              li Главная особенность метода — безопасность, поскольку нет даже минимального вмешательства в организм человека. 
              li Он создает визуальный эффект.
              li Дает пациенту почувствовать себя здоровым снова, подарив ему радость уверенности в себе.
            p Если лечение гнездной алопеции будет правильным и своевременным, велика вероятность, что волосы начнут расти снова. Также их рост может начаться через несколько лет, даже при отсутствии лечения. 
            +blockMarked({ padding: 'small' }): p Стволовые клетки, отвечающие за рост волос, при заболевании не поражаются, не происходит рубцевания, потому волосы снова могут начать расти в будущем.
            p Если появилась залысина, следует насторожиться, возможно, это алопеция гнездовая, лечение которой необходимо обсудить с врачом. Очаг малых размеров может разрастись и привести к полной потере волос на голове. А у заболевания нет возрастных ограничений: гнездная алопеция встречается у детей, женщин, но чаще заболеванием страдают мужчины.
            h2 Формы, стадии и симптомы заболевания
            +grid({ parLike: true, justify: 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/alopetsiya/ochagovaya-alopetsiya-simptomy-priznaki-metody-borby/formy-stadii-i-simptomy-zabolevaniya.jpg' alt='Формы, стадии и симптомы заболевания')
            p Врачи классифицируют очаговую алопецию на такие формы:
            ul.list-marked.list-marked--w-prev-par
              li Лентовидная: безволосые участки в виде лент.
              li Локальная: зоны облысения приобретают овальную или круглую форму.
              li Тотальная: волосы покидают тело, отсутствуют ресницы и брови.
              li Субтотальная: очаги облысения сливаются в один большой.
              li Гнездная: с тяжелым течением, при котором выпадают не только волосы, но и повреждаются ногти.
              li Универсальная: встречается у 7%, форма заболевания хроническая, волосы отсутствуют на всем теле, а на голове охватывает все новые участки.
            h2 Стадии алопеции
            ol.list-numbered
              li Острая. Истончаются корни волос, возникает зуд в зоне выпавших волос, воспаление, покраснение кожи головы.
              li Подострая: умеренное воспаление или же отсутствует, неприятных ощущений нет, только выпадают волосы.
              li Стадия регресса: выпадение останавливается, на безволосых участках появляется пушок, затем вырастают волосы нормального вида и структуры.
            h2 Симптоматика
            +table({
              header: [ 'Стадия', 'Проявление' ],
              rows: [
                [ 'Острая', { tag: 'ul', content: [
                    { tag: 'li', content: 'отеки и участки воспаления на коже,' },
                    { tag: 'li', content: 'покалывание, жжение в зоне поражения,' },
                    { tag: 'li', content: 'резко нарастает ломкость волос,' },
                    { tag: 'li', content: 'диаметр безволосых участков увеличивается,' },
                    { tag: 'li', content: 'волосы на краевых линиях проплешин легко выдергиваются.' },
                  ] } ],
                [ 'Подострая', { tag: 'ul', content: [
                    { tag: 'li', content: 'формируются четко обозначенные зоны облысения,' },
                    { tag: 'li', content: 'отечность и красота спадают,' },
                    { tag: 'li', content: 'прекращается зуд,' },
                    { tag: 'li', content: 'восстанавливается естественный оттенок кожи,' },
                    { tag: 'li', content: 'постепенно прекращается выпадение волос.' },
                  ] } ],
                [ 'Регресс', { tag: 'ul', content: [
                    { tag: 'li', content: 'начинают отрастать тонкие волоски,' },
                    { tag: 'li', content: 'фолликулы укрепляются,' },
                    { tag: 'li', content: 'пигментация волос возвращается в нормальное состояние.' },
                  ] } ],
              ]
            })
            p Врачи-трихологи выделяют 3 типа данного заболевания:
            ul.list-marked.list-marked--w-prev-par
              li Выпадение волос на маленьких участках головы: распространенный вид, получил название очаговая или гнездовая алопеция.
              li Вторая степень — серьезная стадия заболевания: «очаги» начинают сливаться, происходит полное выпадение волос
              li Последняя степень облысения — полная потеря волос не только на волосистой части головы, но и на теле.
            p Причины очаговой алопеции могут отличаться. Распространенные — психологические нарушения, которые приводят и к другим заболеваниям, не только к выпадению волос. Потому стоит внимательно относиться к здоровью, стараться меньше переживать, не попадать в стрессовые ситуации. Среди других причин облысения: травмы, нарушения в иммунной системе и другие.
            p Случается очаговая алопеция и у детей, потому к ее лечению подходят серьезно. Применяют подход, который подразумевает действия в 3-х направлениях: 
            ul.list-marked.list-marked--w-prev-par
              li прием медицинских препаратов, способствующих росту волос (лучше выбирать лекарства на растительной основе); 
              li наружное применение средств (например, масел), воздействующих на корни волос, улучшающих микроциркуляцию крови (происходит укрепление корневой системы). 
              li массаж головы для улучшения кровообращения кожи, питания волосяных фолликул.
            p Очаговая алопеция приводит больного к стрессовому состоянию: он начинает стесняться собственного внешнего вида, старается избегать общества людей. Отличным решением проблемы будет система волос, способная скрыть «очаг», сделать столь серьезную проблему незаметной для окружающих. 
            p Систему волос можно использовать, не только во время лечения, но и после его завершения. Она позволяет обрести уверенность, забыть об облысении. Вот почему система волос признана незаменимым решением, и успешным методом для маскировки облысения!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
