extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Потеря волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Потеря волос'})
      h1 Потеря волос
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Ежедневно человек теряет сотни волосинок (до&nbsp;100 волос в&nbsp;сутки считается нормальным), но&nbsp;мы&nbsp;совершенно не&nbsp;замечаем этого, ведь на&nbsp;смену утраченным вырастают новые. Если&nbsp;же рост волос замедляется либо наблюдается ускоренная потеря волос, пора бить тревогу, так как это неминуемо станет причиной облысения.
            p Причины потери волос весьма разнообразны. Основные причины потери волос&nbsp;&mdash; это:
            ul.list-marked.list-marked--w-prev-par
              li Недостаточный иммунитет. Он&nbsp;может наблюдаться в&nbsp;результате банальных респираторных заболеваний, заболеваний инфекционного характера и&nbsp;т.д.
              li Нехватка в&nbsp;организме железа. Например, из-за постоянного голодания или у&nbsp;женщин из-за постоянной кровопотери во&nbsp;время менструации.
              li Реакция на&nbsp;лекарственные препараты. Потеря волос является неизменным результатом химиотерапии, однако, к&nbsp;ней могут привести и&nbsp;таблетки от&nbsp;давления, некоторые противозачаточные средства, стероиды, антидепрессанты, аспирин.
              li Заболевания кожи головы (себорея и&nbsp;дерматит).
            p Недостаток витаминов и&nbsp;стрессы также ведут к&nbsp;выпадению волос, и&nbsp;решать эту проблему нужно как можно раньше, иначе последствия будут необратимыми!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
