extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Потеря волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Потеря волос'})
      h1 Потеря волос
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/oblysenie-muzhchina/poterya-volos/poterya-volos.jpg' alt='Потеря волос')
            p Ежедневно человек теряет сотни волосинок (до 100 штук в сутки считается нормой), но незаметно для себя, ведь на смену утраченным вырастают новые. Если же рост волос замедляется, либо наблюдается обильная потеря волос, пора действовать, так как эти процессы приведут к облысению.
            p Причины потери волос:
            ul.list-marked.list-marked--w-prev-par
              li Недостаточный иммунитет в результате респираторных, инфекционных заболеваний.
              li Нехватка железа в организме. Например, из-за постоянного голодания, у женщин из-за обильной кровопотери при менструации.
              li Реакция на лекарственные препараты: химиотерапия, таблетки от давления, гельминтов, нейролептики, некоторые противозачаточные средства, стероиды, антидепрессанты, аспирин.
              li Заболевания кожи головы (себорея, дерматит, микроспория, эритродермия).
              li Физиологические изменения, связанные со сменой гормонального фона: беременность, послеродовой период, подростковый, пожилой возраст.
              li Дефицитные состояния: нехватка витаминов, микроэлементов, белков.
              li Восстановительный период: после травм, оперативного вмешательства.
              li Эмоциональные, нервное перенапряжение: организм, в ответ на стрессовую ситуацию, вырабатывает кортизол — гормон, негативно воздействующий на волосы.
              li Общие сбои в организме: генетические, гормональные, иммунные, эндокринные.
              li Несовершенство волосяного аппарата: наследственные процессы, например, предрасположенность волосяных луковиц к воздействию гормонов.
              li Повреждения кожи головы и волосистой части: сюда можно отнести и слишком тугие прически.
              li Слишком высокая температура тела: риск выпадения возрастает при повышении температуры больше 38,5°C.
            h2 Симптомы выпадения волос
            p Физиологическое выпадение — до сотни волосинок в день — обусловлено циклом жизни волоса. Кроме ситуаций, когда такое количество покидает голову одномоментно, создавая впечатление начинающегося облысения. Причины такого явления:
            ul.list-marked.list-marked--w-prev-par
              li длительный промежуток между мытьем и расчесыванием,
              li волосы собраны в тугую прическу весь день.
            p Другой вариант — ежедневная потеря меньше 100 штук, но началось поредение и ухудшение внешнего вида, что случается, потому что:
            ul.list-marked.list-marked--w-prev-par
              li волосы становятся тоньше,
              li выпавшие волосы не заменяют новые.
            p Патологическое выпадение происходит по-разному, зависит от вида алопеции. Чаще состояние шевелюры ухудшается постепенно, потому, чтобы вовремя начать лечение, стоит обратить внимание на характерные признаки.
            p: img(src='/images/info/zametki/oblysenie-muzhchina/poterya-volos/priznaki-alopecii-u-muzhchin.jpg' alt='Признаки алопеции у мужчин')
            p Признаки алопеции у мужчин:
            ul.list-marked.list-marked--w-prev-par
              li изменение линии роста волос: поднимается вверх, по отношению к вискам и бровям;
              li волосы светлеют, истончаются, уменьшается количество, появляются зоны поредения;
              li поредение уже сильно выражено, но на ограниченных участках.
            +grid({ parLike: true, justify: 'center' }): +grid__item({ l: 8, m: 10, xs: 12 }): img(src='/images/info/zametki/oblysenie-muzhchina/poterya-volos/priznaki-alopecii-u-zhenshchin.jpg' alt='Признаки алопеции у женщин')
            p Признаки алопеции у женщин:
            ul.list-marked.list-marked--w-prev-par
              li потеря волос начинается с пробора: начинается с центрального участка, ближе ко лбу, сужаясь в остальной части;
              li явное и сильное волос, наличие поредевших участков, в длину волосы не растут;
              li в области пробора исчезает еще больше волос, видна кожа головы, длина волос не меняется.
            p Второй вариант развития алопеции — резкое начало обильного выпадения волос. Для состояния характерна симптоматика:
            ul.list-marked.list-marked--w-prev-par
              li скопление волосков остается повсюду: на расческе, полотенце, наволочке, постельном белье, в ванной;
              li сразу формируются четко очерченные участки поредения или полного отсутствия волос;
              li изменяется состояние кожи головы: краснеет, воспаляется, появляются высыпания. 
            h2 Самостоятельная диагностика патологического выпадения
            p Убедиться, что выпадение патологическое, помогут следующие способы:
            ul.list-marked.list-marked--w-prev-par
              li Проанализировать состояние месяц или два ранее: принимали ли БАДы, лекарства, повышалась ли температура тела или попадали ли в стрессовую ситуацию.
              li Зафиксировать длительность активного выпадения волос: длится ли оно больше 3-4 месяцев. 
              li Выберите маленькую прядь в зоне висков, натяните волосы, и пропустите их между пальцев, аналогичные действия проделайте в зоне макушки. Если после этого в руках окажется до 7 волосинок, значит можно предположить начало облысения. 
              li Соберите волосы, присмотритесь к вискам (тест актуален и для мужчин, и для женщин): если в этих зонах проступают залысины, то это может указывать на проблему. 
              li Мужской тест: внимательно рассмотрите каждый участок волос на голове. Если обнаружили зоны, где явное поредение волос и уменьшение их количества, можно говорить о патологическом выпадении. 
              li Женский тест: разделите волосы на две части, по пробору. Если ближе ко лбу он слишком отличается по ширине, значит, началась алопеция. 
            h2 Последствия потери волос
            p Выпадение волос резко снижает качество жизни: появляется резкая неудовлетворенность внешним видом, усиливается тревожность, исчезает желание выходить из дома, сильно падает уверенность в себе.
            p Возникает чрезмерная фиксация на проблеме: постоянные мысли о своем состоянии, отслеживание его ухудшения, непрерывный осмотр поредевших участков, активный поиск средства решения — все это чрезмерно перенапрягает нервную систему, вводит в стрессовое состояние или даже депрессию. 
            p Чрезмерная тревожность только усиливает выпадение, поскольку стресс — причина потери волос. Потому так важно начать решать проблему как можно раньше, иначе последствия будут необратимыми!
            p Приглашаем вас в наш Центр дизайна волос, чтобы начать действовать уже сейчас. 
            ul.list-marked
              li Мы в совершенстве освоили и предлагаем клиентам решение — безоперационное замещение волос. 
              li Подбираем или индивидуально изготавливаем систему волос — изделие из натуральных прядей в сочетании с основой, имитирующей кожу головы, которое мы прочно фиксируем на голове с помощью гипоаллергенного медицинского клея. 
              li В результате к вам возвращается прическа, естественный вид (внешне и на ощупь систему не отличить от родных волос) и уверенность, кардинально новое качество жизни!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
