extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Восстановление волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Восстановление волос'})
      h1 Восстановление волос
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Рубцовая алопеция&nbsp;&mdash; это один из&nbsp;видов потери волос, при котором процесс облысения начинается по&nbsp;причине повреждения фолликул волос. Повреждение при этом является необратимым и&nbsp;со&nbsp;временем на&nbsp;месте повреждения постепенно образуется рубцовая ткань. По&nbsp;причине образования данных тканей окончательно разрушаются кутикулы волос, а&nbsp;на&nbsp;поврежденных заболеванием участках образуется чрезвычайно гладкая кожа без волосяного покрытия и&nbsp;луковиц.
            p В&nbsp;большинстве своем при рубцовом облысении пациент теряет волосы незаметно для себя, а&nbsp;процесс может носить затяжной характер и&nbsp;длиться несколько лет. В&nbsp;некоторых случаях у&nbsp;человека не&nbsp;наблюдается серьезных симптомов, однако иногда наблюдаются и&nbsp;такие симптомы, как: небольшие болевые ощущения, зуд, жжение и&nbsp;т.д.
            p Специалисты выделяют два вида данного заболевания: первичный и&nbsp;вторичный. Что касается развития такого заболевания как первичная рубцовая алопеция причины разрушений волосяной луковицы кроются в&nbsp;воспалительном процессе. Медики, в&nbsp;свою очередь, классифицируют данный вид облысения по&nbsp;виду воспалительных клеток. Некоторые клетки разрушают волосяные фолликулы во&nbsp;время прогрессирования заболевания, а&nbsp;другие&nbsp;&mdash; во&nbsp;время активной стадии заболевания.
            p Вторичная рубцовая алопеция может быть вызвана различными опухолями, серьезными инфекциями, механическими травмами и&nbsp;другими причинами. Разрушение волосяной луковицы в&nbsp;процессе заболевания вторичной рубцовой алопецией происходит внезапно и&nbsp;является необратимым.
            p Специалисты выделяют несколько причин, способствуюющих развитию данного вида заболевания, к&nbsp;ним относятся:
            ul.list-marked.list-marked--w-prev-par
              li новообразования;
              li наследственные расстройства (недержание пигмента, ихтиоз, аплазия кожи и&nbsp;другие);
              li специфические инфекции (к&nbsp;примеру, лепра, туберкулез, сифилис, лейшманиоз);
              li дефекты развития;
              li ранения, ушибы, ожоги (химические, тепловые) и&nbsp;иные физические травмы;
              li различные заболевания, находящиеся на&nbsp;конечной стадии (у&nbsp;примеру, саркаидоз, плоский лишай, красная волчанка и&nbsp;т.д.).
            p Не&nbsp;зависимо от&nbsp;причин, вызвавших заболевание, на&nbsp;местах повреждения волосяных луковиц появляется рубцовая атрофия либо просто грубые рубцы. Каким образом происходит процесс образования рубцов? Изначально ткани повреждаются, после чего клетками этих поврежденных тканей начинает выделяться биологически активное вещество, которое запускает воспалительную реакцию. В&nbsp;результате данного процесса, к&nbsp;месту непосредственного повреждения привлекаются клетки, начинающие усиленно вырабатывать фибробласты (или коллаген). После начала усиленной выработки коллагена начинает образовываться свежий рубец, который характеризуется красным цветом и&nbsp;возвышается над здоровой кожей. Этот рубец зреет в&nbsp;течение 1&nbsp;&mdash; 3&nbsp;месяцев, постепенно бледнея, и&nbsp;в&nbsp;итоге становится более плоским. Примерно через 4&nbsp;месяца наблюдается полная трансформация рубца, то&nbsp;есть пучки волокон коллагена вытягиваются, а&nbsp;сосуды исчезают полностью. Таким образом, при возникновении такого заболевания как рубцовая алопеция симптомы могут быть разными, однако главный из&nbsp;них&nbsp;&mdash; это появление рубцов в&nbsp;волосистой части головы.
            p В&nbsp;период синтеза коллагена может наблюдаться нарушение рубцевания ткани. При этом рубец становится не&nbsp;плоским, а&nbsp;келоидным, сильно выступающим над кожей либо впалым.
            p Если возникло такое заболевание как рубцовая алопеция лечение должен назначат специалист после тщательного осмотра. Врач для этого определяет главное заболевание, вызвавшее рубцовую алопецию, и&nbsp;только после этого проводит хирургическую коррекцию, если это возможно.
            p В&nbsp;рубцовой ткани полностью отсутствует жировая клетчатка и&nbsp;сосуды, поэтому трансплантация волос в&nbsp;эту ткань не&nbsp;приносит никакого эффекта. Хорошего результата при операбельном вмешательстве можно добиться лишь при удалении рубцов и&nbsp;последующем наложении косметических швов.
            p Кроме того возможно пересадить полноценный лоскут ткани с&nbsp;сосудами, а&nbsp;также волосяными луковицами и&nbsp;жировой клетчаткой. Современные хирурги при этом часто используют специальный эспандер, который дает возможность хорошо растянуть ткань вокруг рубца. Излишек&nbsp;же кожи, который в&nbsp;результате данной процедуры образуется, способен закрыть место удаления рубца.
            p Однако в&nbsp;наше время прибегать к&nbsp;оперативному вмешательству вовсе необязательно, ведь есть альтернативные, более результативные и&nbsp;менее опасные и&nbsp;дорогостоящие методы. Например, это использование системы волос. Для ее&nbsp;создания используются волосы, идентичные волосам пациенты по&nbsp;цвету и&nbsp;структуре, что позволяет добиться превосходного косметического эффекта. Это дарит пациенту возможность снова радоваться жизни и&nbsp;не&nbsp;чувствовать себя дискомфортно в&nbsp;обществе.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
