extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Себорейная алопеция: возможности борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Себорейная алопеция: возможности борьбы'})
      h1 Себорейная алопеция: возможности борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Себорейная алопеция&nbsp;&mdash; это заболевание волос, которое наиболее часто встречается в&nbsp;современном мире. От&nbsp;него страдают 25&nbsp;% людей планеты. Как правило, заболевание начинается еще в&nbsp;пубертатный (переходный) период и&nbsp;может одинаково часто проявляться и&nbsp;у&nbsp;юношей, и&nbsp;у&nbsp;девушек. Первым симптомом проявления данного заболевания является выпадение волос, которое сопровождается физиологическим состоянием, при котором наблюдается усиленное выделение кожного сала (так называемая физиологическая себорея).
            p Стоит отметить, что себорейное выпадение волос может возникнуть и&nbsp;у&nbsp;грудных детей, выступая в&nbsp;виде кратковременного эпизодичного состояния. При этом волосы достаточно быстро отрастают снова. Для подростков характерным является повышенное салоотделение в&nbsp;отдельных, так называемых себорейных зонах, к&nbsp;которым относится волосистая часть головы, верхняя часть спины и&nbsp;груди, а&nbsp;также лицо.
            p При нормальном развитии человеческого организма клетки кожи слущиваются, после чего заменяются новыми всего за&nbsp;28&nbsp;дней. Если&nbsp;же организм подвергается воздействию себореи, данный процесс ускоряется в&nbsp;несколько раз и&nbsp;обновление клеток происходит за&nbsp;5-14&nbsp;дней. Однако клетки кожи при этом склеиваются, пропитываясь секретом сальных желез, скапливаясь на&nbsp;коже в&nbsp;форме жирных чешуек.
            p Стоит отметить, что у&nbsp;некоторых пациентов физиологическая себорея самостоятельно исчезает через несколько лет (как правило, от&nbsp;2&nbsp;до&nbsp;5&nbsp;лет), а&nbsp;количество выделяемого кожного сала постепенно приходит в&nbsp;норму. Однако в&nbsp;большинстве случаев процесс салоотделения так и&nbsp;не&nbsp;может нормализоваться, в&nbsp;результате чего формируется стойкая себорея, которая приводит к&nbsp;выпадению волос в&nbsp;результате возникновения такого заболевания как себорейная алопеция.
            p Итак, первым признаком себорейной алопеции является гипертрофия сальных желез, а&nbsp;также качественное изменение выделяемого кожного сала. При данном заболевании в&nbsp;кожном сале наблюдается изменение состава жирных кислот, возникающее как результат нарушения функции вегетативной нервной системы и&nbsp;эндокринных желез.
            p Отдельные пациенты могут жаловаться на&nbsp;зуд в&nbsp;волосистой части головы, на&nbsp;наличие шелушения (перхоти) на&nbsp;первых этапах развития себорейного облысения. Если подтвердилось такое заболевание, как себорейная алопеция лечение стоит начать как можно раньше. Начатое на&nbsp;этой, первой стадии, оно является наиболее эффективным и&nbsp;может предотвратить дальнейшее выпадение волос.
            p Если&nbsp;же пациент не&nbsp;начнет заниматься своим здоровьем вовремя и&nbsp;не&nbsp;обратится за&nbsp;помощью к&nbsp;врачу, процесс протекания болезни будет усугубляться, и&nbsp;волосы через время начнут стремительно выпадать. Важно отметить, что самостоятельные попытки лечения данного заболевания часто приводят к&nbsp;усиленному выпадению волос, к&nbsp;стабилизации данного процесса, к&nbsp;более тяжелым формам протекания заболевания.
            p Проблемами выпадения волос занимаются профессиональные врачи, называемые трихологами, именно к&nbsp;ним нужно обращаться за&nbsp;помощью. Врач проведет полное обследование организма для выявления первопричин выпадения и&nbsp;по&nbsp;его результатам назначит лечение.
            p Для того чтобы пациент не&nbsp;чувствовал дискомфорт и&nbsp;подвергался психологическим стрессам, специалисты рекомендуют использовать нехирургические методы замещения волос, одним из&nbsp;которых является система волос. Она поможет пациенту вернуться к&nbsp;прежней жизни и&nbsp;не&nbsp;отказывать себе в&nbsp;тех удовольствиях, которые запретны при использовании парика (например, купание в&nbsp;бассейне) и&nbsp;т.д.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
