extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Себорейная алопеция: возможности борьбы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Себорейная алопеция: возможности борьбы'})
      h1 Себорейная алопеция: возможности борьбы
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p: img(src='/images/info/zametki/seboreya/seboreynaya-alopetsiya-vozmozhnosti-borby/seboreynaya-alopetsiya-vozmozhnosti-borby.jpg' alt='Себорейная алопеция: возможности борьбы')
            p Себорейная алопеция — часто встречающееся в мире заболевание волос. От него страдают 25% людей планеты. Начинается еще в пубертатный (переходный) период, может одинаково часто проявляться и у юношей, и у девушек. 
            p Первый симптом заболевания — выпадение волос, сопровождающееся физиологическим состоянием, при котором усиленно выделяется кожное сало (физиологическая себорея).
            h2 Механизм развития заболевания
            p Себорейное выпадение волос может возникнуть и у грудных детей, как кратковременное эпизодичное состояние. При этом волосы быстро отрастают снова. Для подростков характерно повышенное салоотделение в отдельных, себорейных зонах, к которым относится волосистая часть головы, верхняя часть спины и груди, а также лицо.
            p Если же развилась себорея, процесс ускоряется: обновление клеток происходит за 5-14 дней. Клетки кожи склеиваются, пропитываясь секретом сальных желез, скапливаясь на коже в форме жирных чешуек. 
            p У некоторых пациентов физиологическая себорея самостоятельно исчезает через 2-5 лет, а количество выделяемого кожного сала постепенно приходит в норму. Но в большинстве случаев процесс салоотделения так и не может нормализоваться: формируется стойкая себорея, которая приводит к выпадению волос из-за такого заболевания как себорейная алопеция.
            h2 Причины появления 
            p Появление жирной себореи не связано с возрастом, хотя и возникает чаще у подростков, когда меняется гормональный фон. Но главная проблема — себорея в хронической форме: стоит пропустить заболевание, не придавать значения или же не лечить как следует, и алопеция начнет прогрессировать со скоростью. 
            p Но начинать лечение нужно только после установления первоначальной причины патологии, которой может быть:
            ul.list-marked.list-marked--w-prev-par
              li нарушение в выработке гормонов,
              li расстройство вегетативной нервной системы,
              li эндокринные нарушения,
              li проблемы с обменом веществ (в том числе с трофикой фолликулов),
              li наследственный фактор,
              li несбалансированное питание или резкие ограничения (диеты),
              li затяжное лечение препаратами,
              li как результат осложнений после болезней.
            h2 Симптомы себорейной алопеции
            p Первый признак себорейной алопеции — гипертрофия сальных желез и качественное изменение выделяемого кожного сала. В кожном сале меняется состав жирных кислот: нарушается функция вегетативной нервной системы и эндокринных желез.
            p: img(src='/images/info/zametki/seboreya/seboreynaya-alopetsiya-vozmozhnosti-borby/simptomy-seboreynoy-alopecii.jpg' alt='Симптомы себорейной алопеции')
            p На первых этапах развития себорейного облысения отдельные пациенты могут жаловаться на зуд в волосистой части головы, наличие шелушения (перхоти). 
            h3 Симптомы в зависимости от формы заболевания
            p Жирная форма:
              li сальный блеск,
              li липкость волос (выглядят в виде висюлек),
              li увеличенная жирность кожи лица,
              li себорейные наросты,
              li перхоть,
              li признаки воспаления на коже головы и других частей тела: покраснения и гнойнички. 
            p Сухая форма: 
              li сухость волос,
              li перхоть рассыпчатого вида,
              li волосы слабые, тусклые, ломкие,
              li кожа пересушена, чувство стянутости, на ее поверхности легко образуются ранки.
            p Зуд характерен для обеих форм, потому кожа покрывается не только ранками, но и язвами. Участки поражения могут болеть. 
            h2 Осложнения себореи
            p Вначале будет воспаление кожи (с характерными проявлениями) и перхоть. После этого серьезно нарушается питание фолликулов: кожа огрубевает, а сальные наслоения скапливаются. На финальной стадии развития болезни волосяные луковицы отмирают, останавливается рост волос, они сильно редеют, восстановить их становится труднее. 
            p Тотальное выпадение при себорейной алопеции — редкость, но оставшиеся волосы выглядят удручающе. Что снижает уверенность в себе, вгоняет в стресс, иногда депрессию, нарушает привычный уклад жизни, затрудняет общение с людьми.
            h2 Особенности лечения
            +blockMarked({ padding: 'small' }): p Если заболевание подтвердилось, лечение стоит начать как можно раньше. Начатое на этой, первой стадии, может остановить дальнейшее выпадение волос. 
            p Если же пациент не начнет заниматься здоровьем вовремя, и не обратится за помощью к врачу, болезнь будет усугубляться, волосы начнут стремительно выпадать. Самостоятельные же попытки лечения часто приводят к усиленному выпадению волос, тяжелым формам протекания заболевания.
            p Проблемами выпадения волос занимаются профессиональные врачи — трихологи, к ним нужно обращаться за помощью. Врач проведет полное обследование организма, установит первопричины выпадения, назначит лечение.
            h3 Альтернатива операции — безоперационное замещение
            p Чтобы не чувствовать дискомфорт, не подвергаться психологическим стрессам, Эксперты рекомендуют нехирургические методы замещения волос — систему волос. Она поможет вернуться к прежней жизни, и не отказывать себе в тех удовольствиях, которые запретны при использовании парика (например, купание в бассейне) и т.д.
            ul.list-marked
              li Система волос — это изделие, в основе которого убедительная имитация кожи головы, пробора, краевой линии, на которую закреплены натуральные волосы, с эффектом роста «из кожи». 
              li Систему надежно и прочно фиксируют на двусторонний скотч, ленты или же медицинский клей. 
              li В результате человек получает полноценную шевелюру с естественным видом: никто не сможет догадаться, даже на ощупь, что это не его волосы. 
              li К тому же их можно мыть, укладывать, как и собственные, делать прически, купаться в море, бассейне. 
            p Система волос восстанавливает прежний уровень жизни: делает ее полноценной, активной и насыщенной. Заказать и приобрести изделие вы сможете в нашем Центре дизайна волос, приходите к нам за новым решением проблемы облысения!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
