extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Симптомы тотальной алопеции и способы ее лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Симптомы тотальной алопеции и способы ее лечения'})
      h1 Симптомы тотальной алопеции и способы ее лечения
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Тотальной алопецией (alopecia totalis) называют генерализированная форму очаговой алопеции, приводящую к&nbsp;полному облысению на&nbsp;всей голове, иногда и&nbsp;на&nbsp;остальных участках кожи. В&nbsp;случае возникновения тотальной алопеции поражается весь скальп полностью; при универсальной&nbsp;же алопеции&nbsp;&mdash; облысение наблюдается на&nbsp;всем теле.
            p Данное заболевание может возникнуть и&nbsp;у&nbsp;взрослого, и&nbsp;у&nbsp;ребенка. Основными признаками злокачественного течения этой болезни специалисты считают быстрое облысение всей волосистой части головы, а&nbsp;также выпадение волос на&nbsp;лице (борода, брови и&nbsp;ресницы). За&nbsp;несколько месяцев волосы полностью исчезают с&nbsp;головы.
            p Важен тот факт, что восстановление волос после лечения данного заболевания протекает в&nbsp;поздние сроки, причем первыми вырастают обесцвеченные и&nbsp;тонкие ресницы, после них появляются брови, а&nbsp;за&nbsp;ними пушковый волосяной покров на&nbsp;лице. После этого иногда годами, происходит постепенное восстановление волос волосистой части головы.
            p При подтверждение такого заболевания, как тотальная алопеция, больному стоит задуматься о&nbsp;применении системы волос. Это метод замещения волос, не&nbsp;требующий операционного вмешательства. Он&nbsp;может применяться при любом виде облысения. Столь широкий спектр использования безоперационного замещения, прежде всего, связан с&nbsp;той его особенностью, что он&nbsp;обеспечивает исключительно косметический (то&nbsp;есть визуальный) эффект присутствия волос. При этом непосредственного вмешательства в&nbsp;организм не&nbsp;производится, поэтому он&nbsp;совершенно безвреден в&nbsp;любом возрасте. Единственное противопоказание может быть связано с&nbsp;заболеваниями кожного покрова волосистой части головы.
            p В&nbsp;некоторых случаях восстанавливаются волосы лишь в&nbsp;области бровей и&nbsp;ресниц, волосистая&nbsp;же часть головы остается лишенной волос навсегда. Как правило, при данном виде алопеции больные жалуются на&nbsp;головные боли, слабость, а&nbsp;также другие подобные симптомы.
            h2 Причины возникновения тотальной алопеции
            p Согласно данным статистики, в&nbsp;последние годы тотальная алопеция встречается у&nbsp;взрослых людей и&nbsp;у&nbsp;детей чаще. На&nbsp;данный момент ею&nbsp;страдает примерно 0,1% населения планеты. Столь печальные изменения в&nbsp;организме проявляются у&nbsp;людей, адаптивные механизмы организма которых не&nbsp;способны по&nbsp;различным причинам справиться с&nbsp;чрезмерными нагрузками на&nbsp;нервную систему и&nbsp;с&nbsp;нагрузками, которые создается в&nbsp;результате негативной изменяющейся экологической ситуации.
            p Если рассмотреть механизм данного нарушения более подробно, можно отметить тот факт, что у&nbsp;генетически предрасположенных лиц в&nbsp;иммунной системе нарушается фактор контроля, называемый &laquo;свой-чужой&raquo;, вследствие чего начинается саморазрушение.
            p Прежде всего, это саморазрушение может сказываться на&nbsp;клетках волос, точнее сказать на&nbsp;клетках волосяных луковиц. При этом выпадение волос всегда начинается с&nbsp;небольшого очага, который лысеет, впоследствии выпадение волос может наблюдаться на&nbsp;всей поверхности головы, это значит что с&nbsp;очаговой развивается тотальная алопеция.
            p Клетками-эффекторами (иными словами убийцами) являются в&nbsp;этом случае лимфоциты крови, которые имеют оружие&nbsp;&mdash; перфорин. Лимфоциты (киллеры) могут уничтожать любую клетку человеческого организма в&nbsp;том случае, если между ними нарушится тканевая совместимость. Данный процесс можно наблюдать и&nbsp;при трансплантации органов, когда иммунная система начинает уничтожать клетки пересаженного органа. Для того чтобы уменьшить отторжение, пациенту после операции назначают так называемые иммуносупрессоры (иммуносдерживающие препараты).
            p Это, в&nbsp;первую очередь, циклоспорин с&nbsp;кортикостероидными гормонами. При облысении развивающийся аутоиммунный процесс подразумевает повреждение клеток системы корней волос лимфоцитами&nbsp;&mdash; клетками-киллерами. Активность лимфоцитов зависит в&nbsp;полной мере от&nbsp;действия антигенов (белковых молекул), которые поступают в&nbsp;кровь из&nbsp;уже собственных разрушившихся клеток, воздуха, пищи, а&nbsp;так&nbsp;же клещей, гельминтов и&nbsp;микроорганизмов, которые присутствуют у&nbsp;больного.
            p Чем сильнее облысение, тем большей является активность определённого отдела иммунной системы. Специалисты утверждают, что первые очаги алопеции могут зарастать самостоятельно, не&nbsp;нуждаясь в&nbsp;каком-либо специальном лечении, если общее выпадение волос не&nbsp;более двух месяцев. При возникновении заболевания, с&nbsp;появлением первого или нескольких последующих очагов облысения, у&nbsp;больного возбуждение иммунной системы пребывает на&nbsp;первом этапе, на&nbsp;котором уровень в&nbsp;крови антигенов от&nbsp;разрушившихся клеток волос еще очень низкий.
            p Концентрация антигенов постоянно возрастает с&nbsp;разрушением волосяных клеток, это становится причиной вторичной активации киллеров и&nbsp;накопления специальных антител, а&nbsp;также возникновения долгоживущих лимфоцитов (так называемых клеток памяти) и&nbsp;значительного выпадения волос. Облысение на&nbsp;данном этапе находится уже в&nbsp;хронической форме, и&nbsp;самостоятельное восстановление волосяного покрова происходит весьма редко. Величина площади очага алопеции показывает уровень активности иммунного процесса, но&nbsp;не&nbsp;длительность заболевания. Тотальная алопеция может сопровождаться аутоиммунным тиреоидитом с&nbsp;гипотириозом, атопическим дерматитом и&nbsp;дисфункцией половых эндокринных желёз. В&nbsp;боле редких случаях наблюдается ревматоидный артрит, а&nbsp;также атопическая бронхиальная астма. При этом важен тот факт, что процессы, протекающие в&nbsp;организме, являются обратимыми в&nbsp;большинстве случаев.
            h2 Лечение тотальной алопеции
            p Принято считать, что вылечить можно облысение практически любой длительности. В&nbsp;случает тотального облысения с&nbsp;анамнезом около 20&nbsp;лет восстановление волосяного покрова может свидетельствовать о&nbsp;повреждении не&nbsp;клеток волосяного фолликула, как такового, а&nbsp;клеток структуры волоса. Данной структурой является мозговое вещество волоса, которое находится в&nbsp;центральной его области.
            p Если это подтверждено, значительная часть клеток самого волосяного фолликула остаётся неповрежденной, жизнеспособной&nbsp;и, более того, готовой к&nbsp;воспроизводству волос снова, спустя 20-летие после выпадения старых волос. После того как волосы были потеряны, интенсивность аутоиммунного процесса снижается и&nbsp;он&nbsp;уже не&nbsp;в&nbsp;такой сильной степени продолжает повреждать другие органы. Довольно часто универсальное облысение сопровождается хроническими вялотекущими процессами в&nbsp;железе внутренней секреции.
            p Специалисты считают, что при тотальном облысении можно прибегать у&nbsp;хирургическим методам лечения облысения. Однако данная процедура является утомительной и&nbsp;дорогой, хотя результаты могут полностью удовлетворить больного. Другая хирургическая процедура&nbsp;&mdash; это редукция скальпа (иными словами удаление части скальпа).
            p Кроме этих методов, существуют и&nbsp;более лояльные, менее дорогие. Так, например, широкое распространение получил метод коррекции облысения, так называемое безоперационное замещение волос. Преимуществами данного метода является&nbsp;то, что он&nbsp;совершенно безболезненный и&nbsp;безопасный для здоровья! А&nbsp;система волос позволяет больному обеспечить превосходную маскировку облысения, при этом указанный метод намного дешевле любой хирургической процедуры.
            p Стоит упомянуть о&nbsp;преимуществах системы волос перед накладками и&nbsp;париками. В&nbsp;отличие от&nbsp;них она прочно прикрепляется к&nbsp;голове, не&nbsp;нуждается в&nbsp;ежедневном снимании и&nbsp;надевании. Она дает человеку возможность снова быть уверенным, даже занимаясь спортом, плавая, ведь волосы неизменно будут выглядеть естественно.
            p Однако заниматься вопросами создания системы волос должны специалисты с&nbsp;опытом работы в&nbsp;данной области, способные подобрать максимально точно подходящие по&nbsp;структуре, цвету и&nbsp;текстуре волосы.
            p Система волос имеет также преимущества и&nbsp;перед париками и&nbsp;накладками, прочно крепится к&nbsp;голове и&nbsp;не&nbsp;требует ежедневного снимания и&nbsp;надевания. А&nbsp;также позволяет человеку быть уверенным, занимаясь спортом, плавая, что волосы будут выглядеть очень естественно.
            p Центр дизайн волос предлагает универсальную услуги по&nbsp;безоперационному замещению волос (система волос), с&nbsp;помощью которой&nbsp;Вы можете почувствовать вкус к&nbsp;жизни и&nbsp;уверенность в&nbsp;себе! Наши мастера проконсультируют Вас по&nbsp;всем вопросам, связанными с&nbsp;системой, и&nbsp;дадут свои рекомендации. Будем рады помочь Вам!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
