extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Симптомы тотальной алопеции и способы ее лечения'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Симптомы тотальной алопеции и способы ее лечения'})
      h1 Симптомы тотальной алопеции и способы ее лечения
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Тотальная алопеция (alopecia totalis) — это генерализированная форма очаговой алопеции, приводящая к полному облысению на голове, иногда и на остальных участках тела. При тотальной алопеции поражается скальп; при универсальной — облысение происходит на всем теле. 
            p Заболевание может возникнуть и у взрослого, и у ребенка. Признаки злокачественного течения — стремительное облысение волосистой части головы, а также выпадение волос на лице (борода, брови и ресницы). Волосы с головы исчезают за несколько месяцев.
            p Восстановление волос после лечения длительное: 
            ul.list-marked.list-marked--w-prev-par
              li первыми вырастают обесцвеченные и тонкие ресницы, 
              li после них появляются брови, 
              li а за ними — пушковый волосяной покров на лице, 
              li после этого годами восстанавливаются волосы на голове. 
            p В некоторых случаях восстанавливаются только волосы в области бровей и ресниц, волосистая же часть головы остается лишенной волос навсегда. Этот вид алопеции сопровождается дополнительными симптомами: головными болями, слабостью и другие подобными проявлениями.
            p Если диагноз тотальная алопеция подтвердился, стоит задуматься о применении системы волос: 
            ul.list-marked.list-marked--w-prev-par
              li Метод замещения волос, не требующий операционного вмешательства. 
              li Подходит при любом виде облысения: обеспечивает косметический (визуальный) эффект присутствия волос. 
              li Непосредственного вмешательства в организм нет, потому он безвреден. 
              li Единственное противопоказание — заболевания кожи волосистой части головы.
            h2 Причины возникновения тотальной алопеции
            p Согласно статистики, тотальная алопеция встречается у взрослых людей и чаще у детей: ею страдает 0,1% населения планеты. 
            p Печальные изменения в организме проявляются у тех людей, чьи адаптивные механизмы не способны справиться с чрезмерными нагрузками на нервную систему, и последствиями негативной экологической ситуации. 
            p Заболевание возникает у генетически предрасположенных лиц: 
            ul.list-marked
              li В иммунной системе нарушается фактор контроля под названием «свой-чужой», из-за чего начинается саморазрушение. 
              li Саморазрушение может повредить клетки волосяных луковиц. 
              li Начинается выпадение волос: вначале с очага, потом на всей поверхности головы: очаговая алопеция переходит в тотальную.
            p Клетками-эффекторами (убийцами) выступают лимфоциты крови, оружие которых — перфорин. Лимфоциты (киллеры) могут уничтожать клетку человеческого организма, если между ними нарушится тканевая совместимость. 
            p Процесс запускается и при трансплантации органов: иммунная система уничтожает клетки пересаженного органа. Чтобы уменьшить отторжение после операции, пациенту назначают иммуносупрессоры (иммуносдерживающие препараты): циклоспорин с кортикостероидными гормонами. 
            +blockMarked({ padding: 'small' }): p При облысении аутоиммунный процесс запускает повреждение клеток корней волос.
            p Активность лимфоцитов-киллеров зависит от антигенов (белковых молекул), которые поступают в кровь из уже разрушившихся клеток, воздуха, пищи, клещей, гельминтов и микроорганизмов, которые присутствуют у больного.
            p: img(src='/images/info/zametki/alopetsiya/simptomy-totalnoy-alopetsii-i-sposoby-ee-lecheniya/prichiny-vozniknoveniya-totalnoy-alopecii.jpg' alt='Причины возникновения тотальной алопеции')
            p Чем сильнее облысение, тем больше активность заданного отдела иммунной системы. 
            ul.list-marked
              li Трихологи утверждают, что первые очаги алопеции могут зарастать самостоятельно, не нуждаясь в специальном лечении, если срок выпадения волос до двух месяцев. 
              li В самом начале заболевания активность иммунной системы только на первом этапе, на котором уровень антигенов от разрушившихся клеток волос еще очень низкий: появляется один или несколько очагов облысения.
              li Концентрация антигенов нарастает с усилением разрушения волосяных клеток: происходит вторичная активация киллеров, скопление специальных антител, появление долгоживущих лимфоцитов (клеток памяти) и обильное выпадение волос. 
              li Облысение на этом этапе уже в хронической форме, и самостоятельное восстановление волос случается редко. 
            p Величина очага алопеции показывает уровень активности иммунного процесса, но не длительность заболевания. 
            p Тотальная алопеция может сопровождаться аутоиммунным тиреоидитом с гипотиреозом, атопическим дерматитом и дисфункцией половых эндокринных желёз. Реже возникает ревматоидный артрит, атопическая бронхиальная астма. Но протекающие в организме процессы обратимы в большинстве случаев. 
            h2 Лечение тотальной алопеции
            p Принято считать, что можно вылечить облысение любого срока продолжительности. Если тотальное облысение длилось 20 лет, восстановление волос может свидетельствовать о повреждении не клеток фолликула, а клеток структуры волоса — мозгового вещества, расположенного в центральной области.
            p В этом случае большинство клеток фолликула остается неповрежденной, жизнеспособной, готовой к воспроизводству волос снова, спустя 20-летие после выпадения старых волос. 
            +blockMarked({ padding: 'small' }): p После того как волосы выпали, интенсивность аутоиммунного процесса снижается, повреждение других органов тоже стихает.
            p Часто универсальное облысение сопровождается хроническими вялотекущими процессами в железе внутренней секреции.
            p: img(src='/images/info/zametki/alopetsiya/simptomy-totalnoy-alopetsii-i-sposoby-ee-lecheniya/lechenie-totalnoy-alopecii.jpg' alt='Лечение тотальной алопеции')
            p Врачи считают, что при тотальном облысении подойдут хирургические методы лечения. Но процедура утомительная и дорогая, хотя результаты могут удовлетворить больного. Другая хирургическая процедура — это редукция скальпа (удаление части).
            h3 Альтернатива операции — система волос 
            p Выбирают лояльные, менее дорогие методы. Популярность приобрело безоперационное замещение волос — метод коррекции облысения без хирургического вмешательства, преимущества которого — безболезненность и безопасность для здоровья. Используется система волос, маскирующая облысение, причем намного дешевле хирургической процедуры. 
            ul.list-marked
              li У системы волос преимущества и перед накладками, париками. В отличие от них, она прочно прикрепляется к голове, не нуждается в ежедневном снимании и надевании. 
              li Возвращает человеку уверенность, позволяет заниматься спортом, плавать, ведь волосы будут выглядеть естественно, и не покинут голову в неожиданный момент.
              li Создавать систему волос должны эксперты с опытом работы в этой области, способные подобрать волосы, подходящие по структуре, цвету и текстуре.
            p Центр дизайна волос предлагает универсальную услугу по безоперационному замещению (систему волос), с помощью которой вы можете почувствовать вкус к жизни и уверенность в себе! Наши мастера проконсультируют по всем вопросам, связанным с системой, и дадут рекомендации. Будем рады помочь вам!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
