extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Восстановление волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Восстановление волос'})
      h1 Восстановление волос
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p Лечение и восстановление волос — это важно!
            p Потеря волос становится серьезной проблемой для большего количества людей. Согласно статистике, 80% мужского населения земли сталкиваются с частичной либо полной потерей волос, а немалая доля женской части планеты — страдает от поредения волос. 
            p: img(src='/images/info/zametki/metody/vosstanovlenie-volos/vosstanovlenie-volos.jpg' alt='Восстановление волос')
            p На лечение и восстановление волос (утраченных или поредевших) тратят немало сил и средств. Ведь «новые волосы» способны вернуть человеку уверенность в себе, изменить жизнь, обеспечив успех в бизнесе и на личном фронте.
            h2 Когда восстановление роста волос становится необходимостью
            p Восстановление роста волос может понадобиться человеку по следующим причинам: 
            ul.list-marked.list-marked--w-prev-par
              li безоперационное восстановление волос неминуемо следует за ожогами, 
              li после химиотерапии, 
              li иногда даже после беременности. 
            p Восстановление луковиц волос может понадобиться и при выпадении из-за слабого иммунитета, стрессов, других проблем, которые окружают человека ежедневно. 
            p Эксперты выделяют виды алопеции (выпадения либо поредения волос), вызванные нарушениями в организме и иными причинами. И неизменно все они приводят людей в центр восстановления волос для того, чтобы осуществить безоперационное замещение, лечение луковиц волос. 
            +blockMarked({ 'padding': 'small' }): p Современные методы восстановления волос классифицированы на операционное и безоперационное восстановление волос. Выбор метода зависит не только от пациента, но и от клинической картины его проблемы.
            h2 Безоперационное восстановление волос
            p Метод безоперационного замещения натуральных волос — это безопасное восстановление волос для мужчин и женщин. Он основан на технологии, которая применяется в центрах Европы и США. 
            ul.list-marked
              li Восстановление этим методом подразумевает создание нового волосяного покрова из натуральных волос, подходящих по длине, структуре и цвету.
              li Клиника по восстановлению волос признает этот метод, как один из наиболее эффективных и безопасных для человека, ведь система волос крепится к коже головы и к волосам при помощи безвредных полимеров — клеев либо клеящих лент. 
              li Отличить новые волосы от природных невозможно! С ними человек может мыться под душем, делать прически, заниматься спортом. 
            p Система поможет осуществить восстановление волос после облучения (восстановление волос после химиотерапии) и облысения, возникшего по другим причинам. Если вас интересует восстановление волос, форум, посвященный данному методу, поможет убедиться в его эффективности!
            h2 Операция по восстановлению волос
            p Клиника по восстановлению волос, а также центр восстановления волос предлагает своим пациентам операцию — трансплантацию волос. Этот метод подходит не всем, и выводы о возможности операции в каждом конкретном случае делает врач.
            p: img(src='/images/info/zametki/metody/vosstanovlenie-volos/operatsiya.jpg' alt='Операция по восстановлению волос')
            p Восстановление волос для мужчин и женщин данным способом проводится двумя методами:
            ul.list-marked.list-marked--w-prev-par
              li стрип-метод (для пересадки используется кусок кожи, взятый из донорской зоны — с затылочного участка),
              li бесшовный (фолликулярный) метод: волосяные луковицы поштучно извлекают из донорской зоны специальным инструментом.
            h2 Плазмотерапия как вариант стимулирования роста волос
            p Метод предполагает введение в безволосый участок факторов роста, полученных из крови пациента. Способ назначают только после обследования у трихолога, схема лечения подбирается индивидуально, становится дополнением к общей местной терапии. Длится 20-30 минут. 
            p Способ проведения: сдаете 20 мл крови, врач обрабатывает ее в центрифуге, получает плазму, насыщенную тромбоцитами и факторами роста. Полученную плазму вводят в кожу головы методом инъекций. 
            p Особенности назначения:
            ul.list-marked.list-marked--w-prev-par
              li Трихолог анализирует состав крови, чтобы исключить отклонения.
              li Собирает анамнез: изучает, не страдали ли облысением родственники, поскольку проблема может усугубиться из-за малейшей травматизации кожи головы. 
              li Выясняет, нет ли противопоказаний: соматические и инфекционные заболевания несовместимы с плазмотерапией.
            p Частоту процедур подбирают, ориентируясь на интенсивность выпадения: делают раз в неделю или раз в месяц. Единичная процедура справиться с алопецией не сможет: методику важно сочетать с другими способами восстановления волос.
            h2 Другие методы
            ul.list-marked
              li Лазеротерапия: на пораженные участки действуют низкочастотными лучами лазера. Проникая в кожу головы, на глубину до 8 мм, активизирует кровообращение и улучшает метаболизм в клетках. Эффективность процедура зависит от состояния фолликулов.
              li Биостимуляторы: применяют средства, стимулирующие волосяные луковицы. В качестве таких можно подобрать биологические стимуляторы, в составе которых: растительные стволовые клетки, пептиды, биотин, аминокислоты. В комплексе вещества нормализуют трофику фолликулов, защищают их от негативного воздействия, улучшают микроциркуляцию крови, способствуя росту волос.
              li Усилители роста: доставляют кислород к тканям с волосяными луковицами. Принцип действия таких препаратов — сосудорасширяющий эффект. Усилители роста часто входят в состав миноксидила. 
              li Мезотепапия: в кожу головы делают инъекции индивидуально подобранных комплексов (содержат минералы, витамины, коллаген или другие вещества, в зависимости от потребности). Питательные вещества поступают к волосяным луковицам, активизируя их функции. 
              li Курс лечения комплексом препаратов: иммуномодулирующие средства, восстанавливающие гормональный фон, противоинфекционные. 
              li Медицина не бессильна перед облысением, но выбор по поводу решения данной проблемы пациент должен сделать сам, ориентируясь на рекомендации врачей!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
