extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Восстановление волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Инфо','Заметки эксперта'],current:'Восстановление волос'})
      h1 Восстановление волос
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            h2 Лечение и&nbsp;восстановление волос&nbsp;&mdash; это важно!
            p Потеря волос становится серьезной проблемой для все большего количества людей. Согласно статистике&nbsp;80% мужского населения земли сталкиваются с&nbsp;частичной либо полной потерей волос, а&nbsp;не&nbsp;малая доля женской части планеты страдает от&nbsp;поредения волос. На&nbsp;лечение и&nbsp;восстановление волос (утраченных или поредевших) люди тратят немало сил и&nbsp;средств. И&nbsp;это неудивительно, ведь &laquo;новые волосы&raquo; способны вернуть человеку уверенность в&nbsp;себе, изменить жизнь человека к&nbsp;лучшему, обеспечив успех в&nbsp;бизнесе и&nbsp;на&nbsp;личном фронте.
            h2 Когда восстановление роста волос становится необходимостью?
            p Восстановление роста волос может понадобиться человеку по&nbsp;различным причинам. Так, например, безоперационное восстановление волос неминуемо следует за&nbsp;различными видами ожогов, необходимо восстановление волос после химиотерапии, кроме того, восстановление волос на&nbsp;голове часто становится проблемой женщин после беременности. Восстановление луковиц волос может понадобиться и&nbsp;в&nbsp;случае выпадения волос из-за слабого иммунитета, стрессов, других проблем, которые окружают человека ежедневно.
            p Специалисты выделяют различные виды алопеции (выпадения либо поредения волос), которые могут быть вызваны различными нарушениями в&nbsp;нашем организме и&nbsp;иными причинами. И&nbsp;неизменно все они приводят людей в&nbsp;центр восстановления волос для того, чтобы осуществить безоперационное восстановление волос, восстановление луковиц волос любыми способами. Современные методы восстановления волос весьма разнообразны, то&nbsp;так или иначе они делаться на&nbsp;операционное восстановление волос на&nbsp;голове и&nbsp;безоперационное восстановление волос. Выбор метода зависит не&nbsp;только от&nbsp;пациента, но&nbsp;и&nbsp;от&nbsp;общей клинической картины его проблемы.
            h2 Безоперационное восстановление волос
            p Метод безоперационного замещения натуральных волос&nbsp;&mdash; это безопасное восстановление волос для мужчин и&nbsp;женщин. Он&nbsp;основан на&nbsp;технологии восстановления волос, которая успешно применяется в&nbsp;ведущих центрах Европы и&nbsp;США. Восстановление волос для мужчин и&nbsp;женщин этим методом подразумевает создание нового волосяного покрова из&nbsp;натуральных волос, идеально подходящих по&nbsp;длине, структуре и&nbsp;цвету. Клиника по&nbsp;восстановлению волос признает этот метод, как один из&nbsp;наиболее эффективных и&nbsp;безопасных для человека, ведь система волос крепится к&nbsp;коже головы и&nbsp;к&nbsp;волосам при помощи совершенно безвредных полимеров&nbsp;&mdash; клеев либо клеящих лент. Отличить новые волосы от&nbsp;природных невозможно! С&nbsp;ними человек может мыться под душем, делать различные прически, заниматься спортом. Система поможет осуществить восстановление волос после облучения (восстановление волос после химиотерапии) и&nbsp;восстановление волос после облысения, возникшего по&nbsp;любым другим причинам. Если Вас интересует восстановление волос форум, посвященный данному методу, поможет убедиться в&nbsp;его эффективности!
            h2 Операция по&nbsp;восстановлению волос
            p Современная клиника по&nbsp;восстановлению волос, а&nbsp;также любой центр восстановления волос предлагает своим пациентам такое восстановление волос после облысения, как операция по&nbsp;восстановлению волос&nbsp;&mdash; трансплантация волос. Этот метод подходит не&nbsp;всем и&nbsp;выводы по&nbsp;поводу того, возможно&nbsp;ли провести операцию в&nbsp;каждом конкретном случае делает врач.
            p Восстановление волос для мужчин и&nbsp;женщин данным способом проводится двумя методами:
            ul.list-marked.list-marked--w-prev-par
              li стрип-метод (для пересадки используется кусок кожи, взятый из&nbsp;донорской зоны с&nbsp;затылочной части),
              li бесшовный (фолликулярный) метод (волосяные луковицы извлекают из&nbsp;донорской зоны специальным инструментом по&nbsp;одной).
              li Современная медицина не&nbsp;бессильна перед облысением, но&nbsp;выбор по&nbsp;поводу решения данной проблемы пациент должен сделать сам!
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
