extends /blocks/layout-info/layout-info

block head
  -
    var pageTitle = 'Заметки эксперта'
    var pageDescription = ''
    var pageKeywords = ''
    var infoSection = true
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Заметки эксперта'})
      +pageSection
        h1 Заметки эксперта
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            -
              let articles = [
                {
                  href: 'oblysenie-vidy-simptomy-i-sposoby-borby.html',
                  title: 'Облысение: виды, симптомы и способы борьбы',
                  body: {
                    tag: 'p', content: 'Облысение головы (или алопеция)&nbsp;&mdash; это преждевременное нежелательное выпадение волос, которое превращается для человека любого пола и&nbsp;возраста в&nbsp;серьезную психологическую проблему. Во&nbsp;все века волосы считались символом энергии и&nbsp;жизненной силы, а&nbsp;в&nbsp;древности их&nbsp;связывали с&nbsp;мужским здоровьем. Именно поэтому мужчины всех времен очень серьезно относятся к&nbsp;вопросам потери волос.'
                  },
                  readmore: true
                },
                {
                  href: 'oblysenie-u-muzhchin-prichiny-razvitiya.html',
                  title: 'Облысение у мужчин: причины развития',
                  body: {
                    tag: 'p', content: 'В&nbsp;наши дни можно встретить множество мужчин, которые обеспокоены вопросами потери волос. Неслучайно раннее облысение у&nbsp;мужчин является второй проблемой по&nbsp;значимости после эректильной дисфункции, а&nbsp;последняя, как известно, носит глобальный характер. Для того чтобы справиться с&nbsp;данной проблемой, необходимо обладать большим багажом знаний, и, конечно&nbsp;же, при первых признаках заболевания немедленно обращаться за&nbsp;помощью к&nbsp;специалистам.'
                  },
                  readmore: true,
                },
                {
                  href: 'oblysenie-u-zhenshchin-problema-veka.html',
                  title: 'Облысение у женщин – проблема века!',
                  body: [
                    {tag: 'p', content: 'Для каждой женщины, столкнувшейся с&nbsp;проблемой облысения &laquo;жизнь кончена&raquo;. Именно так воспринимают пациентки свою проблему, полагая, что далее, без былой красоты, жизнь теряет всякий смысл. Если некоторые мужчины (который также очень часто болезненно воспринимают новость о&nbsp;проявлении алопеции) могут свыкнуться с&nbsp;незапланированной потерей волос, то&nbsp;из&nbsp;женщин мало кто способен с&nbsp;этим смириться. Конечно, облысение у&nbsp;девушки приносит огромное количество неприятных ощущений, которые проявляются в&nbsp;потере уверенности в&nbsp;себе, постоянных ощущениях дискомфорта при нахождении в&nbsp;обществе, стрессовых ситуациях, психологической нестабильностью и&nbsp;многом другом.'},
                  ],
                  readmore: true
                },
                {
                  href: 'ochagovoe-oblysenie-prichiny-vozniknoveniya-i-metody-lecheniya.html',
                  title: 'Очаговое облысение: причины возникновения и методы лечения',
                  body: [
                    {tag: 'p', content: 'Очаговое облысение (или алопеция от&nbsp;лат. Alopecia areata)&nbsp;&mdash; это заболевание, которое является достаточно редким, но&nbsp;заслуживает особого внимания в&nbsp;силу того, что начинается неожиданно и&nbsp;так&nbsp;же неожиданно может исчезнуть. Весьма интересен тот факт, что при возникновении данного заболевания не&nbsp;наблюдаются какие-то определенные симптомы, которые смогли&nbsp;бы предупредить пациента о&nbsp;его наступлении. Гнездное облысение, именно так еще называют данное заболевание,сопровождается потерей волос на&nbsp;отдельных очагах головы, в&nbsp;дальнейшем эти участки могут сливаться между собой, увеличивая область выпадения волос.'},
                  ],
                  readmore: true
                },
                {
                  href: 'poterya-volos.html',
                  title: 'Потеря волос',
                  body: [
                    {tag: 'p', content: 'Ежедневно человек теряет сотни волосинок (до&nbsp;100 волос в&nbsp;сутки считается нормальным), но&nbsp;мы&nbsp;совершенно не&nbsp;замечаем этого, ведь на&nbsp;смену утраченным вырастают новые. Если&nbsp;же рост волос замедляется либо наблюдается ускоренная потеря волос, пора бить тревогу, так как это неминуемо станет причиной облысения.'},
                  ],
                  readmore: true
                },
                {
                  href: 'vosstanovlenie-volos.html',
                  title: 'Восстановление волос',
                  body: [
                    {tag: 'p', content: 'Потеря волос становится серьезной проблемой для все большего количества людей. Согласно статистике&nbsp;80% мужского населения земли сталкиваются с&nbsp;частичной либо полной потерей волос, а&nbsp;не&nbsp;малая доля женской части планеты страдает от&nbsp;поредения волос. На&nbsp;лечение и&nbsp;восстановление волос (утраченных или поредевших) люди тратят немало сил и&nbsp;средств. И&nbsp;это неудивительно, ведь &laquo;новые волосы&raquo; способны вернуть человеку уверенность в&nbsp;себе, изменить жизнь человека к&nbsp;лучшему, обеспечив успех в&nbsp;бизнесе и&nbsp;на&nbsp;личном фронте.'},
                  ],
                  readmore: true
                },
                {
                  href: 'rubtsovaya-alopetsiya-ili-kak-borotsya-s-oblyseniem.html',
                  title: 'Рубцовая алопеция или Как бороться с облысением',
                  body: [
                    {tag: 'p', content: 'Рубцовая алопеция&nbsp;&mdash; это один из&nbsp;видов потери волос, при котором процесс облысения начинается по&nbsp;причине повреждения фолликул волос. Повреждение при этом является необратимым и&nbsp;со&nbsp;временем на&nbsp;месте повреждения постепенно образуется рубцовая ткань. По&nbsp;причине образования данных тканей окончательно разрушаются кутикулы волос, а&nbsp;на&nbsp;поврежденных заболеванием участках образуется чрезвычайно гладкая кожа без волосяного покрытия и&nbsp;луковиц.'},
                  ],
                  readmore: true
                },
                {
                  href: 'seboreynaya-alopetsiya-vozmozhnosti-borby.html',
                  title: 'Себорейная алопеция: возможности борьбы',
                  body: [
                    {tag: 'p', content: 'Себорейная алопеция&nbsp;&mdash; это заболевание волос, которое наиболее часто встречается в&nbsp;современном мире. От&nbsp;него страдают 25&nbsp;% людей планеты. Как правило, заболевание начинается еще в&nbsp;пубертатный (переходный) период и&nbsp;может одинаково часто проявляться и&nbsp;у&nbsp;юношей, и&nbsp;у&nbsp;девушек. Первым симптомом проявления данного заболевания является выпадение волос, которое сопровождается физиологическим состоянием, при котором наблюдается усиленное выделение кожного сала (так называемая физиологическая себорея).'},
                  ],
                  readmore: true
                },
                {
                  href: 'alopetsiya-nasushchnaya-zhenskaya-problema.html',
                  title: 'Алопеция – насущная женская проблема',
                  body: [
                    {tag: 'p', content: 'В&nbsp;последние годы все большее количество женщин обращаются к&nbsp;врачам-трихологам и&nbsp;причина этому&nbsp;&mdash; увеличение у&nbsp;женщин процента алопеции, протекающей по&nbsp;мужскому типу (андрогенетическая либо андрогенная алопеция). Каковы причины алопеции у&nbsp;женщин и&nbsp;почему возникла данная тенденция точно пока неизвестно. Однако ученые занимаются этим вопросом, осознавая, насколько он&nbsp;сейчас актуален.'},
                  ],
                  readmore: true
                },
                {
                  href: 'diffuznaya-alopetsiya-simptomy-lechenie.html',
                  title: 'Диффузная алопеция: симптомы, лечение',
                  body: [
                    {tag: 'p', content: 'Диффузная алопеция (или телогеновая) является проявлением внутреннего дисбаланса в&nbsp;человеческом организме и&nbsp;возникает вторично. Она обусловлена рядом определенных заболеваний и&nbsp;состояний. Учеными установлено, что диффузная алопеция у&nbsp;женщин встречается чаще (примерно&nbsp;40%), чем и&nbsp;у&nbsp;мужчин (примерно 20%). Как правило она возникает после 20&nbsp;лет. Для данного заболевания характерно обильное выпадение волос, которое периодически может серьезно усиливаться и&nbsp;вовсе затихать, в&nbsp;дальнейшем наблюдается ослабление роста волос.'},
                  ],
                  readmore: true
                },
                {
                  href: 'androgennaya-alopetsiya-osobennosti-razvitiya-i-metody-lecheniya.html',
                  title: 'Андрогенная алопеция: особенности развития и методы лечения',
                  body: [
                    {tag: 'p', content: 'Андрогенетическая алопеция (или андрогензависимая алопеция)&nbsp;&mdash; это заболевание, в&nbsp;результате которого происходит преждевременное облысение. Чаще всего данное заболевание носит генетический характер, то&nbsp;есть передает по&nbsp;наследству, проявляется у&nbsp;тех, у&nbsp;кого в&nbsp;роду данное заболевание уже встречалось. Это значит, что у&nbsp;такого заболевания, как андрогенная алопеция причины нужно искать на&nbsp;генетическом уровне.'},
                  ],
                  readmore: true
                },
                {
                  href: 'ochagovaya-alopetsiya-simptomy-priznaki-metody-borby.html',
                  title: 'Очаговая алопеция: симптомы, признаки, методы борьбы',
                  body: [
                    {tag: 'p', content: 'Очаговая алопеция или гнездная алопеция (от&nbsp;лат. alopecia areata)&nbsp;&mdash; это заболевание, в&nbsp;процессе протекания которого у&nbsp;больного наблюдается выпадение волос на&nbsp;отдельных участках, очагами. Под очагом понимаются облысевшие участки как головы, так и&nbsp;тела. Количество подобного рода &laquo;очагов&raquo; может быть разнообразным, варьироваться могут также их&nbsp;размеры, однако чаще всего пораженные болезнью участки не&nbsp;превышают в&nbsp;диаметре нескольких сантиметров.'},
                  ],
                  readmore: true
                },
                {
                  href: 'alopetsiya-parik.html',
                  title: 'Алопеция парик',
                  body: [
                    {tag: 'p', content: 'Алопеция&nbsp;&mdash; патологическое облысение кожного покрова головы. Ученые выделяют андрогенную (андрогенетическую), рубцовую, очаговую, диффузную и&nbsp;себорейную. Причинами такого заболевания могут быть гормональные и&nbsp;аутоиммунные нарушения, пищевая недостаточность, заболевания желудочно-кишечного тракта, инфекции, эмоциональные и&nbsp;физические перегрузки, а&nbsp;также генетическая предрасположенность, а&nbsp;также травмы.'},
                  ],
                  readmore: true
                },
                {
                  href: 'simptomy-totalnoy-alopetsii-i-sposoby-ee-lecheniya.html',
                  title: 'Симптомы тотальной алопеции и способы ее лечения',
                  body: [
                    {tag: 'p', content: 'Тотальной алопецией (alopecia totalis) называют генерализированная форму очаговой алопеции, приводящую к&nbsp;полному облысению на&nbsp;всей голове, иногда и&nbsp;на&nbsp;остальных участках кожи. В&nbsp;случае возникновения тотальной алопеции поражается весь скальп полностью; при универсальной&nbsp;же алопеции&nbsp;&mdash; облысение наблюдается на&nbsp;всем теле.'},
                  ],
                  readmore: true
                },
                {
                  href: 'alopetsiya-vidy-simptomy-lechenie.html',
                  title: 'Алопеция: виды, симптомы, лечение',
                  body: [
                    {tag: 'p', content: 'лопецией (происходит от&nbsp;латинского alopecia) называют процесс полного или частичного выпадения волос. Выделяют различные виды алопеции, среди которых:'},
                  ],
                  readmore: true
                },
              ]
            +articlesList(articles)
          +grid__item({m:3,xs:12})
            -
              var consCategories = [
                {name:'Алопеция',count:'8'},
                {name:'Выпадение волос у мужчин',count:'2'},
                {name:'Выпадение волос у женщин',count:'2'},
                {name:'Себорея',count:'1'},
                {name:'Парики и накладки',count:'1'},
                {name:'Методы',count:'1'},
              ]
            +pageSubection
              +consultationCategories(consCategories)
            +pageSubection
              include /blocks/expert-notes-aside/expert-notes-aside
