.block-marked-whatis
  @media screen and (max-width point-xl)
    &__shifted
      // min-height 455px
      .image-shifted
        &__img
          position static
          max-width 100%
  @media screen and (min-width point-xl + 1)
    &__shifted
      .image-shifted
        position relative
        width 100%
        height 100%
        &__img
          position absolute
          top -124px
          left 39px
          max-width 439px
