include /blocks/img/img

+blockMarked({marginTop: true, bigPadding:true, color: 'medium'}).block-marked-whatis
    +grid({paddingy: false})
      +grid__item({xl:10,xs:12})
        +blockMarkedContent({marked:true})
          +grid({paddingy:true})
            +grid__item({m:8,xs:12})
                p Замещение волос (реплейсмент) представляет собой новый, 100% натуральный волосяной покров на&nbsp;тончайшей силиконовой основе, пропускающей воду и&nbsp;воздух и&nbsp;позволяющей коже головы дышать.
                p
                  +textMarked Волосяной покров будет создан идеально подходящим по&nbsp;цвету, длине и&nbsp;структуре к&nbsp;Вашим родным волосам. Он&nbsp;прочно фиксируется на&nbsp;поверхности кожи головы с&nbsp;помощью специальных полимеров и&nbsp;становится абсолютно незаметным для окружающих.
                p Это обеспечивает системе волос абсолютно натуральный внешний вид. Также, данный способ позволяет добиться надежной фиксации нового волосяного покрова.
            +grid__item({m:4,xs:12}).block-marked-whatis__shifted
              .image-shifted
                +img({
                  name: 'whatis-1',
                  path: '/images/home/',
                  formats: [
                    { ext: 'jpg', mime: 'image/jpeg', orig: true },
                    { ext: 'webp', mime: 'image/webp' },
                  ],
                  density: [
                    { values: [1, 2] }
                  ]
                })(width=439 height=492 alt='Что такое замещение утраченных волос?' title='Что такое замещение утраченных волос?').image-shifted__img
            +grid__item({xs:12})
                p
                  +textMarked({type:'italic'}) Cистема волос позволит Вам вести такой образ жизни, о&nbsp;котором&nbsp;Вы всегда мечтали!
