.consultation-sent
  //- - 
  //-   const curSection = 
  h1 Вопрос отправлен
  p Вопрос отправлен, в&nbsp;течение рабочего дня ответим на&nbsp;него. Ответ появится на&nbsp;сайте в&nbsp;разделе &laquo;!{infoSection ? 'Вопросы' : 'Консультация'}&raquo;.
  p Если вы&nbsp;указали e-mail, отправим письмо с&nbsp;ответом. Если оставили телефон, позвоним и&nbsp;проконсультируем.
  p Можете не&nbsp;ждать ответа и&nbsp;позвонить&nbsp;8 (812) 245-37-38
  p Работаем ежедневно с&nbsp;10&nbsp;до&nbsp;21 (Санкт-Петербург)
  p: strong Пока ждете ответа , заходите в&nbsp;наше сообщество. 
    br
    | Посмотрите, как живет центр замещения волос.
  .consultation-sent__vk.vk-container
    script(type="text/javascript" src="//vk.com/js/api/openapi.js?127")
    #vk_groups
    script
        | VK.Widgets.Group("vk_groups",
        | {
        |     redesign: 1,
        |     mode: 4,
        |     width: "300",
        |     height: "400",
        |     color1: 'FFFFFF',
        |     color2: '000000',
        |     color3: '5E81A8'
        | }, 1969216);
