+blockMarked({smallPadding:true}).expert-notes-aside
  p: img(src='/images/o-kompanii/leytes.jpg' alt='Ольга Лейтес' )
  p Автор статей 
    a(href='#expert-notes-author' data-fancybox) Ольга Лейтес
    br
    | основатель центра восстановления волос

  p: a(href='/konsultatsiya/ask.html?questionToId=12') Задайте вопрос Ольге

include ../expert-notes-author/expert-notes-author
