.header-top
  display flex
  margin-x -(basePadding)
  padding-y basePadding
  align-items flex-end
  &__item
    margin-x basePadding
    &--contacts
      display flex
      flex-direction column
      justify-content center
      min-height 2.875rem
      margin-left auto
      line-height font-xl
    &--info
      line-height font-xl
  &__name
    font-size font-xl
  &__city
    font-size font-s
  &__phone
    font-size font-xl
    text-decoration none
    color inherit
  &__time
    font-size font-s
