include ../footer-staff/footer-staff

footer.footer
  .container
    .content
      if !smallFooter
        .footer__top
          h2 Записаться на консультацию
          +grid({paddingy:true})
            +grid__item({l:4,m:5,xs:12})
              -
                let footerForm = {
                  header: 'Консультация бесплатная',
                  inputs:[
                    {type:'text',name:'name',required:true,placeholder:'',label:'Имя'},
                    {type:'tel',name:'tel',required:true,placeholder:'',label:'Телефон'},
                    {type:'textarea',name:'comment',required:true,placeholder:'Когда вам позвонить, или что вас беспокоит',label:'Комментарий'},
                    {type:'checkbox',name:'agreement',required:true,label:'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.',checked:true},
                  ],
                  submit: 'Записаться'
                }
              +form(footerForm)#footer-form.footer-form
            if !noFullFooter
              +grid__item({l:8,m:7,s:8,xs:12})
                -
                  const staff = [
                    {img:'/images/footer/raisa-eronen.jpg', name: 'Раиса Еронен', position:'Администратор-консультант',alt:'Администратор Раиса Еронен',href:''},
                    {img:'/images/footer/tatyana-ermolaeva.jpg', name: 'Татьяна Ермолаева', position:'Администратор-консультант',alt:'Администратор Татьяна Ермолаева',href:''},
                  ]
                .footer__staff
                  +grid({paddingy:true})
                    each item in staff
                      +grid__item({m:4,xs:6})
                        +footerStaff(item)
                .footer__contacts
                  +grid({paddingy:true})
                    +grid__item({l:6,xs:12})
                      a(href='+78122453738').footer__phone +7 (812) 245 37 38
                      .footer__mail E-mail: 
                        a(href='mailto:mail@hairdesign.ru') mail@hairdesign.ru
                    +grid__item({l:6,xs:12})
                      p г. Санкт-Петербург,<br>наб. Обводного канала, 108А
                      p Работаем ежедневно с 10 до 21
      .footer__bottom
        .footer__copy © Центр замещения утраченных волос 2006 - 2018
        .footer__advertising
          a(href='http://www.medreclama.ru/' target='_blank') Реклама медицинского центра:
          br
          |  Агентство "Медреклама"
        .footer__agreements
          a(href='') Соглашения на обработку персональных данных
          |  | 
          a(href='') Правила использования сайта
