.footer
  padding-top (56/16)rem
  &__top
    h2:first-child
      margin-bottom 1.25rem
  &__staff
    padding-bottom (basePadding*2)
    padding-top 1rem
  &__contacts
    border-top 2px solid #e7e7e8
    color #636363
    padding-top (basePadding*2)
  &__phone
    font-size (40/16)rem
    font-weight 500
    line-height 1.25
    white-space nowrap
    margin-bottom 1rem
  &__bottom
    border-top 2px solid #e7e7e8
    padding-y (basePadding/2*3)
    margin-top (basePadding*5)
    color #636363
    flex-wrap wrap
    display flex
    justify-content space-between
    margin-x -(basePadding/2)
    & > *
      padding (basePadding/2)
  // &__copy
  //   margin-bottom (basePadding/3*2)
  &__agreements
    width 100%
    font-size font-xs
  &__advertising
    padding-left 3rem
    background-image svgImport('svg/medreclama.svg')
    background-repeat no-repeat
    background-position left center
    background-size 2.25rem
.footer-form
  max-width 22.125rem
