.products-payment-delivery
  &__header
    position relative
    font-weight 400
    &::before
      content ''
      display inline-block
      border-bottom 2px solid #3d3d3d
      width 2.25rem
      height 2.375rem
      margin-right 0.5rem
      background-size 2rem
      background-position center top
      background-repeat no-repeat
      margin-bottom -0.375rem
  h4
    font-size font-s
    line-height line-s
  p
    font-size font-s
    line-height line-s
    & + h3
      margin-top 1.5rem
  h4 + p
    margin-top 0

  &--delivery
    & ^[-1]__header
      &::before
        background-image var(--products-delivery)
  &--payment
    & ^[-1]__header
      &::before
        background-image var(--products-payment)
