+blockMarked({smallPadding: true}).consultation-ask-panel
  +grid({parLike:true,paddingy: true,align: 'center'})
    +grid__item({m:9,xs:12})
      p Отвечаем на&nbsp;вопросы по&nbsp;трихологии, болезням волос, уходом за&nbsp;волосами.
      p Если Вы&nbsp;не&nbsp;нашли ответ на&nbsp;свой вопрос, обратитесь за&nbsp;консультацией к&nbsp;нашим специалистам.
    +grid__item({m:3,xs:12}).consultation-ask-panel__right
      a(href='http://www.hairdesign.ru/konsultatsiya/ask.html').btn.consultation-ask-panel__button Спросить совет
      .consultation-ask-panel__clarification Советуем с 2007 года
