+blockMarked({smallPadding: true}).consultation-ask-panel
  +grid({parLike:true,paddingy: true,align: 'center'})
    +grid__item({m:9,xs:12})
      p На&nbsp;нашем форуме по&nbsp;системе волос мы&nbsp;отвечаем на&nbsp;вопросы связанные с&nbsp;подбором, изготовлением, ношением и&nbsp;уходом за&nbsp;системами волос.
      p Если Вы&nbsp;не&nbsp;нашли ответ на&nbsp;свой вопрос, обратитесь за&nbsp;консультацией к&nbsp;нашим специалистам.
    +grid__item({m:3,xs:12}).consultation-ask-panel__right
      a(href='http://www.hairdesign.ru/konsultatsiya/ask.html').btn.consultation-ask-panel__button Спросить совет
      .consultation-ask-panel__clarification Советуем с 2007 года
