mixin homePrice(price)
  -
    let settings = price.settings ? price.settings : {}
    let padding = settings.padding ? settings.padding : ''
  +blockMarked({marginTop:true, color: 'dark', padding: padding}).home-price
    +blockMarkedContent({lifted: true, marked: true})
      .home-price__title !{price.title}
      +grid({paddingy:true, justify:'center'})
        each item in price.list
          -
            item.sizes = item.sizes ? item.sizes : {s:4,xs:6}
            itemClass = item.className ? 'home-price__item--'+item.className : ''
          +grid__item(item.sizes).home-price__item(class!= itemClass)
            - item.image = item.image != false ? true : false
            if item.image
              .home-price__item-image
            .home-price__item-title !{item.title}
            .home-price__price !{item.price}
             
            
