.tabs
  parMargin( )
  &__labels
    display flex
    justify-content center
    flex-wrap wrap
    margin -(basePadding)
    margin-bottom 2.125rem
  &__label
    margin basePadding
    color #a11c40
    border-bottom 1px dashed
    cursor pointer
    @supports (text-decoration-style dashed)
      border-bottom none
      text-decoration underline
      text-decoration-style dashed
    &--active
      color #4e4e4e
      border-bottom none
      cursor default
      @supports (text-decoration-style dashed)
        border-bottom none
        text-decoration none
.tab
  display none
  &--active
    display block
