mixin footerStaff(item)
  figure.footer-staff
    a(href!= item.href)
      img(src!= item.img alt!= item.alt ? item.alt : `${item.name}, ${item.position}`).footer-staff__image
    figcaption
      .footer-staff__name
        a(href!= item.href) !{item.name}
      .footer-staff__position !{item.position}
      
