extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Частичное облысение'
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        +breadcrumbs({parents: ['Главная'], current: 'Частичное облысение'})
        h1 Полное облысение
        +grid({parLike: true})
          +grid__item({m:8,s:10,xs:12})
            h3 Андрогенетическая алопеция, диффузная алопеция, очаговая алопеция
            p Система волос (метод безоперационного замещения волос) может применяться при частичном облысении. Она обеспечивает косметический (визуальный) эффект наличия волос. Никакого вмешательства в&nbsp;организм человека не&nbsp;происходит, поэтому этот метод можно применять в&nbsp;любом возрасте.
            p Благодаря особым материалам, которые позволяют сделать основу системы волос абсолютно невидимой, а&nbsp;также новейшим способам фиксации система волос коренным образом отличается от&nbsp;традиционных париков и&nbsp;накладок. Этот метод создает такой визуальный эффект, при котором всем окружающим, да&nbsp;и&nbsp;самому клиенту, будет казаться, что волосы растут из&nbsp;кожи. Даже самый уязвимый участок&nbsp;&mdash; фронтальная линия&nbsp;&mdash; выглядит настолько натурально, что позволяет зачесывать волосы на&nbsp;бок и&nbsp;назад.
        h2 Результат замещения волос
        include /blocks/block-marked-result/block-marked-result
        h2 Какие есть альтернативы
        h3 1. Пересадка волос
        p Пересадка волос&nbsp;&mdash; хирургический метод. Обязательна медицинская консультация. Имеет противопоказания и&nbsp;ограничения.
        p Сравним только безоперационные методы: парик и&nbsp;система фиксации волос.
        h3 2. Парики и накладки
        include /data/comparison-partial-baldness
        +tableComparison(comparisonCompleteBaldness)
        h2 Как происходит замещение волос при частичном облысении
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('KuM3lieIRPk')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                p Очаговая алопеция, напасть с которой сталкиваются не только мужчины, но и прекрасная половина человечества, мы помогаем справляться с проблемами всем. На данном видео запечатлена наша клиента, которая уже долгое время пользуется услугами “Центра Дизайна волос”, и как видите, результат наших трудов - улыбка, прекрасное настроение и конечно же уверенность в себе! Разве нужны еще какие-то комментарии? 
        h2 Стоимость замещения утраченных волос
        +grid({parLike:true, paddingy: true, justify: 'center'})
          +grid__item({m:6,s:8,xs:12})
            -
              const priceForMen = {
                title: 'для мужчин',
                list: [
                  {className:'for-men-top', title:'Верхняя часть головы', price:'42&nbsp;000&nbsp;&mdash; 43&nbsp;000 руб.',sizes: {xs:6}},
                  {className:'for-men-three-fourties', title:'3/4 головы', price:'51&nbsp;000&nbsp;&mdash; 52&nbsp;200 руб.',sizes: {xs:6}},
                ],
                settings: {padding: 'medium'},
                
              }
            +homePrice(priceForMen)
          +grid__item({m:6,s:8,xs:12})
            -
              const priceForWomen = {
                title: 'для женщин',
                list: [
                  {className:'for-women-top', title:'Верхняя часть головы', price:'42&nbsp;000&nbsp;&mdash; 51&nbsp;000 руб.',sizes: {xs:6}},
                  {className:'for-women-three-fourties', title:'3/4 головы', price:'51&nbsp;000&nbsp;&mdash; 60&nbsp;000 руб.',sizes: {xs:6}},
                ],
                settings: {padding: 'medium'},
                
              }
            +homePrice(priceForWomen)
        +grid({paddingy: true, parLike:true})
          +grid__item(): a(href='/instruktsii/kak-vybrat-nuzhnuyu-dlinu.html') Как выбрать нужную длину
          +grid__item(): a(href='/tseny/') Скикди новым, постоянным клиентам и&nbsp;именниникам
          

        h2 Стоимость замещения утраченных волос
        +grid({parLike:true, paddingy: true, justify: 'center'})
          +grid__item({m:6,s:8,xs:12})
            -
              const priceForMen = {
                title: 'для мужчин',
                list: [
                  {className:'for-men-top', title:'Верхняя часть головы', price:'13&nbsp;000&nbsp;&mdash; 22&nbsp;400 руб.',sizes: {xs:8}},
                ],
                settings: {padding: 'medium'},
                
              }
            +homePrice(priceForMen)
          +grid__item({m:6,s:8,xs:12})
            -
              const priceForWomen = {
                title: 'для женщин',
                list: [
                  {className:'for-women-top', title:'Верхняя часть головы', price:'13&nbsp;000&nbsp;&mdash; 28&nbsp;800 руб.',sizes: {xs:8}},
                ],
                settings: {padding: 'medium'},
                
              }
            +homePrice(priceForWomen)
            
        h2 Отзывы клиентов
        -
          const feedback = [
            {
              body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
              author: 'Ольга',
              photo: {src:'/images/replacement-2-2.jpg', thumb:'/images/replacement-2-1.jpg'}
            },
            {
              body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
              author: 'Людмила',
              about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'}
            },
            {
              body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
              author: 'Любовь'
            },
          ]
        +feedbackList(feedback)
        p: a(href='/otzyvy#form-review-anchor').btn Оставьте отзыв
        h2 Клиенты спрашивают
        +grid({paddingy:true, parLike: true})
          +grid__item({s:8,xs:12})
            -
              let cons = [
                {
                  title: 'А можно ли как-то приклеить систему волос на свои очень жидкие волосы? Или это делается только на лысую голову? СПАСИБО,',
                  name: 'Елена, Якутск',
                  date: '04.04.2013'
                },
                {
                  title: 'Мне несколько раз приклеивали интеграцию на виски и затылочную область - отклеивается через день -два.У Вас не бывает таких случаев?',
                  name: 'Ксения',
                  date: '19.10.2009'
                },
              ]
            +consultationListSmall(cons)
          +grid__item({m:4,s:6,xs:12})
            +blockMarked({smallPadding: true, fontSize: 'small'})
              p Отвечаем в 
                a(href='/konsultatsiya/') консультации
                |  на ваши вопросы по системе, ценам, срокам, применение. Помогаем подготовиться и выбрать.
              p(style='text-align: center')
                a(href='/konsultatsiya/ask.html').btn Спросить совет
                br
                | Советуем с 2007 года
