extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Фиксация системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Фиксация системы волос'})
      +pageSection
        h1 Фиксация системы волос
        h2 Способ 1. Клей для фиксации волос
        p Для постоянной фиксации, средняя длительность которой составляет 3-5 недель, используем клей. Фиксация очень надежная.
        p Но самостоятельно сложно ей воспользоваться. Необходима помощь специалиста. Для этого в салоне существует услуга по 
          a(href='/uslugi/perefiksatsiya-sistemy-volos/') перефиксации системы волос
          | .
        -
          let fixSteps = [
            {
              img: '/images/fiksatsiya/foursteps-1.jpg',
              title: 'Убираем волосы с головы, где прилегает система',
            },
            {
              img: '/images/fiksatsiya/foursteps-2.jpg',
              title: 'Наносим бесцветный клей',
            },
            {
              img: '/images/fiksatsiya/foursteps-3.jpg',
              title: 'Приклеиваем систему',
            },
            {
              img: '/images/fiksatsiya/foursteps-4.jpg',
              title: 'Подстригаем',
            },
          ]
        +listStepsIllustrated(fixSteps)
        h2 Способ 2. Двусторонний скотч
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p Фиксация на скотч используется, в основном, для самостоятельного применения. Дома снимаете старый скотч, чистите систему волос, наклеиваете новый и выполняете установку системы волос.
            p Скотч бывает разной силы фиксации. Есть скотч, который держит почти так же долго, как клей. 
            p Если необходимо часто снимать систему, есть скотч более слабой фиксации.
            +blockMarked({marginTop:true, smallPadding: true, color: 'dark', type:'tape'})
              +blockMarkedContent({lifted: true, marked: true})
                p
                  a(href='/produktsiya/') Продаем
                  |  скотч, контурные ленты,<br>клей для фиксации волос
          +grid__item({m:4,s:8,xs:12})
            +figure({src:'/images/fiksatsiya/clay-side.jpg', caption:'Приклеиваем двусторонний скотч по периметру.'})
        p На скотч чаще фиксируют системы на всю голову, который носят клиенты с тотальной алопецией. 
        p На клей - системы при частичном замещении: на верхнюю часть головы и на 3/4 головы. В некоторых случаях скотч используют и для установки системы волос при частичном замещении.
        h2 Перефиксация на клей в центре замещения
        +grid({paddingy:true, parLike:true})
          +grid__item({m:3,s:6,xs:6})
            +imageBordered('/images/fiksatsiya/refixing-1.jpg','Перефиксация системы, шаг 1')
          +grid__item({m:3,s:6,xs:6})
            +imageBordered('/images/fiksatsiya/refixing-2.jpg','Перефиксация системы, шаг 2')
          +grid__item({m:3,s:6,xs:6})
            +imageBordered('/images/fiksatsiya/refixing-3.jpg','Перефиксация системы, шаг 3')
          +grid__item({m:3,s:6,xs:6})
            +imageBordered('/images/fiksatsiya/refixing-4.jpg','Перефиксация системы, шаг 4')
        +grid({paddingy:true, parLike:true})
          +grid__item({m:8,xs:12})
            p Система волос настолько надежно фиксируется к коже головы, что для того, чтобы ее снять, требуется специальный состав. Его применяют в Центре дизайна волос волос во время вашего очередного визита. Этот визит ничем не отличается от обычного визита к парикмахеру, но в данном случае к парикмахеру специализированному. Во время визита систему волос снимут, почистят, подвергнут специальной обработке, которая вернет волосам натуральный блеск и шелковистость.
            p При необходимости специалист скорректирует стрижку, выполнит окрашивание или тонирование ваших и/или добавленных волос. Кожа головы обрабатывается специальными ухаживающими средствами, чтобы предотвратить появление перхоти и раздражения
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              p Фиксируем и оказываем все парикмахерские услуги: укладка, прическа, окрашивание, завивка.
              p Запись: +7 (812) 245-37-38
