extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Густота волос системы'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Густота волос системы'})
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            h1 Густота волос системы
            h2 Густота 70%
            p Используется очень редко. В основном, в тех случаях, когда хочется создать для окружающих эффект постепенного восстановления волосяного покрова. Сначала изготавливается система волос небольшой площади и с минимальной густотой. Потом постепенно увеличивается и площадь, и густота. В этом случае изменение внешности происходит постепенно, у окружающих нет восприятия «до» и «после». Такой способ занимает достаточно много времени (переход от одной густоте к другой имеет смысл делать в течение года), и соответственно, стоит существенно дороже. Окончательного результата, к которому вы стремитесь, придется терпеливо ждать.
            +grid({'paddingy': true, 'parLike': true})
              +grid__item({m:4, s:6, xs:12}): p: a(href='/images/o-kompanii/zametki/gustota-volos-sistemy/70.jpg' data-fancybox): img(src='/images/o-kompanii/zametki/gustota-volos-sistemy/70.jpg' alt='')
            h2 Густота 90%
            p Рекомендуется для использования на висках или затылке для создания эффекта естественности. Помимо этого, лишняя густота в этих зонах усложняет уход и эксплуатацию. Верхние волосы падают на зону висков и затылка, создавая дополнительный объем. Поэтому собственно в этих зонах густоту можно делать меньше.
            +grid({'paddingy': true, 'parLike': true})
              +grid__item({m:4, s:6, xs:12}): p: a(href='/images/o-kompanii/zametki/gustota-volos-sistemy/90.jpg' data-fancybox): img(src='/images/o-kompanii/zametki/gustota-volos-sistemy/90.jpg' alt='')
            h2 Густота 110%
            p Данная густота смотрится очень естественно на всех зонах. Не подойдет тем, кто любит дополнительный объем в прическе. В этом случае этот процент густоты можно применять на зоне висков и затылка. В стандартной системе волос для мужчин «Интеграция» используется именно этот процент.
            +grid({'paddingy': true,'parLike': true})
              +grid__item({m:4, s:6, xs:12}): p: a(href='/images/o-kompanii/zametki/gustota-volos-sistemy/110.jpg' data-fancybox): img(src='/images/o-kompanii/zametki/gustota-volos-sistemy/110.jpg' alt='')
            h2 Густота 130%
            p Самый распространенный процент густоты на системах волос для женщин. С такой густотой получается необходимый объем. Изделие смотрится одновременно естественно и объемно. А дополнительная густота это всегда означает и более длительный срок эксплуатации.
            +grid({'paddingy': true, 'parLike': true})
              +grid__item({m:4, s:6, xs:12}): p: a(href='/images/o-kompanii/zametki/gustota-volos-sistemy/130.jpg' data-fancybox): img(src='/images/o-kompanii/zametki/gustota-volos-sistemy/130.jpg' alt='')
            h2 Густота 150%
            p Самый высокий процент густоты для любителей объемных густых причесок. Не рекомендуется на висках и затылке. Слишком большой объем волос не добавит естественности. При этом срок службы изделия с такой густотой будет несколько дольше.
            +grid({'paddingy': true, 'parLike': true})
              +grid__item({m:4, s:6, xs:12}): p: a(href='/images/o-kompanii/zametki/gustota-volos-sistemy/150.jpg' data-fancybox): img(src='/images/o-kompanii/zametki/gustota-volos-sistemy/150.jpg' alt='')
            p Процент и визуальный эффект густоты не являются строгим стандартом. На эффект густоты может влиять и цвет волос (светлые волосы на светлой коже кажутся гуще), толщина самих волос, а также существуют ограничения и особенности густоты в зависимости от материла основы. Например, на основу стретч невозможно сделать густоту навязки более 100%, а если ячейки сетки достаточно крупные, то создать на них высокий объем нереально. Все виды сеток и шелка имеют свои рекомендованные проценты густоты, поэтому при индивидуальном заказе нужно обязательно узнать обо всех этих особенностях у наших специалистов.
