extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +blockMarked({color: 'dark', padding: 'small'})
    .container
      .content(style='text-align: center;')
        +blockMarkedContent({'marked': true}) 
          p(style='line-height: 2rem;') С 28 марта по 30 апреля Центр Дизайна Волос будет закрыт.
            br
            strong
              a(href='/zakaz-sistemy-volos-udalenno/') Принимаем
              |  и выдаем заказы на системы волос, консультируем – удаленно.
            br
            | Записывайтесь 
            a(href='/kontakty/besplatnaya-onlayn-konsultatsiya/') на онлайн консультацию
            |  или 
            a(href='/kontakty/zapisatsya-v-list-ozhidaniya/') в лист ожидания.
            br
            | Консультации в WhatsApp, Viber, Telegram по номеру +7 (921) 571-01-24
            br
            | Предварительная запись к мастерам по телефону +7 (812) 385-01-51
  include /blocks/home/home-header/home-header
  +pageSection
    .container
      .content
        +homeSubtitle Что такое замещение утраченных волос?
        include /blocks/block-marked-whatis/block-marked-whatis
  +pageSection
    .container
      .content
        +homeSubtitle Что можно делать с HAIR SYSTEM?
        -
          const possibilities = [
            {title:'Спать', className:'possibilities-sleep'},
            {title:'Мыться и ходить в баню', className:'possibilities-wash'},
            {title:'Плавать', className:'possibilities-swim'},
            {title:'Заниматься активным спортом', className:'possibilities-sport'},
          ]
        +listAdvantages(possibilities)
  +pageSection
    .container
      .content
        +homeSubtitle 3&nbsp;шага к&nbsp;вашей новой шевелюре
        -
          const threeSteps = [
            {
              img:'/images/home/foursteps-1.jpg',
              title:'Консультация в&nbsp;нашем центре или по&nbsp;телефону',
              body: [
                {tag: 'p', content: 'Консультант-администратор расспросит о&nbsp;симптомах, степени облысения. Расскажет про стоимость и&nbsp;запишет на&nbsp;бесплатный прием.'},
                {tag: 'p', content: '<a href="#appointment-anchor-ss">Записаться на&nbsp;консультацию</a>'}
              ]
            },
            {
              img:'/images/home/foursteps-2.jpg',
              title:'Подбор готовой системы волос или индивидуальный заказ',
              body: [
                {tag: 'p', content: [
                    'Покажем образцы, подберем цвет, длину, основу.<br>Систему можно купить в&nbsp;этот&nbsp;же день. Если системы в&nbsp;наличии не&nbsp;подойдут, то&nbsp;ее&nbsp;можно заказать по&nbsp;индивидуальным рамерам.'
                  ]
                },
                {tag: 'p', content: '<a href="/etapy-zameshcheniya-volos/" class="btn-arrow">Как происходит подбор</a>'}
              ]
            },
            {
              img:'/images/home/foursteps-4.jpg',
              title:'Фиксация системы',
              body: [
                {tag: 'p', content: 'Зафиксируем на&nbsp;голове, подстрегем, сделаем прическу. По&nbsp;желанию завьем или сделаем укладку.'},
                {tag: 'p', content: '<a href="/fiksatsiya/" class="btn-arrow">Как происходит фиксация</a>'}
              ]
            },
          ]
        +grid({justify:'center',parLike:true})
          +grid__item({m:10,xs:12})
            +listStepsIllustrated(threeSteps)
        h3 Для иногородних клиентов
        +grid({paddingy:true,parLike:true})
          +grid__item({s:5, xs: 12}): p Мы&nbsp;можем проконсультировать вас по&nbsp;телефону, а&nbsp;снять размеры самостоятельно. Готовая система система будет выслана вам курьерской службой.
            a(href='/o-kompanii/zametki/kak-zakazat-inogorodnim.html') Подробнее
          +grid__item({s:7, xs: 12}): p: a(href='/instruktsii/kak-snyat-merki-dlya-sistemy-zameshcheniya-foto.html') Как выбрать, снять размеры и&nbsp;заказать
        include /blocks/banner-hermitage/banner-hermitage
  +pageSection
    .container
      .content
        +homeSubtitle Как происходит замещение волос при частичном облысении
        +tabs.home-tabs
          +tab({name: 'алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('EHEtnVujZKI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote
                      p Впервые я&nbsp;сюда попал 12&nbsp;лет назад с&nbsp;&laquo;проблемой&raquo;. С&nbsp;тех пор &laquo;проблемы&raquo; ушли. Потому что первое, что волновало будет&nbsp;ли система вести себя нормально. Под системой я&nbsp;называю волосяной покров. Будет&nbsp;ли она нормально себя вести в&nbsp;экстремальных условиях. Потому что я&nbsp;занимаюсь дайвингом, экстремальными видами спорта. Потом я&nbsp;очень много времени провожу в&nbsp;командировках от&nbsp;месяца до&nbsp;полутора. Проблем нет, ребята, я&nbsp;и&nbsp;ныряю и&nbsp;в&nbsp;сауну хожу и&nbsp;в&nbsp;командировку матаюсь по&nbsp;полтора месяца, не&nbsp;каких проблем. Вот так, все надежно, все держится.
          +tab({name: 'андрогенетическая алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('aUw8hx2LHVI')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote('Всеволод<br>частичное облысение на макушке')
                      p Многие мои знакомые вообще не&nbsp;поняли, что со&nbsp;мной произошло. Они просто считают, что я&nbsp;помолодел на&nbsp;10&nbsp;лет.
                      p Не&nbsp;каких физических неудобств я&nbsp;не&nbsp;испытывал.
                      p Это лучший метод в&nbsp;алтернативу парикам и&nbsp;подсаживаниям
          +tab({name: 'очаговая алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('KuM3lieIRPk')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    p Очаговая алопеция, напасть с&nbsp;которой сталкиваются не&nbsp;только мужчины, но&nbsp;и&nbsp;прекрасная половина человечества, мы&nbsp;помогаем справляться с&nbsp;проблемами всем. На&nbsp;данном видео запечатлена наша клиента, которая уже долгое время пользуется услугами &laquo;Центра Дизайна волос&raquo;, и&nbsp;как видите, результат наших трудов&nbsp;&mdash; улыбка, прекрастное настроение и&nbsp;конечно&nbsp;же уверенность в&nbsp;себе! Разве нужны еще какие-то комментарии?
          +tab({name: 'тотальная алопеция'})
            +blockMarked({marginTop: true})
              +grid({paddingy: true})
                +grid__item({m:8,xs:12})
                  +blockMarkedContent({lifted: true})
                    +youtubeResponsive('aO2dB8O2m4s')
                +grid__item({m:4,xs:12})
                  +blockMarkedContent()
                    +blockMarkedQuote('Наталья<br>тотальная алопеция')
                      p Являюсь клиентом центра с 2012 года. На первом же посещении покорил профессионализм, доброжелательное и тактичное отношение персонала. С тех пор с моей проблемой побывала у трех мастеров :Екатерины, Ирины, Натальи. С их лёгкой руки стрижки и укладки системы волос смотрятся не хуже своих волос. А какую шикарную укладку мне сделала Наталья на день рождения!!! Администраторы Раиса и Татьяна выше всяких похвал!!! Благодарю руководство студией Ольгу за прекрасный подбор персонала. Благодаря вам я не чувствую дискомфорта из-за моей проблемы.

  +pageSection
    .container
      .content
        +homeSubtitle Преимущества замещения волос
        +homeTextMarked Hair system невозможно купить в&nbsp;обычном магазине.
          br
          | Вы&nbsp;получаете изделие, кардинально отличающееся от&nbsp;всех существующих аналогов:


        -
          const advantages = [
            {title:'Без операций и&nbsp;таблеток', className:'advantages-no-pills', ban:true},
            {title:'Невозможно отличить на&nbsp;ощупь или визуально', className:'advantages-unnoticed'},
            {title:'Держится так&nbsp;же прочно, как и&nbsp;ваши собственные волосы', className:'advantages-strength'},
            {title:'Индивидуально подбирается размер, густота, длина и&nbsp;оттенок волос', className:'advantages-individual'},
            {title:'Возможность носить систему постоянно и&nbsp;вести привычный образ жизни', className:'advantages-everyday'},
            {title:'Используемые материалы экологичны и&nbsp;совершенно безопасны', className:'advantages-safety'},
            {title:'Противопоказания отсутствуют', className:'advantages-contradictions'},
            {title:'Возможность моделирования: любая прическа и&nbsp;стрижка', className:'advantages-hairstyle'},
          ]
        +listAdvantages(advantages)
  +pageSection
    .container
      .content
        +homeSubtitle Стоимость системы на&nbsp;заказ
        -
          const priceForMen = {
            title: 'для мужчин',
            list: [
              {className:'for-men-top', title:'Верхняя часть головы', price:'44&nbsp;800&nbsp;&mdash; 46&nbsp;080 руб.'},
              {className:'for-men-three-fourties', title:'3/4 головы', price:'54&nbsp;400&nbsp;&mdash; 55&nbsp;680 руб.'},
              {className:'for-men-full', title:'Вся голова', price:'67&nbsp;200&nbsp;&mdash; 68&nbsp;480 руб.'},
            ]
          }
          const priceForWomen = {
            title: 'для женщин',
            list: [
              {className:'for-women-top', title:'Верхняя часть головы', price:'44&nbsp;800&nbsp;&mdash; 54&nbsp;400 руб.'},
              {className:'for-women-three-fourties', title:'3/4 головы', price:'54&nbsp;400&nbsp;&mdash; 64&nbsp;000 руб.'},
              {className:'for-women-full', title:'Вся голова', price:'67&nbsp;200&nbsp;&mdash; 76&nbsp;800 руб.'},
            ]
          }
        +homePrice(priceForMen)
        +homePrice(priceForWomen)
        +grid({parLike:true})
          +grid__item({m:6,s:8,xs:12})
            p Цены варьируются в&nbsp;зависимости от&nbsp;длины волос (от&nbsp;20&nbsp;до&nbsp;60&nbsp;см)
          +grid__item({m:6,s:4,xs:12})
            a(href='/tseny/').btn-arrow Смотреть все цены
  +pageSection
    .container
      .content
        +homeSubtitle Стоимость готовой системы
        +homeTextMarked Готовые системы в&nbsp;наличии в&nbsp;центре замещения волос.
          br
          | Поможем подобрать длину, цвет, основу к&nbsp;которой крепятся волосы.
        -
          const priceReady = {
            title: 'для женщин и мужчин',
            list: [
              {title:'Верхняя часть головы<br>15&nbsp;сантиметров', price:'15&nbsp;000&nbsp;&mdash; 20&nbsp;000 руб.', image: false},
              {title:'3/4 головы<br>20&nbsp;и&nbsp;30&nbsp;сантиметров', price:'19&nbsp;200&nbsp;&mdash; 28&nbsp;800 руб.', image: false},
              {title:'Вся голова<br>30&nbsp;и&nbsp;45&nbsp;сантиметров', price:'38&nbsp;400&nbsp;&mdash; 44&nbsp;800 руб.', image: false},
            ]
          }
        +homePrice(priceReady)
  +pageSection
    .container
      .content
        +homeSubtitle Результат безоперационного восстановления волос
        +pageSubection
          include /blocks/block-marked-result/block-marked-result
        
        +pageSubection
          -
            const beforeAfter = {
              items: [
                {
                  images:{
                    before:'/images/before-after/before-after-1-1.jpg',
                    after:'/images/before-after/before-after-1-2.jpg'
                  },
                  name:'Всеволод',
                  desc:'андрогенная алопеция'
                },
                {
                  images:{
                    before:'/images/before-after/before-after-2-1.jpg',
                    after:'/images/before-after/before-after-2-2.jpg'
                  },
                  name:'Александр',
                  desc:'андрогенная алопеция'
                },
                {
                  images:{
                    before:'/images/before-after/before-after-3-1.jpg',
                    after:'/images/before-after/before-after-3-2.jpg'
                  },
                  name:'Анастасия',
                  desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
                },
              ]
            }
          +beforeAfter(beforeAfter)
        +pageSubection
          -
            const homeFeedback = [
              {
                body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
                author: 'Ольга',
                photo: {src:'/images/replacement-2-2.jpg', thumb:'/images/replacement-2-1.jpg'}
              },
              {
                body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
                author: 'Людмила',
                about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'}
              },
              {
                body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
                author: 'Любовь'
              },
            ]
          +feedbackList(homeFeedback)
          p: a(href='').btn-arrow Все отзывы
  +pageSection
    .container
      .content
        +homeSubtitle Центр замещения волос в&nbsp;Санкт-Петербурге
        +blockMarked({marginTop:true})
          +grid({paddingy: true})
            +grid__item({m:5, xs:12})
              h4 Открылись летом 2002 года
              p За&nbsp;это время мы&nbsp;накопили богатый опыт и&nbsp;сделали счастливыми сотни клиентов.
              h4 Скидки до 40% любимым клиентам
              p В&nbsp;нашем салоне в&nbsp;Санкт-Петербурге действует гибкая система скидок для новых и&nbsp;постоянных клиентов.
                br
                a(href='/tseny/') Все скидки
              h4 Коррекция фиксации, покраска, стрижка
              p Мы&nbsp;предоставляем гарантированное сервисное обслуживание для клиентов.
              h4 Изготавливаем индивидуальные системы волос
              p Каждому клиенту мы&nbsp;подходим индивидуально, учитывая его проблему.
            +grid__item({m:7, xs:12})
              +blockMarkedContent({lifted:true})
                -
                  let fotorama = {
                    list: [
                      '/images/home/slider2_small.jpg',
                      '/images/home/slider3_small.jpg',
                      '/images/home/slider4_small.jpg',
                      '/images/home/slider5_small.jpg',
                      '/images/home/slider6_small.jpg',
                      '/images/home/slider7_small.jpg',
                      '/images/home/slider8_small.jpg',
                      '/images/home/slider9_small.jpg',
                    ]
                  }
                +fotorama(fotorama)
