extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как выбрать нужную длину'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Заметки эксперта'],current:'Как выбрать нужную длину'})
      +pageSection
        h1 Как выбрать нужную длину
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            p У&nbsp;стандартных систем волос, которыми чаще пользуются мужчины, длина волос 15-20&nbsp;см. Эта длина позволяет сделать как короткую стрижку, классическую стрижку, так и&nbsp;удлиненную стрижку.
            p Индивидуальные системы могут иметь длину до&nbsp;60&nbsp;см. В&nbsp;редких случаях клиенты предпочитают и&nbsp;более длинные волосы. И&nbsp;это возможно.
            p Исходя из&nbsp;нашего опыта работы, можем дать следующие рекомендации по&nbsp;выбору длины волос:
            ul.list-marked.list-marked--w-prev-par
              li Если вы&nbsp;предпочитаете недлинные волосы, но&nbsp;чаще убираете их&nbsp;в&nbsp;хвост, то&nbsp;длина волос на&nbsp;системе должна быть не&nbsp;менее 35&nbsp;см.
              li Чем длиннее волосы, тем большего ухода они требуют. Даже свои длинные волосы могут немного путаться на&nbsp;концах, если за&nbsp;ними не&nbsp;ухаживать должным образом
              li Если вы&nbsp;идете в&nbsp;бассейн или собираетесь купаться в&nbsp;водоеме, длинные волосы убирайте в&nbsp;косу и&nbsp;в&nbsp;пучок.
              li Волосы на&nbsp;системе сохнут дольше, чем собственные волосы, поэтому если у&nbsp;вас нет времени на&nbsp;длительные процедуры по&nbsp;сушке и&nbsp;укладке, заказывайте более короткую длину.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
