extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как ухаживать за системой'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Как ухаживать за системой'})
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:8,xs:12})
            h1 Как ухаживать за системой
            p Умный уход за&nbsp;системой из&nbsp;натуральных волос позволяет существенно пролонгировать срок службы и&nbsp;обеспечить комфортную эксплуатацию. К&nbsp;тому&nbsp;же это чрезвычайно экономично. Правильная эксплуатация позволяет увеличить срок её&nbsp;службы на&nbsp;45-70% (с&nbsp;8-9 до&nbsp;16-18&nbsp;месяцев).
            h2 Ношение
            p Фиксация системы волос предполагает обязательное выбривание волос головы в&nbsp;зоне крепления. Спиртом обезжирьте зону бритья, края сеточки либо силиконовый край (в&nbsp;зависимости от&nbsp;типа системы). В&nbsp;случае особенностей кожи головы (жирная) используйте протектор в&nbsp;целях увеличения срока службы клея или фиксирующих лент.
            p Во&nbsp;время фиксации системы зажмите заколками (невидимками) краевые волосы, чтобы они не&nbsp;мешались, сами волосы уберите в&nbsp;хвост. Если вы&nbsp;используете клей: нанесите пунктиром на&nbsp;кожу и&nbsp;дайте слегка подсохнуть 1-2&nbsp;минуты. После чего прижмите на&nbsp;20-30 секунд край системы крепко-крепко, чтобы &laquo;схватился контакт&raquo;. Если вы&nbsp;используете ленту (аналог двустороннего скотча)&nbsp;&mdash; просто наклейте полоску 7-10&nbsp;см (как правило в&nbsp;районе лобной части) и&nbsp;зафиксируйте систему плотным прижиманием в&nbsp;зоне крепления.
            p Для снятия (перефиксации) системы волос используйте remover (гель-удалитель). Он&nbsp;идеально очищает клей как с&nbsp;сетки, так и&nbsp;с&nbsp;кожи головы. 
            p ВАЖНО: Старайтесь не&nbsp;мочить в&nbsp;первые 12&nbsp;часов после фиксации. Всё очень просто.
            h2 Мытьё
            p Мыть систему волос следует исключительно в&nbsp;теплой воде (не&nbsp;более 37*С). Процедуру мытья можно проводить, не&nbsp;снимая системы, или в&nbsp;тазике (на&nbsp;ваше усмотрение). Частота процедуры для натурального цвета волос: 1-2 раза в&nbsp;неделю, для окрашенных волос&nbsp;&mdash; не&nbsp;чаще 1&nbsp;раза в&nbsp;две недели. Старайтесь использовать шампуни с&nbsp;минимальным содержанием щелочи и&nbsp;протеина (оптимальный вариант&nbsp;&mdash; шампунь для окрашенных волос). Помните, что щелочная среда вредит волосам, делает их&nbsp;более ломкими и&nbsp;тусклыми. Кислотная среда, наоборот восстанавливает открывшиеся во&nbsp;время мытья чешуйки и&nbsp;способствует их&nbsp;&laquo;заживлению&raquo;. Бальзамы для окрашенных волос способны справиться с&nbsp;этой задачей лучше прочих средств.
            p Сушить и&nbsp;проветривать систему волос следует в&nbsp;свободном состоянии. Не&nbsp;стоит использовать фен при сушке системы. Расческа может использоваться любая (обычная).
            p НЕ&nbsp;ЖЕЛАТЕЛЬНО: Расчесывание мокрых волос (влажных волос). Во&nbsp;время таких манипуляций волос вытягивается и&nbsp;теряет способность восстанавливаться, в&nbsp;итоге просто рвется. Даже если волосы спутались&nbsp;&mdash; дождитесь полного высыхания.
            h2 Уход
            p Старайтесь не&nbsp;допускать длительные прямые солнечные нагрузки. Радиация (утрафиолет) губительно воздействует на&nbsp;волосы, разрушает их&nbsp;и&nbsp;обесцвечивает (выгорание). Система из&nbsp;натуральных волос ухода требует столько&nbsp;же, сколько обычные живые волосы.
            p В&nbsp;случае регулярного посещения бассейна (спортивные тренировки)&nbsp;&mdash; выбирайте ванны с&nbsp;озонированной водой. Избегайте частого контакта волос с&nbsp;хлоркой. После каждого сеанса такого плавания промывайте и&nbsp;высушивайте&nbsp;/ проветривайте ваши волосы.
            p Причиной ускоренного старения системы волос может стать неправильная организация сна. Используйте мягкие (сатиновые, шелковые) наволочки (волосы меньше мнутся) и&nbsp;в&nbsp;случае интенсивного использования системы волос&nbsp;&mdash; хотя&nbsp;бы один раз в&nbsp;неделю ночуйте без нее на&nbsp;голове. Тоже относится к&nbsp;любительницам шляпок и&nbsp;кепок. Переходите на&nbsp;летние платки и&nbsp;вязаные шапки.
            p Используйте кондиционер против бактерий и&nbsp;питательный крем. 
            p В&nbsp;зависимости от&nbsp;степени износа системы периодически подкрашивайте волосы (1-2 раза в&nbsp;полугодие).
            h2 Ремонт
            p Если волосы на&nbsp;вашей системе сильно спутаны, выцвели&nbsp;&mdash; то&nbsp;есть вы&nbsp;чувствуете, что срок службы системы волос на&nbsp;исходе (как правило, это 9-18 месяцев службы в&nbsp;зависимости от&nbsp;нагрузок) обязательно отдайте её&nbsp;в&nbsp;профессиональный ремонт.
            p Это экономичная процедура, которая продлевает срок службы системы ещё на&nbsp;3-6&nbsp;месяцев. продолжительность ремонта составляет от&nbsp;45&nbsp;до&nbsp;60&nbsp;дней с&nbsp;учетом доставки.
            p Процедура ремонта включает в&nbsp;себя следующие манупляции:
            ul.list-marked.list-marked--w-prev-par
              li Починка волос (отбеливание узлов, придание системе равномерной густоты)
              li Починка основы (замена сетки спереди, сшивание рваных участков, замена силикона)
              li Чистка и&nbsp;внешний вид (Глубокая чистка, кондиционирование, распутывание, покраска, стрижка)
            p ВАЖНО: на&nbsp;все ремонтные работы распространяется гарантия 30&nbsp;дней.

            p Материал взят с&nbsp;сайта: 
              a(href='http://www.hairsystems.ru/uxod-za-parikom') hairsystems.ru
block styles
  +style('inner')
