extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как одеть и снять систему волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Как одеть и снять систему волос'})
      +pageSection
        +grid({paddingy: true, parLike:true})
          +grid__item({m:8,xs:12})
            h1 Как одеть и снять систему волос
            p У&nbsp;опытных клиентов этот процесс занимает не&nbsp;более 30&nbsp;минут. Если вы&nbsp;делаете впервые, воспользуйтесь услугами наших профессионалов. Если у&nbsp;Вас нет возможности посетить наш &laquo;Центр Дизайна Волос&raquo; рекомендуем найти &laquo;своего&raquo; парикмахера-универсала или попросить о&nbsp;помощи близких людей. Правильно выполненная фиксация обеспечит ее&nbsp;надежность крепления и&nbsp;позволит дольше носить систему волос.
            h2 Фиксация системы
            p Для фиксация системы волос потребуется:
            ul.list-marked.list-marked--w-prev-par
              li 2&nbsp;зеркала, размещенные спереди и&nbsp;сзади вас;
              li бритва;
              li гели и&nbsp;пенки для бритья (но&nbsp;не&nbsp;используйте депилирующие средства);
              li спирт;
              li
                a(href='/o-kompanii/zametki/lentochnyy-fiksator-dlya-krepleniya-sistemy-volos.html') ленточный фиксатор
                |  или 
                a(href='/produktsiya/') жидкий фиксатор;
              li ножницы для ленты.
            p
              strong Подготовьте систему волос
              br
              | Перед перефиксации системы волос удалите остатки жидкого фиксатора или ленточного. Вымойте и&nbsp;высушите систему. Спиртом обезжирьте внутреннюю поверхность (основу системы) в&nbsp;местах где будет находится фиксатор.
            p
              strong Подготовьте голову
              br
              | Фиксация системы при частичной потере волос предполагает обязательное выбривание волос головы в&nbsp;зоне крепления. После того как&nbsp;Вы сбрили волосы обработайте эту зону спиртосодержащей жидкостью для обезжиривания.Зажмите заколками (невидимками) краевые волосы, чтобы они не&nbsp;мешались при фиксации. При необходимости свои волосы уберите в&nbsp;хвост.
            p
              strong Если вы&nbsp;используете жидкий фиксатор,
              |  нанесите тонким слоем жидкий фиксатор на&nbsp;кожу в&nbsp;месте фиксации. Оставьте подсохнуть на&nbsp;2&nbsp;минуты, пока он&nbsp;не&nbsp;станет бесцветным. Для обеспечения более сильного контакта кожи и&nbsp;системы волос можно наносить до&nbsp;4-х слоев. После чего прижмите на&nbsp;20-30 секунд систему волос к&nbsp;голове.
            p
              strong Если вы&nbsp;используете ленточный фиксатор
              | &nbsp;&mdash; наклейте полоски 7-10&nbsp;см по&nbsp;периметру системы волос, не&nbsp;удаляя защитную пленку. Фиксируйте систему волос, начиная с&nbsp;краевой линии на&nbsp;лбу по&nbsp;направлению к&nbsp;затылку, постепенно удаляя защитную пленку. Завершите фиксацию плотным прижатием системы волос к&nbsp;голове.
            p
              strong Замечания
              br
              | Через 10&nbsp;минут можно начинать расчесывать и&nbsp;укладывать.
              br
              | Старайтесь не&nbsp;мочить в&nbsp;первые 12&nbsp;часов после фиксации.
            h2 Снятие системы волос
            p Вам потребуется:
            ul.list-marked.list-marked--w-prev-par
              li спирт;
              li гель-эксфолиант (для бережного удаления остатков жидкого фиксатора с&nbsp;системы волос и&nbsp;кожи головы);
              li ватная палочка;
              li ватный диск.
            p Для снятия остатков жидкого фиксатора и&nbsp;полного очищения кожи головы используйте гель-эксфолиант (гель-удалитель). Он&nbsp;содержит смягчающие гипоаллергенные вещества для ухода кожи головы.

            p
              strong Этапы снятия системы волос
            ol.list-numbered.list-numbered--w-prev-par
              li Смочите ватную палочку гелем-удалителем.
              li Ватной палочкой пройдите по&nbsp;краю системы около лба. Через 2-3 прохода вы&nbsp;сможете поддеть ватной палочкой край системы.
              li Смочите ватный диск и&nbsp;пройдитесь по&nbsp;краю системы.
              li Возьмите за&nbsp;край системы и&nbsp;без рывков снимайте систему.
              li Очистите кожу головы спиртом от&nbsp;фиксатора.
              li Нанесите небольшое количество геля на&nbsp;кожу головы и&nbsp;мягкими массирующими движениями, в&nbsp;течении двух минут, распределите гель по&nbsp;очищенной поверхности. Оставьте на&nbsp;5&nbsp;минут, затем смойте остатки фиксатора теплой водой и&nbsp;вытрите насухо полотенцем.
              li Полностью снимите остатки клея с&nbsp;основы системы волос.
              li Тщательно вымойте систему волос в&nbsp;соответствии с&nbsp;инструкцией по&nbsp;уходу за&nbsp;изделиями.
            h2 Остались вопросы?
            p Посетители задают вопросы о&nbsp;фиксации системы волос нашим специалистам в&nbsp;
              a(href='http://www.hairdesign.ru/konsultatsiya/fiksatsiya-sistemy/') консультации
            h2 Записаться на&nbsp;фиксацию системы волос в&nbsp;Санкт-Петербурге
            p Записываться на&nbsp;первую фиксацию и&nbsp;стрижку системы волос имеет смысл заранее. Также мы&nbsp;рекомендуем предусмотреть достаточно времени (до&nbsp;2&nbsp;часов), чтобы вы&nbsp;могли не&nbsp;спеша обговорить с&nbsp;мастером все детали и&nbsp;особенности будущей стрижки.

            p Телефон: 8 (812) 245-37-38 
              br
              | 8-921-571-01-24 (viber, whatsapp) 
              br
              | Mail: mail@hairdesign.ru 
              br
              a(href='/o-kompanii/prilojenie/') Мобильное приложение
              |  (накапливаются бонусы) 
              br
              | Skype: HairDesignCenter
