extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как заказать иногородним'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Заметки эксперта'],current:'Как заказать иногородним'})
      +pageSection
        h1 Как заказать иногородним
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            +blockMarked({marginTop: true, smallPadding: true}).banner-hermitage.banner-hermitage--small
              a(href='http://www.hairdesign.ru/o-kompanii/novosti/inogorodnim-klientam-ekskursiya-po-gorodu-i-bilet-v-ermitazh-v-podarok.html')
                +grid({paddingy:true, justify: 'center', align: 'center'})
                  +grid__item({m:5,s:10,xs:12})
                    +blockMarkedContent()
                      img(src='images/hermitage.png')
                  +grid__item({m:7,xs:12})
                    h2 Подарок иногородним - билеты в Эрмитаж
                    p Иногородним клиентам при заказе индивидуальной системы волос обзорная экскурсия по городу и билет в Эрмитаж в подарок.
            p К&nbsp;сожалению, салоны безоперационного замещения волос есть далеко не&nbsp;во&nbsp;всех городах. Иногда можно столкнуться с&nbsp;посредниками, которые за&nbsp;определенные комиссионные разместят ваш заказ на&nbsp;одной из&nbsp;специализированных фабрик. К&nbsp;сожалению, качество таких изделий может быть сомнительным, а&nbsp;также у&nbsp;вас не&nbsp;будет никаких гарантий на&nbsp;возврат или обмен, если изделие не&nbsp;будет соответствовать указанным параметрам. Мы, в&nbsp;Центре дизайна волос, понимаем всю степень ответственности, и&nbsp;поэтому мы&nbsp;в&nbsp;обязательном порядке заключаем с&nbsp;клиентами договор, оплата поступает на&nbsp;наш расчетный счет. Поэтому наши клиенты могут быть уверены, что они защищены законодательством РФ. Особенное беспокойство может вызывать процедура заказа системы волос у&nbsp;клиентов, которые проживают вне Санкт-Петербурга, и&nbsp;у&nbsp;которых нет возможности приехать в&nbsp;салон на&nbsp;очную консультацию и&nbsp;оформление заказа. В&nbsp;этом случае мы&nbsp;предлагаем следующую схему работы.
            ol.list-numbered
              li После первого телефонного разговора обязательно назначается дата консультации по&nbsp;Skype. Если такой возможности нет, общение продолжается по&nbsp;электронной почте и/или по&nbsp;телефону, но&nbsp;мы&nbsp;обязательно просим выслать нам фото проблемной зоны головы. Только так мы&nbsp;можем определить, подходит&nbsp;ли вам метод безоперационного замещения волос.
              li Общаясь по&nbsp;Skype, мы&nbsp;обязательно показываем варианты основ, цветовую палитру, подробно говорим о&nbsp;способах фиксации и&nbsp;о&nbsp;вариантах дальнейшего обслуживания системы волос. Высылаем инструкцию для снятия мерок и/или помогаем их&nbsp;снять во&nbsp;время консультации по&nbsp;Skype.
              li Если вас все устраивает, мы&nbsp;оформляем заказ и&nbsp;договор. Вы&nbsp;получаете сканированную копию договора с&nbsp;нашими реквизитами и&nbsp;печатью.
              li После получения&nbsp;50% предоплаты, ваш заказ отправляется в&nbsp;производство.
              li Ближе к&nbsp;дате получения заказа в&nbsp;Санкт-Петербурге мы&nbsp;обязательно связываемся с&nbsp;вами любым из&nbsp;удобных вам способом, уточняем точную дату получения заказа.
              li Когда заказ в&nbsp;Санкт-Петербурге получен, мы&nbsp;можем опять связаться с&nbsp;вами по&nbsp;Skype, показать вам систему. Обсуждаем, какие фиксаторы вам необходимы. Выбираем наиболее подходящие.
              li Оплата второй части заказа на&nbsp;наш расчетный счет
              li Отправка системы волос курьерской службой по&nbsp;указанному вами адресу (доставка оплачивается отдельно курьеру, стоимость зависит от&nbsp;региона получения).
              li Если необходимо, оказываем консультации по&nbsp;самостоятельной фиксации и&nbsp;уходу за&nbsp;системой волос.
              li В&nbsp;Центре дизайна волос работают люди, чья задача помочь вам!

            p
              | Ответим на&nbsp;вопросы: +79215710124 (WhatsApp/Viber)
              br
              | Skype&nbsp;&mdash; HairDesignCenter
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
