extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как снять мерки для системы замещения [фото]'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Как снять мерки для системы замещения [фото]'})
      +pageSection
        h1 Как снять мерки для системы замещения [фото]
        +grid({paddingy: true, parLike:true})
          +grid__item({xs:12})
            include /blocks/how-to-take-measurments/how-to-take-measurments
          +grid__item({m:4,s:6,xs:12})
            +blockMarked({padding: 'small'})
              +grid({align: 'center'})
                +grid__item({xs:3})
                  include /styles/svg/document.svg
                +grid__item({xs:9})
                  p Как снять мерки для системы замещения
                  p: a(href='/upload/iblock/75e/75e9f774fe4db73efaa1f3e8a31b88e2.rtf') скачать инструкцию
