extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Как снять мерки для системы замещения [фото]'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Как снять мерки для системы замещения [фото]'})
      +pageSection
        h1 Как снять мерки для системы замещения [фото]
        +grid({paddingy: true, parLike:true})
          +grid__item({xs:12})
            include /blocks/how-to-take-measurments/how-to-take-measurments
          +grid__item({m:4,s:6,xs:12})
            +blockMarked({padding: 'small'})
              +grid({align: 'center'})
                +grid__item({xs:3})
                  svg(viewBox='0 0 43 56' xmlns='http://www.w3.org/2000/svg')
                    g(stroke='#3D3D3D' fill='none' fill-rule='evenodd')
                      path(d='M8.5 9.5h16v1h-16zM8.5 16.5h16v1h-16zM8.5 23.5h27v1h-27zM8.5 30.5h27v1h-27zM8.5 44.5h27v1h-27z')
                      path(d='M1 1v54h41V14.426L28.566 1H1Z' stroke-width='2')
                      path(d='M30.5 14.5h10v1h-10zM28.5 2.5h1v13h-1z')
                +grid__item({xs:9})
                  p Как снять мерки для системы замещения
                  p: a(href='/upload/iblock/75e/75e9f774fe4db73efaa1f3e8a31b88e2.rtf') скачать инструкцию
block styles
  +style('inner')
