extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      +pageSection
        h1 Контакты
        +pageSubection
          include /blocks/contacts/contacts
        +pageSubection
          include /blocks/banner-hermitage/banner-hermitage
        +pageSubection
          +grid({paddingy:true})
            +grid__item({m:8,s:10,xs:12})
              h2 3D-тур по Центру дизайна волос
              +iframeResponsive('https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469')
        +pageSubection
          +grid({paddingy:true})
            +grid__item({m:8,s:10,xs:12})
              h2 Фотографии Центра дизайна волос
              -
                var gallery = {
                  settings: {
                    fancyboxId: 'contacts-gallery'
                  },
                  list: [
                    {src:'/images/kontakty/office-49.jpg', detail:'/images/kontakty/office-49.jpg'},
                    {src:'/images/kontakty/office-42_thumb.jpg', detail:'/images/kontakty/office-42.jpg'},
                    {src:'/images/kontakty/office-43_thumb.jpg', detail:'/images/kontakty/office-43.jpg'},
                    {src:'/images/kontakty/office-44_thumb.jpg', detail:'/images/kontakty/office-44.jpg'},
                    {src:'/images/kontakty/office-45_thumb.jpg', detail:'/images/kontakty/office-45.jpg'},
                    {src:'/images/kontakty/office-46_thumb.jpg', detail:'/images/kontakty/office-46.jpg'},
                    {src:'/images/kontakty/office-47_thumb.jpg', detail:'/images/kontakty/office-47.jpg'},
                    {src:'/images/kontakty/office-48_thumb.jpg', detail:'/images/kontakty/office-48.jpg'},
                  ]
                }
              +gallery(gallery)
        +pageSubection
          +grid({paddingy:true})
            +grid__item({m:4,s:16,xs:12})
              h2 Москва
              h3 Центр эстетики волос &laquo;ГАММА&raquo;
              p Средний Тишинский пер., д.&nbsp;10
                br 
                | Тел.: (499) 766-24-88; гор. линия (495) 782-53-88
                br
                | Скайп: gamma_20
                br 
                | E-mail: 
                a(href='mailto:info@haircenters.ru') info@haircenters.ru
                br
                | Сайт: 
                a(href='http://haircenters.ru' target='_blank') haircenters.ru
            +grid__item({m:4,s:16,xs:12})
              h2 Уфа
              h3 Центр дизайна волос
              p ул. Бабушкина, д.&nbsp;52
                br
                | Тел.: 8 (919) 6132-810
                br
                | Режим работы с&nbsp;10&nbsp;до&nbsp;21, без выходных
              h3 Центр дизайна волос
              p ул. Менделеева, д. 150/4
                br
                | Тел.: 8 (347) 2574-888
                br
                | Cайты: 
                a(href='http//www.elitehair.ru' target='_blank') www.elitehair.ru
                | , 
                a(href='http//www.poteryavolos.ru' target='_blank') www.poteryavolos.ru
            +grid__item({m:4,s:16,xs:12})
              h2 Иваново

              h3 Центр дизайна волос

              p ул. Калинина д.&nbsp;17.
                br
                | Тел.&nbsp;8 (920) 348-71-76, +7 (4932) 57-71-76
                br
                | Группа Вконтакте: 
                a(href='https://vk.com/club31036846' target='_blank') vk.com/club31036846
            +grid__item({m:4,s:16,xs:12})
              h2 Самара
              h3 Центр замещения волос &laquo;Loconi&raquo;

              p Садовая 245&nbsp;/ Ярмарочная&nbsp;20
                br
                strong Телефоны:
                br
                | 8(987) 955-2-203
                br
                | 8(846) 205-2-203
                br
                | 8(927)725-2-332
                br
                | Instagram: 
                a(href='https://www.instagram.com/loconi_center/' target='_blank') loconi_center
            +grid__item({m:4,s:16,xs:12})
              h2 Израиль
              h3 Glamur

              p Qiriyat motzkin
                br
                | St. Moshe goshen 29
                br
                | Тел. +972522010605
                br
                | Facebook: 
                a(href='https://www.facebook.com/נטע-אומנות-השיער-368483243692963/?ti=as' target='_blank') נטע אומנות השיער
                | , 
                a(href='https://www.facebook.com/groups/1414994295260928/?ref=share' target='_blank') neta hair
block styles
  +style('inner')
