extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Новости'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Новости'})
      +pageSection
        h1 Новости
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            +pageSubection
              -
                let articles = [
                  {
                    href: 'novosti-item.html',
                    title: 'Центр дизайна волос закрыт 11.06.2018',
                    date:'07.06.2018',
                    body: {
                      tag: 'p', content: 'Уважаемые клиенты! Центр дизайна волос закрыт 11&nbsp;июня в&nbsp;связи с&nbsp;проведением корпоративного мероприятия. Наш дружный коллектив желает вам приятных выходных! Не&nbsp;забывайте, что в&nbsp;летнее время в&nbsp;выходные и&nbsp;праздничные дни мы&nbsp;работаем с&nbsp;10&nbsp;до&nbsp;19, а&nbsp;в&nbsp;будние по&nbsp;обычному графику с&nbsp;10&nbsp;до&nbsp;21. Всегда вам рады!'
                    },
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Режим работы в летний период 2018',
                    date:'06.06.2018',
                    body: {
                      tag: 'p', content: 'Режим работы в летний период: будние дни 10 - 21, выходные и праздничные дни 10-19. Будьте внимательны! Ждем Вас!'
                    },
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Иногородним клиентам экскурсия по городу и билет в Эрмитаж в подарок',
                    date:'08.03.2018',
                    body: [
                      {tag: 'p', content: '«Центр Дизайна Волос» приглашает Вас в Северную столицу!'},
                      {tag: 'p', content: 'Вы уже собираетесь к нам и хотите ознакомится с направлением безоперационного замещения, не потратив свое свободное, драгоценное время в пустую?'},
                      {tag: 'p', content: 'Мы поможем разнообразить Ваш досуг! Только иногородним клиентам нашего центра при заказе индивидуальной системы волос — мы дарим Вам уникальную возможность посетить наш город и познакомится с ним поближе, узнать культурную столицу изнутри.'},
                      {tag: 'p', content: 'Совершенно бесплатно Вы побываете на обзорной экскурсии по городу, подберём для Вас удобное время и дату, а также именно Вы сможете посетить входящий в тройку музеев мира — Эрмитаж — сердце Петербурга!'},
                    ],
                    readmore: true
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'В наличии новые системы волос',
                    date:'20.09.2017',
                    body: {
                      tag: 'p', content: [
                        'Дорогие друзья! В наличии появились новые системы волос с возможностью регулировки объема шапки и силиконовыми вставками на висках. Успейте купить сейчас, описание на ',
                        {tag: 'a', attributes:{href:'https://www.hairsystems.ru/sistemy-volos'}, content: 'https://www.hairsystems.ru/sistemy-volos'}
                      ]
                    },
                    readmore: true
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Датские накладки на пробор «T-Parting»',
                    date:'18.09.2017',
                    body: [
                      {tag: 'p', content: 'Дорогие клиенты и&nbsp;гости &laquo;Центр Дизайна Волос&raquo;!'},
                      {tag: 'p', content: 'Хотим поделиться с&nbsp;Вами интересными новостями, теперь у&nbsp;нас в&nbsp;наличии появились знаменитые датские накладки на&nbsp;пробор&nbsp;&mdash; &laquo;T-Parting&raquo;, накладка очень легка в&nbsp;использовании и&nbsp;ее&nbsp;очень просто фиксировать самостоятельно, имеются 3&nbsp;вида:'},
                      {tag: 'ul', className:'list-marked list-marked--w-prev-par',content: [
                        {tag: 'li', content: [{tag: 'strong', content: 'Размер накладки&nbsp;N:'},' ширина основы пробора 1,5&nbsp;см, длина основы пробора 14&nbsp;см, густота наполнения волос средняя, длина волос накладки 20-25&nbsp;см.']},
                        {tag: 'li', content: [{tag: 'strong', content: 'Размер накладки&nbsp;XL:'},' ширина основы пробора 3&nbsp;см, длина основы пробора 14&nbsp;см, густота пробора густая, длина волос накладки 20-25&nbsp;см.']},
                        {tag: 'li', content: [{tag: 'strong', content: 'Размер накладки XXL:'},' ширина основы пробора 3&nbsp;см, длина основы пробора 14&nbsp;см, густота накладки большая, длина волос накладки 40&nbsp;см.']}
                      ]},
                      {tag: 'p', content: 'Так&nbsp;же Вы&nbsp;можете приобрести:'},
                      {tag: 'ul', className:'list-marked list-marked--w-prev-par',content: [
                        {tag: 'li', content: 'Съемный стик для крепления пробора в&nbsp;наборе из&nbsp;5&nbsp;шт.'},
                        {tag: 'li', content: 'Съемный стик +лента с&nbsp;3-мя клипсами для крепления пробора в&nbsp;домашних условиях.'},
                        {tag: 'li', content: 'Средство для снятия накладки &quot;Tape Booster&quot;10&nbsp;мл'},
                      ]},
                    ],
                    readmore: true
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Парики Lace Wigs',
                    date:'04.07.2017',
                    body: {
                      tag: 'p', content: 'Парики Lace Wigs или система волос на всю голову с фронтальной сеткой — один из главных секретов красоты западных звезд. Бренд настолько популярен среди знаменитостей из-за своего безупречного качества: парик может имитировать даже прическу с зачесанными назад волосами, так как идеально близко прилегает к коже, и носиться по несколько дней — их можно мыть, укладывать и стричь, как свои настоящие волосы!'
                    },
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Режим работы в мартовские праздники 2016',
                    date:'04.03.2016',
                    body: {
                      tag: 'p', content: '8 марта 2016 года Центр дизайна волос не работает. 5,6,7 марта - рабочие дни. Ждем вас!'
                    },
                    readmore: true
                  },
                  {
                    href: 'novosti-item.html',
                    title: 'Приложения Центра дизайна волос для Android и iOS',
                    date:'19.02.2016',
                    body: [
                      {tag: 'p', content: [
                        'Для вашего удобства и накопительной системы скидок для вас теперь есть мобильное приложение Центра дизайна волос. Доступно для ',
                        {tag: 'a', attr:{href:'https://play.google.com/store/apps/details?id=ru.evolution_it.capp_248'}, content: 'Android'},
                        ' и для ',
                        {tag: 'a', attr:{href:'https://itunes.apple.com/ru/app/id1082431469?mt=8'}, content: 'iOS'},
                        '. С помощью приложения вы можете контролировать свой бонусный баланс, получать от нас новости об акциях и скидках, а также записаться к любимому мастеру онлайн.']},
                    ],
                    readmore: true
                  },
                ]
              +articlesList(articles)
            +pageSubection
              include /blocks/pagination/pagination
          +grid__item({m:3,xs:12})
            script(src="//vk.com/js/api/openapi.js?97")
            div#vk_groups
            script
              |  VK.Widgets.Group("vk_groups",
              |  {
              |      mode: 1,
              |      width: "296",
              |      height: "500",
              |      color1: 'FFFFFF',
              |      color2: '2B587A',
              |      color3: '5BAE9C'
              |  }, 1969216);

            iframe(src="http://www.facebook.com/plugins/likebox.php?id=280103245357085&amp;amp;width=200&amp;amp;connections=3&amp;amp;stream=false&amp;amp;header=false&amp;amp;height=185" style="margin-top:24px; background:#ffffff; border:none; overflow:hidden; height:300px;")
