extends /blocks/layout/layout

block head
  -
    var pageTitle = 'О компании'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'О компании'})
      +pageSection
        h1 О компании
        +grid({parLike:true, paddingy: true})
          +grid__item({m:8,xs:12})
            p Центр замещения утраченных волос&nbsp;&mdash; это не&nbsp;что иное, как специализированный салон, где заняты специалисты высокого квалификационного уровня, использующие разнообразные методы коррекции облысения.
            p Мы&nbsp;именуем себя &laquo;салоном одного клиента&raquo;, по&nbsp;этой причине всякий, кто нас посещает, может быть спокоен относительно конфиденциальности его проблемы. Ведь к&nbsp;нему будет применен индивидуальный подход, а&nbsp;также чуткое отношение персонала. Методику замещения волос без операции можно задействовать на&nbsp;любом этапе утраты волос вне зависимости от&nbsp;возраста и&nbsp;пола.
            p Мы&nbsp;называем себя &laquo;салоном одного клиента&raquo;
            p Нашими клиентами являются подростки, женщины и&nbsp;мужчины, у&nbsp;которых наблюдается полная или частичная потеря волос (диффузная, очаговая, тотальная, андрогенетическая алопеция).
            p За&nbsp;все время функционирования центра мы&nbsp;смогли предоставить помощь десяткам людей. Почти каждый клиент становится постоянным. Сотрудники центра&nbsp;&mdash; творческие личности, которые к&nbsp;решению такой значимой проблемы, как утрата волос, стараются приложить максимум творчества. В&nbsp;нашем салоне предоставляются многочисленные парикмахерские услуги, поэтому вы&nbsp;имеете возможность не&nbsp;только вернуть здоровье коже головы и&nbsp;волосам, но&nbsp;также и&nbsp;сменить собственный облик: сменить прическу, подобрать оттенок волос и&nbsp;многое другое
            h2 Почему клиенты к&nbsp;нам возвращаются
            ul.list-marked
              li Комплексное решение проблем, связанных с&nbsp;ухудшением состояния волос и&nbsp;кожи головы;
              li Высокий уровень профессионализма, обширные практические навыки и&nbsp;теоретические знания персонала, который постоянно повышают уровень собственной квалификации
              li Задействование актуальных инновационных методик, дающих возможность получения наиболее качественного эстетического эффекта
              li Внимательное отношение, индивидуальный подход к&nbsp;каждому клиенту, комфортные условия пребывания в&nbsp;центре
              li Доступные расценки. Действующая система скидок для постоянных клиентов. Ясная, четкая и&nbsp;прозрачная система подготовки счетов за&nbsp;услуги
              li Мы&nbsp;реализуем качественную продукцию по&nbsp;уходу за&nbsp;волосами в&nbsp;домашних условиях. Цены приятные, поскольку мы&nbsp;сотрудничаем с&nbsp;дистрибьюторами напрямую
          +grid__item({m:4,xs:12})
            +figure({src: '/images/o-kompanii/leytes.jpg', caption: 'Ольга Лейтес, директор центра замещения волос'})
        h2 Клиенты становятся постоянными
        p За все время функционирования центра мы смогли предоставить помощь сотням людей. Почти каждый клиент становится постоянным
        p: a(href='/otzyvy#form-review-anchor') Оставьте отзыв
        h2 Центр замещения утраченных волос одно из&nbsp;6&nbsp;направлений работы c&nbsp;волосами
        +grid({parLike:true,paddingy: true})
          +grid__item({m:8,xs:12})
            p Комплексное решение проблем, имеющих взаимосвязь с&nbsp;ухудшением состояния волос и&nbsp;кожи головы
            p Дата открытие центра лето 2002&nbsp;год. Ведущее направление деятельности&nbsp;&mdash; безоперационнное замещение волос. Центр создавался именно для тех, кого заботит состояние волосяного покрова.
            p Если делать замещение волос, то&nbsp;без парикмахера не&nbsp;обойтись. При открытие центра, сразу&nbsp;же начали работать парикмахеры
            p Замещение волос, это один из&nbsp;выходов. При редких волосах можно использовать загустители для увеличения объема и&nbsp;использовать лечебную косметику.
            p Парики и&nbsp;накладки имеют свои преимущства, например цена&nbsp;&mdash; мы&nbsp;открыли продажу.
            p Со&nbsp;временем мы&nbsp;научились изготавливать волосы для наращивания, теперь нам доверяют оптовые покупатели.
            p В&nbsp;одном центре мы&nbsp;объеденили разные способы решения проблемы связанные с&nbsp;волосами
          +grid__item({m:4,xs:12})
            p
              a(href='http://salonvolos.spb.ru/' target='_blank') Салон красоты
              br
              a(href='http://www.pariki.spb.ru/' target='_blank') Парики и головные уборы
              br
              a(href='http://triholog.org/' target='_blank') Лечебная косметика для волос
              br
              a(href='http://zagustitelvolos.com/' target='_blank') Загуститель волос Topic
              br
              a(href='http://www.volosy24.ru/' target='_blank') Волосы и инструменты для наращивания
              br
              a(href='http://hairsystems.ru/' target='_blank') Готовые системы замещения волос
block styles
  +style('inner')
