extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Профессиональное обучение безоперационному замещению волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Обучение'})
      +pageSection
        h1 Профессиональное обучение безоперационному замещению волос
        
        p
          +imageFloat({src:'/images/o-kompanii/obuchenie/1.jpg', alt:''}, {xl:true,l:true,m:true,s:true})
          | Мы&nbsp;будем рады разработать индивидуальный план обучения безоперационному замещению волос именно для Вас! Примерную последовательность в&nbsp;процессе обучения вы&nbsp;можете посмотреть в&nbsp;видео ниже. Сроки обучения варьируются от&nbsp;нескольких часов до&nbsp;14&nbsp;дней, в&nbsp;зависимости от&nbsp;Ваших первоначальных знаний.
        p За&nbsp;последние два года интерес к&nbsp;теме безоперационного замещения как среди потенциальных клиентов, так и&nbsp;среди профессионалов значительно вырос. К&nbsp;нам часто обращаются 
          strong владельцы салонов красоты и&nbsp;отдельные мастера,
          |  которые хотели&nbsp;бы предоставлять такую услугу своим клиентам. Поэтому мы&nbsp;
          strong постоянно адаптируем
          |  программу обучения под запросы.
        p В&nbsp;частности у&nbsp;нас прошел обучение частный мастер из&nbsp;Казахстана (барбер), которому было интересно освоить исключительно методику работы с&nbsp;системой волос Интеграция. Поэтому ему потребовалось всего два дня и&nbsp;
          strong около 10&nbsp;часов практики,
          |  чтобы научить уверенно обращаться с&nbsp;такими системами волос.
        p Иногда мастерам надо освоить какую-то тонкость, деталь, которую показать и&nbsp;объяснить можно только на&nbsp;практике. И&nbsp;наши опытные обучающие мастера прекрасно с&nbsp;этим справляются. А&nbsp;при большой клиентской базе и&nbsp;плотной записи практики у&nbsp;нас более, чем достаточно. В&nbsp;некоторых случаях интерес к&nbsp;данной теме проявляет именно владелец салона. И&nbsp;тогда обучение включает в&nbsp;себя огромный пласт информации от&nbsp;маркетинга и&nbsp;продаж до&nbsp;непосредственного обслуживания таких клиентов, организации рабочего места и&nbsp;учета.
        p Поэтому мы&nbsp;
          strong каждый раз выстраиваем программу обучения
          |  на&nbsp;основании вашего запроса. Соответственно, длиться она может 
          strong от&nbsp;нескольких часов до&nbsp;двух недель.
        h2 Кейсы по&nbsp;обучению

        p Несколько лет назад к&nbsp;нам обратилась Юлия Киреева, владелица салона в&nbsp;Уфе, по&nbsp;поводу обучения безоперационному замещению волос. Мы&nbsp;специально для нее разработали программу, которая длилась около 14&nbsp;дней, в&nbsp;ходе которой Юлия получила как теоретические, так и&nbsp;практические знания и&nbsp;навыки в&nbsp;области этой методики. В&nbsp;результате эта услуга получила распространение и&nbsp;в&nbsp;Башкирии. Юлия и&nbsp;ее&nbsp;специалисты обслуживают большое количество клиентов в&nbsp;своих салонах.

        p После этого к&nbsp;нам обратилась владелица салона в&nbsp;Иваново Ирина Кручинина. Несмотря на&nbsp;то, что город этот относительно небольшой, там тоже есть люди, страдающие от&nbsp;потери волос и&nbsp;которым необходима услуга безоперационного замещения и&nbsp;профессионалы, которые могут ее&nbsp;оказывать. Ирина также успешно прошла у&nbsp;нас обучение и&nbsp;в&nbsp;настоящее время предоставляет эту услугу в&nbsp;своем городе. Что примечательно, оба этих салона, в&nbsp;Уфе и&nbsp;в&nbsp;Иваново, называются Центрами дизайна волос.

        p В&nbsp;июне 2017 года&nbsp;У нас прошла обучение Наталья Белогорцева, владелица будущего салона в&nbsp;Самаре, в&nbsp;котором среди прочих услуг также будет представлено безоперационное замещение волос. Наталья обучалась у&nbsp;нас две недели.
        +grid({parLike: true})
          +grid__item({m:8,s:10,xs:12})
            +youtubeResponsive('bn91nRLCYuU')
        h2 Индивидуальный план обучения безоперационному замещению утраченных волос для Белогорцевой Натальи
        .show-hide
          .show-hide__title.btn.btn-arrow Изучить план
          .show-hide__body
            p Как это было? Всего обучение длилось 10&nbsp;дней, сам процесс был специально адаптирован к&nbsp;обычному режиму работы салона, благодаря чему были выделены модели в&nbsp;лице наших клиентов, которые обслуживаются у&nbsp;нас в&nbsp;центре безоперационного замещения утраченных волос.
            h3 День первый
            p
              +imageFloat({src:'/images/o-kompanii/obuchenie/2.jpg', alt:''}, {xl:true,l:true,m:true,s:true})
              | Профессиональное обучение безоперационному замещению волос
            p Первый день обучения был посвящен теоретическим знаниям, которыми мы&nbsp;хотели поделиться с&nbsp;Натальей, а&nbsp;именно о&nbsp;специфике работы в&nbsp;данном направлении, ознакомление с&nbsp;понятием&nbsp;&mdash; система волос (hair systems), какие бывают системы волос, основные виды основ и&nbsp;возможные варианты фиксации.
            h3 День второй
            p В&nbsp;этот день закреплялись теоретические знания первого дня. Особое внимание было уделено процессу консультации и&nbsp;знакомству с&nbsp;новыми клиентами, как встретить и&nbsp;деликатно узнать о&nbsp;его проблеме, корректно предложить варианты помощи в&nbsp;решении этих проблем, что такое безоперационное замещение утраченных волос. Для того, чтобы Наталья смогла консультировать и&nbsp;помогать уже своим клиентам в&nbsp;решении таких проблем, мы&nbsp;составили индивидуальный план обучения, благодаря чему охватили все самые важные и&nbsp;интересные моменты работы в&nbsp;этом направлении.
            h3 День третий
            p Этот день обучения был направлен на&nbsp;визуализацию процесса, Наталья присутствовала при процессе перефиксации системы волос в&nbsp;одном кабинете с&nbsp;мастером, участвовала и&nbsp;помогала в&nbsp;работе.
            h3 День четвертый
            p Были раскрыты такие тонкости в&nbsp;работе, как&nbsp;&mdash; заказ новой системы волос и&nbsp;правильное составление заказа с&nbsp;учетом пожеланий клиента&nbsp;&mdash; длина, цвет, густота. Как правильно подобрать длину волос в&nbsp;зависимости формы лица, определить необходимую густоту для системы волос с&nbsp;учетом зон потери волос.
            h3 День пятый
            p
              +imageFloat({src:'/images/o-kompanii/obuchenie/3.jpg', alt:''}, {xl:true,l:true,m:true,s:true})
              | Профессиональное обучение безоперационному замещению волос
            p Для закрепления теоретической части четвертого дня Наталья самостоятельно консультировала о&nbsp;системах волос, сделала слепок, помогла в&nbsp;выборе длины волос, подобран цвет.
            h3 День шестой
            p Была проведена лекция об&nbsp;уходовых средствах для систем волос. Как ухаживать за&nbsp;изделиями из&nbsp;натуральных волос&nbsp;&mdash; парики, системы волос, накладки. Возможности в&nbsp;обновлении цвета, ремонт основы. Для клиентов пользующихся услугами безоперационного замещения очень важно качество волос из&nbsp;которой сделана система и&nbsp;информация о&nbsp;том как поддерживать его на&nbsp;высоком уровне своими силами для таких людей всегда будет актуальным.
            h3 Седьмой и&nbsp;восьмой день
            p К&nbsp;середине первой недели (7-8&nbsp;день) обучения наша ученица&nbsp;&mdash; Наталья, начала прослушивать лекции и&nbsp;выполнять практические задания для повышения квалификации &laquo;Парикмахер-универсал III&nbsp;разряда&raquo;, ранее Наталья обучалась парикмахерскому искусству, навыки парикмахера обязательны для начинающего мастера в&nbsp;области безоперационного замещения, так как при фиксации новой системы волос&nbsp;&mdash; клиенту нужна стрижка, которая подбирается с&nbsp;каждым клиентом индивидуально.
            h3 День девятый
            p Был посвящен перефиксации систем волос, а&nbsp;именно процессам&nbsp;&mdash; очистка системы волос и&nbsp;приведение в&nbsp;порядок, очистка кожи головы, возможная коррекция стрижки, установка.
            -
              var gallery1 = {
                settings: {
                  noBorders: true
                },
                list: [
                  {src:'/images/o-kompanii/obuchenie/4.jpg'},
                  {src:'/images/o-kompanii/obuchenie/5.jpg'},
                ]
              }
            +gallery(gallery1)
            p Все полученные знания были закреплены самостоятельной работой проведенной в&nbsp;этот&nbsp;же день, Наталья продемонстрировала все полученные знания на&nbsp;манекенах от&nbsp;классических стрижек до&nbsp;стрижек при коррекции фиксации систем и&nbsp;в&nbsp;случае установки новой системы волос.
            h3 Экзаменационный день
            p В&nbsp;экзаменационный день&nbsp;&mdash; десятый день обучения, Наталья, сделала самостоятельную фиксацию новой системы волос для клиента &laquo;Центр Дизайна Волос&raquo; под чутким руководством нашего ведущего мастера, была проведена консультация в&nbsp;присутствии консультантов. Нашей моделью стал молодой клиент&nbsp;&mdash; Хусейн, мы&nbsp;узнали, что молодой человек уже носит систему волос, правда, с&nbsp;другой основой, у&nbsp;нас была подобрана для него система с&nbsp;тонкой основой&nbsp;&mdash; &laquo;интеграция&raquo; (тонкий силикон).
            -
              var gallery2 = {
                settings: {
                  noBorders: true
                },
                list: [
                  {src:'/images/o-kompanii/obuchenie/6.jpg'},
                  {src:'/images/o-kompanii/obuchenie/7.jpg'},
                ]
              }
            +gallery(gallery2)
            h3 Обучение парикмахерскому искусству
            p При завершении обучения Наталье был выдан сертификат о&nbsp;прохождении обучения и&nbsp;повышения квалификации &laquo;Парикмахер-универсал III&nbsp;разряда&raquo;.
            p При проведении обучения безоперационному замещению волос для Натальи Белогорцевой, у&nbsp;нас возникла идея, предоставлять начинающим мастерам в&nbsp;этой области возможность обучиться парикмахерскому ремеслу или вспомнить&nbsp;то, чему они уже обучались.
            p Базовые знания и&nbsp;умения, а&nbsp;именно классических стрижек, облегчают работу с&nbsp;системами волос.
            p При безоперационном замещении, мастер понимает какую стрижку он&nbsp;может предложить клиенту, как профессионально замаскировать&nbsp;ее.
            p Наш коллектив за&nbsp;такой недолгий срок обучения сумел полностью погрузить ученицу в&nbsp;работу, изучение теоретических и&nbsp;практических знаний. Все было закреплено практикой, так как именно во&nbsp;время практических занятий полученные знания закрепляются и&nbsp;сам процесс становится более интересным.
            h3 Благодарности
            p Мы&nbsp;обучили не&nbsp;только мастера, но&nbsp;и&nbsp;приобрели нового друга и&nbsp;партнера.
            p Хотим поблагодарить за&nbsp;возможность познакомится и&nbsp;обучать, такого светлого и&nbsp;доброго человека.
            p Скоро у&nbsp;Натальи откроется свой салон красоты в&nbsp;Самаре, в&nbsp;котором будет возможность воспользоваться услугами безоперационного замещения.
            -
              var gallery3 = {
                settings: {
                  noBorders: true
                },
                list: [
                  {src:'/images/o-kompanii/obuchenie/8.jpg'},
                  {src:'/images/o-kompanii/obuchenie/9.jpg'},
                ]
              }
            +gallery(gallery3)
        h2 Мы&nbsp;ждем вас
        p Мы&nbsp;всегда рады поделиться своими секретами в&nbsp;удобном для вас формате. По&nbsp;всем вопросам обучения обращайтесь, пожалуйста, по&nbsp;телефону +7&nbsp;(981)&nbsp;7245628
block styles
  +style('inner')
