extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Окраска системы волос и волос клиента'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','Услуги'],current:'Окраска системы волос и волос клиента'})
      +pageSection
        h1 Окраска системы волос и волос клиента
        +grid({paddingy:true,parLike:true})
          +grid__item({m:9,xs:12})
            p Поскольку волосы на&nbsp;системе волос это всегда окрашенные волосы, интенсивность цвета со&nbsp;временем слабеет. В&nbsp;этом случае вы&nbsp;можете воспользоваться услугами наших мастеров по&nbsp;восстановлению цвета на&nbsp;системе волос. Мастер аккуратно протонирует систему, восстановит цвет и&nbsp;блеск, присущий здоровым волосам. Если у&nbsp;вас частичное замещение, вы&nbsp;сможете одновременно восстановить и&nbsp;цвет своих волос, а&nbsp;также закрасить седину при необходимости.
          +grid__item({m:3,xs:12})
            +aside({title:'Стоимость'})
              +asidePrice({price:'от 1100 до 2000 руб.'})
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Другие услуги
              p 
                a(href='/uslugi/pervaya-fiksatsiya-i-strizhka-sistemy-volos/') Первая фиксация и стрижка волос
                br
                a(href='/uslugi/perefiksatsiya-sistemy-volos/') Перефиксация системы
                br
                a(href='/uslugi/ukladka-i-pricheska-sistemy-volos/') Укладка, прическа на системе волос
                br
                a(href='/uslugi/remont/') Ремонт
