extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Описание метода'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная', 'О компании','Описание метода'],current:'Описание метода'})
      +pageSection
        h1 Как правильно заказывать систему волос или зачем мы работаем?
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            h2 Изделие или метод? Парик нового поколения = безоперационное замещение волос!
            p Все, кто когда-либо сталкивался с&nbsp;проблемой выпадения волос, частичного или полного облысения, интересовался возможностями маскировки проблемы. Это связано с&nbsp;тем, что, к&nbsp;сожалению, все существующие на&nbsp;сегодняшний момент методы лечения алопеции, не&nbsp;дают 100% гарантии успеха, зачастую малоэффективны или вообще не&nbsp;дают никакого результата.
            p Первая мысль, которая приходит в&nbsp;голову человеку, который понимает, что с&nbsp;таким количеством собственных волос на&nbsp;голове, необходимо как-то скрывать свою проблему, это мысль о&nbsp;парике или о&nbsp;накладке. Парики и&nbsp;накладки из&nbsp;натуральных волос&nbsp;&mdash; классика жанра, причем они применимы как для людей, которые действительно имеют очевидную проблему, так и&nbsp;для тех, кто просто любит менять имидж или пытается слегка усовершенствовать свою внешность в&nbsp;части прически. К&nbsp;сожалению, немногие знают, что парик парику рознь. Попытаемся немного прояснить ситуацию.
            p На&nbsp;Западе очень распространено название &laquo;безоперационное замещение волос&raquo; (прямой перевод с&nbsp;&laquo;non-surgical hair replacement&raquo;). Само название предполагает существование какого-то метода. Так&nbsp;ли это? Действительно такой метод существует и&nbsp;с&nbsp;успехом применяется во&nbsp;всем мире, включая и&nbsp;Центр дизайна волос в&nbsp;Санкт-Петербурге. Сам метод предполагает использования определенных материалов, а&nbsp;именно: системы волос и&nbsp;клеящих полимеров. Для упрощения понимания, система волосы&nbsp;&mdash; это и&nbsp;есть тот самый парик или накладка нового поколения. Она коренным образом отличается от&nbsp;классических постижерных изделий прежде всего материалами, из&nbsp;которых изготавливается основа, а&nbsp;также существующими возможностями фиксации.
            p Таким образом, метод безоперационного замещения имеет две составляющих: система волос и&nbsp;способ фиксации. Теперь подробнее о&nbsp;них.
            h2 Система волос или парик (накладка) нового поколения
            p Она состоит из&nbsp;основы, материал которой имитирует кожу головы, и&nbsp;натуральных человеческих волос. Надо четко понимать, что основы системы волос бывают разными. Подбираются они в&nbsp;зависимости от&nbsp;типа проблемной зоны, вариантов будущей прически, предпочтительных вариантов фиксации. Наши консультанты и&nbsp;мастера работают в&nbsp;этой сфере около 10&nbsp;лет, поэтому вариант основы вам будет предложен именно в&nbsp;соответствии с&nbsp;вашими предпочтениями. От&nbsp;варианта основы зависит и&nbsp;длительность эксплуатации самого изделия. Существуют основы, срок жизни которых составляет не&nbsp;более двух месяцев, а&nbsp;есть такие, которые могут служить год и&nbsp;дольше.
            p Для изготовления нашего изделия нового поколения используются натуральные человеческие волосы. Если система волос используется для частичного замещения (т.е.&nbsp;мы&nbsp;закрываем только ту&nbsp;зону на&nbsp;голове, где проблема наиболее очевидна), то&nbsp;необходимо, что волосы системы соответствовали собственным волосам клиента по&nbsp;разным параметрам (цвет, длина).
            p Можно применять систему волос и&nbsp;для тотальной алопеции. В&nbsp;этом случае она будет закрывать всю голову. Что касается мужских и&nbsp;женских вариантов, то&nbsp;в&nbsp;принципе, особых отличий нет. Все зависит от&nbsp;области потери волос, а&nbsp;все остальное подходит как мужчинам, так и&nbsp;женщинам. Естественно, варьируются варианты стрижки в&nbsp;зависимости от&nbsp;потребностей клиента. Но&nbsp;об&nbsp;этом позднее. Системы волос бывают стандартные и&nbsp;индивидуальные.
            p В&nbsp;центре дизайна волос имеется большой выбор стандартных систем волос разных цветов с&nbsp;типом основы &laquo;Интеграция&raquo;, которые используются для маскировки проблемной зоны в&nbsp;верхнетеменной области. Чаще всего, стандартные системы волос используют для случаев андрогенетической алопеции. Если область потери составляет ? головы и&nbsp;более, то&nbsp;необходимо изготовление индивидуальной системы волос. Итак, система волос&nbsp;&mdash; это материал, с&nbsp;помощью которого мы&nbsp;применяем метод безоперационного замещения.
            h2 Метод безоперационного замещения волос
            p Во&nbsp;время вашего первого визита в&nbsp;Центр дизайна волос наш мастер внимательно изучит форму вашей головы, область потери волос, обсудит с&nbsp;вами ваши предпочтения по&nbsp;будущей прическе. Если для вашего случая применима стандартная система волос, то&nbsp;установку можно выполнить сразу&nbsp;же. Через два часа вы&nbsp;уйдете из&nbsp;салона, помолодев на&nbsp;10&nbsp;лет.
            p Если в&nbsp;вашем случае необходимо изготовление индивидуального парика или накладки нового поколения, то&nbsp;изначально необходимо точное снятие мерок. Мастер изготавливает слепок-шаблон либо с&nbsp;проблемной зоны, либо со&nbsp;всей головы. Слепок выполняется с&nbsp;учетом рельефа головы и&nbsp;желаемой линии роста волос. Также вы&nbsp;обсудите с&nbsp;мастером все остальные параметры будущей системы в&nbsp;части густоты, цвета, длины и&nbsp;типа волос. Срок изготовления&nbsp;&mdash; 3&nbsp;месяца. Когда наше изделие нового поколения готово, мы&nbsp;уже можем применить непосредственно метод замещения. Заключается он&nbsp;в&nbsp;том, что при помощи специального полимерного состава мастер зафиксирует систему волос на&nbsp;проблемной зоне, подстрижет волосы на&nbsp;системе, при необходимости замешав их&nbsp;с&nbsp;собственными волосами клиента.
            p В&nbsp;Центре дизайна волос мы&nbsp;применяем два основных метода фиксации (которые на&nbsp;наш взгляд наиболее безвредны для кожи головы и&nbsp;волос клиента и&nbsp;безопасны): на&nbsp;жидкий полимер и&nbsp;на&nbsp;ленточный полимер. Если вы&nbsp;предполагает носить систему волос, не&nbsp;снимая, круглые сутки, то&nbsp;мы&nbsp;применяем жидкий полимер. Он&nbsp;будет обеспечивать фиксацию около 1&nbsp;месяца, в&nbsp;течение которого вы&nbsp;будете вести привычный образ жизни, но&nbsp;с&nbsp;учетом наших рекомендаций по&nbsp;уходу за&nbsp;новыми волосами. Если&nbsp;же вы&nbsp;предпочитаете время он&nbsp;времени снимать систему волос (из&nbsp;гигиенических соображений или в&nbsp;связи с&nbsp;применяемым лечением, втираниями и&nbsp;т.п.), то&nbsp;рекомендуется применять ленточные полимеры. Они представляют собой специальный двусторонний скотч, который, несмотря на&nbsp;надежную фиксацию, позволит снимать систему волос так часто, как вы&nbsp;этого захотите.
            h2 Преимущества системы волос и&nbsp;метода безоперационного замещения
            ul.list-marked
              li Основу нашего изделия нового поколения практически невозможно почувствовать на&nbsp;ощупь. Даже близкий вам человек не&nbsp;сможет ее&nbsp;распознать при прикосновении. Вы&nbsp;опять сможете получать удовольствие от&nbsp;столь привычного жеста&nbsp;&mdash; провести рукой по&nbsp;волосам, откинув их&nbsp;назад.
              li Классические накладки и&nbsp;парики имеют очень серьезное ограничение. Направление роста волос задано заранее, поэтому у&nbsp;вас нет возможности поменять пробор, изменить стрижку. К&nbsp;тому&nbsp;же, вы&nbsp;не&nbsp;сможете носить волосы &laquo;назад&raquo;. С&nbsp;системой волос возможны все виды стрижек, а&nbsp;пробор можно менять столько, сколько захотите.
              li Благодаря абсолютно невидимой основе, специалисты смогут подобрать ту&nbsp;густоту волос, которая наиболее подходит вашему возрасту, стилю, стрижке и&nbsp;предпочтениям. Вблизи кажется, что эти волосы растут прямо из&nbsp;кожи. Новейшая технология фиксации позволяет совершенно забыть о&nbsp;том, что вы&nbsp;носите систему волос. С&nbsp;этими волосами вы&nbsp;принимаете душ, спите, занимаетесь спортом. Даже парикмахер не&nbsp;сможет определить, что это волосы добавленные, а&nbsp;не&nbsp;ваши собственные.
            include /blocks/expert-notes-article-footer/expert-notes-article-footer
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
