extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Отзывы о замещении волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Отзывы'})
      +pageSection
        h1 Отзывы о замещении волос
        +pageSubection
          p В&nbsp;данном разделе вы&nbsp;можете прочитать отзывы о&nbsp;тех, кто носит систему замещения волос, а&nbsp;также отзывы от&nbsp;мужчин и&nbsp;женщин об&nbsp;интеграции волос.
          -
            const homeFeedback = [
              {
                body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
                author: 'Ольга',
                photo: {src:'/images/replacement-2-2.jpg', thumb:'/images/replacement-2-1.jpg'}
              },
              {
                body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
                author: 'Людмила',
                about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'}
              },
              {
                body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
                author: 'Любовь'
              },
            ]
          +feedbackList(homeFeedback)
        +pageSubection
          a(href='#form-review-anchor').btn Оставьте отзыв
        +pageSubection
          include /blocks/pagination/pagination
      +pageSection
        h2 Как проходит замещение и&nbsp;результаты
        +grid({paddingy:true, parLike:true})
          +grid__item({m:8,xs:12})
            +pageSubection
              +grid({paddingy:true})
                +grid__item({m:6,xs:12})
                  +feedbackVideo({id:'EHEtnVujZKI', desc: {tag:'a', attr:{href:'http://www.hairdesign.ru/klienty/'}, content:'Замещение волос при андрогенетической алопеции (2:40)'}})
                +grid__item({m:6,xs:12})
                  +feedbackVideo({id:'KuM3lieIRPk', desc: {tag:'a', attr:{href:'http://www.hairdesign.ru/klienty/'}, content:'Замещение волос при андрогенетической алопеции (2:40)'}})
            +pageSubection
              -
                const beforeAfter = {
                  items: [
                    {
                      images:{
                        before:'/images/before-after/before-after-3-1.jpg',
                        after:'/images/before-after/before-after-3-2.jpg'
                      },
                      name:'Анастасия',
                      desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
                    },
                    {
                      images:{
                        before:'/images/before-after/before-after-1-1.jpg',
                        after:'/images/before-after/before-after-1-2.jpg'
                      },
                      name:'Всеволод',
                      desc:'андрогенная алопеция'
                    },
                  ],
                  settings: {cols:2}
                }
              +beforeAfter(beforeAfter)
          +grid__item({m:4,xs:12})
            h2#form-review-anchor Оставить отзыв
            +form({
              inputs: [
                {type: 'text', name:'name', label:'Имя', id:'feedback-form-name'},
                {type: 'email', name:'email', label:'E-mail<br><small style="font-size: 0.75rem; font-style: italic">Не публикуем на сайте, просто ответим спасибо</small>', id:'feedback-form-email'},
                {type: 'textarea', name:'message', label:'Отзыв', id:'feedback-form-message'},
                {type: 'checkbox', name:'agreement', checked: true, required: true, label: 'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.', id: 'feedback-form-agreement'}
              ],
              submit:'Отправить'
            })
