extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Наталья Михайлова'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании','Персонал','Мастер по замещению волос'],current:'Наталья Михайлова'})
      +pageSection
        h1 Наталья Михайлова
        +grid({paddingy:true, parLike: true})
          +grid__item({s:3,xs:12})
            img(src='/images/o-kompanii/personal/natalya-mikhaylova.jpg' alt='Наталья Михайлова')
          +grid__item({s:9,xs:12})
            p Наталья очень внимательный мастер. Умеет делать дополнительные пряди для причесок и&nbsp;сама плетет трессы.
            h2 Специализируется
            ul.list-marked
              li Безоперационное замещение волос.
              li Мужские и&nbsp;женские стрижки любой сложности.
              li Окраска волос, наращивание волос.
              li Изготовление ручных трессов, постижерных изделий, прически.
            h2 Опыт работы
            p В&nbsp;области парикмахерского искусства более 10&nbsp;лет.
            p Наталья закончила школу парикмахерского искусства F&nbsp;Style (Фатиния) в&nbsp;2003&nbsp;году. Как человек творческий, не&nbsp;остановилась на&nbsp;этом и&nbsp;прошла обучение в&nbsp;студии парикмахерского искусства Londa в&nbsp;2005&nbsp;году. Но&nbsp;в&nbsp;2007 году обучалась в&nbsp;студии Shwarzkopf по&nbsp;направлению мужских коммерческих и&nbsp;креативных стрижек. Прошла обучающие семинары по&nbsp;стрижкам и&nbsp;окраскам в&nbsp;студии Wella.
        h2 Отзывы клиентов
        -
          const homeFeedback = [
            {
              body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
              author: 'Ольга',
              photo: {src:'/images/replacement-2-2.jpg', thumb:'/images/replacement-2-1.jpg'}
            },
            {
              body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
              author: 'Людмила',
              about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'}
            },
            {
              body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
              author: 'Любовь'
            },
          ]
        +feedbackList(homeFeedback)
        p: a(href="/otzyvy#form-review-anchor") Оставьте отзыв
        h2 Наталья Михайлова отвечает в рубрике консультация
        +grid({paddingy:true, parLike: true})
          +grid__item({s:9,xs:12})
            -
              let cons = [
                {
                  title: 'А можно ли как-то приклеить систему волос на свои очень жидкие волосы? Или это делается только на лысую голову? СПАСИБО,',
                  name: 'Елена, Якутск',
                  date: '04.04.2013'
                },
                {
                  title: 'Мне несколько раз приклеивали интеграцию на виски и затылочную область - отклеивается через день -два.У Вас не бывает таких случаев?',
                  name: 'Ксения',
                  date: '19.10.2009'
                },
                {
                  title: 'Мне необходима система волос на всю голову. Хотя процентов 20 волос у меня еще есть, но алопеция прогрессирует и останавливаться не собирается.',
                  name: 'Анна, Ставрополь',
                  date: '10.07.2007'
                },
              ]
            +consultationListSmall(cons)
          +grid__item({m:3,s:6,xs:12})
            +blockMarked({smallPadding: true, fontSize: 'small'})
              p: strong Консультация
              p Отвечаем на&nbsp;вопросы по&nbsp;трихологии, болезням волос, уходом за&nbsp;волосами.
              p Если Вы&nbsp;не&nbsp;нашли ответ на&nbsp;свой вопрос, обратитесь за&nbsp;консультацией к&nbsp;нашим специалистам.
              p: a(href='/konsultatsiya/') Смотреть все советы
              p В&nbsp;вопросе укажите: вопрос для Екатерины Смрновой
              p.text-align--center
                a(href='/konsultatsiya/ask.html?questionToId=69').btn Спросить совет
              p.text-align--center: i Советуем с 2007 года
block styles
  +style('inner')
