extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Персонал'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Персонал'})
      +pageSection
        h1 Персонал
        p Центр работает 15&nbsp;лет, каждый год к&nbsp;нам приходят новые клиенты, друзья и&nbsp;знакомые постоянных клиентов. Каждый третий клиент становится нашим постоянным клиентом. Такой успех можно отнести к&nbsp;комплексной работе по&nbsp;проблемам волос, к&nbsp;качественным материалам и&nbsp;оборудованию.
        p Но&nbsp;самое важное&nbsp;&mdash; это коллектив.
        h2 Мастер по&nbsp;замещению волос
        p Для многих клиентов центр представляется в&nbsp;лице нашего сотрудника, например Натальи или Ирины.
        p Парикмахеры работают с&nbsp;дня открытия центра, проходят каждый год курсы повышения квалификации и&nbsp;любят своих клиентов.
        +grid({parLike:true, paddingy: true})
          +grid__item({m:3,s:4,xs:6})
            +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Наталья Михайлова', caption: 'Наталья Михайлова', link: 'http://www.hairdesign.ru/o-kompanii/personal/natalya-mikhaylova.html'})
          +grid__item({m:3,s:4,xs:6})
            +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Наталья Шаныгина', caption: 'Наталья Шаныгина', link: 'http://www.hairdesign.ru/o-kompanii/personal/natalya-shanygina.html'})
          +grid__item({m:3,s:4,xs:6})
            +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Наталья Михайлова', caption: 'Ирина Богданова', link: 'http://www.hairdesign.ru/o-kompanii/personal/irina-bogdanova.html'})
          +grid__item({m:3,s:4,xs:6})
            +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Наталья Михайлова', caption: 'Екатерина Смирнова', link: 'http://www.hairdesign.ru/o-kompanii/personal/ekaterina.html'})
        +grid({parLike:true,paddingy:true})
          +grid__item({m:6,xs:12})
            h2 Администраторы-консультанты
            p Супер человек&nbsp;&mdash; именно их&nbsp;вы&nbsp;встречаете, заходя к&nbsp;нам в&nbsp;центр. Фактически наши консультанты обладают уникальными знаниями. С&nbsp;точки зрения подбора лечебной косметики вы&nbsp;вряд&nbsp;ли найдете лучших специалистов. Все они прошли обучения на&nbsp;специальных трихологических курсах. Наши консультанты имеют огромный опыт работы с&nbsp;системами волос, накладками и&nbsp;париками. Они очень быстро определят, что подойдет лучше всего именно вам. Подробно проконсультируют по&nbsp;подбору цвета волос или загустителей, типа основы системы волос, материалов для фиксации и&nbsp;т.д. Они отличные психологи и&nbsp;просто замечательные люди. Поэтому если проблема, к&nbsp;несчастью, случилась у&nbsp;вашего ребенка, можете быть уверены, что наши сотрудники отнесутся к&nbsp;нему и&nbsp;ко&nbsp;всем членам вашей семьи со&nbsp;всем возможным вниманием и&nbsp;заботой.
            +grid({parLike:true, paddingy: true})
              +grid__item({m:6,s:4,xs:6})
                +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Татьяна Ермолаева', caption: 'Татьяна Ермолаева',link:'http://www.hairdesign.ru/o-kompanii/personal/tatyana-ermolaeva.html'})
              +grid__item({m:6,s:4,xs:6})
                +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Раиса Еронен', caption: 'Раиса Еронен',link:'http://www.hairdesign.ru/o-kompanii/personal/raisa-eronen.html'})
          +grid__item({m:6,xs:12})
            h2 Директор
            p Моя задача в&nbsp;том, чтобы все, для чего задумывался Центр дизайна волос, работало без перебоев. Я&nbsp;поддерживаю контакты с&nbsp;поставщиками систем волос и&nbsp;материалов для фиксации, лично отслеживаю своевременность поставок и&nbsp;качество получаемой продукции. Вместе со&nbsp;своими сотрудниками разрабатываю наиболее удобные и&nbsp;эффективные бизнес-процессы, чтобы мы&nbsp;могли осуществлять полный цикл услуг для наших клиентов. За&nbsp;время работы Центра дизайна волос я&nbsp;получила огромный опыт работы с&nbsp;различными проблемами потери волос, сама консультировала и&nbsp;помогала обслуживать клиентов. Я&nbsp;просто стараюсь хорошо делать свое дело, таким образом осуществляя миссию нашей компании&nbsp;&mdash; &laquo;повышение качества жизни наших клиентов посредством предоставления высокого качества продукции и&nbsp;услуг в&nbsp;сфере безоперационного замещения волос&raquo;.
            +grid({parLike:true, paddingy: true})
              +grid__item({m:6,s:4,xs:6})
                +figure({src: '/images/o-kompanii/leytes.jpg', alt: 'Ольга Лейтес', caption: 'Ольга Лейтес',link:'http://www.hairdesign.ru/o-kompanii/personal/olga.html'})
block styles
  +style('inner')
