extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Фиксация системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','Услуги'],current:'Первая фиксация и стрижка волос'})
      +pageSection
        h1 Первая фиксация и стрижка системы волос
        +grid({paddingy:true,parLike:true})
          +grid__item({m:9,xs:12})
            p Эту услугу мы&nbsp;оказываем и&nbsp;тем клиентам, кто заказывает системы волос в&nbsp;Центре дизайна волос, и&nbsp;тем, кто приобрел ее&nbsp;в&nbsp;другом месте, но&nbsp;хочет сделать стрижку системы волос и&nbsp;зафиксировать с&nbsp;помощью профессионалов.
            p Новую систему волос мы&nbsp;обязательно моем, сушим. Затем проводится фиксация на&nbsp;голове клиента. Фиксируем либо на&nbsp;клей, либо на&nbsp;двусторонний скотч. Это зависит от&nbsp;предпочтений клиента и&nbsp;заранее обговаривается.
            p Наш многолетний опыт работы говорит о&nbsp;том, что после первой установки системы отклеивание происходит быстрее, чем впоследствии при постоянном ношении. Видимо, это связано с&nbsp;тем, что обычно клиенты переживают и&nbsp;нервничают в&nbsp;связи с&nbsp;этой процедурой. Соответственно кожа головы больше потеет. А&nbsp;обильное потоотделение способствует более быстрому отклеиванию. Так что, если это с&nbsp;вами произошло, не&nbsp;переживайте. Мы&nbsp;сделаем коррекцию фиксации, а&nbsp;впоследствии вы&nbsp;адаптируетесь, и&nbsp;система волос будет держаться 3-4 недели без проблем (при долговременной фиксации на&nbsp;клей).
          +grid__item({m:3,xs:12})
            +aside({title:'Стоимость'})
              +asidePrice({price:'Бесплатно', desc:'при покупке системы волос на заказ или готовой из тонкого силикона'})
              +asidePrice({price:'1450-1900 руб.', desc:'для сторонних клиентов'})
            +aside({title:'Продолжительность'})
              +asidePrice({price:'до 2 часов'})
          +grid__item({m:9,xs:12})
            h2 Записаться
            p Записываться на&nbsp;первую фиксацию и&nbsp;стрижку системы волос имеет смысл заранее. Также мы&nbsp;рекомендуем предусмотреть достаточно времени (до&nbsp;2&nbsp;часов), чтобы вы&nbsp;могли не&nbsp;спеша обговорить с&nbsp;мастером все детали и&nbsp;особенности будущей стрижки. Между вами должно быть полное взаимопонимание и&nbsp;доверие.
            p
              | Телефон: 8 (812) 245-37-38 (viber)
              br
              | Mail: 
              a(href='mailto:mail@hairdesign.ru') mail@hairdesign.ru
              br
              a(href='/o-kompanii/prilojenie/') Мобильное приложение
              |  (накапливаются скидки)
              br
              | Skype: HairDesignCenter
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Другие услуги
              p 
                a(href='/uslugi/perefiksatsiya-sistemy-volos/') Перефиксация системы
                br
                a(href='/uslugi/okraska-sistemy-volos/') Окраска системы волос и волос клиента
                br
                a(href='/uslugi/ukladka-i-pricheska-sistemy-volos/') Укладка, прическа на системе волос
                br
                a(href='/uslugi/remont/') Ремонт
block styles
  +style('inner')
