extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection
    .container
      .content
        +breadcrumbs({parents: ['Главная'], current: 'Полное облысение'})
        h1 Полное облысение
        +grid({parLike: true})
          +grid__item({m:8,s:10,xs:12})
            h3 Тотальная алопеция
            p Система волос (метод безоперационного замещения волос) может применяться при полном облысении (при тотальной алопеции). Она обеспечивает косметический (визуальный) эффект наличия волос. Никакого вмешательства в&nbsp;организм человека не&nbsp;происходит, поэтому этот метод можно применять в&nbsp;любом возрасте.
            p Благодаря особым материалам, которые позволяют сделать основу системы волос абсолютно невидимой, а&nbsp;также новейшим способам фиксации система волос коренным образом отличается от&nbsp;традиционных париков и&nbsp;накладок. Этот метод создает такой визуальный эффект, при котором всем окружающим, да&nbsp;и&nbsp;самому клиенту, будет казаться, что волосы растут из&nbsp;кожи. Даже самый уязвимый участок&nbsp;&mdash; фронтальная линия&nbsp;&mdash; выглядит настолько натурально, что позволяет зачесывать волосы на&nbsp;бок и&nbsp;назад.
        h2 Какие есть альтернативы
        p Сравним парики и&nbsp;системы волос
        include /data/comparison-complete-baldness
        +tableComparison(comparisonCompleteBaldness)
        h2 Как происходит замещение волос при полном облысении
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('xRpYF43VbVM')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                
                  p Посмотрите, сколько света и&nbsp;тепла исходит от&nbsp;этой девушки!
                  p Несмотря на&nbsp;диагноз: очаговая алопеция в&nbsp;финальной стадии, который прозвучал для нее однажды как приговор, она не&nbsp;сдалась, не&nbsp;упала духом, она все так&nbsp;же улыбается.
                  p Девушка нашла решение своей проблемы: использует то&nbsp;парик, то&nbsp;систему волос, накладные ресницы. Но, самое главное, она принимает себя такой, какая она есть.
                  p А&nbsp;еще у&nbsp;нее есть большое сокровище в&nbsp;жизни&nbsp;&mdash; поддержка любимого человека, потому что он&nbsp;любит ее&nbsp;не&nbsp;за&nbsp;что-то (красивую внешность и&nbsp;т.д.), а&nbsp;просто так.

        h2 Видео снятия слепка, первой стрижки и&nbsp;фиксации
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('aO2dB8O2m4s')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                
                  p На&nbsp;видео наша постоянная клиентка&nbsp;&mdash; Наталья. У&nbsp;Натальи тотальная алопеция, у&nbsp;нее практически не&nbsp;осталось своих волос, для нее мы&nbsp;сделали слепок для изготовления индивидуальной системы волос.
                  p Перед оформлением заказа, мы&nbsp;проверяем соответствие размера слепка с&nbsp;размером головы.
                  p В&nbsp;заказе Наталья выбрала цвет волос&nbsp;&mdash; &#8470;&nbsp;24, длину&nbsp;&mdash; 40&nbsp;см.

        h2 Стоимость системы замещения
        p Стоимость замещения волос при полном облысение зависит от&nbsp;длины волос
        +grid({parLike:true, paddingy: true})
          +grid__item({m:8,s:10,xs:12})
            -
              let price = {
                classModifier: 'in-marked-block',
                header: [
                  {content: 'Длина волос'},
                  {content: 'На заказ'},
                  {content: 'Готовая'}
                ],
                rows: [
                  ['20&nbsp;см','63 000 руб.','-'],
                  ['30&nbsp;см','64 200 руб.','38 400 руб.'],
                  ['40&nbsp;см','66 000  руб.','-'],
                  ['45&nbsp;см','-','44 800 руб.'],
                  ['50&nbsp;см','69 000 руб.','-'],
                  ['60&nbsp;см','72 000 руб.','-'],
                ]
              }
            +blockMarked({marginTop:true, inGrid: true})
                +blockMarkedContent({lifted:true})
                  +tablePrice(price)
          +grid__item({m:4,s:6,xs:12})
            p: a(href='/o-kompanii/zametki/kak-vybrat-nuzhnuyu-dlinu.html').btn-arrow Как выбрать нужную длину
            p: a(href='/tseny/') Скикди новым, постоянным клиентам и именниникам
        h2 Отзывы клиентов
        -
          const feedback = [
            {
              body: {tag:'p', content:'Четвертый год являюсь клиентом Центра дизайна волос. С первых посещений избавилась от комплексов, научилась жить с тем, что дано мне природой, приобрела тактичный и опытных консультантов. Чаще общалась с администратором Раисой и мастером Екатериной Смирновой. Все посещения салона оставили самые приятные воспоминания. Пусть салон работает долго и помогает нам решать наши, теперь уже незначительные проблемы.'},
              author: 'Ольга',
              photo: {src:'/images/replacement-2-2.jpg', thumb:'/images/replacement-2-1.jpg'}
            },
            {
              body: {tag:'p', content:'Благодарна центру дизайна волос и лично мастеру Богдановой Ирине за избавление от проблем связанных с алопецией. Мне очень нравится изделие, которое фиксируется на голове ,заменяя свои редкие волосы, это удобно, практично, позволяет чувствовать себя легко и свободно, избавляет от комплексов, поскольку для женщин волосы играют очень важную роль в имидже.'},
              author: 'Людмила',
              about: {name:'Ирина Богданова', href:'/o-kompanii/personal/irina-bogdanova.html'}
            },
            {
              body: {tag:'p', content:'Мое утро было замечательным. В центре я была первый раз. И все сама увидела, потрогала и примерила. Столько способов решения своей проблемы нет нигде. Очаровательный администратор Раиса, все рассазала, показала и обьяснила. И просто поговорила по душам. Спасибо вам за понимание и поддержку.'},
              author: 'Любовь'
            },
          ]
        +feedbackList(feedback)
        p: a(href='/otzyvy#form-review-anchor').btn Оставьте отзыв
        h2 Клиенты спрашивают
        +grid({paddingy:true, parLike: true})
          +grid__item({s:8,xs:12})
            -
              let cons = [
                {
                  title: 'А можно ли как-то приклеить систему волос на свои очень жидкие волосы? Или это делается только на лысую голову? СПАСИБО,',
                  name: 'Елена, Якутск',
                  date: '04.04.2013'
                },
                {
                  title: 'Мне несколько раз приклеивали интеграцию на виски и затылочную область - отклеивается через день -два.У Вас не бывает таких случаев?',
                  name: 'Ксения',
                  date: '19.10.2009'
                },
              ]
            +consultationListSmall(cons)
          +grid__item({m:4,s:6,xs:12})
            +blockMarked({smallPadding: true, fontSize: 'small'})
              p Отвечаем в 
                a(href='/konsultatsiya/') консультации
                |  на ваши вопросы по системе, ценам, срокам, применение. Помогаем подготовиться и выбрать.
              p(style='text-align: center')
                a(href='/konsultatsiya/ask.html').btn Спросить совет
                br
                | Советуем с 2007 года
