extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Цена системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Система волос для женщин'})
      +pageSection
        h1 Цена системы волос
        ul.list-links.list-links--hor
          li: a(href='#system-individual') Изготовление индивидуальной системы волос
          li: a(href='#system-ready') Готовые системы волос
          li: a(href='#system-hairstyle') Парикмахерские услуги для систем волос
        +grid({paddingy:true, parLike:true})
          +grid__item({xs:12})
            h2#system-individual Сколько стоит изготовление индивидуальной системы волос
            +tablePrice(pricesIndividualSystem)
            p *&nbsp;
              i От&nbsp;100% до&nbsp;130%&nbsp;— от&nbsp;облегченной до&nbsp;средней густоты, от&nbsp;140% и&nbsp;выше&nbsp;— густота волос выше средней.
                br
                | Подробнее о густоте волос смотрите 
                a(href='/o-kompanii/zametki/gustota-volos-sistemy.html') в статье
                | .
            ul.list-marked
              li: strong 25% скидка на первый заказ
              li: strong 25% скидка за месяц до и после дня рождения
              li: strong 40% скидка на повторный заказ в течении 6 месяцев
              li: strong 40% скидка при заказе двух изделий
            p: strong В стоимость изделия входит снятие слепка, первая стрижка и фиксация.
            p Шелковая вставка на макушке размером 12×10 см — дополнительно 4000 руб.
            p: a(href='/o-kompanii/zametki/kak-vybrat-nuzhnuyu-dlinu.html') Как выбрать длину (статья с фото)
            
            
        +grid({paddingy:true, parLike:true})
          +grid__item({xs:12})
            h2#system-ready Стоимость готовой системы волос
          +grid__item({m:8,xs:12})
            h3 Интеграция для верхней части головы
          +grid__item({m:8,xs:12})
            h4 Длина волоса 15&nbsp;сантиметров (19*23&nbsp;см)
            p Интеграция подходит для мужчин и&nbsp;женщин, при потери волос в&nbsp;области верхней части головы. В&nbsp;наличии цвета: блонд, рыжие, темные, русые и&nbsp;их&nbsp;оттенки. Систему можно вырезать по&nbsp;размеру под зону облысния. Основа состоит из&nbsp;тонкого силикона, создает не&nbsp;заметный стык в&nbsp;кожей головы, что можно зачесывать волосы назад.
            +tablePrice(pricesStandardTopSystem)
            p
              strong Цена указана за&nbsp;комплекс:
              |  система волос, фиксация, стрижка, укладка
        +grid({paddingy:true, parLike:true})
          +grid__item({m:8,xs:12})
            h3 Система для верхней части и&nbsp;всей головы
          +grid__item({m:8,xs:12})
            h4 Длина волоса 20-45 сантиметров
          +grid__item({m:8,xs:12})
            +tablePrice(pricesStandardFullSystem)
          +grid__item({m:4,xs:12})
            p
              strong Цена на&nbsp;систему для верхней части головы
              |  зависит от&nbsp;размера головы. У&nbsp;женщин и&nbsp;детей голова обычном меньше, чем у&nbsp;мужчин. Голову измерят при посещении центра или проконсультируют как измерить по&nbsp;телефону.
            p
              strong Цена на систему для всей головы
              |  действует для клиентов пользующихся услугами центра по&nbsp;ежемесячной перефиксации волос в&nbsp;центре.
        +grid({paddingy:true, parLike:true})
          +grid__item({xs:12})
            h2#system-hairstyle Стоимость парикмахерских услуг для системы волос
          +grid__item({m:8,xs:12})
            +tablePrice(pricesServices)
          +grid__item({m:4,xs:12})
            h4 Длина волоса
            ul.list-marked
              li Короткие до&nbsp;20&nbsp;сантиметров.
              li Средние от&nbsp;20&nbsp;до&nbsp;35&nbsp;сантиметров.
              li Длинные от&nbsp;35&nbsp;сантиметров.

            h4 Уровни системы волос
            p Уровень волос зависит от&nbsp;площади покрытия системы для мужчин и&nbsp;для женщин.
            include /blocks/list-price-levels/list-price-levels
block styles
  +style('inner')
