extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Приложение для телефона'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Приложение для телефона'})
      +pageSection
        h1 Приложение для телефона
        +grid({paddingy:true, justify:'center',parLike:true})
          +grid__item({m:2,s:3,xs:6})
            img(src='/images/o-kompanii/mobile-app/logo.png' alt='')
          +grid__item({m:10,s:9,xs:12})
            p Наше мобильное приложение&nbsp;&mdash; это ваш личный кабинет в&nbsp;Центре дизайна волос.
            p С&nbsp;его помощью вы&nbsp;сможете записаться к&nbsp;нам в&nbsp;режиме online, узнать, сколько у&nbsp;вас накопленных баллов, будете в&nbsp;курсе наших акций и&nbsp;предложений.
            p В&nbsp;галерее вы&nbsp;сможете просматривать фото работ наших мастеров, следить за&nbsp;новинками в&nbsp;каталоге услуг. Мы&nbsp;делаем все, чтобы вам было еще удобнее пользоваться нашими услугами. Всегда вам рады!
            include /blocks/application-links/application-links.pug
block styles
  +style('inner')
