extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Продукция'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Продукция'})
      +pageSection
        h1 Сопутствующая продукция для системы волос
        +grid({paddingy:true, parLike:true})
          +grid__item({m:9,xs:12})
            -
              const imagesFolder = '/images/produktsiya/'
              const productsList = [
                {src:imagesFolder+'brovi-nakladnye.jpg', href:'product.html', name: 'Брови накладные', price:'2500'},
                {src:imagesFolder+'endura-bond.jpg', href:'product.html', name: 'Endura Bond', price:'870'},
                {src:imagesFolder+'ghost-bond-platinum.jpg', href:'product.html', name: 'New dimension', price:'2000'},
                {src:imagesFolder+'ghost-bond.jpg', href:'product.html', name: 'Ghost Bond', price:'2000'},
                {src:imagesFolder+'lenta-zheltaya-3-yards.jpg', href:'product.html', name: 'Ghost Bond Platinum', price:'2300'},
                {src:imagesFolder+'new-dimension.jpg', href:'product.html', name: 'Лента Желтая', price:'850'},
              ]
            +productsList(productsList)
          +grid__item({m:3,s:6,xs:12})
            +blockMarked({smallPadding:true})
              +productsPaymentDelivery
                h3 Санкт-Петербург
                h4 Самовывоз 
                p г. Санкт-Петербург, наб. Обводного канала, 108А 
                  br
                  | Время работы: с 9-21, ежедневно 
                  br
                  a(href='/kontakty/') Как добраться
                h3 Россия и зарубежье
                p Стоимость доставки сообщит администратор при заказе в зависимости от вашего местонахождения
            +blockMarked({smallPadding:true})
              +productsPaymentDelivery({type:'payment'})
                p Оплату можно осуществить банковским переводом на счет компании, банковской картой и наличными в салоне.
          +grid__item({m:8,s:10,xs:12})
            h2 Продаем готовую систему замещания волос

            p Если у&nbsp;вас нет возможности приехать для оформления индивидуального заказа, вы&nbsp;можете воспользоваться нашими готовыми системами. Мы&nbsp;поможем вам самостоятельно выполнить замеры, чтобы мы&nbsp;могли подобрать для вас наиболее подходящее изделие.
              br
              | В&nbsp;наличии разные размеры, длины и&nbsp;цвета.

              p: a(href='http://www.hairsystems.ru/' target='_blank') Готовые системы на&nbsp;отдельном сайте

            h2 Материалы для фиксации систем волос
            p
              | Продаем все необходимые материалы для фиксации систем замещения волос.
              br
              | При заказе системы волос у&nbsp;нас мы&nbsp;посоветуем клей, подходящий вашему типу кожи.
              br
              | Если вы&nbsp;пользуетесь своей системой, проконсультируем, чем фиксировать.
              br
              | Позвоните по&nbsp;телефону: 
              strong 8 (812) 245-37-38.
