extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Заказ товара отправлен'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container
    .content
      +breadcrumbs({parents:['Главная','Продукция'],current:'Заказ товара отправлен'})
      +pageSection
        +grid({parLike:true,paddingy: true, justify: 'center'})
          +grid__item({m:6,s:10,xs:12})
            .consultation-sent
              h1 Заказ товара отправлен
              p В&nbsp;течение 30&nbsp;минут мы&nbsp;перезвоним и&nbsp;согласуем способ и&nbsp;время доставки и&nbsp;вариант оплаты.
              p Можете не&nbsp;ждать ответа и&nbsp;позвонить&nbsp;
                span.no-break 8 (812) 245-37-38
              p Мы&nbsp;работаем ежедневно с&nbsp;10&nbsp;до&nbsp;21 (Санкт-Петербург)
              p: strong Пока ждете ответа , заходите в&nbsp;наше сообщество. 
                br
                | Посмотрите, как живет центр замещения волос.
              .consultation-sent__vk.vk-container
                script(type="text/javascript" src="//vk.com/js/api/openapi.js?127")
                #vk_groups
                script
                    | VK.Widgets.Group("vk_groups",
                    | {
                    |     redesign: 1,
                    |     mode: 4,
                    |     width: "300",
                    |     height: "400",
                    |     color1: 'FFFFFF',
                    |     color2: '000000',
                    |     color3: '5E81A8'
                    | }, 1969216);
block styles
  +style('inner')
