extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Замещение волос для мужчин'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Замещение волос для мужчин'})
      +pageSection
        h1 Замещение волос для мужчин
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p Замещение волос&nbsp;&mdash; это безоперационный метод восстановления волос с&nbsp;помощью системы. Система волос состоит из&nbsp;натуральных волос, прикрепленных к&nbsp;тончайшей силиконовой основе. Фиксируется на&nbsp;коже головы с&nbsp;помощью специального клея. Систему можно носить месяц, не&nbsp;снимая.
            h2 Почувствуйте уверенность в&nbsp;себе
            p Наши клиенты выбирают замещение волос, чтобы:
            ul.list-marked.list-marked--w-prev-par
              li чувствовать себя увереннее
              li выглядеть молодо и&nbsp;респектабельно перед клиентами и&nbsp;партнерами на&nbsp;работе.
              li быть привлекательным в&nbsp;глазах противоположного пола.&nbsp;83% девушек обращают внимание на&nbsp;шевелюру у&nbsp;мужчин * 
                br
                i * по&nbsp;данным независимых опросов
          +grid__item({m:4,xs:12})
            +imagesBeforeAfter({
              before: {
                src:'/images/replacement-1-1.jpg'
              },
              after: {
                src:'/images/replacement-1-2.jpg'
              },
              settings: {
                noBorder:true
              }
            })
        h2 Никто не заметит систему волос
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p
              strong Граница между системой и&nbsp;кожей не&nbsp;заметна
              |  благодаря тончайшему силикону.
            p
              strong Даже на&nbsp;ощупь очень сложно определить наличие основы
              |  системы волос, в&nbsp;которую имплантированы волосы. Близкий вам человек не&nbsp;сможет ее&nbsp;распознать при прикосновении. Вы&nbsp;опять можете получать удовольствие от&nbsp;столь привычного жеста&nbsp;&mdash; провести рукой по&nbsp;волосам, откинув их&nbsp;назад
            p
              strong Подберем цвет волос, идентичный вашему собственному.
              |  В&nbsp;наличии готовые системы десятков оттенок: светлые, рыжие, русые, темные. Мы&nbsp;подберем &laquo;ваш&raquo; цвет, и&nbsp;система легко &laquo;смешается&raquo; с&nbsp;родными волосами.
        h2 Один раз зафиксировал и&nbsp;забыл на&nbsp;месяц
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p Систему волос для мужчин крепится на&nbsp;клей и&nbsp;держится месяц. Это не&nbsp;парик, который нужно постоянно поправлять и&nbsp;ежедневно надевать и&nbsp;снимать. В&nbsp;нашем салоне зафиксируем и&nbsp;подстрижем систему волос. Через месяц необходимо прийти не&nbsp;перефиксацию той&nbsp;же системы. Самостоятельно остается только мыть и&nbsp;расчесывать волосы.
        h2 Активный образ жизни в&nbsp;системе? &mdash;&nbsp;конечно!

        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p В&nbsp;системе замещения волос можно ходить в&nbsp;баню и&nbsp;сауну. Можно заниматься спортом: бегать, плавать, ходить в&nbsp;тренажерку. Занимайтесь сексом&nbsp;&mdash; система не&nbsp;отклеится и&nbsp;не&nbsp;сползает.
            h2 Какие есть альтернативы?
            p В&nbsp;России&nbsp;30% мужчин лысые: кто-то сбривает оставшиеся волосы, а&nbsp;кто-то ищет пути решения. Есть несколько выходов: носить парик или накладку, сделать пересадку волос или воспользоваться системой замещения волос.
            p
              strong Парик и&nbsp;накладки.
              |  Легко купить, но&nbsp;заметны стыки парика с&nbsp;головой при определенных стрижках. Надо каждый день фиксировать и&nbsp;в&nbsp;повседневной жизни поправлять. Стоимость от&nbsp;5000 до&nbsp;60&nbsp;000 (новейшие модели неотличимы от&nbsp;системы волос)
            p
              strong Пересадка волос.
              |  Серьезное хирургическое вмешательство и&nbsp;восстановительный период 2-3&nbsp;недели. Эффект не&nbsp;гарантирован. Не&nbsp;подойдет при полном облысении. Средняя цена 180&nbsp;000&nbsp;рублей.
            p Мы&nbsp;&mdash; салон, специализирующийся на&nbsp;методах коррекции облысения. Предлагаем: парики, накладки, загустители, системы волос. Рекомендуем систему волос как аналог собственных волос, надежный в&nbsp;фиксации, и&nbsp;по&nbsp;цене, сопоставимой с&nbsp;париком.
          +grid__item({m:4,s:8,xs:12})
            +figure({
              src: '/images/sistema-volos-dlya-muzhchin/volosy-pod-vodoi.jpg',
              caption: 'Наш клиент занимается дайвингом в система волос.'
            })
        h2 Кто уже делал?
        +grid({paddingy:true,parLike:true})
          +grid__item({m:8,xs:12})
            p Избавляться от&nbsp;залысин и&nbsp;проплешин для мужчины это нормально. Известные артисты и&nbsp;певцы скрывают свои проблемы с&nbsp;волосами.
          +grid__item({s:6,xs:12})
            img(src='/images/sistema-volos-dlya-muzhchin/sistema-volos.jpg' alt='')
          +grid__item({s:6,xs:12})
            img(src='/images/sistema-volos-dlya-muzhchin/haus.jpg' alt='')
        h2 Клиенты нашего центра
        +grid({paddingy:true,parLike:true})
          +grid__item({m:6,xs:12})
            p В&nbsp;нашем центре уже восстановили волосы 300&nbsp;мужчин. Половина ежемесячно приходят зафиксировать или приобрести новую систему волос. Мы&nbsp;помогаем приобретать системы волос мужчинам из&nbsp;других городов, после консультации по&nbsp;skype (или при помощи других мессенджеров) мы&nbsp;оформляем покупку и&nbsp;отправляем готовую систему с&nbsp;инструкцией по&nbsp;фиксации и&nbsp;уходу.
          +grid__item({m:6,xs:12})
            +blockMarked({marginTop: true, smallPadding: true}).banner-hermitage.banner-hermitage--small
              a(href='http://www.hairdesign.ru/o-kompanii/novosti/inogorodnim-klientam-ekskursiya-po-gorodu-i-bilet-v-ermitazh-v-podarok.html')
                h2 Подарок иногородним - билеты в Эрмитаж
                p Иногородним клиентам при заказе индивидуальной системы волос обзорная экскурсия по городу и билет в Эрмитаж в подарок.
        -
          const beforeAfter = {
            items: [
              {
                images:{
                  before:'/images/before-after/before-after-1-1.jpg',
                  after:'/images/before-after/before-after-1-2.jpg'
                },
                name:'Всеволод',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-2-1.jpg',
                  after:'/images/before-after/before-after-2-2.jpg'
                },
                name:'Александр',
                desc:'андрогенная алопеция'
              },
              {
                images:{
                  before:'/images/before-after/before-after-3-1.jpg',
                  after:'/images/before-after/before-after-3-2.jpg'
                },
                name:'Анастасия',
                desc:'очаговая алопеция(частичное облысение на макушке-гнездное облысение)'
              },
            ]
          }
        +beforeAfter(beforeAfter)
        +grid({paddingy:true,parLike:true})
          +grid__item({m:6,xs:12})
            +youtubeResponsive('5R4bheMbyf4')
          +grid__item({m:6,xs:12})
            +youtubeResponsive('SM3P0cmN2N8')
        p Согласитесь с&nbsp;волосами мужчины выглядят моложе и&nbsp;увереннее.
        h2 Как устанавливаем систему
        +grid({paddingy:true,parLike:true})
          +grid__item({m:6,xs:12})
            p Выбрать и&nbsp;установить систему можно за&nbsp;один визит в&nbsp;наш центр. В&nbsp;среднем, процедура занимает 2&nbsp;часа.
            ol.list-numbered
              li Запишитесь заранее в&nbsp;центр по&nbsp;телефону: +7 (812) 245 37 38. Работаем ежедневно с&nbsp;10&nbsp;до&nbsp;21.
              li В&nbsp;закрытом кабинете мы&nbsp;покажем варианты размеров, цветов. Вы&nbsp;сможете примерить готовые изделия перед зеркалом.
              li Подгоняем выбранную готовую систему под вашу область облысения
              li Фиксируем на&nbsp;клей. Делаем стрижку и&nbsp;прическу.
        h3 Посмотрите, как мастер по замещению волос устанавливает систему Всеволоду
        +blockMarked({marginTop: true})
          +grid({paddingy: true})
            +grid__item({m:8,xs:12})
              +blockMarkedContent({lifted: true})
                +youtubeResponsive('OPVLRsPg_fo')
            +grid__item({m:4,xs:12})
              +blockMarkedContent()
                +blockMarkedQuote()
                  p В&nbsp;свое время обратился в&nbsp;центр дизайна волос со&nbsp;своей проблемой. Обратился к&nbsp;замечательному мастеру Наталье, у&nbsp;которой просто золотые руки. После каждой стрижки, установки системы, ты&nbsp;просто чувствуешь себя на&nbsp;10&nbsp;лет моложе. Это факт&nbsp;&mdash; после каждой переустановки волос я&nbsp;забываю, что у&nbsp;меня когда то&nbsp;не&nbsp;было волос, я&nbsp;живу с&nbsp;ними как со&nbsp;своими родными. Каждое утро просыпаясь, я&nbsp;полон жизни и&nbsp;радости. Раньше я&nbsp;чувствовал себя немножко не&nbsp;уверенно, был какой то&nbsp;комплекс связанный с&nbsp;этим. В&nbsp;настоящее время и&nbsp;живу полной жизнью и&nbsp;радуюсь, благодаря центру дизайна волос и&nbsp;прекрасному мастер Наталье.
        h2 Стоимость готовой системы волос для мужчин
        
        +grid({paddingy: true,parLike:true})
          +grid__item({m:4,xs:12})
            img(src='/images/sistema-volos/system-integration-1.jpg' alt='Система волос интеграция')
          +grid__item({m:8,xs:12})
            +tablePrice(pricesStandardTopSystem)
            ul.list-marked
              li Тончайшая система волос с&nbsp;основой из&nbsp;тонкого силикона.
              li Основа создает незаметный стык с&nbsp;кожей головы на&nbsp;лбу, висках и&nbsp;затылке.
              li Вы&nbsp;можете зачесывать волосы назад.
              li Систему подгоняем под область облысения.
              li: strong Срок службы системы: 1-3 месяца
              li: strong Перефиксировать раз в&nbsp;месяц
              li: strong Подходит при частичном облысении.
              li: strong Длина волоса 15&nbsp;сантиметров
              li: strong Фиксируется на&nbsp;клей
            h3 В&nbsp;стоимость системы входит:
            ul.list-marked
              li Консультация и&nbsp;подбор
              li Фиксация
              li Стрижка и&nbsp;укладка
              li Скидка на&nbsp;следующую покупку в&nbsp;течение месяца: 5&nbsp;000&nbsp;рублей, в&nbsp;течение 2&nbsp;месяцев: 2&nbsp;500&nbsp;рублей.
          +grid__item({m:8,xs:12})
            p При полном облысении у&nbsp;нас есть готовые системы с&nbsp;другой основой, более прочной для покрытия всей головы&nbsp;&mdash; сеткой и&nbsp;силиконом. 
              br
              | В&nbsp;наличии есть 
              a(href='/tseny/') системы с&nbsp;длинными волосами
              | .
block styles
  +style('inner')
