extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Система волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Система волос'})
      +pageSection
        h1 Система волос
        +grid({paddingy:true, parLike:true, justify: 'center'})
          +grid__item({m:6,xs:12})
            p: strong Этот метод (hair replacement system) предназначен как для тех, у&nbsp;кого уже образовалась значительная зона потери волос, так и&nbsp;для тех, кто не&nbsp;удовлетворен густотой и&nbsp;качеством своих собственных волос.

            p Благодаря особым материалам, которые позволяют сделать основу системы волос абсолютно невидимой, а&nbsp;также новейшим способам фиксации, система волос отличается от&nbsp;париков и&nbsp;накладок коренным образом. Этот метод создает такой визуальный эффект, при котором всем окружающим, да&nbsp;и&nbsp;вам самому, будет казаться, что ваши волосы растут из&nbsp;кожи. Даже самый уязвимый участок&nbsp;&mdash; фронтальная линия&nbsp;&mdash; выглядит настолько натурально, что позволяет зачесывать волосы на&nbsp;бок и&nbsp;назад.
          +grid__item({m:6,s:10,xs:12})
            +figure({src:'/images/sistema-volos/with-client.png', alt: 'Мастер с клиенткой', caption: 'Мастер с клиенткой Натальей. У Натальи стык системы и кожи не заметен.'})
        h2 Как выглядит система волос
        +grid({paddingy:true, parLike:true, justify: 'center'})
          +grid__item({m:4,s:6,xs:12})
            +figure({src:'/images/sistema-volos/look.jpg', alt: 'Общий вид снаружи', caption: 'Общий вид снаружи'})
          +grid__item({m:8,xs:12})
            h3 Натуральные волосы
            p Мы&nbsp;изготавливаем системы из&nbsp;натуральных волос. Поэтому они приятны на&nbsp;ощупь и&nbsp;легко &laquo;замешиваются&raquo; с&nbsp;вашими собственными волосами
            p Даже на&nbsp;ощупь очень сложно определить наличие основы системы волос, в&nbsp;которую имплантированы волосы. Даже близкий вам человек не&nbsp;сможет ее&nbsp;распознать при прикосновении. Вы&nbsp;опять сможете получать удовольствие от&nbsp;столь привычного жеста&nbsp;&mdash; провести рукой по&nbsp;волосам, откинув их&nbsp;назад
          +grid__item({m:4,xs:12})
            h3 Повторяет рельеф головы
            p Во&nbsp;время вашего первого визита в&nbsp;Центр дизайна волос специалисты скрупулезно изучат форму и&nbsp;тип вашей зоны потери волос. Это позволит более точно подобрать систему волос именно для вашего случая. Каждый раз система волос изготавливается индивидуально в&nbsp;соответствии с&nbsp;вашей формой головы. Таким образом, вы&nbsp;не&nbsp;будете ощущать ни&nbsp;малейшего дискомфорта, а&nbsp;основа системы волос в&nbsp;точности будет повторять рельеф вашей головы.
          +grid__item({m:4,s:6,xs:12})
            +figure({src:'/images/sistema-volos/system-top.jpg', alt: 'Основа на верхнюю часть головы', caption: 'Основа на верхнюю часть головы'})
          +grid__item({m:4,s:6,xs:12})
            +figure({src:'/images/sistema-volos/system-full.jpg', alt: 'Основа на всю голову модель', caption: 'Основа на всю голову модель'})
        h2 Как выбрать систему волос
        p Вы&nbsp;можете оставить заказ на&nbsp;изготовление индивидуальной системы или выбрать из&nbsp;готовых, имеющихся в&nbsp;наличии.
        h3 Выберите цвет и&nbsp;длину волос
        +grid({paddingy:true, parLike:true, justify: 'center'})
          +grid__item({m:4,s:6,xs:12})
            img(src='/images/sistema-volos/colors.jpg' alt='Цвета системы волос' title='Цвета системы волос')
          +grid__item({m:8,xs:12})
            p Мы&nbsp;изготовим изделие любого цвета. Приходите в&nbsp;наш центр и&nbsp;выберите цвет из&nbsp;палитры или примеряя готовые системы.
            p Если вы&nbsp;хотите заказать систему волос не&nbsp;посещая центр в&nbsp;Санкт-Петербурге (СПб), можно выбрать цвет по&nbsp;образцам Estel, они совпадают с&nbsp;нашими.Образцы Estel бывают в&nbsp;парикмахерских, где красят волосы.
            p Также вы&nbsp;можете недорого купить через интернет систему замещения волос в&nbsp;нашем интернет-магазине.
            p Длина волос от&nbsp;15&nbsp;до&nbsp;60&nbsp;сантиметров.
        h2 Выберите способ фиксации и&nbsp;основу системы волос
        p Система волос состоит из&nbsp;основы и&nbsp;самих волос. Основа то&nbsp;к&nbsp;чему крепятся волосы и&nbsp;прилегает к&nbsp;коже головы.
        p От&nbsp;выбора основы зависит как ее&nbsp;закрепить. Для крепления используем ленты или клей. Ленты различаются сроком перефиксации: ежедневные, на&nbsp;2-3&nbsp;дня, на&nbsp;неделю, на&nbsp;две недели. Клей держит систему дольше, сроком до&nbsp;1&nbsp;месяца. На&nbsp;заметность клей и&nbsp;лента не&nbsp;влияют.
        p Основы бывают: тонкий силикон, силикон и&nbsp;силикон с&nbsp;сеткой. Возможно также изготовление системы волос без силикона с&nbsp;основой содержащей одну сетку.
        h3 Тонкий силикон или интеграция
        +grid({paddingy:true, parLike:true, justify: 'center'})
          +grid__item({m:4,s:6,xs:12})
            +grid({nopadding: true})
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-integration-1.jpg' alt='Система интеграция, основа' title='Система интеграция, основа')
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-integration-2.jpg' alt='Система интеграция, основа' title='Система интеграция, основа')
          +grid__item({m:8,xs:12})
            p Интеграция&nbsp;&mdash; готовая система для верхней части головы. Длина волос 15&nbsp;см. Она практически не&nbsp;заметна, особенно фронтальная линия. Основа интеграции тончайший силикон, поэтому хрупкая и&nbsp;срок службы 1-3&nbsp;месяца.
            p Можно подгонять по&nbsp;размеру, обрезая края в&nbsp;соответствии с&nbsp;нужной формой. Создает очень естественную фронтальную линию, при которой волосы можно даже зачесывать назад.
            p Фиксировать можно только на&nbsp;клей, так как при замене лент основу можно легко повредить. Перефиксировать желательно при помощи мастера, так как здесь необходимы определенные навыки, чтобы система легла ровно в&nbsp;соответствии с&nbsp;нужной формой.
            p Интеграция самая популярная основа при облысении верхней части. Подходит и&nbsp;женщинам и&nbsp;мужчинам. Подгоняется под зону облысения и&nbsp;всегда есть в&nbsp;наличии разных цветов.
            +gallery({
              list:[
                {src:'/images/sistema-volos/system-integration-3.jpg', alt:'Система интеграция'},
                {src:'/images/sistema-volos/system-integration-4.jpg', alt:'Система интеграция'},
                {src:'/images/sistema-volos/system-integration-5.jpg', alt:'Система интеграция'},
              ],
              settings: {
                size: 'small',
                noBorders: true,
              }
            })
            +blockMarked({color:'dark', padding: 'small'})
              +grid({paddingy: true})
                +grid__item({s:6, xs:12})
                  ul.list-marked
                    li Для верхней части головы
                    li
                      strong В&nbsp;наличии любые цвета 
                      br
                      | Длина волоса 15&nbsp;сантиметров 
                      br
                      | Цена от&nbsp;13&nbsp;000 рублей
                +grid__item({s:6, xs:12})
                  ul.list-marked
                    li Срок службы от&nbsp;1&nbsp;до&nbsp;3&nbsp;месяцев
                    li Фиксируется на&nbsp;клей
        +grid({paddingy:true, parLike:true})
          +grid__item({m:6,xs:12})
            h3 Силикон
            +grid({nopadding: true})
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-silicon-1.jpg' alt='Система на силиконовой основе' title='Система на силиконовой основе')
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-silicon-2.jpg' alt='Система на силиконовой основе, вид спереди' title='Система на силиконовой основе, вид спереди')
            p Основа полностью состоит из&nbsp;силикона. В&nbsp;наличии системы на&nbsp;верхнюю часть головы с&nbsp;длиной волоса 20&nbsp;и&nbsp;30&nbsp;сантиметров. На&nbsp;заказ можно изготовить силиконовую основу и&nbsp;на&nbsp;3/4&nbsp;головы. Срок службы до&nbsp;6&nbsp;месяцев.
            p При необходимости можно изменить форму готовой основы, подрезав ее&nbsp;в&nbsp;соответствии с&nbsp;нужной формой.
            p Система фиксируется в&nbsp;салоне или самостоятельно на&nbsp;клей или на&nbsp;ленты.
            p Рекомендуем основу полностью состоящую из&nbsp;силикона при излишнем потоотделении.
            +blockMarked({color:'dark', padding: 'small'})
              ul.list-marked
                li Срок службы до&nbsp;6&nbsp;месяцев
                li Фиксируется на&nbsp;клей и&nbsp;ленты
                li
                  strong В&nbsp;наличии на&nbsp;верхнюю часть головы
                  br
                  | Длина волоса 20, 30&nbsp;сантиметров
                  br
                  | Цена от&nbsp;19&nbsp;200 рублей
                li
                  strong На&nbsp;заказ на&nbsp;верхнюю часть головы
                  br
                  | Длина волоса от&nbsp;20&nbsp;до&nbsp;60&nbsp;сантиметров
                  br
                  | Цена от&nbsp;44&nbsp;800 рублей
          +grid__item({m:6,xs:12})
            h3 Силикон и&nbsp;сетка
            +grid({nopadding: true})
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-siliconweb-1.jpg' alt='Система на основе из силикона и сетки' title='Система на основе из силикона и сетки')
              +grid__item({xs:6})
                img(src='/images/sistema-volos/system-siliconweb-2.jpg' alt='Система на основе из силикона и сетки, вид спереди' title='Система на основе из силикона и сетки, вид спереди')
            p По&nbsp;окружности основы полоска из&nbsp;силикона, в&nbsp;середине дышащий материал&nbsp;&mdash; сетка. В&nbsp;наличии системы на&nbsp;верхнюю часть головы с&nbsp;длиной волос 20&nbsp;и&nbsp;30&nbsp;сантиметров и&nbsp;30&nbsp;и&nbsp;45&nbsp;на всю голову.
            p Фиксировать можно как на&nbsp;клей, так и&nbsp;ленты.
            p Самая долговечная основа, срок службы до&nbsp;1&nbsp;года.
            +blockMarked({color:'dark', padding: 'small'})
              ul.list-marked
                li Срок службы до&nbsp;12&nbsp;месяцев
                li Фиксируется на&nbsp;клей и&nbsp;ленты
                li
                  strong В&nbsp;наличии на&nbsp;верхнюю часть головы
                  br
                  | Длина волоса 20, 30&nbsp;сантиметров
                  br
                  | Цена от&nbsp;19&nbsp;200 рублей
                li
                  strong В&nbsp;наличии на&nbsp;всю голову
                  br
                  | Длина волоса 30, 45&nbsp;сантиметров
                  br
                  | Цена от&nbsp;38&nbsp;400 рублей
                li
                  strong На&nbsp;заказ на&nbsp;верхнюю часть и&nbsp;всю голову
                  br
                  | Длина волоса от&nbsp;20&nbsp;до&nbsp;60&nbsp;сантиметров
                  br
                  | Цена от&nbsp;44&nbsp;800 рублей
        p Цена зависит от&nbsp;длины волоса и&nbsp;площади облысения. Цена не&nbsp;зависит от&nbsp;выбора основы: силикон или силикон с&nbsp;сеткой.
        h2 Срок эксплуатации от&nbsp;1&nbsp;месяца до&nbsp;1,5 лет
        p В&nbsp;зависимости от&nbsp;выбранного типа основы (а&nbsp;иногда и&nbsp;цвета волос) система может &laquo;жить&raquo; от&nbsp;1&nbsp;месяца до&nbsp;1, 5&nbsp;лет. На&nbsp;бесплатной консультации в&nbsp;салоне мы&nbsp;обязательно показываем все имеющиеся у&nbsp;нас варианты и&nbsp;подробно рассказываем об&nbsp;особенностях использования каждого типа.
        h2 Срок фиксации до&nbsp;4-6 недель
        p Затем система волос фиксируется к&nbsp;коже головы при помощи специального клеящего состава, предназначенного исключительно для этого метода и&nbsp;позволяющего &laquo;носить&raquo; ее, не&nbsp;снимая, до&nbsp;4-6&nbsp;недель. Срок фиксации варьируется в&nbsp;зависимости от&nbsp;вашего типа кожи, образа жизни и&nbsp;интенсивности потоотделения. 
          a(href='/fiksatsiya/') Как фиксируется система
        h2 Активный образ жизни, не&nbsp;снимая систему
        p В&nbsp;течение этого периода вы&nbsp;ведете привычный вам образ жизни. С&nbsp;этими волосами вы&nbsp;можете мыться, ходить в&nbsp;бассейн, сауну, заниматься спортом и&nbsp;т.д., не&nbsp;опасаясь их&nbsp;&laquo;потерять&raquo; в&nbsp;самый неподходящий момент.
block styles
  +style('inner')
