extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Перефиксация системы волос'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','Услуги'],current:'Перефиксация системы волос'})
      +pageSection
        h1 Перефиксация системы волос
        +grid({paddingy:true,parLike:true})
          +grid__item({m:9,xs:12})
            p У&nbsp;вас юбилей или просто торжественное мероприятие? С&nbsp;системой волос также можно делать укладки и&nbsp;прически. Возможно огромное количество вариантов нарядных причесок и&nbsp;просто укладок. В&nbsp;руках мастера волосы на&nbsp;системе не&nbsp;только не&nbsp;пострадают, но, наоборот, будут выглядеть аккуратными и&nbsp;ухоженными.
            p Записываться желательно заранее, особенно если есть предпочтения по&nbsp;мастерам. Записываться мы&nbsp;рекомендуем через 
              a(href='/o-kompanii/prilojenie/') мобильное приложение
              | . Это гораздо удобнее, так как вы&nbsp;в&nbsp;спокойной обстановке сможете выбрать удобное для вас время и&nbsp;мастера. После записи вам придет подтверждающая СМС.
          +grid__item({m:3,xs:12})
            +aside({title:'Стоимость'})
              +asidePrice({price:'900 - 1200 руб.', desc:'укладка'})
              +asidePrice({price:'1000 - 1300 руб.', desc:'укладка утюгом'})
              +asidePrice({price:'1750 - 2350 руб.', desc:'укладка на плойку'})
              +asidePrice({price:'от 2500 руб.', desc:'прическа'})
          +grid__item({m:4,s:8,xs:12})
            +blockMarked({smallPadding:true})
              h3 Другие услуги
              p 
                a(href='/uslugi/pervaya-fiksatsiya-i-strizhka-sistemy-volos/') Первая фиксация и стрижка волос
                br
                a(href='/uslugi/perefiksatsiya-sistemy-volos/') Перефиксация системы
                br
                a(href='/uslugi/okraska-sistemy-volos/') Окраска системы волос и волос клиента
                br
                a(href='/uslugi/remont/') Ремонт
block styles
  +style('inner')
