extends /blocks/layout/layout

include  /blocks/footer-staff/footer-staff
include  /blocks/link-social/link-social

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - const smallFooter = true
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      h1 Заказ системы волос удаленно
      +pageSection
        p Заказать систему волос удаленно&nbsp;&mdash; это оптимальный вариант, когда нет возможности лично посетить нас.
        +blockMarked({padding: 'small'})
          +textMarked Фиксируем цены на&nbsp;системы несмотря на&nbsp;рост курса, для тех, кто записался на&nbsp;консультацию до&nbsp;конца апреля.
        h2 Как заказать?
        +grid({parLike: true})
          +grid__item({m:6,xs:12})
            h3 1) 
              a(href='/kontakty/besplatnaya-onlayn-konsultatsiya/') Записаться
              |  на&nbsp;онлайн-консультацию
            p: strong Что будет на&nbsp;онлайн консультации?
            p Общаясь по&nbsp;видеосвязи, мы:
            ul.list-numbered.list-numbered--w-prev-par
              li Посмотрим вашу проблемную зону головы
              li Подробно расскажем про услугу замещения волос, о&nbsp;способах фиксации и&nbsp;о&nbsp;вариантах дальнейшего обслуживания системы волос
              li Рекомендуем вам метод замещения, который лучше всего подойдет в&nbsp;вашем конкретном случае.
              li Обязательно покажем варианты основ системы волос, цветовую
              li Ответим на&nbsp;все ваши вопросы
              li Отправим инструкцию для снятия мерок и/или поможем их&nbsp;снять во&nbsp;время консультации.
          +grid__item({m:6,xs:12})
            h3 2) Оформить заказ
            ul.list-numbered
              li Если после онлайн консультации вас все устраивает, мы&nbsp;оформляем заказ и&nbsp;договор. Вы&nbsp;получаете сканированную копию договора с&nbsp;нашими реквизитами и&nbsp;печатью.
              li После получения&nbsp;50% предоплаты ваш заказ отправляется в&nbsp;производство.
              li Ближе к&nbsp;дате получения заказа в&nbsp;Санкт-Петербурге мы&nbsp;обязательно связываемся с&nbsp;вами любым из&nbsp;удобных вам способом, уточняем точную дату получения заказа.
              li гда заказ в&nbsp;Санкт-Петербурге получен, мы&nbsp;можем опять связаться с&nbsp;вами, показать вам систему. Обсуждаем, какие фиксаторы вам необходимы. Выбираем наиболее подходящие.
              li Оплата второй части заказа на&nbsp;наш расчетный счет
              li Отправка системы волос курьерской службой по&nbsp;указанному вами адресу (доставка оплачивается отдельно курьеру, стоимость зависит от&nbsp;региона получения).
              li Если необходимо, оказываем консультации по&nbsp;самостоятельной фиксации и&nbsp;уходу за&nbsp;системой волос.
block styles
  +style('inner')
