extends /blocks/layout/layout

block head
  -
    var pageTitle = 'Заметки эксперта'
    var pageDescription = ''
    var pageKeywords = ''
block content
  include ../data/prices
  .container
    .content
      +breadcrumbs({parents:['Главная','О компании'],current:'Заметки эксперта'})
      +pageSection
        h1 Заметки эксперта
        +grid({paddingy: true, parLike:true})
          +grid__item({m:9,xs:12})
            -
              let articles = [
                {
                  href: 'kak-zakazat-inogorodnim.html',
                  title: 'Как заказать иногородним',
                  body: {
                    tag: 'p', content: 'К&nbsp;сожалению, салоны безоперационного замещения волос есть далеко не&nbsp;во&nbsp;всех городах. Иногда можно столкнуться с&nbsp;посредниками, которые за&nbsp;определенные комиссионные разместят ваш заказ на&nbsp;одной из&nbsp;специализированных фабрик. К&nbsp;сожалению, качество таких изделий может быть сомнительным, а&nbsp;также у&nbsp;вас не&nbsp;будет никаких гарантий на&nbsp;возврат или обмен, если изделие не&nbsp;будет соответствовать указанным параметрам. Мы, в&nbsp;Центре дизайна волос, понимаем всю степень ответственности, и&nbsp;поэтому мы&nbsp;в&nbsp;обязательном порядке заключаем с&nbsp;клиентами договор, оплата поступает на&nbsp;наш расчетный счет. Поэтому наши клиенты могут быть уверены, что они защищены законодательством РФ. Особенное беспокойство может вызывать процедура заказа системы волос у&nbsp;клиентов, которые проживают вне Санкт-Петербурга, и&nbsp;у&nbsp;которых нет возможности приехать в&nbsp;салон на&nbsp;очную консультацию и&nbsp;оформление заказа. В&nbsp;этом случае мы&nbsp;предлагаем следующую схему работы.'
                  },
                  readmore: true
                },
                {
                  href: 'kak-pravilno-zakazyvat-sistemu-volos-ili-zachem-my-rabotaem.html',
                  title: 'Как правильно заказывать систему волос или зачем мы работаем?',
                  body: {
                    tag: 'p', content: 'Салоны, которые оказывают услуги в&nbsp;сфере безоперационного замещения волос, работают примерно по&nbsp;одному принципу. Мы&nbsp;принимаем заказы у&nbsp;клиентов на&nbsp;изготовление системы волос, размещаем заказ у&nbsp;своих поставщиков&nbsp;&mdash; изготовителей систем, а&nbsp;затем оказываем услуги по&nbsp;установке и&nbsp;обслуживанию изделий.'
                  },
                  readmore: true,
                  image:'/images/leytes.jpg',
                },
                {
                  href: 'sravnenie-5-metodov-borby-s-oblyseniem.html',
                  title: 'Сравнение 5 методов борьбы с облысением',
                  body: [
                    {tag: 'p', content: 'Каждый человек, страдающий от&nbsp;потери волос, может воспользоваться одним из&nbsp;5&nbsp;основных способов их&nbsp;компенсации:'},
                    {tag:'ul', className:'list-marked list-marked--w-prev-par', content: [
                      {tag:'li', content:'Косметические средства или &laquo;камуфляж&raquo; (спреи, лосьоны, кремы, пудры);'},
                      {tag:'li', content:'Медицинские препараты (Миноксидил, Пропеция, Финастерид);'},
                      {tag:'li', content:'Накладки и&nbsp;парики;'},
                      {tag:'li', content:'Хирургические способы (трансплантация, имплантация);'},
                      {tag:'li', content:'Безоперационное замещение волос.'},
                    ]}
                  ],
                  readmore: true
                },
                {
                  href: 'kak-vybrat-nuzhnuyu-dlinu.html',
                  title: 'Как выбрать нужную длину',
                  body: [
                    {tag: 'p', content: 'У&nbsp;стандартных систем волос, которыми чаще пользуются мужчины, длина волос 15-20&nbsp;см. Эта длина позволяет сделать как короткую стрижку, классическую стрижку, так и&nbsp;удлиненную стрижку.'},
                    {tag: 'p', content: 'Индивидуальные системы могут иметь длину до&nbsp;60&nbsp;см. В&nbsp;редких случаях клиенты предпочитают и&nbsp;более длинные волосы. И&nbsp;это возможно.'},
                  ],
                  readmore: true
                },
                {
                  href: 'opisanie-metoda.html',
                  title: 'Описание метода',
                  body: [
                    {tag: 'p', content: {tag: 'strong', content: 'Изделие или метод? Парик нового поколения = безоперационное замещение волос!'}},
                    {tag: 'p', content: 'Все, кто когда-либо сталкивался с&nbsp;проблемой выпадения волос, частичного или полного облысения, интересовался возможностями маскировки проблемы. Это связано с&nbsp;тем, что, к&nbsp;сожалению, все существующие на&nbsp;сегодняшний момент методы лечения алопеции, не&nbsp;дают 100% гарантии успеха, зачастую малоэффективны или вообще не&nbsp;дают никакого результата.'},
                  ],
                  readmore: true
                },
                {
                  href: 'lentochnyy-fiksator-dlya-krepleniya-sistemy-volos.html',
                  title: 'Ленточный фиксатор для крепления системы волос',
                  body: [
                    {tag: 'p', content: 'Ленточный фиксатор или фиксирующие полоски используют для фиксации системы волос. Стандартный ленточный фиксатор продается в&nbsp;форме полосок 7-10&nbsp;см или в&nbsp;виде с&nbsp;общей длиной ленты 2,74&nbsp;метра. Такого ролика хватит, примерно, на&nbsp;9-12 установок системы на&nbsp;всю голову.'},
                  ],
                  readmore: true
                },
              ]
            +articlesList(articles)
          +grid__item({m:3,xs:12})
            include /blocks/expert-notes-aside/expert-notes-aside
