extends /blocks/layout/layout

include  /blocks/footer-staff/footer-staff
include  /blocks/link-social/link-social

block head
  -
    var pageTitle = 'Контакты'
    var pageDescription = ''
    var pageKeywords = ''
block content
  - const smallFooter = true
  .container
    .content
      +breadcrumbs({parents:['Главная'],current:'Контакты'})
      h1 Записаться в лист ожидания
      +pageSection
        p Берегите себя, оставайтесь дома. Вы&nbsp;можете записаться в&nbsp;лист ожидания на&nbsp;любую услугу. 
          strong Перезвоним вам, как только получим разрешение принимать клиентов и&nbsp;согласуем дату визита.
        +blockMarked({padding: 'small'})
          +textMarked Фиксируем цены на&nbsp;системы несмотря на&nbsp;рост курса, для тех, кто записался на&nbsp;консультацию до&nbsp;конца апреля.
        h2 Как записаться?
        +grid({parLike: true, cols: 11})
          +grid__item({m:5,xs:11})
            h3 Отправьте заявку через форму
            +form({
              inputs: [
                {type: 'text', name: 'name', id: 'form-name', label: 'Имя', required: true},
                {type: 'tel', name: 'phone', id: 'form-phone', label: 'Телефон', required: true},
                {type: 'textarea', name: 'message', id: 'form-message', label: 'Услуга', required: true},
              ],
              submit: 'Отправить',
            })
            p Перезвоним вам и&nbsp;назначим дату онлайн консультации, выберем подходящее для вас приложение для видеосвязи: WhatsApp, Viber или Skype.
            p Если нет возможности воспользоваться видеосвязью, то&nbsp;общение продолжится по&nbsp;электронной почте или по&nbsp;телефону. Просим выслать нам на&nbsp;
              a(href='mailto:mail@hairdesign.ru') почту
              |  фото проблемной зоны головы.
          +grid__item({m:1,xs:11}): p(style='text-align: center;'): +textMarked Или
          +grid__item({m:5,xs:11})
            p: +textMarked Позвоните нам +7 (812) 385-01-51
            p: strong Или
            +blockMarked({padding: 'small'}) 
              +grid({align: 'center', justify: 'center', nowrap: true})
                +grid__item({})(style='display: flex')
                  +linkSocial({href:'viber://chat?number=79215710124', type: 'viber'})
                  +linkSocial({href:'https://wa.me/79215710124', type: 'whatsapp'})
                  +linkSocial({href:'', type: 'telegram'})(onclick='event.preventDefault()')
                +grid__item({}): p Напишите нам в&nbsp;Viber, WhatsApp или Telegram по&nbsp;номеру 
                  span(style='white-space: nowrap') +7 (921) 571 01 24
                  | .
            p: strong Или
            +blockMarked({padding: 'small'}) Оставьте 
              a(href='#' onclick='event.preventDefault(); Comagic.openSitePhonePanel()') заявку на&nbsp;обратный звонок
block styles
  +style('inner')
