.header-top
  .header-top__item.header-top__item--logo
    include ../../logo/logo
  .header-top__item.header-top__item--info
    .header-top__name Онлайн консультация по вопросам потери волос
    .header-top__city.hidden-xs &bull; полное облысение &bull; частичная потеря волос &bull; редкие волосы &bull; залысины
