.consultation-question
  padding (basePadding*1.5) basePadding
  background-color #fafaee
  &__title
    & + .grid
      margin-top 0.625rem
  &__author
    font-size font-m
    line-height line-m
  &__date
    color #7c776c
    font-size font-s
    line-height line-s
  &__info
    &:only-child
      display flex
      align-items baseline
      margin-x -(basePadding/2)
      & ^[-2]__author
      & ^[-2]__date
        padding-x (basePadding/2)
