include consultation-categories/consultation-categories
include consultation-list/consultation-list
include consultation-list-small/consultation-list-small
include consultation-question/consultation-question
include consultation-answer/consultation-answer
include consultation-author-details/consultation-author-details

include /data/consultation-categories
