.product-characteristics
  parMargin()
  max-width 20rem
  &__row
    display flex
    justify-content space-between
    margin-x -(basePadding)
    & + &
      margin-top font-m
  &__name
  &__value
    padding-x basePadding
    
