mixin productChars(chars = {})
  .product-characteristics
    each item in chars
      .product-characteristics__row
        .product-characteristics__name !{item.name}
        .product-characteristics__value !{item.value}
