.logo
  display block
  width (231.04px / 2)
  height (145.38px / 2)
  background-image url('../images/svg-sprites/core.svg#logo')
  background-repeat no-repeat
  background-position center
  background-size cover
