mixin grid(settings = {'tag':'','nopadding':false, 'align':'','cols':12})
  -
    let gridClassList = []
    let gridClassString = ''
  if settings.nopadding
    - gridClassList.push('grid--nopadding')
  if settings.paddingy
    - gridClassList.push('grid--padding-y')
  if settings.parLike
    - gridClassList.push('grid--par-alike')
  if settings.justify
    - gridClassList.push('grid--justify-'+settings.justify)
  if settings.align
    - gridClassList.push('grid--align-'+settings.align)
  if settings.nowrap
    - gridClassList.push('grid--nowrap')
  if settings.cols != 12 && settings.cols != undefined
    - gridClassList.push('grid--cols-'+settings.cols)
  each item in gridClassList
    - 
      gridClassString = gridClassString + item + ' '
  if attributes.class === undefined
    - attributes.class = ''
  else
    - attributes.class = ' ' + attributes.class
  if settings.tag
    #{settings.tag}.grid(class!= gridClassString + attributes.class id= attributes.id)
      block
  else
    .grid(class!= gridClassString + attributes.class id= attributes.id)
      block


mixin grid__item(settings = {'tag':'','hd':'','xl':'','l':'','m':'','s':'','xs':''})
  -
    var cellClassList = []
    var cellClassString = ''
  if settings.hd
    - cellClassList.push( 'grid__cell--xl-'+settings.hd )
  if settings.xl
    - cellClassList.push( 'grid__cell--xl-'+settings.xl )
  if settings.l
    - cellClassList.push( 'grid__cell--l-'+settings.l )
  if settings.m
    - cellClassList.push( 'grid__cell--m-'+settings.m )
  if settings.s
    - cellClassList.push( 'grid__cell--s-'+settings.s )
  if settings.xs
    - cellClassList.push( 'grid__cell--'+settings.xs )
  each item in cellClassList
    - 
      cellClassString = cellClassString + item + ' '
  if attributes.class === undefined
    - attributes.class = ''
  if !settings.tag
    - settings.tag = 'div'
  #{settings.tag}.grid__cell(class!= cellClassString + attributes.class style= attributes.style id= attributes.id)
    block
