.list-advantages
  &__item
    padding (basePadding*2)
    text-align center
    display flex
    flex-direction column
    align-items center
    &--possibilities-sleep
      & ^[-2]__image
        background-image var(--possibilities-sleep)
    &--possibilities-wash
      & ^[-2]__image
        background-image var(--possibilities-wash)
    &--possibilities-swim
      & ^[-2]__image
        background-image var(--possibilities-swim)
    &--possibilities-sport
      & ^[-2]__image
        background-image var(--possibilities-sport)
    &--possibilities-no-sleep
      & ^[-2]__image
        background-image var(--possibilities-no-sleep)
    &--possibilities-no-wash
      & ^[-2]__image
        background-image var(--possibilities-no-wash)
    &--possibilities-no-swim
      & ^[-2]__image
        background-image var(--possibilities-no-swim)
    &--possibilities-no-sport
      & ^[-2]__image
        background-image var(--possibilities-no-sport)
    &--advantages-no-pills
      & ^[-2]__image
        background-image url(../images/advantages-no-pills.png)
        background-size calc(10.625rem - 0.3333rem)
    &--advantages-unnoticed
      & ^[-2]__image
        background-image url(../images/advantages-unnoticed.png)
        background-size calc(10.625rem - 0.3333rem)
    &--advantages-strength
      & ^[-2]__image
        background-image url(../images/advantages-strength.png)
        background-size calc(10.625rem - 0.3333rem)
    &--advantages-individual
      & ^[-2]__image
        background-image url(../images/advantages-individual.png)
        background-size calc(10.625rem - 0.3333rem)
    &--advantages-everyday
      & ^[-2]__image
        background-image var(--advantages-everyday)
    &--advantages-safety
      & ^[-2]__image
        background-image var(--advantages-safety)
    &--advantages-contradictions
      & ^[-2]__image
        background-image var(--advantages-contradictions)
    &--advantages-hairstyle
      & ^[-2]__image
        background-image var(--advantages-hairstyle)
    &--ban
      & ^[-2]__image
        border-color #a11c40
        position relative
        
        &::before
          display block
          content ''
          background #a11c40
          width 15rem
          height 0.3333rem
          transform-origin 0 50% 0
          transform rotate(45deg)
  &__image
    width 10.625rem
    height 10.625rem
    border-radius 50%
    border 0.3333rem #f1ede4 solid
    margin-bottom 1rem
    overflow hidden
    background-size 6rem
    background-position center
    background-repeat no-repeat
  &--small
    & ^[-1]__image
      width 7rem
      height 7rem
      background-size 4.5rem
  &--smaller
    & ^[-1]__image
      width 4.5rem
      height 4.5rem
      background-size 3rem
      
