.list-advantages
  --item-image-size 10.625rem
  --item-icon-size 6rem
  --item-background-color #952642
  &__item
    padding (basePadding*2)
    text-align center
    display flex
    flex-direction column
    align-items center
    &--possibilities-sleep
      --item-mask-image var(--possibilities-sleep)
    &--possibilities-wash
      --item-mask-image var(--possibilities-wash)
    &--possibilities-swim
      --item-mask-image var(--possibilities-swim)
    &--possibilities-sport
      --item-mask-image var(--possibilities-sport)
    &--possibilities-no-sleep
      --item-mask-image var(--possibilities-sleep)
      --item-background-color #c0c0c0
    &--possibilities-no-wash
      --item-mask-image var(--possibilities-wash)
      --item-background-color #c0c0c0
    &--possibilities-no-swim
      --item-mask-image var(--possibilities-swim)
      --item-background-color #c0c0c0
    &--possibilities-no-sport
      --item-mask-image var(--possibilities-sport)
      --item-background-color #c0c0c0
    &--advantages-no-pills
      & ^[-2]__image
        border-color #a11c40
        &::before
          content ''
          display block
          background #a11c40
          width 15rem
          height 0.3333rem
          transform-origin 0 50% 0
          transform rotate(45deg)
    &--advantages-everyday
      --item-mask-image var(--advantages-everyday)
    &--advantages-safety
      --item-mask-image var(--advantages-safety)
    &--advantages-contradictions
      --item-mask-image var(--advantages-contradictions)
    &--advantages-hairstyle
      --item-mask-image var(--advantages-hairstyle)
    &--image
      --item-content none
  &__image
    position relative
    width var(--item-image-size)
    height var(--item-image-size)
    border-radius 50%
    border 0.3333rem #f1ede4 solid
    margin-bottom 1rem
    overflow hidden
    &::after
      content var(--item-content, '')
      position absolute
      top 50%
      left 50%
      width var(--item-icon-size)
      height var(--item-icon-size)
      background-color var(--item-background-color)
      transform translate(-50%, -50%)
      mask-image var(--item-mask-image)
      mask-repeat no-repeat
      mask-position center
      mask-size contain
  &--small
    --item-image-size 7rem
    --item-icon-size 4.5rem
  &--smaller
    --item-image-size 4.5rem
    --item-icon-size 3rem
