+grid({paddingy:true, parLike:true}).contacts
  +grid__item({m:5,s:6,xs:12})
    h2 Адрес
    p г. Санкт-Петербург 
      br
      | наб. Обводного канала&nbsp;д.&nbsp;108
    p Работаем ежедневно с&nbsp;10&nbsp;до&nbsp;21.
    h2 Телефоны

    p.contacts__phones +7 (812) 245-37-38
      br
      | +7 (921) 571-01-24
    p.contacts__viber Вы&nbsp;можете связаться с&nbsp;нами при помощи приложений Viber, WhatsApp и Telegram, добавив наш номер&nbsp;+7 (921) 571 01 24&nbsp;в список контактов.
    p.contacts__zen 
      a(href='https://zen.yandex.ru/id/618fb2cc9a5df961762b0fb1' target='_blank') Наш канал на Дзен
    p.contacts__studying По&nbsp;вопросам прохождения обучения
      br
      strong +7 (981) 724-56-28
      br
      small WhatsApp&nbsp;/ Viber&nbsp;/ Telegram
    h2 Почта
    p: a(href='mailto:mail@hairdesign.ru') mail@hairdesign.ru
    h2 Skype
    p.contacts__skype HairDesignCenter
  +grid__item({m:7,s:6,xs:12})
    .contacts__map
      script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&height=370&lang=ru_RU&sourceType=constructor")
    h2 Где припарковаться на&nbsp;машине
    p У&nbsp;входа в&nbsp;салон есть удобная бесплатная парковка. Вторая парковка на&nbsp;набережной Обводного канала, напротив входа в&nbsp;салон.
    h2 Для тех, кто на&nbsp;метро
    p Ближайшие станции Балтийская и&nbsp;Фрунзенская. Пешком 10-15&nbsp;минут.
