.contacts
  &__phones
    font-size font-xxl
    line-height line-xxl
  &__viber
    font-size font-xs
    line-height line-xs
    padding-left 7rem
    background-image var(--viber), var(--whatsapp), var(--telegram)
    background-repeat no-repeat, no-repeat, no-repeat
    background-position left center, 2.25rem center, 4.5rem center
    background-size 2rem, 2rem, 2rem
  &__studying
    small
      font-size font-xs
  &__skype
    background-image var(--skype)
    background-size 1.5rem
    background-repeat no-repeat
    padding-left 2rem
  &__instagram
    background-image var(--instagram)
    background-repeat no-repeat
    background-position left center
    background-size 2rem
    padding-left 2.5rem
    padding-y .25rem
  &__map
    parMargin()
