+blockMarked({marginTop: true, bigPadding:true, color: 'medium'}).block-marked-result
    +grid({paddingy: false})
      +grid__item({xl:10,xs:12})
        +blockMarkedContent({marked:true})
          +grid({paddingy:true})
            +grid__item({m:7,xs:12})
                p Спасибо девушкам Центра Дизайна волос, они помогли мне вернуть волосы. Я&nbsp;перестал ловить на&nbsp;себе косые взгляды прохожих, я&nbsp;ничем не&nbsp;отличаюсь от&nbsp;моих сверстников. Самое главное, стал уверенней на&nbsp;собеседованиях и&nbsp;нашел хорошую работу.Систему делали индивидуально &laquo;под меня&raquo; месяц, но&nbsp;ожидание стоило того&nbsp;&mdash; я&nbsp;очень доволен результатом. Спасибо.
            +grid__item({m:5,xs:12}).block-marked-result__shifted
              .image-shifted
                img(src='/images/result.png' alt='Результат замещения волос' title='Результат замещения волос').image-shifted__img
