.banner-hermitage
  padding-y 3.75rem
  background-image linear-gradient(180deg, #F4ECDC 0%, #F5EBD2 100%)
  &__gift
    margin-top 3.75rem
    padding .75rem .625rem
    border 2px solid #D9CCB6
    h2
    h3
      font-size 1.625rem
      a
        text-decoration none
      & + p
        margin-top .625rem
    p
      max-width 35rem
  &__gift-info
    margin-x auto
  &--small
    padding-y 1.25rem
    padding-x 2.5rem
    & ^[-1]__gift
      margin-top 0
