+blockMarked({marginTop: true, smallPadding: true}).banner-hermitage
  a(href='http://www.hairdesign.ru/o-kompanii/novosti/inogorodnim-klientam-ekskursiya-po-gorodu-i-bilet-v-ermitazh-v-podarok.html')
    +grid({paddingy:true, justify: 'center', align: 'center'})
      +grid__item({m:5,s:10,xs:12})
        +blockMarkedContent().banner-hermitage__image
          img(src='/images/hermitage.png' alt='')
      +grid__item({m:7,xs:12})
        h2 Подарок иногородним - билеты в Эрмитаж
        p Иногородним клиентам при заказе индивидуальной системы волос обзорная экскурсия по городу и билет в Эрмитаж в подарок.
