.banner-hermitage
  background-image linear-gradient(#e3d4b7,#f1ede4)
  &.block-marked--padding-small.block-marked--margin-top
    border-top 5.75rem solid #ffffff
  &__image
    transform translateY(-5.75rem)
    margin-bottom -5.75rem
  a
    text-decoration none
    color inherit
  &--small
    &.block-marked--small-padding.block-marked--margin-top
      border-top none
    
