ul.list-price-levels
  li.list-price-levels__item.list-price-levels__item--top 1&nbsp;уровень&nbsp;&mdash; верхняя часть головы
  li.list-price-levels__item.list-price-levels__item--three-fourties 2&nbsp;уровень&nbsp;&mdash; 3/4 головы
  li.list-price-levels__item.list-price-levels__item--full 3&nbsp;уровень&nbsp;&mdash; вся голова
