.header-mobile-switcher
  color #ffffff
  text-decoration none
  background-color #c31843
  background-image url('../images/svg-sprites/core.svg#hamburger')
  background-repeat no-repeat
  background-size (basePadding*2) auto
  background-position basePadding center
