mixin fotorama(fotorama)
  -
    const classList = [
      ( attributes.class ? attributes.class : '' )
    ]
    fotorama.settings = fotorama.settings ? fotorama.settings : {}
    attributes = {
      'data-nav': (fotorama.settings.nav) ? fotorama.settings.nav : 'thumbs',
    }
  .fotorama(class != classList)&attributes(attributes)
    each item in fotorama.list
      if item.thumb
        a( href != item.full )
          img(src != item.thumb )
      else
        - let src = (typeof item == 'string') ? item : item.full
        img(src != src )
