.table-price
  .table__header&__header
    &:first-child:empty
      max-width 10rem
    &--top
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-top), var(--price-for-women-top)
      min-width 10rem
    &--three-fourties
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-three-fourties), var(--price-for-women-three-fourties)
      min-width 10rem
    &--full
      padding-top 5.5rem
      background-size 4.5rem 4.5rem
      background-position calc(50% - 4.5rem/2) 0.5rem, calc(50% + 4.5rem/2) 0.5rem
      background-repeat no-repeat
      background-image var(--price-for-men-full), var(--price-for-women-full)
      min-width 10rem
    
  &__cell
    &.table__cell
      padding (basePadding/3*2) (basePadding/3)
      vertical-align middle
    &:nth-child(2):last-child
      min-width 12rem
  &--individual-system
    .table__col-group
      col
        width 14%
        min-width 10rem
        &:nth-of-type(1)
          width 16%
  &--top-system
    .table__col-group
      col
        width calc(100% / 3)
    ^[-1]__cell
      text-align center
      strong
        font-size font-xl
        line-height line-xl
        display block
        margin-bottom 0.5rem
  &--full-system
    .table__col-group
      col
        width 42%
        min-width 10rem
        &:nth-of-type(1)
          width 16%
          white-space nowrap
  &--services
    .table__col-group
      col
        &:first-of-type
          width calc(100% / 3 * 2)
        &:last-of-type
          width calc(100% / 3)
  &--in-marked-block
    .table__col-group
      col
        &:first-of-type
          width calc(100% / 3)
    & ^[-1]__cell
      border none
      background #ffffff
      text-align center
      font-weight bold
    & .table__header^[-1]__header
      font-weight normal
      border none
