form.product-form.form#product-buy-form
  h2.product-form__header.form__header Заказать "Брови накладные"
  +grid({paddingy:true})
    +grid__item({m:6,xs:12}).product-form__left
      .product-form__input.form__input
        +formInput({type:'text',name:'name',label:'Имя'})#product-form-name
      .product-form__input.form__input
        +formInput({type:'tel',name:'phone',label:'Телефон'}).validated-type-or.required#product-form-phone
      .product-form__input.form__input
        +formInput({type:'email',name:'email',label:'E-mail'}).validated-type-or.required#product-form-email
    +grid__item({m:6,xs:12}).product-form__right
      .product-form__input.form__input
        +formInput({type:'textarea',name:'comment',label:'Комментарий', placeholder: 'напишите адрес доставки и количество'})#product-form-message
  .product-form__input.form__input
    +formInput({type:'checkbox',name:'city', checked: true, required: true, label: 'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.'})#product-form-agreement
  
  +grid({paddingy:true, justify: 'flex-end'})
    +grid__item({m:6,xs:12})
      .product-form__submit.form__submit
        button(type='submit').btn Заказать
