.expert-notes-author#expert-notes-author
  +grid({paddingy: true})
    +grid__item({m:4,s:6,xs:12})
      img(src='/images/o-kompanii/leytes.jpg' alt='Ольга Лейтес')
    +grid__item({m:8,s:12,xs:12})
      h2.expert-notes-author__header Ольга Лейтес
        small Директор
      p Контролирую каждую процедуру замещения от консультации до установки. Проконсультирую по способам оплаты, времени приема, как заказать удаленно.
      if infoSection
        .consultation-author-details__links
          a(href='/konsultatsiya-ask.html').btn Задать вопрос
      else
        .consultation-author-details__links
          a(href='/personal-item.html') Подробнее
          | 
          a(href='/konsultatsiya-ask.html') Задать вопрос
