.header-sites
  width 100%
  background-color #efefef
  padding-top 5px
  .header > &
    @media screen and (max-width point-m - 1)
      display none
    & ^[-1]__title
      display none
  .header-navigation > &
    border-top 5px solid #d1c4a5
    padding-y basePadding
    @media screen and (min-width point-m)
      display none
    & ^[-1]__title
      padding-bottom basePadding
    & ^[-1]__list
      flex-direction column
    & ^[-1]__item
      flex 0 0 auto
      &--active
        background-color transparent
        a
        .a-repl
        span
          font-weight 500
          background-color #fff
      &:hover
        background-color transparent
        a
        .a-repl
          background-color #fff
  &__list
    display flex
    margin-left -5px
  &__item
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 5px
      padding 4px 10px
      text-decoration none
      color #5d5d5d
      background-color #fcfcfc
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
        background-repeat no-repeat
    &--hairdesign
      .a-repl::after
        width 52px
        height 37px
        background-image svgImport('svg/top-menu-hairdesign.svg')
    &--salonvolos
      a::after
        width 23px
        height 30px
        background-image svgImport('svg/top-menu-salon.svg')
    &--vsepariki
      a::after
        width 52px
        height 37px
        background-image svgImport('svg/top-menu-vsepariki.svg')
    &--triholog
      a::after
        width 14px
        height 35px
        background-image svgImport('svg/top-menu-triholog.svg')
    &--zagustitel
      a::after
        content ''
        width 42px
        height 37px
        background-image svgImport('svg/top-menu-zagustitel.svg')
    &--active
      background-color #fff
      a
      .a-repl
      span
        font-weight 500
        background-color transparent
    &:hover
      background-color #fff
      a
      .a-repl
        background-color transparent
