header.header
  include /blocks/header-sites/header-sites
  .container
    .content
      include /blocks/header-top/header-top
  .container.header__navigation
    .content
      include /blocks/header-mobile-switcher/header-mobile-switcher
      include /blocks/header-navigation/header-navigation
      +headerNavigation(mainMenu).top-menu
      .header__navigation-phone.hidden-hd.hidden-xl.hidden-l.hidden-m +7 (812) 245-37-38
