mixin textMarked(settings = {tag:'', type:''})
  -
    let tag = settings.tag ? settings.tag : 'span'
    let type = settings.type ? settings.type : 'normal'
    let classList = [
      (attributes.class ? attributes.class : ''),
      (type ? 'text-marked--'+type : '' )
    ]
  #{tag}.text-marked(class != classList)
    block
