.banner-love
  color #3D3D3D
  background-image image-set(url('../images/banner-love/bg.webp') 1x, url('../images/banner-love/bg@2x.webp') 2x)
  background-repeat no-repeat
  background-position center
  background-size cover
  &__container
    justify-content space-between
    @media(max-width point-l - 1)
      justify-content center
  &__column
    display flex
    flex-direction column
  &__title
    & span
      display inline-block
      color #A11C40
      z-index 5
    &::before
    &::after
      content ''
      position absolute
    &::before
      top -23rem
      left -14rem
      background linear-gradient(180deg, #D0BD98 0%, #E3D1AE 100%)
      opacity 0.9
      width 620px
      height 531px
      border-radius 620px/531px;
      z-index 1
      @media(max-width point-l - 1)
        left -18rem
      @media(max-width point-m - 1)
        display none
    &::after
      top -2rem
      left -2.5rem
      width 290px
      height 230px
      background-image image-set(url('../images/banner-love/banner-love-bg-presents.webp') 1x, url('../images/banner-love/banner-love-bg-presents@2x.webp') 2x)
      background-repeat no-repeat
      background-position center
      background-size cover
      z-index 2
  &__choose
    z-index 5
  &__discount
    z-index 5
    & span
      color #A11C40
    &--all
      z-index 0
      @media(max-width point-m - 1)
        z-index 5
      &::after
        content ''
        position absolute
        top -7rem
        left -11rem
        width 27rem
        height 20rem
        background-image url('../images/svg-sprites/inner.svg#banner-love-bg')
        background-repeat no-repeat
        background-position center
        background-size cover
        z-index -1
        @media(max-width point-m - 1)
          display none
  &__inner
    z-index 5
    &--man
      &::before
        content ''
        position absolute
        top -8rem
        left -2rem
        width 31rem
        height 31rem
        background-image image-set(url('../images/banner-love/man-bg.webp') 1x, url('../images/banner-love/man-bg@2x.webp') 2x)
        background-repeat no-repeat
        background-position center
        background-size cover
        z-index -1
    &--woman
      &::before
        content ''
        position absolute
        bottom -6rem
        left 4rem
        width 13rem
        height 13rem
        background-image image-set(url('../images/banner-love/woman-bg.webp') 1x, url('../images/banner-love/woman-bg@2x.webp') 2x)
        background-repeat no-repeat
        background-position center
        background-size cover
  &__service
    bottom 0
    left 50%
    transform translateX(-50%)
    padding 0.3rem 1.25rem
    font-size 1rem
    line-height 1.1
    color #ffffff
    text-align center
    white-space nowrap
    background-color #D0BD98
    border-top-left-radius 2rem
    border-top-right-radius 2rem
    z-index 5
    @media(max-width point-m - 1)
      width 100%
      font-size 0.9rem
      white-space normal
