.application-links
  a(href='https://itunes.apple.com/ru/app/centr-dizajna-volos/id1082431469').application-links__item: img(src='/images/o-kompanii/mobile-app/appstore.svg') 
  a(href='https://play.google.com/store/apps/details?id=ru.evolution_it.capp_248').application-links__item: img(src='/images/o-kompanii/mobile-app/googleplay.svg') 
