
-
  const mainMenu = [
    {'name':'Замещение волос','href':'',active:true,
      sublist: [
        {'name':'Система волос','href':'/sistema-volos.html'},
        {'name':'Для женщин','href':'/sistema-volos-dlya-zhenshchin.html'},
        {'name':'Для мужчин','href':'/sistema-volos-dlya-muzhchin.html'},
        {'name':'Полное облысение','href':'/polnoe-oblysenie.html'},
        {'name':'Частичное облысение','href':'/chastichnoe-oblysenie.html'},
        {'name':'Этапы замещения волос','href':'/etapy-zameshcheniya-volos.html'},
        {'name':'Фиксация','href':'/fiksatsiya.html'},
        {'name':'Инструкции','href':'/instruktsii.html'},
      ]
    },
    {'name':'Услуги','href':'',
      sublist: [
        {'name':'Первая фиксация и стрижка волос','href':'/pervaya-fiksatsiya-i-strizhka-sistemy-volos.html'},
        {'name':'Перефиксация системы волос','href':'/perefiksatsiya-sistemy-volos.html'},
        {'name':'Окраска системы волос и волос клиента','href':'/okraska-sistemy-volos.html'},
        {'name':'Укладка, прическа на системе волос','href':'/ukladka-i-pricheska-sistemy-volos.html'},
        {'name':'Ремонт','href':'/remont.html'},
        
      ]
    },
    {'name':'Цены','href':'/price.html'},
    {'name':'Клиенты','href':'/klienty.html'},
    {'name':'Отзывы','href':'/otzyvy.html'},
    {'name':'Консультация','href':'/konsultatsiya.html'},
    {'name':'Продукция','href':'/produktsiya.html'},
    {'name':'О компании','href':'/o-kompanii.html',
      'sublist': [
        {'name':'Персонал','href':'/personal.html'},
        {'name':'Новости','href':'/novosti.html'},
        {'name':'Приложение для телефона','href':'/prilojenie.html'},
        {'name':'Заметки эксперта','href':'/zametki.html'},
        {'name':'Обучение','href':'/obuchenie.html'},
      ]
    },
    {'name':'Контакты','href':'kontakty.html'}
  ]
