-
  const pricesIndividualSystem = {
    classModifier: 'individual-system',
    header: [
      '',
      {className: 'header', classModifier:'top', content: 'Верхняя часть головы', colspan: 4},
      {className: 'header', classModifier:'three-fourties', content: '3/4 головы', colspan: 4},
      {className: 'header', classModifier:'full', content: 'Вся голова', colspan: 4}
    ],
    rows: [
      [
        '',
        { colspan: '2', content: 'Темные оттенки' }, { colspan: '2', content: 'Светлые оттенки' },
        { colspan: '2', content: 'Темные оттенки' }, { colspan: '2', content: 'Светлые оттенки' },
        { colspan: '2', content: 'Темные оттенки' }, { colspan: '2', content: 'Светлые оттенки' },
      ],
      ['густота волос *','до 130%','от 140%','до 130%','от 140%','до 130%','от 140%','до 130%','от 140%','до 130%','от 140%','до 130%','от 140%'],
      ['20 см', '60 000 ₽', '63 750 ₽', '63 750 ₽', '71 250 ₽', '75 000 ₽', '78 750 ₽', '78 750 ₽', '86 250 ₽', '82 500 ₽', '86 250 ₽', '86 250 ₽', '90 000 ₽'],
      ['25 см', '63 750 ₽', '67 500 ₽', '71 250 ₽', '78 750 ₽', '78 750 ₽', '82 500 ₽', '82 500 ₽', '87 750 ₽', '86 250 ₽', '93 750 ₽', '93 750 ₽', '96 000 ₽'],
      ['30 см', '71 250 ₽', '78 750 ₽', '78 750 ₽', '86 250 ₽', '86 250 ₽', '93 750 ₽', '93 750 ₽', '97 500 ₽', '93 750 ₽', '101 250 ₽', '101 250 ₽', '103 500 ₽'],
      ['35 см', '82 500 ₽', '86 250 ₽', '86 250 ₽', '93 750 ₽', '90 000 ₽', '97 500 ₽', '97 500 ₽', '101 250 ₽', '101 250 ₽', '108 750 ₽', '108 750 ₽', '111 000 ₽'],
      ['40 см', '86 250 ₽', '90 000 ₽', '90 000 ₽', '97 500 ₽', '93 750 ₽', '101 250 ₽', '101 250 ₽', '108 750 ₽', '108 750 ₽', '116 250 ₽', '116 250 ₽', '118 500 ₽'],
      ['45 см', '90 000 ₽', '97 500 ₽', '97 500 ₽', '105 000 ₽', '101 250 ₽', '108 750 ₽', '108 750 ₽', '116 250 ₽', '116 250 ₽', '123 750 ₽', '123 750 ₽', '126 000 ₽'],
      ['50 см', '93 750 ₽', '105 000 ₽', '105 000 ₽', '108 750 ₽', '108 750 ₽', '116 250 ₽', '116 250 ₽', '123 750 ₽', '123 750 ₽', '127 500 ₽', '127 500 ₽', '133 500 ₽'],
      ['55 см', '97 500 ₽', '108 750 ₽', '108 750 ₽', '112 500 ₽', '116 250 ₽', '123 750 ₽', '123 750 ₽', '127 500 ₽', '131 250 ₽', '135 000 ₽', '135 000 ₽', '141 000 ₽'],
      ['60 см', '101 250 ₽', '116 250 ₽', '116 250 ₽', '127 500 ₽', '127 500 ₽', '131 250 ₽', '131 250 ₽', '135 000 ₽', '135 000 ₽', '138 750 ₽', '138 750 ₽', '142 500 ₽'],
    ]
  }
  const pricesStandardTopSystem = {
    classModifier: 'top-system',
    rows: [
      [
        [
          {tag: 'p', content:[{tag:'strong',content:'21&nbsp;000&nbsp;руб.'},'обычная стоимость']},
        ],
        [
          {tag: 'p', content:[{tag:'strong',content:'16&nbsp;000&nbsp;руб.'},'первая покупка и при заказе ежемесячно']},
        ],
        [
          {tag: 'p', content:[{tag:'strong',content:'18&nbsp;500&nbsp;руб.'},'при заказах раз в два месяца']},
        ],
      ]
    ]
  }

  const pricesStandardFullSystem = {
    classModifier: 'full-system',
    header: [
      '',
      {className: 'header', classModifier:'top', content: 'Верхняя часть головы'},
      {className: 'header', classModifier:'full', content: 'Вся голова'}
    ],
    rows: [
      ['20&nbsp;см','21&nbsp;000&nbsp;-&nbsp;24&nbsp;500&nbsp;руб.',{empty:true}],
      ['30&nbsp;см','28&nbsp;000&nbsp;-&nbsp;31&nbsp;500&nbsp;руб.','49&nbsp;800&nbsp;руб.'],
      ['45&nbsp;см',{empty:true},'56&nbsp;000&nbsp;руб.'],
    ]
  }

  const pricesServicesClients = {
    classModifier: 'services',
    header: [
      {className: 'header', content: 'Услуга'},
      {className: 'header', content: 'Стоимость&nbsp;(в&nbsp;руб.)'}
    ],
    rows: [
      ['Перефиксация системы волос','2000 (короткие)<br>2300 (средние)<br>2600 (длинные)'],
      ['Перефиксация системы волос при наклеивании на&nbsp;волосы','2500 (короткие)<br>2900 (средние)<br>3100 (длинные)'],
      ['Снятие системы волос','1&nbsp;уровень&nbsp;&mdash; 700<br>2&nbsp;уровень&nbsp;&mdash; 900<br>3&nbsp;уровень&nbsp;&mdash; 1200'],
      ['Фиксация системы волос','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1550'],
      ['Укладка','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка (утюгом)','1&nbsp;уровень&nbsp;&mdash; 1300<br>2&nbsp;уровень&nbsp;&mdash; 1500<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка на&nbsp;плойку','1&nbsp;уровень&nbsp;&mdash; 1950<br>2&nbsp;уровень&nbsp;&mdash; 2350'],
      ['Окраска системы волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Окраска своих волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 600<br>2&nbsp;уровень&nbsp;&mdash; 800<br>3&nbsp;уровень&nbsp;&mdash; 1100'],
      ['Коррекция стрижки','1&nbsp;уровень&nbsp;&mdash; 500<br>2&nbsp;уровень&nbsp;&mdash; 600<br>3&nbsp;уровень&nbsp;&mdash; 700'],
      ['Первая стрижка и&nbsp;фиксация индивидуальной системы волос (изготовленная под заказ)','2000'],
      ['Первая стрижка и&nbsp;фиксация готовой системы волос','2000'],
      ['Повторная стрижка системы волос (без фиксации)','1&nbsp;уровень&nbsp;&mdash; 900<br>2&nbsp;уровень&nbsp;&mdash; 1000<br>3&nbsp;уровень&nbsp;&mdash; 1100'],
      ['Коррекция фиксации','350'],
      ['Пилинг кожи головы','600'],
      ['Ремонт системы волос (за&nbsp;1&nbsp;кв.&nbsp;см)','500'],
      ['Ламинирование «Восстановление цвета»','1&nbsp;уровень&nbsp;&mdash; 1000<br>2&nbsp;уровень&nbsp;&mdash; 1200<br>3&nbsp;уровень&nbsp;&mdash; 1400'],
      ['Обработка системы волос жидким силиконом','1000'],
      ['Тонирование системы волос маской','1&nbsp;уровень&nbsp;&mdash; 600<br>2&nbsp;уровень&nbsp;&mdash; 800<br>3&nbsp;уровень&nbsp;&mdash; 1000'],
      ['Экспресс-тонирование системы волос (Estel Alpha Homme)','1&nbsp;уровень&nbsp;&mdash; 700<br>2&nbsp;уровень&nbsp;&mdash; 750<br>3&nbsp;уровень&nbsp;&mdash; 800'],
      ['Ремонт системы волос (отправление в&nbsp;Китай)','от 9500'],
      ['Снятие слепка для изготовления индивидуальной системы волос (снятие слепка бесплатно, НО&nbsp;оплата взымается в&nbsp;случае, если клиент не&nbsp;делает заказ)','1000'],
      ['Дополнительные материалы для фиксации системы волос','600'],
      ['Пришивание заколок (1шт)','60'],
      ['Тримминг системы волос','1&nbsp;уровень&nbsp;&mdash; 1500<br>2&nbsp;уровень&nbsp;&mdash; 2500<br>3&nbsp;уровень&nbsp;&mdash; 4000'],
    ]
  }

  const pricesServicesNotClients = {
    classModifier: 'services',
    header: [
      {className: 'header', content: 'Услуга'},
      {className: 'header', content: 'Стоимость&nbsp;(в&nbsp;руб.)'}
    ],
    rows: [
      ['Перефиксация системы волос','2500 (короткие)<br>2800 (средние)<br>3100 (длинные)'],
      ['Перефиксация системы волос при наклеивании на&nbsp;волосы','3000 (короткие)<br>3400 (средние)<br>3600 (длинные)'],
      ['Снятие системы волос','1&nbsp;уровень&nbsp;&mdash; 1200<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Фиксация системы волос','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1900<br>3&nbsp;уровень&nbsp;&mdash; 2050'],
      ['Укладка','1&nbsp;уровень&nbsp;&mdash; 1400<br>2&nbsp;уровень&nbsp;&mdash; 1500<br>3&nbsp;уровень&nbsp;&mdash; 1700'],
      ['Укладка (утюгом)','1&nbsp;уровень&nbsp;&mdash; 1500<br>2&nbsp;уровень&nbsp;&mdash; 1600<br>3&nbsp;уровень&nbsp;&mdash; 1800'],
      ['Укладка на&nbsp;плойку','1&nbsp;уровень&nbsp;&mdash; 1950<br>2&nbsp;уровень&nbsp;&mdash; 2350'],
      ['Окраска системы волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1900<br>3&nbsp;уровень&nbsp;&mdash; 2500'],
      ['Окраска своих волос (без стоимости материалов):','1&nbsp;уровень&nbsp;&mdash; 1100<br>2&nbsp;уровень&nbsp;&mdash; 1300<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Коррекция стрижки','1&nbsp;уровень&nbsp;&mdash; 1000<br>2&nbsp;уровень&nbsp;&mdash; 1100<br>3&nbsp;уровень&nbsp;&mdash; 1200'],
      ['Первая стрижка системы волос','1&nbsp;уровень&nbsp;&mdash; 1500<br>2&nbsp;уровень&nbsp;&mdash; 1750<br>3&nbsp;уровень&nbsp;&mdash; 2000'],
      ['Повторная стрижка системы волос (без фиксации)','1&nbsp;уровень&nbsp;&mdash; 1600<br>2&nbsp;уровень&nbsp;&mdash; 1800<br>3&nbsp;уровень&nbsp;&mdash; 2100'],
      ['Коррекция фиксации','700'],
      ['Пилинг кожи головы','1100'],
      ['Ремонт системы волос (за&nbsp;1&nbsp;кв.&nbsp;см)','1000'],
      ['Ламинирование &laquo;Восстановление цвета&raquo;','1&nbsp;уровень&nbsp;&mdash; 1200<br>2&nbsp;уровень&nbsp;&mdash; 1400<br>3&nbsp;уровень&nbsp;&mdash; 1600'],
      ['Фиксация системы волос &laquo;Интеграция&raquo; + стрижка','3000'],
    ]
  }
