form.form.consultation-ask-form
  .form__input.consultation-ask-form__input
    +grid({paddingy: true})
      +grid__item({s:5,xs:12})
        label(for='consultation-ask-form-question').consultation-ask-form__label: strong Вопрос
      +grid__item({s:7,xs:12})
        +formInput({type:'textarea',name:'question'}).validated.required#consultation-ask-form-question
  .form__input.consultation-ask-form__input
    +grid({paddingy: true})
      +grid__item({s:5,xs:12})
        label(for='consultation-ask-form-name').consultation-ask-form__label: strong Имя
      +grid__item({s:7,xs:12})
        +formInput({type:'text',name:'name'})#consultation-ask-form-name
  .form__input.consultation-ask-form__input
    +grid({paddingy: true})
      +grid__item({s:5,xs:12})
        label(for='consultation-ask-form-mail').consultation-ask-form__label
          strong E-mail
          br
          | Не публикуем на сайте. 
          br
          | На e-mail отправим ответ
      +grid__item({s:7,xs:12})
        +formInput({type:'email',name:'email'})#consultation-ask-form-mail
  .form__input.consultation-ask-form__input
    +grid({paddingy: true})
      +grid__item({s:5,xs:12})
        label(for='consultation-ask-form-phone').consultation-ask-form__label
          strong Телефон 
          br
          | Не публикуем на сайте. 
          br
          | Позвоним чтобы проконсультровать.
      +grid__item({s:7,xs:12})
        +formInput({type:'tel',name:'phone'})#consultation-ask-form-phone
  .form__input.consultation-ask-form__input
    +grid({paddingy: true})
      +grid__item({s:5,xs:12})
        label(for='consultation-ask-form-city').consultation-ask-form__label: strong Город
      +grid__item({s:7,xs:12})
        +formInput({type:'text',name:'city'})#consultation-ask-form-city
  .form__input.consultation-ask-form__input
    +formInput({type:'checkbox',name:'city', checked: true, required:true, label: 'Нажимая на кнопку, я даю свое согласие на обработку своих персональных данных.'})
  .form__submit.consultation-ask-form__submit
    button(type='submit').btn Отправить вопрос
