.header-navigation
  @media screen and (min-width (point-m) )
    &__list
      display flex
      flex-wrap wrap
    &__list-item
      position relative
      display flex
      & > a
        display block
        padding (basePadding) (basePadding)
        font-weight 500
      &--parent
        & > a
          &::after
            content ''
            display inline-block
            width 0.5rem
            height 0.5rem
            margin-left (basePadding/3*2)
            border-right 2px solid
            border-bottom 2px solid
    &__sublist
      position absolute
      top 3.0625rem
      z-index 10
      transform scaleY(0)
    &__sublist-item
      @extend .header-navigation__list-item
      & > a
        white-space nowrap
        font-size font-s
        padding-y (basePadding/4*3)
        flex-grow 1
