.header-navigation
  @media screen and (max-width point-m - 1)
    position absolute
    top 3rem
    transform scale(0)
    z-index 20
    width 20rem
    &__list
      flex-direction column
    &__list-item
      position relative
      display flex
      flex-wrap wrap
      & > a
        display block
        padding (basePadding) (basePadding)
        font-weight 500
      &--parent
        & > a
          width calc(100% - 3rem)
    &__sublist
      display none
